flask
flask_wtf
flask_mail
flask_admin
flask_login
flask_bcrypt
flask_compress
flask_sqlalchemy
email_validator
python-dotenv
itsdangerous
sqlalchemy
ratelimit
pykakasi
requests
wtforms
pathlib
Pillow
pandas
rauth
redis
pytz
rq