flask
flask-mail
flask-login
flask-admin
flask-bcrypt
flask-caching
flask-compress
flask-sqlalchemy
howlongtobeatpy
python-dotenv
itsdangerous
sqlalchemy
ratelimit
pykakasi
requests
wtforms
pathlib
Pillow
pandas
redis
pytz
rq
