{% extends "layout.html" %}


{% block css %}
<!-------- Main CSS --------->
<style>
.form_account {
    max-width: 800px;
    margin-top: 40px;
}

.border_account {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 3px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

label {
    color: white;
    height: 20px;
    padding-top: 3px;
    float:left;
    text-align: right;
}

.list_dropdown {
    border-style: 1px;
    border-color: black;
    border-radius: 2px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}

/* On screens that are 768px or more */
@media screen and (min-width: 768px) {

    .border_account {
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }

    label {
        width: 180px;
        margin-right: 20px;
    }

    .text-input {
        width : 280px;
        padding: 0px !important;
    }

    .error-msg {
        padding-left: 195px;
    }
}

/* On screens that are 768px or less */
@media screen and (max-width: 768px) {

    .border_account {
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }


    label {
        width: 130px;
        margin-right: 10px;
    }

    .text-input {
        width : 155px;
        padding: 0px !important;
    }

    .error-msg {
        padding-left: 145px;
    }

    .custom-btn-size {
        padding: 6px !important;
    }
}
</style>
{% endblock css %}


{% block content %}
<div class="container form_account" style="padding-left: 0px; padding-right: 0px;">
    <div class="border_account">
        <h3 class="m-b-30">Account Settings</h3>

        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="container-form">

                <!-- Username -->
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        <div class="md-form">
                        {{ form.username(class="form-control is-invalid text-light text-input") }}
                            <div class="invalid-feedback error-msg">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="md-form">
                        {{ form.username(class="form-control text-light text-input") }}
                        </div>
                    {% endif %}
                </div>

                <!-- Email -->
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        <div class="md-form">
                        {{ form.email(class="form-control is-invalid text-light text-input") }}
                            <div class="invalid-feedback error-msg">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="md-form">
                        {{ form.email(class="form-control text-light text-input") }}
                        </div>
                    {% endif %}
                </div>

                <!-- Default homepage -->
                <div class="form-group">
                    {{ form.homepage.label(class="form-control-label") }}
                    {% if form.homepage.errors %}
                        {{ form.homepage(class="form-control is-invalid text-input") }}
                        <div class="invalid-feedback">
                            {% for error in form.homepage.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.homepage }}
                    {% endif %}
                </div>

                <!-- Private -->
                <div class="form-group">
                    {{ form.isprivate.label(class="form-control-label") }}
                    {% if form.isprivate.errors %}
                        {{ form.isprivate(class="form-control is-invalid text-input") }}
                        <div class="invalid-feedback">
                            {% for error in form.isprivate.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.isprivate(class="m-t-9") }}
                    {% endif %}
                </div>

                <!-- Profile picture  -->
                <div class="form-group upload-btn-wrapper">
                    {{ form.picture.label(class="form-control-label") }}
                    {{ form.picture }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="text-center m-t-30">
                {{ form.submit(class="btn btn-outline-info custom-btn-size") }}
                <a class="btn btn-outline-info custom-btn-size" href="{{ url_for('change_password') }}" role="button">Change password?</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
