{% extends "layout.html" %}


{% block css %}
<link href="{{ url_for('static', filename='css/account.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
<div class="header-container">
    <img class="header-profile-img" src="{{ data['profile_picture'] }}"/>
    <div class="header-knowledge-level text-center">{{ data['knowledge_level'] }}</div>
    <div class="header-profile-data">
        <h2><b>{{ data['username'] }}</b>
            <img height='50' width='50' data-toggle="tooltip" title="{{ data['knowledge_grade_title'] }}"
             src="{{ url_for('static', filename='img/knowledge_ranks/') }}{{ data['knowledge_grade_id'] }}.png"/>
            {% if user_id != current_user.get_id() %}
                {% if data["isfollowing"] %}
                <button class="btn btn-sm btn-dark follow-btn" onclick="follow_status('{{ data['id'] }}')">Unfollow</button>
                {% else %}
                <button class="btn btn-sm btn-primary follow-btn" onclick="follow_status('{{ data['id'] }}')">Follow</button>
                {% endif %}
            {% endif %}
        </h2>
        <p class="p-0 m-0">
            <b>Joined: {{ joined }}</b><br>
            <b>Followers: {{ followers }}</b>
        </p>
    </div>
</div>

<ul class="nav account-tab">
    <li class="nav-item ml-auto">
        <a id="overview" class="nav-link navbar-account {% if message_tab == 'overview' %} active {% endif %}"
           data-toggle="tab" href="#overview-tab">Overview</a>
    </li>
    {% if user_id == current_user.get_id() %}
    <li class="nav-item">
        <a class="nav-link navbar-account {% if message_tab == 'follows' %} active {% endif %}"
           data-toggle="tab" href="#follows-tab">Follows</a>
    </li>
    <li class="nav-item mr-auto">
        <a id="settings" class="nav-link navbar-account {% if message_tab == 'settings' %} active {% endif %}"
           data-toggle="tab" href="#settings-tab">Settings</a>
    </li>
    {% else %}
    <li class="nav-item mr-auto">
        <a class="nav-link navbar-account  {% if message_tab == 'settings' %} active {% endif %}"
           data-toggle="tab" href="#follows-tab">Follows</a>
    </li>
    {% endif %}
</ul>

<div class="tab-content" id="account_tab_content">
    <div id="overview-tab" class="tab-pane fade {% if message_tab == 'overview' %} show active {% endif %}">
        <div class="row m-t-30">
            <div class="col-xl-3 col-lg col-md-12">
                <ul class="p-l-0">
                    <li class="m-b-20">
                        <h4><i class="fas fa-user"></i>&nbsp&nbspBiography
                            {% if user_id == current_user.get_id() %}
                            <a class="fas fa-sm fa-pen p-r-10" onclick="changeTab()" style="float: right;"></a>
                            {% endif %}
                        </h4>
                        <hr>
                        {% if user_biography %}
                        <p style="word-wrap: break-word;" class="text-justify m-b-0">{{ user_biography }}</p>
                        {% elif user_id == current_user.get_id() %}
                        <p class="text-justify m-b-0" style="color: grey;"><i>No biography yet. Write it now. Click on the pen above to edit.</i></p>
                        {% else %}
                        <p class="text-justify m-b-0" style="color: grey;"><i>No biography.</i></p>
                        {% endif %}
                    </li>
                    <li class="m-b-20">
                        <h4><i class="fas fa-angle-double-up"></i>&nbsp&nbsp Lists Levels</h4>
                        <hr>
                        <div class="d-flex">
                            <div class='account-bar-wrapper'>
                                <div class='account-bar'>
                                    <img class="float-left m-r-10" height='40' width='40' data-toggle="tooltip" title="{{ data['series_grade_title'] }}" src="{{ url_for('static', filename='img/levels_ranks/') }}{{ data['series_grade_id'] }}.png"/>
                                    <span class='account-bar-name'>Series</span>
                                    {% if data['series_level'] < 10 %}
                                    <div id="series_level" class='account-bar-level'>Level 0{{ data['series_level'] }}</div>
                                    {% else %}
                                    <div id="series_level" class='account-bar-level'>Level {{ data['series_level'] }}</div>
                                    {% endif %}
                                    <div class='xp-bar' data-toggle="tooltip" title="{{ data['series_percent'] }}%">
                                        <div id='xp-bar-fill-series' data-percentage="{{ data['series_percent'] }}">
                                            <div class='xp-increase-fx'>
                                                <div class='xp-increase-fx-flicker'>
                                                    <div class='xp-increase-glow1'></div>
                                                    <div class='xp-increase-glow2'></div>
                                                    <div class='xp-increase-glow3'></div>
                                                </div>
                                                <div class='xp-increase-glow2'></div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if data['series_level']|int+1 < 10 %}
                                    <div class='account-bar-next-level'>&nbsp0{{ data['series_level']|int+1 }}</div>
                                    {% else %}
                                    <div class='account-bar-next-level'>&nbsp{{ data['series_level']|int+1 }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class='account-bar-wrapper'>
                                <div class='account-bar'>
                                    <img class="float-left m-r-10" height='40' width='40' data-toggle="tooltip" title="{{ data['anime_grade_title'] }}" src="{{ url_for('static', filename='img/levels_ranks/') }}{{ data['anime_grade_id'] }}.png"/>
                                    <div class='account-bar-name'>Anime</div>
                                    {% if data['anime_level'] < 10 %}
                                    <div id="anime_level" class='account-bar-level'>Level 0{{ data['anime_level'] }}</div>
                                    {% else %}
                                    <div id="anime_level" class='account-bar-level'>Level {{ data['anime_level'] }}</div>
                                    {% endif %}
                                    <div class='xp-bar' data-toggle="tooltip" title="{{ data['anime_percent'] }}%">
                                        <div id='xp-bar-fill-anime' data-percentage="{{ data['anime_percent'] }}">
                                            <div class='xp-increase-fx'>
                                                <div class='xp-increase-fx-flicker'>
                                                    <div class='xp-increase-glow1'></div>
                                                    <div class='xp-increase-glow2'></div>
                                                    <div class='xp-increase-glow3'></div>
                                                </div>
                                                <div class='xp-increase-glow2'></div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if data['anime_level']|int+1 < 10 %}
                                    <div class='account-bar-next-level'>&nbsp0{{ data['anime_level']|int+1 }}</div>
                                    {% else %}
                                    <div class='account-bar-next-level'>&nbsp{{ data['anime_level']|int+1 }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class='account-bar-wrapper'>
                                <div class='account-bar'>
                                    <img class="float-left m-r-10" height='40' width='40' data-toggle="tooltip" title="{{ data['movies_grade_title'] }}" src="{{ url_for('static', filename='img/levels_ranks/') }}{{ data['movies_grade_id'] }}.png"/>
                                    <span class='account-bar-name'>Movies</span>
                                    {% if data['movies_level'] < 10 %}
                                    <div id="movies_level" class='account-bar-level'>Level 0{{ data['movies_level'] }}</div>
                                    {% else %}
                                    <div id="movies_level" class='account-bar-level'>Level {{ data['movies_level'] }}</div>
                                    {% endif %}
                                    <div class='xp-bar' data-toggle="tooltip" title="{{ data['movies_percent'] }}%">
                                        <div id='xp-bar-fill-movies' data-percentage="{{ data['movies_percent'] }}">
                                            <div class='xp-increase-fx'>
                                                <div class='xp-increase-fx-flicker'>
                                                    <div class='xp-increase-glow1'></div>
                                                    <div class='xp-increase-glow2'></div>
                                                    <div class='xp-increase-glow3'></div>
                                                </div>
                                                <div class='xp-increase-glow2'></div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if data['movies_level']|int+1 < 10 %}
                                    <div class='account-bar-next-level'>&nbsp0{{ data['movies_level']|int+1 }}</div>
                                    {% else %}
                                    <div class='account-bar-next-level'>&nbsp{{ data['movies_level']|int+1 }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="m-b-20">
                        <div>
                            <h4>
                                <i class="fas fa-bell text-light"></i>
                                {% if user_id == current_user.get_id() %}
                                &nbsp&nbspFollows' Last Updates
                                {% else %}
                                &nbsp&nbspLast Updates
                                {% endif %}
                            </h4>
                        </div>
                        <hr>
                        {% for update in overview_updates %}
                            {% if update['category'] == 'anime' %}
                            <div class="p-2 m-b-10" style="border-bottom: solid 1px #945141;">
                                <div style="font-size: 12pt;">
                                    <i style="color: #945141;" class="fas fa-torii-gate m-r-14" data-toggle="tooltip" title="Anime"></i>
                            {% elif update['category'] == 'series' %}
                            <div class="p-2 m-b-10" style="border-bottom: solid 1px #216e7d;">
                                <div style="font-size: 12pt;">
                                    <i style="color: #216e7d;" class="fas fa-tv m-r-10" data-toggle="tooltip" title="Series"></i>
                            {% elif update['category'] == 'movie' %}
                            <div class="p-2 m-b-10" style="border-bottom: solid 1px #8c7821;">
                                <div style="font-size: 12pt;">
                                    <i style="color: #8c7821;" class="far fa-star m-r-12" data-toggle="tooltip" title="Movie"></i>
                            {% endif %}
                                    <span data-toggle="tooltip" title="{{ update['media_name'] }}">{{ update['media_name'] }}</span>
                                </div>

                                <div class="m-l-35" style="font-size: 11pt;">
                                    {% if update['update']|length == 2 %}
                                        {{ update['update'][0] }}
                                        <i class="fas fa-long-arrow-alt-right m-l-4 m-r-4"></i>
                                        {{ update['update'][1] }}
                                    {% else %}
                                         {{ update['update'][0] }}
                                    {% endif %}
                                </div>

                                {% if user_id == current_user.get_id() %}
                                <span class="m-l-35" style="color: #b3b3b3; font-size: 10pt;">
                                    <script>
                                        var tz = new Intl.DateTimeFormat().resolvedOptions().timeZone;
                                        var localdate = new Date("{{ update['date'] }}").toLocaleString("en-GB", {timeZone: tz});
                                        var d = new Date("{{ update['date'] }}")
                                        var month = new Array();
                                        month[0] = "Jan";
                                        month[1] = "Feb";
                                        month[2] = "Mar";
                                        month[3] = "Apr";
                                        month[4] = "May";
                                        month[5] = "Jun";
                                        month[6] = "Jul";
                                        month[7] = "Aug";
                                        month[8] = "Sep";
                                        month[9] = "Oct";
                                        month[10] = "Nov";
                                        month[11] = "Dec";
                                        var date_month = month[d.getMonth()];
                                        var date_day = localdate.slice(0,2);
                                        var date_time = localdate.slice(11,17)
                                        document.write(date_day + " " + date_month + " at " + date_time)
                                    </script> by
                                </span>
                                <a href="{{ update['username'] }}" style="color: #359aff; font-size: 11pt;">
                                    {{ update['username'] }}
                                </a>
                                {% else %}
                                <span class="m-l-35" style="color: #b3b3b3; font-size: 10pt;">
                                    <script>
                                        var tz = new Intl.DateTimeFormat().resolvedOptions().timeZone;
                                        var localdate = new Date("{{ update['date'] }}").toLocaleString("en-GB", {timeZone: tz});
                                        var d = new Date("{{ update['date'] }}")
                                        var month = new Array();
                                        month[0] = "Jan";
                                        month[1] = "Feb";
                                        month[2] = "Mar";
                                        month[3] = "Apr";
                                        month[4] = "May";
                                        month[5] = "Jun";
                                        month[6] = "Jul";
                                        month[7] = "Aug";
                                        month[8] = "Sep";
                                        month[9] = "Oct";
                                        month[10] = "Nov";
                                        month[11] = "Dec";
                                        var date_month = month[d.getMonth()];
                                        var date_day = localdate.slice(0,2);
                                        var date_time = localdate.slice(11,17)
                                        document.write(date_day + " " + date_month + " at " + date_time)
                                    </script>
                                </span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            <div class="vertical_line"></div>
            <div class="col-xl col-lg-5 col-md-12">
                <ul class="p-l-0">
                    <li>
                        <h4><i class="fas fa-chart-pie"></i>&nbsp&nbspStatistics</h4>
                        <hr>
                        <!------------------------ Series statistics --------------------------->
                        <div class="stats-size">
                            <h5>
                                <a class="text-left text-light m-b-10" href="{{ url_for('mymedialist', media_list='serieslist', user_name=user_name) }}">
                                    <b>Series </b><i class="fas fa-sm fa-external-link-square-alt"></i>
                                </a>
                            </h5>
                            <div id="SERIES" class="m-b-16">
                                <div class="m-b-5">
                                    <span class="stat-text"><b>Days:</b> {{ data['series']['time_spent_day'] }}</span>
                                    <span class="stat-text float-right"><b>Hours:</b> {{ data['series']['time_spent_hour'] }}</span>
                                </div>
                                <figure class="d-flex">
                                    {% if data['series']['element_percentage'] == [0.0, 0.0, 0.0, 0.0, 0.0, 0.0] %}
                                    <span class="block-no-data" data-toggle="tooltip" title="No data">
                                        <span id="100%" class="value"></span>
                                    </span>
                                    {% else %}
                                    <span class="block" data-toggle="tooltip" title="Watching">
                                        <span id="{{ data['series']['element_percentage'][0] }}%" class="value"></span>
                                    </span>
                                    <span class="block" data-toggle="tooltip" title="Completed">
                                        <span id="{{ data['series']['element_percentage'][1] }}%" class="value"></span>
                                    </span>
                                    <span class="block" data-toggle="tooltip" title="On Hold">
                                        <span id="{{ data['series']['element_percentage'][2] }}%" class="value"></span>
                                    </span>
                                    <span class="block" data-toggle="tooltip" title="Random">
                                        <span id="{{ data['series']['element_percentage'][3] }}%" class="value"></span>
                                    </span>
                                    <span class="block" data-toggle="tooltip" title="Dropped">
                                        <span id="{{ data['series']['element_percentage'][4] }}%" class="value"></span>
                                    </span>
                                    <span class="block" data-toggle="tooltip" title="Plan to Watch">
                                        <span id="{{ data['series']['element_percentage'][5] }}%" class="value"></span>
                                    </span>
                                    {% endif %}
                                </figure>
                                <div class="m-t-10">
                                    <div class="row">
                                        <div class="col mini p-r-0">
                                            <span class="stat-text">Watching:</span>
                                        </div>
                                        <div class="col p-0 position">
                                            <span class="stat-text">{{ data['series']['watching_count'] }}</span>
                                        </div>
                                        <div class="col mini p-r-0">
                                            <span class="stat-text">Dropped:</span>
                                        </div>
                                        <div class="col p-l-0 position">
                                            <span class="stat-text">{{ data['series']['dropped_count'] }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mini p-r-0">
                                            <span class="stat-text">Completed:</span>
                                        </div>
                                        <div class="col p-0 position">
                                            <span class="stat-text">{{ data['series']['completed_count'] }}</span>
                                        </div>
                                        <div class="col mini p-r-0">
                                            <span class="stat-text">Plan to Watch:</span>
                                        </div>
                                        <div class="col p-l-0 position">
                                            <span class="stat-text">{{ data['series']['plantowatch_count'] }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mini p-r-0">
                                            <span class="stat-text">On Hold:</span>
                                        </div>
                                        <div class="col p-0 position">
                                            <span class="stat-text">{{ data['series']['onhold_count'] }}</span>
                                        </div>
                                        <div class="col mini p-r-0">
                                            <span class="stat-text" data-toggle="tooltip" title="Without plan to watch">Total Series:</span>
                                        </div>
                                        <div class="col p-l-0 position">
                                            <span class="stat-text" data-toggle="tooltip" title="Without plan to watch">{{ data['series']['total_count'] }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mini p-r-0">
                                            <span class="stat-text">Random:</span>
                                        </div>
                                        <div class="col p-0 position">
                                            <span class="stat-text">{{ data['series']['random_count'] }}</span>
                                        </div>
                                        <div class="col mini p-r-0">
                                            <span class="stat-text">Episodes:</span>
                                        </div>
                                        <div class="col p-l-0 position">
                                            <span class="stat-text">{{ data['series']['nb_ep_watched'] }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!------------------------- Anime statistics --------------------------->
                        <div class="stats-size">
                            <h5>
                                <a class="text-left text-light m-b-10" href="{{ url_for('mymedialist', media_list='animelist', user_name=user_name) }}">
                                    <b>Anime </b><i class="fas fa-sm fa-external-link-square-alt"></i>
                                </a>
                            </h5>
                            <div id="ANIME" class="m-b-16">
                                <div class="m-b-5">
                                    <span class="stat-text"><b>Days:</b> {{ data['anime']['time_spent_day'] }}</span>
                                    <span class="stat-text float-right"><b>Hours:</b> {{ data['anime']['time_spent_hour'] }}</span>
                                </div>
                                <figure class="d-flex">
                                    {% if data['anime']['element_percentage'] == [0.0, 0.0, 0.0, 0.0, 0.0, 0.0] %}
                                    <span class="block-no-data" data-toggle="tooltip" title="No data">
                                <span id="100%" class="value"></span>
                            </span>
                                    {% else %}
                                    <span class="block" data-toggle="tooltip" title="Watching">
                                <span id="{{ data['anime']['element_percentage'][0] }}%" class="value"></span>
                            </span>
                                    <span class="block" data-toggle="tooltip" title="Completed">
                                <span id="{{ data['anime']['element_percentage'][1] }}%" class="value"></span>
                            </span>
                                    <span class="block" data-toggle="tooltip" title="On Hold">
                                <span id="{{ data['anime']['element_percentage'][2] }}%" class="value"></span>
                            </span>
                                    <span class="block" data-toggle="tooltip" title="Random">
                                <span id="{{ data['anime']['element_percentage'][3] }}%" class="value"></span>
                            </span>
                                    <span class="block" data-toggle="tooltip" title="Dropped">
                                <span id="{{ data['anime']['element_percentage'][4] }}%" class="value"></span>
                            </span>
                                    <span class="block" data-toggle="tooltip" title="Plan to Watch">
                                <span id="{{ data['anime']['element_percentage'][5] }}%" class="value"></span>
                            </span>
                                    {% endif %}
                                </figure>
                                <div class="m-t-10">
                                    <div class="row">
                                        <div class="col mini p-r-0">
                                            <span class="stat-text">Watching:</span>
                                        </div>
                                        <div class="col p-0 position">
                                            <span class="stat-text">{{ data['anime']['watching_count'] }}</span>
                                        </div>
                                        <div class="col mini p-r-0">
                                            <span class="stat-text">Dropped:</span>
                                        </div>
                                        <div class="col p-l-0 position">
                                            <span class="stat-text">{{ data['anime']['dropped_count'] }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mini p-r-0">
                                            <span class="stat-text">Completed:</span>
                                        </div>
                                        <div class="col p-0 position">
                                            <span class="stat-text">{{ data['anime']['completed_count'] }}</span>
                                        </div>
                                        <div class="col mini p-r-0">
                                            <span class="stat-text">Plan to Watch:</span>
                                        </div>
                                        <div class="col p-l-0 position">
                                            <span class="stat-text">{{ data['anime']['plantowatch_count'] }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mini p-r-0">
                                            <span class="stat-text">On Hold:</span>
                                        </div>
                                        <div class="col p-0 position">
                                            <span class="stat-text">{{ data['anime']['onhold_count'] }}</span>
                                        </div>
                                        <div class="col mini p-r-0">
                                            <span class="stat-text" data-toggle="tooltip" title="Without plan to watch">Total Anime:</span>
                                        </div>
                                        <div class="col p-l-0 position">
                                            <span class="stat-text" data-toggle="tooltip" title="Without plan to watch">{{ data['anime']['total_count'] }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mini p-r-0">
                                            <span class="stat-text">Random:</span>
                                        </div>
                                        <div class="col p-0 position">
                                            <span class="stat-text">{{ data['anime']['random_count'] }}</span>
                                        </div>
                                        <div class="col mini p-r-0">
                                            <span class="stat-text">Episodes:</span>
                                        </div>
                                        <div class="col p-l-0 position">
                                            <span class="stat-text">{{ data['anime']['nb_ep_watched'] }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!------------------------ Movies statistics --------------------------->
                        <div class="stats-size">
                            <h5>
                                <a class="text-left text-light m-b-10" href="{{ url_for('mymedialist', media_list='movieslist', user_name=user_name) }}">
                                    <b>Movies </b><i class="fas fa-sm fa-external-link-square-alt"></i>
                                </a>
                            </h5>
                            <div id="MOVIES">
                                <div class="m-b-16">
                                    <span class="stat-text"><b>Days:</b> {{ data['movies']['time_spent_day'] }}</span>
                                    <span class="stat-text float-right"><b>Hours:</b> {{ data['movies']['time_spent_hour'] }}</span>
                                </div>
                                <figure class="d-flex">
                                    {% if data["movies"]["element_percentage"] == [0.0, 0.0, 0.0] %}
                                    <span class="block-no-data" title="No data">
                                        <span id="100%" class="value"></span>
                                    </span>
                                    {% else %}
                                    <span class="block" data-toggle="tooltip" title="Completed">
                                        <span id="{{ data['movies']['element_percentage'][0] }}%" class="value"></span>
                                    </span>
                                    <span class="block" data-toggle="tooltip" title="Completed Animation">
                                        <span id="{{ data['movies']['element_percentage'][1] }}%" class="value"></span>
                                    </span>
                                    <span class="block" data-toggle="tooltip" title="Plan to Watch">
                                        <span id="{{ data['movies']['element_percentage'][2] }}%" class="value"></span>
                                    </span>
                                    {% endif %}
                                </figure>
                                <div class="m-t-10">
                                    <div class="row">
                                        <div class="col mini p-r-0">
                                            <span class="stat-text">Completed:</span>
                                        </div>
                                        <div class="col p-0 position">
                                            <span class="stat-text">{{ data['movies']['completed_count'] }}</span>
                                        </div>
                                        <div class="col mini p-r-0">
                                            <span class="stat-text">Plan to Watch:</span>
                                        </div>
                                        <div class="col p-l-0 position">
                                            <span class="stat-text">{{ data['movies']['plantowatch_count'] }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mini p-r-0">
                                            <span class="stat-text">Completed Anime:</span>
                                        </div>
                                        <div class="col p-0 position">
                                            <span class="stat-text">{{ data['movies']['completed_animation_count'] }}</span>
                                        </div>
                                        <div class="col mini p-r-0">
                                            <span class="stat-text" data-toggle="tooltip" title="Without plan to watch">Total movies:</span>
                                        </div>
                                        <div class="col p-l-0 position">
                                            <span class="stat-text" data-toggle="tooltip" title="Without plan to watch">{{ data['movies']['total_count'] }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="vertical_line"></div>
            <div class="col-xl-3 col-lg col-md-12">
                <ul class="p-l-0 p-r-0">
                    <li class="m-b-20">
                        <h4><i class="fas fa-chart-pie"></i>&nbsp&nbspBadges</h4><hr>
                        <div class="stats-size m-b-20">
                            <h5 class="text-left m-b-10">
                                <a class="btn btn-sm btn-primary" href="{{ url_for('badges', user_name=user_name) }}">
                                Badges</a>
                            </h5>
                        </div>
                    </li>
                    <li>
                        <h4><i class="fas fa-sm fa-info-circle"></i>&nbsp&nbspInformation</h4>
                        <hr>
                        <ul class="text-left" style="list-style-type: disc; font-size: 13pt;">
                            <li class="m-b-10">
                                <div class="row">
                                    <div  class="col-9">
                                        Profile views:
                                    </div>
                                    <div  class="col-2">
                                        {{ view_count["profile"] }}
                                    </div>
                                </div>
                            </li>
                            <li class="m-b-10">
                                <div class="row">
                                    <div  class="col-9">
                                        SeriesList views:
                                    </div>
                                    <div  class="col-2">
                                        {{ view_count["series"] }}
                                    </div>
                                </div>
                            </li>
                            <li class="m-b-10">
                                <div class="row">
                                    <div  class="col-9">
                                        AnimeList views:
                                    </div>
                                    <div  class="col-2">
                                        {{ view_count["anime"] }}
                                    </div>
                                </div>
                            </li>
                            <li class="m-b-10">
                                <div class="row">
                                    <div  class="col-9">
                                        MoviesList views:
                                    </div>
                                    <div  class="col-2">
                                        {{ view_count["movies"] }}
                                    </div>
                                </div>
                            </li>
                            {% if user_id == current_user.get_id() %}
                            <li class="m-b-10">
                                <a class="text-light" href="{{ url_for('level_grade_data') }}" target="_blank">
                                    Grades and levels data
                                    <i class="text-light fas fa-sm fa-external-link-square-alt"></i>
                                </a>
                            </li>
                            <li class="m-b-10">
                                <a class="text-light" href="{{ url_for('knowledge_grade_data') }}" target="_blank">
                                    Knowledge levels data
                                    <i class="text-light fas fa-sm fa-external-link-square-alt"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="follows-tab" class="tab-pane fade {% if message_tab == 'follows' %} show active {% endif %}">
        <div class="row m-t-30">
            <div class="col">
                {% if user_id == current_user.get_id() %}
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ follow_form.hidden_tag() }}
                    <div class="d-flex flex-wrap">
                        {{ follow_form.follow_to_add(style="max-width: 180px;", class='form-control', placeholder='Username to add') }}
                        {% for error in follow_form.follow_to_add.errors %}
                            <div class="m-l-10 mt-auto mb-auto" style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {{ follow_form.submit_follow(class="btn btn-outline-info m-t-0 m-l-20 p-2") }}
                    </div>
                </form>
                {% endif %}
                <div class="d-flex flex-wrap m-t-30 follow_wrapper">
                    {% for follow in data["follows"] %}
                    <div class="card border-0 m-l-10 m-r-10 m-t-60 m-b-40 follow-card">
                        <div class="card-img-top">
                            <div class="row">
                                <div class="col-4">
                                    <a href="{{ follow['username'] }}">
                                        <img class="follow-picture" src="{{ follow['picture'] }}">
                                    </a>
                                </div>
                                <div class="col m-l-20 m-t-15">
                                    <h3>{{ follow['username'] }}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-2 p-b-10 p-t-0 m-t-1 follow-card-body">
                        {% for last_update in last_updates %}
                            {% if last_update["username"] == follow["username"] %}
                                {% for update in last_update["update"] %}
                                <div>
                                    <div style="float: left; width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                        {% if update["category"] == "anime" %}
                                        <i style="color: #945141;" class="fas fa-torii-gate m-r-14" data-toggle="tooltip" title="Anime"></i>
                                        {% elif update["category"] == "series" %}
                                        <i style="color: #216e7d;" class="fas fa-tv m-r-10" data-toggle="tooltip" title="Series"></i>
                                        {% else %}
                                        <i style="color: #8c7821;" class="far fa-star m-r-12" data-toggle="tooltip" title="Movie"></i>
                                        {% endif %}
                                        <span data-toggle="tooltip" title="{{ update['media_name'] }}">{{ update["media_name"] }}</span>
                                    </div>
                                    <div style="float: right;">
                                        <i class="follow-date">
                                            <script>
                                                var tz = new Intl.DateTimeFormat().resolvedOptions().timeZone;
                                                var localdate = new Date("{{ update['date'] }}").toLocaleString("en-GB", {timeZone: tz});
                                                var d = new Date("{{ update['date'] }}")
                                                var month = new Array();
                                                month[0] = "Jan";
                                                month[1] = "Feb";
                                                month[2] = "Mar";
                                                month[3] = "Apr";
                                                month[4] = "May";
                                                month[5] = "Jun";
                                                month[6] = "Jul";
                                                month[7] = "Aug";
                                                month[8] = "Sep";
                                                month[9] = "Oct";
                                                month[10] = "Nov";
                                                month[11] = "Dec";
                                                var date_month = month[d.getMonth()];
                                                var date_day = localdate.slice(0,2);
                                                var date_time = localdate.slice(11,17)
                                                document.write(date_day + " " + date_month + ", " + date_time)
                                            </script>
                                        </i>
                                    </div>
                                </div>
                                    <div style="clear: both;"></div>
                                    {% if update["update"]|length == 2 %}
                                    <div class="m-l-35" style="font-size: 11pt;">
                                        {{ update["update"][0] }}
                                        <i class="fas fa-long-arrow-alt-right m-l-4 m-r-4"></i>
                                        {{ update["update"][1] }}
                                    </div>
                                    {% else %}
                                    <div class="m-l-35" style="font-size: 11pt;">
                                        {{ update["update"][0] }}
                                    </div>
                                    {% endif %}
                                    {% if not loop.last %}
                                    {% if update["category"] == "anime" %}
                                    <hr style="border-color: #945141;" class="p-0 m-t-4 m-b-4">
                                    {% elif update["category"] == "series" %}
                                    <hr style="border-color: #216e7d;" class="p-0 m-t-4 m-b-4">
                                    {% else %}
                                    <hr style="border-color: #8c7821;" class="p-0 m-t-4 m-b-4">
                                    {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% if user_id == current_user.get_id() %}
    <div id="settings-tab" class="tab-pane fade {% if message_tab == 'settings' %} show active {% endif %}">
        <div class="row text-center m-t-50">
            <div class="col">
                <h4><i class="fas fa-sliders-h"></i>&nbsp&nbsp General settings</h4>
                <hr>
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ settings_form.hidden_tag() }}
                    <div class="m-t-30">
                        {{ settings_form.biography.label }}<br>
                        {{ settings_form.biography(size=32) }}<br>
                        {% for error in settings_form.biography.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="m-t-30">
                        {{ settings_form.username.label }}<br>
                        {{ settings_form.username(size=28) }}<br>
                        {% for error in settings_form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="m-t-30">
                        {{ settings_form.email.label }}<br>
                        {{ settings_form.email(size=28) }}<br>
                        {% for error in settings_form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="m-t-30">
                        {{ settings_form.homepage.label }}: &nbsp&nbsp&nbsp {{ settings_form.homepage }}<br>
                        {% for error in settings_form.homepage.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="m-t-30">
                        {{ settings_form.isprivate.label }}: &nbsp&nbsp&nbsp {{ settings_form.isprivate() }}<br>
                        {% for error in settings_form.isprivate.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="m-t-30">
                        {{ settings_form.picture.label }}<br>
                        {{ settings_form.picture() }}<br>
                        {% for error in settings_form.picture.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="m-t-30">
                        {{ settings_form.submit_account(class="btn btn-outline-info p-2 m-b-40") }}
                    </div>
                </form>
            </div>
            <div class="vertical_line"></div>
            <div class="col">
                <h4><i class="fas fa-unlock-alt"></i>&nbsp&nbsp Change your password</h4>
                <hr>
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ password_form.hidden_tag() }}
                    <div class="m-t-30">
                        {{ password_form.current_password.label }}<br>
                        {{ password_form.current_password(size=28) }}<br>
                        {% for error in password_form.current_password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="m-t-30">
                        {{ password_form.new_password.label }}<br>
                        {{ password_form.new_password(size=28) }}<br>
                        {% for error in password_form.new_password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="m-t-30">
                        {{ password_form.confirm_new_password.label }}<br>
                        {{ password_form.confirm_new_password(size=28) }}<br>
                        {% for error in password_form.confirm_new_password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="m-t-30">
                        {{ password_form.submit_password(class="btn btn-outline-info p-2") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<div class="modal_loading"></div>
{% endblock content %}


{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/account.js') }}" ></script>
{% endblock script %}
