{% extends "layout.html" %}

{% block css %}
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<style>
.container-form {
    max-width: 500px;
}

.container-scrollable {
    max-width: 150px;
    min-width: 150px;
}

.account-img {
    height: 150px;
    width: 150px;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.9);
}

.form-control {
    background: transparent;
    border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #fff;
}

.form-control:focus {
    background: transparent;
    border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow: 0 0 0 0rem;
    color: #fff;
}

.form-check-label {
    margin-bottom: 30px;
}

.form_account {
    max-width: 800px;
}

.border_account {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
}
</style>


<div class="container form_account">
    <div class="border_account">
        <div class="d-flex flex-wrap-reverse">
            <div class="p-r-10 bd-highlight">
                <img class="rounded border-light account-img" src="{{ image_file }}">
            </div>
            <div class="bd-highlight">
                <h2 class="mt-0 account-heading">{{ current_user.username }}</h2>
                <h5 class="text">{{ current_user.email }}</h5>
            </div>
            <div class="ml-auto bd-highlight">
                <label>
                    Private Mode
                    <input id="private-toggle" type="checkbox" {{ value_privacy }} data-toggle="toggle"  data-onstyle="light" data-offstyle="dark" data-style="border" data-size="sm">
                </label>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col m-t-20 m-b-40">
                    <h5 class="m-b-10">Change your home page:</h5>
                    <div class="d-flex container-scrollable">
                        <select id="home_page" class="text-center form-control p-0 default_page">
                            {% if home_page == "account" %}
                                <option selected="selected">Account</option>
                                <option>Hall of Fame</option>
                                <option>MySeriesList</option>
                                <option>MyAnimesList</option>
                            {% elif home_page == "hall_of_fame" %}
                                <option>Account</option>
                                <option selected="selected">Hall of Fame</option>
                                <option>MySeriesList</option>
                                <option>MyAnimesList</option>
                            {% elif home_page == "myserieslist" %}
                                <option>Account</option>
                                <option>Hall of Fame</option>
                                <option selected="selected">MySeriesList</option>
                                <option>MyAnimesList</option>
                            {% elif home_page == "myanimelist" %}
                                <option>Account</option>
                                <option>Hall of Fame</option>
                                <option>MySeriesList</option>
                                <option selected="selected">MyAnimesList</option>
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="col m-t-20 m-b-40">
                    <h5 class="m-b-10">Default hall of fame table:</h5>
                    <div class="d-flex container-scrollable">
                        <select id="default_hof" class="text-center form-control p-0 default_hof">
                            {% if default_hof == "myserieslist" %}
                                <option selected="selected">MySeriesList</option>
                                <option>MyAnimesList</option>
                            {% elif default_hof == "myanimelist" %}
                                <option>MySeriesList</option>
                                <option selected="selected">MyAnimesList</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <h3 class="border-bottom text-center m-t-10 m-b-30">Account Info</h3>
            <div class="container-form">
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="text-center">
                {{ form.submit(class="btn btn-outline-info") }}
                <a class="btn btn-outline-info" href="{{ url_for('change_password') }}" role="button">Change password?</a>
            </div>
        </form>
    </div>
</div>

<script>
let private = document.getElementById("private-toggle");
let home_page = document.getElementById("home_page");
let default_hof = document.getElementById("default_hof");

private.onchange = function () {
    $.ajax ({
        type: "POST",
        url: "/private_mode",
        contentType: "application/json",
        data: JSON.stringify({private: "triggered"}),
        dataType: "json",
        success: function(response) {
            console.log(response); }
    });
};

home_page.onchange = function () {
    let selected_index = home_page.selectedIndex;
    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/default_page",
        contentType: "application/json",
        data: JSON.stringify({home_page: selected_index }),
        dataType: "json",
        beforeSend: function() { $body.addClass("loading"); },
        success: function(response) {
            $body.removeClass("loading"); }
    });
}

default_hof.onchange = function () {
    let selected_index = default_hof.selectedIndex;
    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/default_hof",
        contentType: "application/json",
        data: JSON.stringify({default_hof: selected_index }),
        dataType: "json",
        beforeSend: function() { $body.addClass("loading"); },
        success: function(response) {
            $body.removeClass("loading"); }
    });
}

</script>
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
{% endblock script %}