{% extends "header_account.html" %}


{% block data %}
    <div class="account-wrapper m-b-60">
        {% if header_data['id'] != current_user.get_id() %}
            <div class="follow-btn-mobile">
                {% if user_data["isfollowing"] %}
                    <button class="btn btn-sm btn-dark follow-btn" value="1"
                    onclick="follow_status('{{ header_data['id'] }}')">
                        Unfollow
                    </button>
                {% else %}
                    <button class="btn btn-sm btn-primary follow-btn" value="0"
                    onclick="follow_status('{{ header_data['id'] }}')">
                        Follow
                    </button>
                {% endif %}
                <i class="fas fa-spinner fast-spin loading-follow" style="display: none;"></i>
            </div>
        {% endif %}
        <div class="row m-t-15">
            <div class="col-xl-3 col-lg col-md-5">
                <ul class="list-unstyled">
                    <li class="m-b-20">
                        <h4><i class="fas fa-angle-double-up"></i>&nbsp;&nbsp; Lists Levels</h4>
                        <hr>
                        <div class='account-bar-wrapper'>
                            <div class='account-bar'>
                                <img class="float-left m-r-10 m-t-4" height='40' width='40' data-toggle="tooltip"
                                     title="{{ media_data['series']['media_levels']['grade_title'] }}"
                                     src="{{ media_data['series']['media_levels']['grade_id'] }}.png" alt=""/>
                                <a class="account-bar-name text-light" href="/serieslist/{{ header_data['username'] }}">Series</a>
                                <div id="series-level" class='account-bar-level'>
                                    Level {{ '%02d'|format(media_data['series']['media_levels']['level']) }}
                                </div>
                                <div class="xp-bar" data-toggle="tooltip"
                                     title="{{ media_data['series']['media_levels']['level_percent'] }}%">
                                    <div class="xp-bar-fill bg-series" style="width: {{ media_data['series']
                                    ['media_levels']['level_percent'] }}%;">
                                    </div>
                                </div>
                                <div class='account-bar-next-level'>&nbsp;{{ '%02d'|format(media_data['series']
                                ['media_levels']['level']|int + 1) }}</div>
                            </div>
                        </div>
                        <div class='account-bar-wrapper'>
                            <div class='account-bar'>
                                <img class="float-left m-r-10 m-t-4" height='40' width='40' data-toggle="tooltip"
                                     title="{{ media_data['anime']['media_levels']['grade_title'] }}"
                                     src="{{ media_data['anime']['media_levels']['grade_id'] }}.png"/>
                                <a class="account-bar-name text-light" href="/animelist/{{ header_data['username'] }}">Anime</a>
                                <div id="anime-level" class='account-bar-level'>
                                    Level {{ '%02d' | format(media_data['anime']['media_levels']['level']) }}</div>
                                <div class='xp-bar' data-toggle="tooltip"
                                     title="{{ media_data['anime']['media_levels']['level_percent'] }}%">
                                    <div class="xp-bar-fill bg-anime" style="width: {{ media_data['anime']
                                    ['media_levels']['level_percent'] }}%;">
                                    </div>
                                </div>
                                <div class='account-bar-next-level'>&nbsp;{{ '%02d' |
                                format(media_data['anime']['media_levels']['level']|int + 1) }}</div>
                            </div>
                        </div>
                        <div class="account-bar-wrapper">
                            <div class="account-bar">
                                <img class="float-left m-r-10 m-t-4" height='40' width='40' data-toggle="tooltip"
                                     title="{{ media_data['movies']['media_levels']['grade_title'] }}"
                                     src="{{ media_data['movies']['media_levels']['grade_id'] }}.png"/>
                                <a class="account-bar-name text-light" href="/movieslist/{{ header_data['username'] }}">Movies</a>
                                <div id="movies-level" class='account-bar-level'>
                                    Level {{ '%02d' |format(media_data['movies']['media_levels']['level']) }}
                                </div>
                                <div class="xp-bar" data-toggle="tooltip" title="{{ media_data['movies']
                                ['media_levels']['level_percent'] }}%">
                                    <div class="xp-bar-fill bg-movies" style="width: {{ media_data['movies']
                                    ['media_levels']['level_percent'] }}%;">
                                    </div>
                                </div>
                                <div class="account-bar-next-level">&nbsp;{{ '%02d' |
                                format(media_data['movies']['media_levels']['level']|int + 1) }}</div>
                            </div>
                        </div>
                    </li>
                    <li class="m-b-20">
                        <h4>
                            <i class="fas fa-highlighter text-light"></i>&nbsp;&nbsp; Updates
                            <form id='all_history' style="display: inline;" method="POST" action="/account/{{ header_data['username'] }}">
                                <input style='display: none;' name="all_history" value="True">
                                <a onclick="$('#all_history').submit()" class='fs-15 m-t-10 m-r-2' style='float: right;
                                 color: grey;'>
                                    <u><i>History</i></u>
                                </a>
                            </form>
                        </h4>
                        <hr class='m-b-8'>
                        {% for update in user_data['media_update'] %}
                            <div class="update-box m-b-5" style="border-bottom: solid 1px {{ update['border'] }};">
                                <a class="text-light truncate" href="/media_sheet/{{ update['category'] }}/{{ update['media_id'] }}">
                                    <i class="{{ update['icon-color'] }} m-r-10" data-toggle="tooltip"
                                       title="{{ update['category'] }}"></i>
                                    {{ update['media_name'] }}
                                </a>
                                <div class="m-l-35" style="font-size: 11pt;">
                                    {% if update['update']|length == 2 %}
                                        {{ update['update'][0] }} <i class="fas fa-long-arrow-alt-right m-l-4 m-r-4"></i>
                                        {{ update['update'][1] }}
                                    {% else %}
                                        {{ update['update'][0] }}
                                    {% endif %}
                                </div>
                                <span class="m-l-35" style="color: #b3b3b3; font-size: 10pt;">
                                    <script type="text/javascript">
                                        var tz = new Intl.DateTimeFormat().resolvedOptions().timeZone;
                                        var localdate = new Date("{{update['date']}}").toLocaleString("en-GB", {timeZone: tz});
                                        var d = new Date("{{ update['date'] }}")
                                        var month = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct",
                                            "Nov", "Dec"];
                                        var date_month = month[d.getMonth()];
                                        var date_day = localdate.slice(0, 2);
                                        var date_time = localdate.slice(11, 17)
                                        document.write(date_day + " " + date_month + " at " + date_time)
                                    </script>
                                </span>
                            </div>
                        {% endfor %}
                    </li>
                    <li class="m-b-20">
                        <h4><i class="fas fa-sm fa-info-circle"></i>&nbsp;&nbsp;Information</h4>
                        <hr>
                        <ul class="list-checkbox-column">
                            <li class="m-b-10">
                                <div class="row">
                                    <div class="col-9">Profile views:</div>
                                    <div class="col-2">{{ user_data['view_count']["profile"] }}</div>
                                </div>
                            </li>
                            <li class="m-b-10">
                                <div class="row">
                                    <div class="col-9">SeriesList views:</div>
                                    <div class="col-2">{{ user_data['view_count']["series"] }}</div>
                                </div>
                            </li>
                            <li class="m-b-10">
                                <div class="row">
                                    <div class="col-9">AnimeList views:</div>
                                    <div class="col-2">{{ user_data['view_count']["anime"] }}</div>
                                </div>
                            </li>
                            <li class="m-b-10">
                                <div class="row">
                                    <div class="col-9">MoviesList views:</div>
                                    <div class="col-2">{{ user_data['view_count']["movies"] }}</div>
                                </div>
                            </li>
                            {% if header_data['id'] == current_user.get_id() %}
                                <li class="m-b-10">
                                    <a class="text-light" href="{{ url_for('users.level_grade_data') }}"
                                       target="_blank">
                                        <u>Grades and levels data</u>
                                    </a>
                                </li>
                                <li class="m-b-10">
                                    <a class="text-light" href="{{ url_for('users.knowledge_frame_data') }}" target="_blank">
                                        <u>Knowledge frame data</u>
                                    </a>
                                </li>
                            {% endif %}
                            {% if header_data['id'] == current_user.get_id() and current_user.role.value != 'user' %}
                                <li class="m-b-10">
                                    Refresh APScheduler:
                                    <a class="btn btn-sm btn-primary" href="{{ url_for('users.apscheduler_info') }}">
                                        Refresh
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="vertical-line"></div>
            <div class="col-xl col-lg col-md">
                <ul class="list-unstyled">
                    <h4><i class="fas fa-chart-pie"></i>&nbsp;&nbsp; Statistics</h4>
                    <hr>
                    <li class="m-b-20">
                        <div class="row no-gutters">
                            <div class="col-xl-6 col-lg-12 col-sm-12 media-container">
                                <canvas id="media-time"></canvas>
                                <span id="time-spent-pie" values="{{ media_data['series']['time_spent_hour'] }}
                                      , {{ media_data['anime']['time_spent_hour'] }}
                                      , {{ media_data['movies']['time_spent_hour'] }}"></span>
                            </div>
                            <div class="col-xl-6 col-lg-12 col-sm-12 m-t-10">
                                <div class="row m-t-15 fs-18">
                                    <div class="col-6 m-b-10">
                                        <i class="fas fa-clock"></i>
                                        <b>&nbsp; Time spent</b>
                                    </div>
                                    <div class="col-6 m-b-10">
                                        {{ media_data['series']['time_spent_hour']+
                                            media_data['anime']['time_spent_hour']+
                                            media_data['movies']['time_spent_hour'] }} h
                                            - {{ ((media_data['series']['time_spent_hour'] +
                                            media_data['anime']['time_spent_hour'] +
                                            media_data['movies']['time_spent_hour'])/24)|int }} d
                                    </div>
                                    <div class="col-6 m-b-10">
                                        <i class="fas fa-play"></i>
                                        <b class="m-l-3">&nbsp; Episodes</b>
                                    </div>
                                    <div class="col-6 m-b-10">
                                        {{ media_data['series']['media_total_eps']+
                                        media_data['anime']['media_total_eps'] }}
                                    </div>
                                    <div class="col-6 m-b-10">
                                        <i class="fas fa-align-justify"></i>
                                        <b class="m-l-4">&nbsp; Media Scored</b>
                                    </div>
                                    <div class="col-6 m-b-10">
                                        {{ media_data['series']['media_score']['scored_media']+
                                        media_data['anime']['media_score']['scored_media']+
                                        media_data['movies']['media_score']['scored_media'] }}/{{ media_data['series']
                                        ['media_score']['total_media']+media_data['anime']['media_score']
                                        ['total_media']+media_data['movies']['media_score']['total_media'] }}
                                    </div>
                                    <div class="col-6 m-b-10">
                                        <i class="fas fa-star"></i>
                                        <b>&nbsp; Mean score</b>
                                    </div>
                                    <div class="col-6 m-b-10">
                                        {% set a = media_data['series']['media_score']['mean_score'] %}
                                        {% set b = media_data['anime']['media_score']['mean_score'] %}
                                        {% set c = media_data['movies']['media_score']['mean_score'] %}
                                        {% set d = 3 %}
                                        {% if media_data['series']['media_score']['mean_score'] == '-' %}
                                            {% set a = 0 %}
                                            {% set d = d - 1 %}
                                        {% endif %}
                                        {% if media_data['anime']['media_score']['mean_score'] == '-' %}
                                            {% set b = 0 %}
                                            {% set d = d - 1 %}
                                        {% endif %}
                                        {% if media_data['movies']['media_score']['mean_score'] == '-' %}
                                            {% set c = 0 %}
                                            {% set d = d - 1 %}
                                        {% endif %}
                                        {%  if d != 0 %}
                                            {{ ((a + b + c)/d)|round(2) }}/10
                                        {% else %}
                                            -/10
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <hr>
                    <li class="m-b-20">
                        <div class="stats-size">
                            <h5 class="text-center mb-2">
                                <a class="text-light" href="/serieslist/{{ header_data['username'] }}">
                                    <b>SERIES</b>
                                </a>
                            </h5>
                            <div id="SERIES" class="m-b-8 stat-text">
                                <span><b>Days: </b>{{ media_data['series']['time_spent_day'] }}</span>
                                <span class="float-right"><b>Hours: </b>{{ media_data['series']['time_spent_hour'] }}</span><br>
                                <span data-toggle="tooltip" title="Media scored"><b>Scored: </b>
                                    {{ media_data['series']['media_score']['scored_media'] }}/{{ media_data
                                    ['series']['media_score']['total_media'] }}
                                    ({{ media_data['series']['media_score']['percentage'] }}%)
                                </span>
                                <span class="float-right"><b>Mean Score: </b>
                                    {{ media_data['series']['media_score']['mean_score'] }}/10
                                </span>
                                <figure>
                                    {% if media_data['series']['media_count']['nodata'] %}
                                        <span class="block-no-data" data-toggle="tooltip" title="No data">
                                            <span id="100%" class="value"></span>
                                        </span>
                                    {% else %}
                                        <span class="block" data-toggle="tooltip" title="Watching">
                                            <span id="{{ media_data['series']['media_count']['Watching']['percent'] }}%"
                                                  class="value">
                                            </span>
                                        </span>
                                        <span class="block" data-toggle="tooltip" title="Completed">
                                            <span id="{{ media_data['series']['media_count']['Completed']
                                            ['percent'] }}%"
                                                  class="value">
                                            </span>
                                        </span>
                                        <span class="block" data-toggle="tooltip" title="On Hold">
                                            <span id="{{ media_data['series']['media_count']['On Hold']['percent'] }}%"
                                                  class="value">
                                            </span>
                                        </span>
                                        <span class="block" data-toggle="tooltip" title="Random">
                                            <span id="{{ media_data['series']['media_count']['Random']['percent'] }}%"
                                                  class="value">
                                            </span>
                                        </span>
                                        <span class="block" data-toggle="tooltip" title="Dropped">
                                            <span id="{{ media_data['series']['media_count']['Dropped']['percent'] }}%"
                                                  class="value">
                                            </span>
                                        </span>
                                        <span class="block" data-toggle="tooltip" title="Plan to Watch">
                                            <span id="{{ media_data['series']['media_count']['Plan to Watch']
                                            ['percent'] }}%" class="value">
                                            </span>
                                        </span>
                                    {% endif %}
                                </figure>
                                <div class="row p-t-5 stat-text">
                                    <div class="col-4">
                                        <a href="/serieslist/{{ header_data['username'] }}?category=Watching">Watching:</a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['series']['media_count']['Watching']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="/serieslist/{{ header_data['username'] }}?category=Dropped">Dropped:</a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['series']['media_count']['Dropped']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="/serieslist/{{ header_data['username'] }}?category=Completed">Completed:</a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['series']['media_count']['Completed']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="/serieslist/{{ header_data['username'] }}?category=Plan to Watch">P. to Watch:</a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['series']['media_count']['Plan to Watch']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="/serieslist/{{ header_data['username'] }}?category=On Hold">On Hold:</a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['series']['media_count']['On Hold']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <span>Total Series:</span>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['series']['media_count']['total'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="/serieslist/{{ header_data['username'] }}?category=Random">Random:</a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['series']['media_count']['Random']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <span>Episodes:</span>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['series']['media_total_eps'] }}</span>
                                    </div>
                                </div>
                            </div>
                            <a href="/serieslist/{{ header_data['username'] }}?category=Favorites">
                                <b>Favorites ({{ favorites[0]|length }}):</b>
                            </a>
                            <div class="row m-b-16">
                                <div class="col">
                                    {% for favorite in favorites[0] %}
                                        {% if loop.index < 11 %}
                                            <a href="/media_sheet/Series/{{ favorite[0].id }}">
                                                <img class="favorite-img" title="{{ favorite[0].name }}" data-toggle="tooltip"
                                                src="/static/covers/series_covers/{{ favorite[0].image_cover }}"/>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="stats-size">
                            <h5 class="text-center mb-2">
                                <a class="text-light" href="/animelist/{{ header_data['username'] }}">
                                    <b>ANIME</b>
                                </a>
                            </h5>
                            <div id="ANIME" class="m-b-8 stat-text">
                                <span><b>Days: </b>{{ media_data['anime']['time_spent_day'] }}</span>
                                <span class="float-right"><b>Hours:</b> {{ media_data['anime']['time_spent_hour'] }}</span><br>
                                <span data-toggle="tooltip" title="Media scored"><b>Scored:</b>
                                    {{ media_data['anime']['media_score']['scored_media'] }}/{{ media_data
                                    ['anime']['media_score']['total_media'] }}
                                    ({{ media_data['anime']['media_score']['percentage'] }}%)
                                </span>
                                <span class="float-right"><b>Mean Score:</b>
                                    {{ media_data['anime']['media_score']['mean_score'] }}/10
                                </span>
                                <figure>
                                    {% if media_data['anime']['media_count']['nodata'] %}
                                        <span class="block-no-data" data-toggle="tooltip" title="No data">
                                            <span id="100%" class="value"></span>
                                        </span>
                                    {% else %}
                                        <span class="block" data-toggle="tooltip" title="Watching">
                                            <span id="{{ media_data['anime']['media_count']['Watching']['percent'] }}%"
                                                  class="value"></span>
                                        </span>
                                        <span class="block" data-toggle="tooltip" title="Completed">
                                            <span id="{{ media_data['anime']['media_count']['Completed']
                                            ['percent'] }}%" class="value"></span>
                                        </span>
                                        <span class="block" data-toggle="tooltip" title="On Hold">
                                            <span id="{{ media_data['anime']['media_count']['On Hold']['percent'] }}%"
                                                  class="value"></span>
                                        </span>
                                        <span class="block" data-toggle="tooltip" title="Random">
                                            <span id="{{ media_data['anime']['media_count']['Random']['percent'] }}%"
                                                  class="value"></span>
                                        </span>
                                        <span class="block" data-toggle="tooltip" title="Dropped">
                                            <span id="{{ media_data['anime']['media_count']['Dropped']['percent'] }}%"
                                                  class="value"></span>
                                        </span>
                                        <span class="block" data-toggle="tooltip" title="Plan to Watch">
                                            <span id="{{ media_data['anime']['media_count']['Plan to Watch']
                                            ['percent'] }}%" class="value"></span>
                                        </span>
                                    {% endif %}
                                </figure>
                                <div class="row stat-text p-t-5">
                                    <div class="col-4">
                                        <a href="/animelist/{{ header_data['username'] }}?category=Watching">Watching:</a>
                                    </div>
                                    <div class="col-2">
                                        <span class="stat-text">{{ media_data['anime']['media_count']['Watching']
                                        ['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a class="stat-text" href="/animelist/{{ header_data['username'] }}?category=Dropped">
                                            Dropped:
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <span class="stat-text">{{ media_data['anime']['media_count']['Dropped']
                                        ['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a class="stat-text" href="/animelist/{{ header_data['username'] }}?category=Completed">
                                            Completed:
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <span class="stat-text">{{ media_data['anime']['media_count']['Completed']
                                        ['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a class="stat-text" href="/animelist/{{ header_data['username'] }}?category=Plan to Watch">
                                            P. to Watch:
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <span class="stat-text">{{ media_data['anime']['media_count']
                                        ['Plan to Watch']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a class="stat-text" href="/animelist/{{ header_data['username'] }}?category=On Hold">
                                            On Hold:
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <span class="stat-text">{{ media_data['anime']['media_count']['On Hold']
                                        ['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <span class="stat-text" data-toggle="tooltip" title="Without plan to watch">
                                            Total Anime:
                                        </span>
                                    </div>
                                    <div class="col-2">
                                        <span class="stat-text" data-toggle="tooltip" title="Without plan to watch">
                                            {{ media_data['anime']['media_count']['total'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a class="stat-text" href="/animelist/{{ header_data['username'] }}?category=Random">
                                            Random:
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <span class="stat-text">{{ media_data['anime']['media_count']['Random']
                                        ['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <span class="stat-text">Episodes:</span>
                                    </div>
                                    <div class="col-2">
                                        <span class="stat-text">{{ media_data['anime']['media_total_eps'] }}</span>
                                    </div>
                                </div>
                            </div>
                            <a href="/animelist/{{ header_data['username'] }}?category=Favorites">
                                <b>Favorites ({{ favorites[1]|length }}):</b>
                            </a>
                            <div class="row m-b-16">
                                <div class="col">
                                    {% for favorite in favorites[1] %}
                                        {% if loop.index < 11 %}
                                            <a href="/media_sheet/Anime/{{ favorite[0].id }}">
                                                <img class="favorite-img" data-toggle="tooltip" title="{{ favorite[0].name }}"
                                                     src="/static/covers/anime_covers/{{ favorite[0].image_cover }}"/>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="stats-size">
                            <h5 class="text-center mb-2">
                                <a class="text-light" href="/movieslist/{{ header_data['username'] }}">
                                    <b>MOVIES</b>
                                </a>
                            </h5>
                            <div id="MOVIES" class="m-b-8 stat-text">
                                <span><b>Days: </b>{{ media_data['movies']['time_spent_day'] }}</span>
                                <span class="float-right">
                                    <b>Hours: </b>{{ media_data['movies']['time_spent_hour'] }}
                                </span><br>
                                <span data-toggle="tooltip" title="Media scored"><b>Scored:</b>
                                    {{ media_data['movies']['media_score']['scored_media'] }}/{{ media_data
                                    ['movies']['media_score']['total_media'] }}
                                    ({{ media_data['movies']['media_score']['percentage'] }}%)
                                </span>
                                <span class="float-right"><b>Mean Score:</b>
                                    {{ media_data['movies']['media_score']['mean_score'] }}/10
                                </span>
                                <figure>
                                    {% if media_data['movies']['media_count']['nodata'] %}
                                        <span class="block-no-data" data-toggle="tooltip" title="No data">
                                            <span id="100%" class="value"></span>
                                        </span>
                                    {% else %}
                                        <span class="block-movie" data-toggle="tooltip" title="Completed">
                                            <span id="{{ media_data['movies']['media_count']['Completed']
                                            ['percent'] }}%" class="value"></span>
                                        </span>
                                        <span class="block-movie" data-toggle="tooltip" title="Completed Animation">
                                            <span id="{{ media_data['movies']['media_count']['Completed Animation']
                                            ['percent'] }}%" class="value"></span>
                                        </span>
                                        <span class="block-movie" data-toggle="tooltip" title="Plan to Watch">
                                            <span id="{{ media_data['movies']['media_count']['Plan to Watch']
                                            ['percent'] }}%" class="value"></span>
                                        </span>
                                    {% endif %}
                                </figure>
                                <div class="row stat-text p-t-5">
                                    <div class="col-4">
                                        <a href="/movieslist/{{ header_data['username'] }}?category=Completed">Completed:</a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['movies']['media_count']['Completed']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="/movieslist/{{ header_data['username'] }}?category=Plan to Watch">P. to Watch:</a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['movies']['media_count']['Plan to Watch']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="/movieslist/{{ header_data['username'] }}?category=Completed Animation">
                                            Completed Anime:
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['movies']['media_count']['Completed Animation']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <span data-toggle="tooltip" title="Without plan to watch">Total movies:</span>
                                    </div>
                                    <div class="col-2">
                                        <span data-toggle="tooltip" title="Without plan to watch">
                                            {{ media_data['movies']['media_count']['total'] }}</span>
                                    </div>
                                </div>
                            </div>
                            <a href="/movieslist/{{ header_data['username'] }}?category=Favorites">
                                <b>Favorites ({{ favorites[2]|length }}):</b>
                            </a>
                            <div class="row m-b-16">
                                <div class="col">
                                    {% for favorite in favorites[2] %}
                                        {% if loop.index < 11 %}
                                            <a href="/media_sheet/Movies/{{ favorite[0].id }}">
                                                <img class="favorite-img" data-toggle="tooltip" title="{{ favorite[0].name }}"
                                                     src="/static/covers/movies_covers/{{ favorite[0].image_cover }}"/>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="vertical-line"></div>
            <div class="col-xl-3 col-lg col-md">
                <ul class="list-unstyled">
                    <li class="m-b-20">
                        <h4>
                            <i class="fas fa-user-check"></i>&nbsp;&nbsp; Follows
                            <form id='all_follows' style="display: inline;" method="POST"
                            action="/account/{{ header_data['username'] }}">
                                <input style='display: none;' name="all_follows" value="True">
                                <a onclick="$('#all_follows').submit()" class='fs-15 m-t-10 m-r-2' style='float: right;
                                 color: grey;'>
                                    <u><i>All ({{ follows_list|length }})</i></u>
                                </a>
                            </form>
                        </h4>
                        <hr>
                        <div class='row no-gutters text-center' style="margin-bottom: -15px;">
                            {% if follows_list %}
                                {% for follow in follows_list %}
                                    <div class="col-3 m-b-15">
                                        <a href="{{ follow.username }}">
                                            <img class="follow-img" data-toggle="tooltip" title="{{ follow.username }}"
                                                 src="/static/profile_pics/{{ follow.image_file }}">
                                        </a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="m-b-10" style="color: grey;"><i>No follows to display.</i></div>
                            {% endif %}
                        </div>
                    </li>
                    <li class="m-b-20">
                        <h4><i class="fas fa-bell text-light"></i>&nbsp;&nbsp; Follows' Updates</h4>
                        <hr class='m-b-8'>
                        {% if follows_update_list %}
                            {% for update in follows_update_list %}
                                <div class="update-box m-b-5" style="border-bottom: solid 1px {{ update['border'] }};">
                                    <a class="text-light truncate" href="/media_sheet/{{ update['category'] }}/{{ update['media_id'] }}">
                                        <i class="{{ update['icon-color'] }} m-r-10" data-toggle="tooltip"
                                           title="{{ update['category'] }}"></i>
                                        {{ update['media_name'] }}
                                    </a>
                                    <div class="m-l-35" style="font-size: 11pt;">
                                        {% if update['update']|length == 2 %}
                                            {{ update['update'][0] }}
                                            <i class="fas fa-long-arrow-alt-right m-l-4 m-r-4"></i>
                                            {{ update['update'][1] }}
                                        {% else %}
                                            {{ update['update'][0] }}
                                        {% endif %}
                                    </div>
                                    <span class="m-l-35" style="color: #b3b3b3; font-size: 10pt;">
                                        <script>
                                            var tz = new Intl.DateTimeFormat().resolvedOptions().timeZone;
                                            var localdate = new Date("{{ update['date'] }}").toLocaleString("en-GB",
                                                {timeZone: tz});
                                            var d = new Date("{{ update['date'] }}")
                                            var month = new Array();
                                            month[0] = "Jan";
                                            month[1] = "Feb";
                                            month[2] = "Mar";
                                            month[3] = "Apr";
                                            month[4] = "May";
                                            month[5] = "Jun";
                                            month[6] = "Jul";
                                            month[7] = "Aug";
                                            month[8] = "Sep";
                                            month[9] = "Oct";
                                            month[10] = "Nov";
                                            month[11] = "Dec";
                                            var date_month = month[d.getMonth()];
                                            var date_day = localdate.slice(0, 2);
                                            var date_time = localdate.slice(11, 17)
                                            document.write(date_day + " " + date_month + " at " + date_time)
                                        </script>
                                        by
                                    </span>
                                    <a href="/account/{{ update['username'] }}" style="color: #359aff; font-size: 10pt;">
                                        {{ update['username'] }}
                                    </a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="m-b-10" style="color: grey;"><i>No updates to display.</i></div>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock data %}
