{% extends "layout.html" %}

{% block css %}
<link href="{{ url_for('static', filename='css/achievements.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
<ul class="nav nav-tabs" id="achievements_tabs">
    <li class="nav-item">
        <a class="nav-link active" id="anime-tab" data-toggle="tab" href="#anime_tab">ANIME</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="series-tab" data-toggle="tab" href="#series_tab">SERIES</a>
    </li>
</ul>

<div class="tab-content" id="achievements_tab_content">

    <div class="tab-pane fade show active" id="anime_tab">

        <div>
            {% if current_user.get_id() == user_id %}
            <div style="font-size: 18pt;" class="text-center mb-3 mt-3">You have unlocked {{ data["total_unlocked"] }}/70 anime achievements.</div>
            {% else %}
            <div style="font-size: 18pt;" class="text-center mb-3 mt-3">{{ user_name }} has unlocked {{ data["total_unlocked"] }}/70 anime achievements.</div>
            {% endif %}
        </div>

        <div class="topnav" id="type_topnav">
            <a class="tablinks active" onclick="openAchievement(event, 'genres')">Genres ({{ data["unlocked_per_type"]["genres"] }}/44)</a>
            <a class="tablinks" onclick="openAchievement(event, 'sources')">Sources ({{ data["unlocked_per_type"]["sources"] }}/4)</a>
            <a class="tablinks" onclick="openAchievement(event, 'finished')">Finished ({{ data["unlocked_per_type"]["finished"] }}/12)</a>
            <a class="tablinks" onclick="openAchievement(event, 'time')">Time ({{ data["unlocked_per_type"]["time"] }}/4)</a>
            <a class="tablinks" onclick="openAchievement(event, 'misc')">Misc ({{ data["unlocked_per_type"]["misc"] }}/3)</a>
            <a class="tablinks" onclick="openAchievement(event, 'score')">Score ({{ data["unlocked_per_type"]["score"] }}/3)</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <div id="genres" class="tabcontent">
            <table class="text-center pt-3" width="100%">
                <tbody>
                {% for i in range(0, data["genres"]|length) %}
                <tr>
                    {% for j in range(0, data["genres"][0]|length) %}
                    <td id="pr_{{ data['genres'][i][j]['image_id'] }}" class="filtered" onclick="test('det_{{ data['genres'][i][j]['image_id'] }}', 'pr_{{ data['genres'][i][j]['image_id'] }}', 'img_{{ data['genres'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data['genres'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data['genres'][i][j]["element_time"] }}/{{ data['genres'][i][j]["threshold"] }} hours watched</span><br>

                        {% if data['genres'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data['genres'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['genres'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['genres'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data['genres'][0]|length) %}
                    <td id="det_{{ data['genres'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        <div class="p-l-20 p-t-10 p-r-20">
                            <span style="font-size: 14pt;">{{ data['genres'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data['genres'][i][j]["description"] }}</span><br>
                            <div class="m-2"></div>
                            <span style="font-size: 13pt;">Number of anime watched: {{ data['genres'][i][j]["element_count"] }}</span>
                            <hr class="p-0 m-0">
                            <ul class="p-t-10">
                                {% for k in range(0, data['genres'][i][j]["element_name"]|length) %}
                                <li>
                                    {{ data['genres'][i][j]["element_name"][k] }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="sources" class="tabcontent" style="display: none;">
            <table class="text-center pt-3" width="100%">
                <tbody>
                {% for i in range(0, data['sources']|length) %}
                <tr>
                    {% for j in range(0, data['sources'][0]|length) %}
                    <td id="pr_{{ data['sources'][i][j]['image_id'] }}" class="filtered" onclick="test('det_{{ data['sources'][i][j]['image_id'] }}', 'pr_{{ data['sources'][i][j]['image_id'] }}', 'img_{{ data['sources'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data['sources'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data['sources'][i][j]["element_time"] }}/{{ data['sources'][i][j]["threshold"] }} hours watched</span><br>

                        {% if data['sources'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data['sources'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['sources'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['sources'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data['sources'][0]|length) %}
                    <td id="det_{{ data['sources'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        <div class="p-l-20 p-t-10 p-r-20">
                            <span style="font-size: 14pt;">{{ data['sources'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data['sources'][i][j]["description"] }}</span><br>
                            <div class="m-2"></div>
                            <span style="font-size: 13pt;">Number of anime watched: {{ data['sources'][i][j]["element_count"] }}</span>
                            <hr class="p-0 m-0">
                            <ul class="p-t-10">
                                {% for k in range(0, data['sources'][i][j]["element_name"]|length) %}
                                <li>
                                    {{ data['sources'][i][j]["element_name"][k] }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="finished" class="tabcontent" style="display: none;">
            <table class="text-center pt-3" width="100%">
                <tbody>
                {% for i in range(0, data['finished']|length) %}
                <tr>
                    {% for j in range(0, data['finished'][0]|length) %}
                    <td id="pr_{{ data['finished'][i][j]['image_id'] }}" class="filtered" onclick="test('det_{{ data['finished'][i][j]['image_id'] }}', 'pr_{{ data['finished'][i][j]['image_id'] }}', 'img_{{ data['finished'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data['finished'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data['finished'][i][j]["element_count"] }}/{{ data['finished'][i][j]["threshold"] }} anime watched</span><br>

                        {% if data['finished'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data['finished'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['finished'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['finished'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data['sources'][0]|length) %}
                    <td id="det_{{ data['finished'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        <div class="p-l-20 p-t-10 p-r-20 p-b-10">
                            <span style="font-size: 14pt;">{{ data['finished'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data['finished'][i][j]["description"] }}</span><br>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="time" class="tabcontent" style="display: none;">
            <table class="text-center pt-3" width="100%">
                <tbody>
                {% for i in range(0, data['time']|length) %}
                <tr>
                    {% for j in range(0, data['time'][0]|length) %}
                    <td id="pr_{{ data['time'][i][j]['image_id'] }}" class="filtered" onclick="test('det_{{ data['time'][i][j]['image_id'] }}', 'pr_{{ data['time'][i][j]['image_id'] }}', 'img_{{ data['time'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data['time'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data['time'][i][j]["element_time"] }}/{{ data['time'][i][j]["threshold"] }} days watched</span><br>

                        {% if data['time'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data['sources'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['time'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['time'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data['time'][0]|length) %}
                    <td id="det_{{ data['time'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        <div class="p-l-20 p-t-10 p-r-20 p-b-10">
                            <span style="font-size: 14pt;">{{ data['time'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data['time'][i][j]["description"] }}</span><br>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="misc" class="tabcontent" style="display: none;">
            <table class="text-center pt-3" width="100%">
                <tbody>
                {% for i in range(0, data['misc']|length) %}
                <tr>
                    {% for j in range(0, data['misc'][0]|length) %}
                    <td id="pr_{{ data['misc'][i][j]['image_id'] }}" class="filtered" onclick="test('det_{{ data['misc'][i][j]['image_id'] }}', 'pr_{{ data['misc'][i][j]['image_id'] }}', 'img_{{ data['misc'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data['misc'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data['misc'][i][j]["element_count"] }}/{{ data['misc'][i][j]["threshold"] }} anime watched</span><br>

                        {% if data['misc'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data['misc'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['misc'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['misc'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data['misc'][0]|length) %}
                    <td id="det_{{ data['misc'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        {% if data['misc'][i][j]["title"] == "Chronomaster" %}
                        <div class="p-l-20 p-t-10 p-r-20 p-b-10">
                            <span style="font-size: 14pt;">{{ data['misc'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data['misc'][i][j]["description"] }}</span><br>
                        </div>
                        {% else %}
                        <div class="p-l-20 p-t-10 p-r-20">
                            <span style="font-size: 14pt;">{{ data['misc'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data['misc'][i][j]["description"] }}</span><br>
                            <div class="m-2"></div>
                            <span style="font-size: 13pt;">Number of anime watched: {{ data['misc'][i][j]["element_count"] }}</span>
                            <hr class="p-0 m-0">
                            <ul class="p-t-10">
                                {% for k in range(0, data['misc'][i][j]["element_name"]|length) %}
                                <li>
                                    {{ data['misc'][i][j]["element_name"][k] }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="score" class="tabcontent" style="display: none;">
            <table class="text-center mt-3" width="100%">
                <tbody>
                {% for i in range(0, data['score']|length) %}
                <tr>
                    {% for j in range(0, data['score'][0]|length) %}
                    <td id="pr_{{ data['score'][i][j]['image_id'] }}" class="filtered" onclick="test('det_{{ data['score'][i][j]['image_id'] }}', 'pr_{{ data['score'][i][j]['image_id'] }}', 'img_{{ data['score'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data['score'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">Mean score: {{ data['score'][i][j]["mean_score"] }}</span><br>

                        {% if data['score'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data['score'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['score'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['score'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data['score'][0]|length) %}
                    <td id="det_{{ data['score'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        <div class="p-l-20 p-t-10 p-r-20 p-b-10">
                            <span style="font-size: 14pt;">{{ data['score'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data['score'][i][j]["description"] }}</span><br>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="tab-pane fade" id="series_tab">

         <div>
            {% if current_user.get_id() == user_id %}
            <div style="font-size: 18pt;" class="text-center mb-3 mt-3">You have unlocked {{ data["total_unlocked"] }}/70 series achievements.</div>
            {% else %}
            <div style="font-size: 18pt;" class="text-center mb-3 mt-3">{{ user_name }} has unlocked {{ data["total_unlocked"] }}/70 series achievements.</div>
            {% endif %}
        </div>

        <div class="topnav" id="type_topnav">
            <a class="tablinks active" onclick="openAchievement(event, 'genres')">Genres ({{ data["unlocked_per_type"]["genres"] }}/28)</a>
            <a class="tablinks" onclick="openAchievement(event, 'misc')">Misc ({{ data["unlocked_per_type"]["misc"] }}/1)</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <div id="genres" class="tabcontent">
            <table class="text-center pt-3" width="100%">
                <tbody>
                {% for i in range(0, data["genres"]|length) %}
                <tr>
                    {% for j in range(0, data["genres"][0]|length) %}
                    <td id="pr_{{ data['genres'][i][j]['image_id'] }}" class="filtered" onclick="test('det_{{ data['genres'][i][j]['image_id'] }}', 'pr_{{ data['genres'][i][j]['image_id'] }}', 'img_{{ data['genres'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data['genres'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data['genres'][i][j]["element_time"] }}/{{ data['genres'][i][j]["threshold"] }} hours watched</span><br>

                        {% if data['genres'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data['genres'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['genres'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['genres'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data['genres'][0]|length) %}
                    <td id="det_{{ data['genres'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        <div class="p-l-20 p-t-10 p-r-20">
                            <span style="font-size: 14pt;">{{ data['genres'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data['genres'][i][j]["description"] }}</span><br>
                            <div class="m-2"></div>
                            <span style="font-size: 13pt;">Number of anime watched: {{ data['genres'][i][j]["element_count"] }}</span>
                            <hr class="p-0 m-0">
                            <ul class="p-t-10">
                                {% for k in range(0, data['genres'][i][j]["element_name"]|length) %}
                                <li>
                                    {{ data['genres'][i][j]["element_name"][k] }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="misc" class="tabcontent" style="display: none;">
            <table class="text-center pt-3" width="100%">
                <tbody>
                {% for i in range(0, data['misc']|length) %}
                <tr>
                    {% for j in range(0, data['misc'][0]|length) %}
                    <td id="pr_{{ data['misc'][i][j]['image_id'] }}" class="filtered" onclick="test('det_{{ data['misc'][i][j]['image_id'] }}', 'pr_{{ data['misc'][i][j]['image_id'] }}', 'img_{{ data['misc'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data['misc'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data['misc'][i][j]["element_count"] }}/{{ data['misc'][i][j]["threshold"] }} anime watched</span><br>

                        {% if data['misc'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data['misc'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['misc'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['misc'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data['misc'][0]|length) %}
                    <td id="det_{{ data['misc'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        <div class="p-l-20 p-t-10 p-r-20">
                            <span style="font-size: 14pt;">{{ data['misc'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data['misc'][i][j]["description"] }}</span><br>
                            <div class="m-2"></div>
                            <span style="font-size: 13pt;">Number of anime watched: {{ data['misc'][i][j]["element_count"] }}</span>
                            <hr class="p-0 m-0">
                            <ul class="p-t-10">
                                {% for k in range(0, data['misc'][i][j]["element_name"]|length) %}
                                <li>
                                    {{ data['misc'][i][j]["element_name"][k] }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>
{% endblock content %}


{% block script %}
<!--------- navbar type achievements --------->
<script type="text/javascript">
function myFunction() {
    var x = document.getElementById("type_topnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
<!----------- achievements ------------------>
<script type="text/javascript">
function openAchievement(evt, type) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(type).style.display = "block";
    evt.currentTarget.className += " active";

    var test = evt.currentTarget.parentElement;
    if ($(test).hasClass('topnav responsive')) {
        $(test).attr('class', 'topnav');
    }
}
</script>
<!----------- display details ------------------>
<script type="text/javascript">
function test(tata, tutu) {
    if ($("#"+tata).hasClass('d-none anime_details')) {
        if ($("#"+tata).siblings().hasClass('text-left anime_details')) {
            $("#"+tutu).siblings('.filtered').attr('style', 'filter: none;')
            $("#"+tutu).attr('style', 'filter: drop-shadow(5px 5px 5px grey) invert(0%);')
            $("#"+tata).siblings('.text-left').attr('class', 'd-none anime_details');
            $("#"+tata).attr('class', 'text-left anime_details');
        } else {
            $("#"+tutu).attr('class', 'filtered');
            $("#"+tutu).attr('style', 'filter: drop-shadow(5px 5px 5px grey) invert(0%);')
            $("#"+tata).attr('class', 'text-left anime_details');
        }
    } else {
        $("#"+tutu).attr('class', 'filtered');
        $("#"+tutu).attr('style', 'filter: none;')
        $("#"+tata).attr('class', 'd-none anime_details');
    }
}
</script>
{% endblock script %}

