{% extends "layout.html" %}


{% block css %}
    <link href="{{ url_for('static', filename='css/account.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
    <div class="header-container">
        <img class="header-profile-img" src="{{ user_data['profile_picture'] }}"/>
        <img class="header-profile-img-2" src="{{ user_data['knowledge_info']['frame_id'] }}.png"/>
        <div class="header-knowledge-level text-center">{{ user_data['knowledge_info']['level'] }}</div>
        <div class="header-profile-data">
            <h2><b>{{ user_data['username'] }}</b>
                {% if user_data['id'] != current_user.get_id() %}
                    {% if user_data["isfollowing"] %}
                        <button class="btn btn-sm btn-dark follow-btn"
                                onclick="follow_status('{{ user_data['id'] }}')">Unfollow
                        </button>
                    {% else %}
                        <button class="btn btn-sm btn-primary follow-btn"
                                onclick="follow_status('{{ user_data['id'] }}')">Follow
                        </button>
                    {% endif %}
                {% endif %}
            </h2>
            <p class="p-0 m-0">
                <b>Joined: {{ user_data['register'] }}</b><br>
                <b>Followers: {{ user_data['followers'] }}</b>
            </p>
        </div>
    </div>
    <div class="account-wrapper m-b-30">
        <h4 class="m-t-15"><i class="fas fa-user-check"></i>&nbsp&nbsp All Follows</h4><hr>
        <a class="text-light" href="/account/{{ user_data['username'] }}">
            <i class="fas fa-caret-left"></i>&nbsp&nbsp <b>Return to account</b>
        </a>
        <div class="d-flex flex-wrap m-t-10">
            {% for follow in all_follows %}
                <a class="m-4 text-center text-light" href="/account/{{ follow.username }}">
                    <img class="follows-img" src="/static/profile_pics/{{ follow.image_file }}"
                         style="height: 80px; width: 80px; border-radius: 50%;">
                    <h5 class="m-t-5">{{ follow.username }}</h5>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}


{% block script %}
{% endblock script %}