{% extends "layout.html" %}


{% block css %}
    <link href="{{ url_for('static', filename='css/account.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
    <div class="row m-t-30">
        <div class="d-flex flex-wrap m-t-30 follow_wrapper">
            {% for follow in data["follows"] %}
                <div class="card border-0 m-l-10 m-r-10 m-t-60 m-b-40 follow_card">
                <div class="card-img-top">
                    <div class="row">
                        <div class="col-4">
                            <a href="{{ follow['username'] }}">
                                <img class="follow_picture" src="{{ follow['picture'] }}">
                            </a>
                        </div>
                        <div class="col m-l-20 m-t-15">
                            <h3>{{ follow['username'] }}</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body p-2 p-b-10 p-t-0 m-t-1 follow_card_body">
                {% for last_update in last_updates %}
                    {% if last_update["username"] == follow["username"] %}
                        {% for update in last_update["update"] %}
                        <div>
                            <div style="float: left; width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                {% if update["category"] == "anime" %}
                                <i style="color: #945141;" class="fas fa-torii-gate m-r-14" data-toggle="tooltip" title="Anime"></i>
                                {% elif update["category"] == "series" %}
                                <i style="color: #216e7d;" class="fas fa-tv m-r-10" data-toggle="tooltip" title="Series"></i>
                                {% else %}
                                <i style="color: #8c7821;" class="far fa-star m-r-12" data-toggle="tooltip" title="Movie"></i>
                                {% endif %}
                                <span data-toggle="tooltip" title="{{ update['media_name'] }}">{{ update["media_name"] }}</span>
                            </div>
                            <div style="float: right;">
                                <i class="follow_date">
                                    <script>
                                        var tz = new Intl.DateTimeFormat().resolvedOptions().timeZone;
                                        var localdate = new Date("{{ update['date'] }}").toLocaleString("en-GB", {timeZone: tz});
                                        var d = new Date("{{ update['date'] }}")
                                        var month = new Array();
                                        month[0] = "Jan";
                                        month[1] = "Feb";
                                        month[2] = "Mar";
                                        month[3] = "Apr";
                                        month[4] = "May";
                                        month[5] = "Jun";
                                        month[6] = "Jul";
                                        month[7] = "Aug";
                                        month[8] = "Sep";
                                        month[9] = "Oct";
                                        month[10] = "Nov";
                                        month[11] = "Dec";
                                        var date_month = month[d.getMonth()];
                                        var date_day = localdate.slice(0,2);
                                        var date_time = localdate.slice(11,17)
                                        document.write(date_day + " " + date_month + ", " + date_time)
                                    </script>
                                </i>
                            </div>
                        </div>
                            <div style="clear: both;"></div>
                            {% if update["update"]|length == 2 %}
                            <div class="m-l-35" style="font-size: 11pt;">
                                {{ update["update"][0] }}
                                <i class="fas fa-long-arrow-alt-right m-l-4 m-r-4"></i>
                                {{ update["update"][1] }}
                            </div>
                            {% else %}
                            <div class="m-l-35" style="font-size: 11pt;">
                                {{ update["update"][0] }}
                            </div>
                            {% endif %}
                            {% if not loop.last %}
                            {% if update["category"] == "anime" %}
                            <hr style="border-color: #945141;" class="p-0 m-t-4 m-b-4">
                            {% elif update["category"] == "series" %}
                            <hr style="border-color: #216e7d;" class="p-0 m-t-4 m-b-4">
                            {% else %}
                            <hr style="border-color: #8c7821;" class="p-0 m-t-4 m-b-4">
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
