{% extends "layout.html" %}


{% block css %}
<!------- Main CSS --------->
<style>
hr {
    border-top: 1px solid rgba(255, 255, 255, 0.9);
}
strong {
    margin-left: 10px;
}
span {
    margin-left: 40px;
}
legend {
    font-size: 12pt;
}
</style>
{% endblock css %}


{% block content %}
<h3 class="font-weight-light text-center mb-4">Anime achievements</h3>
<div class="d-flex flex-wrap p-l-10 p-t-10" style="border: black solid 2px; border-radius: 10px; background-color: #47476b;">
    <p>
        <i class="fas fa-xs fa-circle"></i>&nbsp &nbsp All these achievements are taken from <a href="https://github.com/anime-plus/graph">Anime+</a> github repo :)<br>
        <i class="fas fa-xs fa-circle"></i>&nbsp &nbsp All genre-based achievements have 4 levels.<br>
        <i class="fas fa-xs fa-circle"></i>&nbsp &nbsp Count-based badges have 12 levels<br>
        <i class="fas fa-xs fa-circle"></i>&nbsp &nbsp Score-based have 3 pseudo-levels.<br>
        <i class="fas fa-xs fa-circle"></i>&nbsp &nbsp There are some other special badges awarded for achieving something big.<br>
    </p>
</div>


<legend class="font-weight-light text-center mt-4 mb-4">
    Genre-based achievements &nbsp &nbsp
    <a class="fas fa-chevron-down" id="Genres_arrow" onclick="hide('Genres', 'Genres_arrow')"></a>
    <hr class="mt-2 mb-3">
</legend>
<div id="Genres" class="container-stats">
    <legend class="font-weight-light mt-4 mb-4">
        Psychological - Awarded for watching Psychological anime. &nbsp &nbsp
        <a class="fas fa-chevron-down" id="Psychological_arrow" onclick="hide('Psychological', 'Psychological_arrow')"></a>
    </legend>
    <table id="Psychological" class="container-stats">
        <tbody>
        <tr>
            <td>
                <img src="/static/img/anime_achievements/anime-psychological-1.png" alt="">
            </td>
            <td>
                <strong>What exactly did I just watch?</strong><br>
                <span>You discovered a whole new world of weird. Keep on watching.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-psychological-2.png" alt="">
            </td>
            <td>
                <strong>My mind is full of fuck</strong><br>
                <span>Your attempt to wrap your mind around this failed completely.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-psychological-3.png" alt="">
            </td>
            <td>
                <strong>Is this the real life?</strong><br>
                <span>It has become hard to distinguish between reality and fiction.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-psychological-4.png" alt="">
            </td>
            <td>
                <strong>「 Ｗｉｒｅｄ Ｓｏｕｎｄ 」</strong><br>
                <span></span>You've seen too much. You've transcended humanity and operate on another level now.</td>
            </td>
        </tr>
        </tbody>
    </table>&nbsp;

    <legend class="font-weight-light mt-4 mb-4">
        Historical - Awarded for watching Historical anime. &nbsp &nbsp
        <a class="fas fa-chevron-down" id="Historical_arrow" onclick="hide('Historical', 'Historical_arrow')"></a>
    </legend>
    <table id="Historical" class="container-stats">
        <tbody>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-historical-1.png" alt="">
            </td>
            <td>
                <strong>History class</strong><br>
                <span>History doesn't have to be boring. There's a lot to learn.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-historical-2.png" alt="">
            </td>
            <td>
                <strong>A look at passing time</strong><br>
                <span>Instead of dreaming of the future, you prefer to look back at the past.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-historical-3.png" alt="">
            </td>
            <td>
                <strong>Archaeologist</strong><br>
                <span>You have learned that sometimes going further just isn't worth it. And yet you try.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-historical-4.png" alt="">
            </td>
            <td>
                <strong>Time machine</strong><br>
                <span>Kids these days are boring. You'd rather watch something heartwarming about siblings catching fireflies.</span>
            </td>
        </tr>
        </tbody>
    </table>&nbsp;

    <legend class="font-weight-light mt-4 mb-4">
        Horror - Awarded for watching Horror anime. &nbsp &nbsp
        <a class="fas fa-chevron-down" id="Horror_arrow" onclick="hide('Horror', 'Horror_arrow')"></a>
    </legend>
    <table id="Horror" class="container-stats">
        <tbody>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-horror-1.png" alt="">
            </td>
            <td>
                <strong>Paranoia fuel</strong><br>
                <span></span>It's not like you needed to sleep tonight, anyway.</td>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-horror-2.png" alt="">
            </td>
            <td>
                <strong>Too many teeth</strong><br>
                <span>You know something is following you. You just don't know what.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-horror-3.png" alt="">
            </td>
            <td>
                <strong>Extreme phobia</strong><br>
                <span>You are terrified; you are transfixed.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-horror-4.png" alt="">
            </td>
            <td>
                <strong>Flowers of flesh and blood</strong><br>
                <span></span>It's far too late, now.</td>
            </td>
        </tr>
        </tbody>
    </table>&nbsp;

    <legend class="font-weight-light mt-4 mb-4">
        Mecha - Awarded for watching Mecha anime. &nbsp &nbsp
        <a class="fas fa-chevron-down" id="Mecha_arrow" onclick="hide('Mecha', 'Mecha_arrow')"></a>
    </legend>
    <table id="Mecha" class="container-stats">
        <tbody>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-mecha-1.png" alt="">
            </td>
            <td>
                <strong>Me? PILOT this thing?!</strong><br>
                <span>A secret organization wants you to pilot a huge mecha. Can you do it?</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-mecha-2.png" alt="">
            </td>
            <td>
                <strong>Engineer</strong><br>
                <span>After watching over 59 mecha anime you should be able to build your own mobile suit. Remember not to kill the rest of us.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-mecha-3.png" alt="">
            </td>
            <td>
                <strong>Mechazawa</strong><br>
                <span>Having watched over 118 mecha anime, you've probably became a robot already. Nice job, hero.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-mecha-4.png" alt="">
            </td>
            <td>
                <strong>Pierce the HEAVENS!</strong><br>
                <span>Do the impossible. See the invisible. ROW ROW FIGHT THE POWAH! You just sang that in your head, didn't you?</span>
            </td>
        </tr>
        </tbody>
    </table>&nbsp;

    <legend class="font-weight-light mt-4 mb-4">
         Music - Awarded for watching Music anime. &nbsp &nbsp
        <a class="fas fa-chevron-down" id="Music_arrow" onclick="hide('Music', 'Music_arrow')"></a>
    </legend>
    <table id="Music" class="container-stats">
        <tbody>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-music-1.png" alt="">
            </td>
            <td>
                <strong>Gettin' your keys on!</strong><br>
                <span>You don't know what you've just listened to, but you like it.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-music-2.png" alt="">
            </td>
            <td>
                <strong>This is even better live</strong><br>
                <span>Proudly display the badges you have earned in the fancafe.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-music-3.png" alt="">
            </td>
            <td>
                <strong>Dreaming of the city</strong><br>
                <span>Your musical knowledge has expanded so much you are tempted to make a career out of it.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-music-4.png" alt="">
            </td>
            <td>
                <strong>Hall of Fame</strong><br>
                <span>The stage is now your second home.</span>
            </td>
        </tr>
        </tbody>
    </table>&nbsp;

    <legend class="font-weight-light mt-4 mb-4">
         Mystery - Awarded for watching Mystery anime. &nbsp &nbsp
        <a class="fas fa-chevron-down" id="Mystery_arrow" onclick="hide('Mystery', 'Mystery_arrow')"></a>
    </legend>
    <table id="Mystery" class="container-stats">
        <tbody>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-mystery-1.png" alt="">
            </td>
            <td>
                <strong>Growing suspicions</strong><br>
                <span></span>It's suspicious because nothing looks suspicious, and if it looks suspicious from the start it's obviously suspicious.</td>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-mystery-2.png" alt="">
            </td>
            <td>
                <strong>Detective's assistant</strong><br>
                <span>Now it's your business to know what other people don't know too.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-mystery-3.png" alt="">
            </td>
            <td>
                <strong>Genius detective</strong><br>
                <span></span>You're already a genius at unraveling mysteries... but how is it possible that everywhere you go someone ends up dead?</td>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-mystery-4.png" alt="">
            </td>
            <td>
                <strong>Golden Truth</strong><br>
                <span>You can solve any mystery by now. The path to the Golden Land has already been revealed to you.</span>
            </td>
        </tr>
        </tbody>
    </table>&nbsp;

    <legend class="font-weight-light mt-4 mb-4">
         Romance - Awarded for watching Romance anime. &nbsp &nbsp
        <a class="fas fa-chevron-down" id="Romance_arrow" onclick="hide('Romance', 'Romance_arrow')"></a>
    </legend>
    <table id="Romance" class="container-stats">
        <tbody>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-romance-1.png" alt="">
            </td>
            <td>
                <strong>Stalker</strong><br>
                <span></span>I'll stalk you so hard you won't notice me for 24 episodes. Why don't you love me yet?</td>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-romance-2.png" alt="">
            </td>
            <td>
                <strong>Unrequited love</strong><br>
                <span>If you won't confess, they'll never know how you feel. But don't bother if you're the best girl - these never win.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-romance-3.png" alt="">
            </td>
            <td>
                <strong>Sparkles and bubbles</strong><br>
                <span>Every time you two get close you feel butterflies in your stomach. Now kiss.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-romance-4.png" alt="">
            </td>
            <td>
                <strong>Heart full of love</strong><br>
                <span>So many romance anime! You surely are an expert in relationships already.</span>
            </td>
        </tr>
        </tbody>
    </table>&nbsp;

    <legend class="font-weight-light mt-4 mb-4">
        Slice of Life - Awarded for watching Slice of Life anime. &nbsp &nbsp
        <a class="fas fa-chevron-down" id="Slice of Life_arrow" onclick="hide('Slice of Life', 'Slice of Life_arrow')"></a>
    </legend>
    <table id="Slice of Life" class="container-stats">
        <tbody>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-slice-of-life-1.png" alt="">
            </td>
            <td>
                <strong>Normal high school boy</strong><br>
                <span>Got started into the furious ride with slice-of-life anime.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-slice-of-life-2.png" alt="">
            </td>
            <td>
                <strong>cute × ( girls + things )</strong><br>
                <span></span>Didn't get bored of watching cute girls doing cute things. As if that's possible.</td>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-slice-of-life-3.png" alt="">
            </td>
            <td>
                <strong>Enjoying life</strong><br>
                <span>Found the equilibrium between boring and interesting.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-slice-of-life-4.png" alt="">
            </td>
            <td>
                <strong>Prima Undine</strong><br>
                <span>Awarded Ph.D. degree in slice-of-life-ology. You can teach others how to stay calm and take it easy.</span>
            </td>
        </tr>
        </tbody>
    </table>&nbsp;

    <legend class="font-weight-light mt-4 mb-4">
        Space - Awarded for watching Space anime. &nbsp &nbsp
        <a class="fas fa-chevron-down" id="Space_arrow" onclick="hide('Space', 'Space_arrow')"></a>
    </legend>
    <table id="Space" class="container-stats">
        <tbody>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-space-1.png" alt="">
            </td>
            <td>
                <strong>3... 2... 1... Liftoff!</strong><br>
                <span></span>You've taken one small step for man, not such a giant leap for mankind.</td>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-space-2.png" alt="">
            </td>
            <td>
                <strong>The Earth looks so small from up here</strong><br>
                <span></span>You're finally outside the atmosphere, but there's still a lot to explore.</td>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-space-3.png" alt="">
            </td>
            <td>
                <strong>Interstellar traveler</strong><br>
                <span></span>You've traveled vast interstellar distances and seen many galaxies in your way.</td>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-space-4.png" alt="">
            </td>
            <td>
                <strong>Emperor of the Universe</strong><br>
                <span></span>You're the ruler of the whole Universe. There's no one with more power than you.</td>
            </td>
        </tr>
        </tbody>
    </table>&nbsp;

    <legend class="font-weight-light mt-4 mb-4">
        Sports - Awarded for watching Sports anime. &nbsp &nbsp
        <a class="fas fa-chevron-down" id="Sports_arrow" onclick="hide('Sports', 'Sports_arrow')"></a>
    </legend>
    <table id="Sports" class="container-stats">
        <tbody>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-sports-1.png" alt="">
            </td>
            <td>
                <strong>Knockout!</strong><br>
                <span></span>You've held your own in the ring, time to go all the way.</td>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-sports-2.png" alt="">
            </td>
            <td>
                <strong>Get your head in the game</strong><br>
                <span>The odds are against you, time to get in the zone.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-sports-3.png" alt="">
            </td>
            <td>
                <strong>Welcome to the Big Leagues</strong><br>
                <span></span>There's no stopping you, just one final push.</td>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-sports-4.png" alt="">
            </td>
            <td>
                <strong>Olympian</strong><br>
                <span>First across the finish line, great job!</span>
            </td>
        </tr>
        </tbody>
    </table>&nbsp;

    <legend class="font-weight-light mt-4 mb-4">
        Pervert - Are you a pervert? - Awarded for watching Ecchi and Hentai anime. &nbsp &nbsp
        <a class="fas fa-chevron-down" id="Pervert_arrow" onclick="hide('Pervert', 'Pervert_arrow')"></a>
    </legend>
    <table id="Pervert" class="container-stats">
    <tbody>
    <tr>
        <td>
            <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-pervert-0.png" alt="">
        </td>
        <td>
            <strong>Innocent One</strong><br>
            <span></span>Puritan, oblivious, or serial killer in the making? Either way, you made it through No Man's Land without glimpsing a single bra. Good job!</td>
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-pervert-1.png" alt="">
        </td>
        <td>
            <strong>I watch anime only for the plot...</strong><br>
            <span></span>It's not your fault that there is so much fan service... Right?</td>
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-pervert-2.png" alt="">
        </td>
        <td>
            <strong>Only accidents! I swear!</strong><br>
            <span>Physics in anime are incredible. When you trip, you always cop a feel.</span>
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-pervert-3.png" alt="">
        </td>
        <td>
            <strong>Hentai Overlord</strong><br>
            <span>No use denying it! You know what you are...</span>
        </td>
    </tr>
    </tbody>
</table>&nbsp;
</div>


<legend class="font-weight-light text-center mt-4 mb-4">
    Something BIG &nbsp &nbsp
    <a class="fas fa-chevron-down" id="BIG_arrow" onclick="hide('BIG', 'BIG_arrow')"></a>
    <hr class="mt-2 mb-3">
</legend>
<div id="BIG" class="container-stats">
    <legend class="font-weight-light mt-4 mb-4">
        Age diversity - Awarded for watching 20+ anime, all of which started in different years. &nbsp &nbsp
        <a class="fas fa-chevron-down" id="diversity_arrow" onclick="hide('diversity', 'diversity_arrow')"></a>
    </legend>
    <table id="diversity" class="container-stats">
        <tbody>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-year.png" alt="">
            </td>
            <td>
                <strong>Chronomaster</strong><br>
                <span>Your discerning eye has traveled across the aeons of animation.</span>
            </td>
        </tr>
        </tbody>
    </table>&nbsp;

    <legend class="font-weight-light mt-4 mb-4">
        Old anime - Awarded for watching 10+ old anime (finished in 1980 at most). &nbsp &nbsp
        <a class="fas fa-chevron-down" id="Old_arrow" onclick="hide('Old', 'Old_arrow')"></a>
    </legend>
    <table id="Old" class="container-stats">
        <tbody>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-release-old.png" alt="">
            </td>
            <td>
                <strong>VHS master race</strong><br>
                <span>You overwrote my cartoons with The Karate Kid?! MOOOM!</span>
            </td>
        </tr>
        </tbody>
    </table>&nbsp;

    <legend class="font-weight-light mt-4 mb-4">
        Long runner - Awarded for watching 10+ anime that are 100+ episodes long. &nbsp &nbsp
        <a class="fas fa-chevron-down" id="Long_arrow" onclick="hide('Long', 'Long_arrow')"></a>
    </legend>
    <table id="Long" class="container-stats">
        <tbody>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-episode-long.png" alt="">
            </td>
            <td>
                <strong>I like them long</strong><br>
                <span></span>Didn't fall asleep while watching long anime series. 100 episodes isn't a big deal to you.</td>
            </td>
        </tr>
        </tbody>
    </table>&nbsp;
</div>


<legend class="font-weight-light text-center mt-4 mb-4">
    Score-based achievements &nbsp &nbsp
    <a class="fas fa-chevron-down" id="Score-based_arrow" onclick="hide('Score-based', 'Score-based_arrow')"></a>
    <hr class="mt-2 mb-3">
</legend>
<div id="Score-based" class="container-stats">
    <legend class="font-weight-light mt-4 mb-4">
        Mean score - Related to mean anime score. &nbsp &nbsp
        <a class="fas fa-chevron-down" id="Mean score_arrow" onclick="hide('Mean score', 'Mean score_arrow')"></a>
    </legend>
    <table id="Mean score" class="container-stats">
        <tbody>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-score-high.png" alt="">
            </td>
            <td>
                <strong>I love Chinese cartoons</strong><br>
                <span>Mean anime score higher than 8.5. How about using the whole scale and re-rating stuff? That could make you look less like a fanboy...</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-score-low.png" alt="">
            </td>
            <td>
                <strong>Watching anime is suffering</strong><br>
                <span>Mean anime score lower than 5. Someone has to counterweigh the fanboys, right?</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-score-very-low.png" alt="">
            </td>
            <td>
                <strong>Less than three</strong><br>
                <span>Mean anime score lower than 3. Is it hate, or is it love?</span>
            </td>
        </tr>
        </tbody>
    </table>&nbsp;
</div>


<legend class="font-weight-light text-center mt-4 mb-4">
    Time spent achievements &nbsp &nbsp
    <a class="fas fa-chevron-down" id="Time spent_arrow" onclick="hide('Time spent', 'Time spent_arrow')"></a>
    <hr class="mt-2 mb-3">
</legend>
<div id="Time spent" class="container-stats">
    <legend class="font-weight-light mt-4 mb-4">
       Total time spent - Awarded for reaching certain thresholds in your time spent watching anime. &nbsp &nbsp
        <a class="fas fa-chevron-down" id="Total time spent_arrow" onclick="hide('Total time spent', 'Total time spent_arrow')"></a>
    </legend>
    <table id="Total time spent" class="container-stats">
    <tbody>
    <tr>
        <td>
            <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-time-1.png" alt="">
        </td>
        <td>
            <strong>Hair antenna</strong><br>
            <span>Whose watchtime are you calling puny?</span>
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-time-2.png" alt="">
        </td>
        <td>
            <strong>Endurance training</strong><br>
            <span>By doing a daily ten-episode run, you are sure to become a master in no time!</span>
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-time-3.png" alt="">
        </td>
        <td>
            <strong>Consciousness upload</strong><br>
            <span>Consuming the medium becomes a lot easier once you yourself are raw data.</span>
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-time-4.png" alt="">
        </td>
        <td>
            <strong>Wicked cultured</strong><br>
            <span>By making a deal with the devil, you have ensured access to even the most obscure of materials.</span>
        </td>
    </tr>
    </tbody>
</table>&nbsp;
</div>


<legend class="font-weight-light text-center mt-4 mb-4">
    Number of anime watched achievements &nbsp &nbsp
    <a class="fas fa-chevron-down" id="Number_arrow" onclick="hide('Number', 'Number_arrow')"></a>
    <hr class="mt-2 mb-3">
</legend>
<div id="Number" class="container-stats">
    <legend class="font-weight-light mt-4 mb-4">
       Total number completed - Awarded when watching a certain number of anime. &nbsp &nbsp
        <a class="fas fa-chevron-down" id="completed_arrow" onclick="hide('completed', 'completed_arrow')"></a>
    </legend>
    <table  id="completed" class="container-stats">
        <tbody>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-finished-10.png" alt="">
            </td>
            <td>
                <strong>The first step</strong><br>
                <span>Watched 10 anime. Congratulations, you broke the magical number. Take a breath now, it will only get more difficult.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-finished-20.png" alt="">
            </td>
            <td>
                <strong>Casual watcher</strong><br>
                <span>Watched 20 anime. You're used to seeing character's eyes bigger than their nose. If they have any nose.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-finished-30.png" alt="">
            </td>
            <td>
                <strong>A millionaire</strong><br>
                <span>Watched 30 anime. You DID buy all of them, right?</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-finished-40.png" alt="">
            </td>
            <td>
                <strong>Bragging rights</strong><br>
                <span>Watched 40 anime. That's... a lot. You can be proud of yourself, that's for sure.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-finished-50.png" alt="">
            </td>
            <td>
                <strong>A lot of free time</strong><br>
                <span>Watched 50 anime. Now pause, take a breath and stretch a bit. Remember not to sit too close to the screen.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-finished-60.png" alt="">
            </td>
            <td>
                <strong>Not even my final form</strong><br>
                <span>Watched 60 anime. Your power level is way above others'. The only way is up.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-finished-70.png" alt="">
            </td>
            <td>
                <strong>Gotta watch them all!</strong><br>
                <span>Watched 70 anime. You should already know what that picture means.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-finished-80.png" alt="">
            </td>
            <td>
                <strong>The Collector</strong><br>
                <span>Watched 80 animes. No, wait. The plural of anime is anime.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-finished-90.png" alt="">
            </td>
            <td>
                <strong>The Maniac</strong><br>
                <span>Watched 90 anime. Is this healthy? You should contact your doctor.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-finished-100.png" alt="">
            </td>
            <td>
                <strong>The Legend</strong><br>
                <span>Watched 100 anime. You're one of the chosen ones. You don't even have to brag, since everyone heard about you.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-finished-110.png" alt="">
            </td>
            <td>
                <strong>Database Breaker</strong><br>
                <span>Watched 110 anime. Are you having fun, breaking all the rules? By the way, since when do we have that many anime in the database?!</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-finished-120.png" alt="">
            </td>
            <td>
                <strong>This is it</strong><br>
                <span>Watched 120 anime. There is no higher level. You can stop now. Everyone, go home.</span>
            </td>
        </tr>
        </tbody>
    </table>&nbsp;
</div>


<legend class="font-weight-light text-center mt-4 mb-4">
    Miscellaneous - Genre/Source/length/airing &nbsp &nbsp
    <a class="fas fa-chevron-down" id="Miscellaneous_arrow" onclick="hide('Miscellaneous', 'Miscellaneous_arrow')"></a>
    <hr class="mt-2 mb-3">
</legend>
<div id="Miscellaneous" class="container-stats">
    <legend class="font-weight-light mt-4 mb-4">
        Original - Awarded for watching anime with Original source. &nbsp &nbsp
        <a class="fas fa-chevron-down" id="Original_arrow" onclick="hide('Original', 'Original_arrow')"></a>
    </legend>
    <table id="Original" class="container-stats">
        <tbody>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-original-1.png" alt="">
            </td>
            <td>
                <strong>Uncharted waters</strong><br>
                <span>You have just stumbled across a wonderful, strange new world.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-original-2.png" alt="">
            </td>
            <td>
                <strong>Into the jungle</strong><br>
                <span>The deeper you go, the less you want out.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-original-3.png" alt="">
            </td>
            <td>
                <strong>Center of the Earth</strong><br>
                <span>You have forgotten about the outside world; nature has assimilated you. An apple falls - not only have you flowered, you have produced fruit.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-original-4.png" alt="">
            </td>
            <td>
                <strong>Transcendence</strong><br>
                <span>You have been returned to the primordial ocean. From the highest point in the sky, you can peer into every universe, and lose yourself in an infinity of stories.</span>
            </td>
        </tr>
        </tbody>
    </table>&nbsp;

    <legend class="font-weight-light  mt-4 mb-4">
        Video Games - Awarded for watching anime adapted from Games and Visual Novels. &nbsp &nbsp
        <a class="fas fa-chevron-down" id="Video_arrow" onclick="hide('Video', 'Video_arrow')"></a>
    </legend>
    <table id="Video" class="container-stats">
        <tbody>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-game-1.png" alt="">
            </td>
            <td>
                <strong>Eternal Spring"</strong><br>
                <span>It all started one fateful morning in April...</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-game-2.png" alt="">
            </td>
            <td>
                <strong>At the gates of Eden</strong><br>
                <span></span>You're so close to heaven, you can almost feel it.</td>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-game-3.png" alt="">
            </td>
            <td>
                <strong>Banquet of the Golden Witch</strong><br>
                <span></span>You've challenged her to a game. There is no turning back, now.</td>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-game-4.png" alt="">
            </td>
            <td>
                <strong>Hacking to the Gate</strong><br>
                <span>All these games have made of you a wizard; you can crack any code without breaking a sweat.</span>
            </td>
        </tr>
        </tbody>
    </table>&nbsp;

    <legend class="font-weight-light  mt-4 mb-4">
        Classics - Awarded for watching anime classics (finished between 1981 and 2000). &nbsp &nbsp
        <a class="fas fa-chevron-down" id="Classics_arrow" onclick="hide('Classics', 'Classics_arrow')"></a>
    </legend>
    <table id="Classics" class="container-stats">
        <tbody>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-release-classic-1.png" alt="">
            </td>
            <td>
                <strong>Cassette tape</strong><br>
                <span>The first time you watched these, you didn't even know what they were.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-release-classic-2.png" alt="">
            </td>
            <td>
                <strong>Solid color</strong><br>
                <span>Bomber jackets, high-waisted jeans, an overload of patterns, and bishies everywhere.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-release-classic-3.png" alt="">
            </td>
            <td>
                <strong>It's raining... tragic backstories!</strong><br>
                <span>It might be the nostalgia lens, but you swear things had more substance back then.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/anime_achievements/') }}anime-release-classic-4.png" alt="">
            </td>
            <td>
                <strong>Blockbuster</strong><br>
                <span></span>Man, do you feel old as all hell.</td>
            </td>
        </tr>
        </tbody>
    </table>&nbsp;
</div>
{% endblock content %}


{% block script %}
<script>
function hide(category, arrow) {
    var category = document.getElementById(category);
    var arrow = document.getElementById(arrow);

    if (category.className === "container-stats"){
        category.className = "d-none";
        arrow.className = "fas fa-chevron-right";
    } else {
        category.className = "container-stats";
        arrow.className = "fas fa-chevron-down";
    }
}
</script>
{% endblock %}


