{% extends 'layout.html' %}


{% block css %}
{% if target_user_id == current_user.get_id() %}
<!---------- Jquery autocomplete ---------->
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="Stylesheet">
{% endif %}
<link href="{{ url_for('static', filename='css/mymedialist.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
<div class="back-image p-b-50">
    <div class="justify-mobile d-flex flex-wrap">
        <div class="add-element m-l-25 m-t-20">
            {% if target_user_id == current_user.get_id() %}
                <input type="text" placeholder="Add new media" id="autocomplete"/>
                <br>
                {% block add %}
                {% endblock add %}
            {% endif %}
        </div>
        <input type="hidden" id="element_id" value=""/>
        <div class="search-by m-r-25 m-t-20">
            <input id="searchInput" placeholder="Search titles/actors/genres" onkeyup="searchElement()">
        </div>
    </div>

    <div class="d-flex flex-wrap filters-button-group m-t-25">
        {% block cat_button %}
        {% endblock cat_button %}
    </div>

    <div class="justify-mobile d-flex flex-wrap">
        <div class="ml-auto mr-auto m-t-50">
            {% if target_user_id != current_user.get_id() %}
            <div class="text-center common-media">
                You share {{ common_elements[0] }}/{{ common_elements[1] }} media ({{ common_elements[2] }}%)
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div id="categories-iso" class="categories-iso">
    {% for category in all_data %}
    <div class="categories {{ category[1] }}">
        <h2 class="text-center m-t-20 mb-0">{{ category[1] }}<hr class="mt-2 pb-3 mb-0"></h2>
    <div class="row category-{% if category[1] == 'COMPLETED ANIMATION' %}ANIMATION{% else %}{{ category[1] }}{% endif %}">
            {% for data in category[0] %}
            <div id="card_{{ data[0]['id'] }}" class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4">
                <div class="card bg-transparent">
                    <div class="view overlay">
                        <img class="card-img-top lazyload" data-src="{{ data[0]['cover'] }}" height="300" width="200" style="height: auto;">
                        <div class="mask flex-center rgba-black-strong" data-toggle="modal"
                             data-target="#modal_metadata" onclick="show_metadata('metadata_{{ data[0]['id'] }}',
                             '{{ media_list }}')">
                            <span class="font-mask text-center text-light">{{ data[0]['name'] }}</span>
                            <span class="original-title" style="display: none;" >{{ data[0]['original_name'] }}</span>
                            <span class="actors-yes" style="display: none;" >{{ data[0]['actors'] }}</span>
                            <span class="genre-yes" style="display: none;" >{{ data[0]['genres'] }}</span>
                        </div>
                        {% if target_user_id == current_user.get_id() %}
                            {% block card_top_left_1 scoped %}
                            {% endblock card_top_left_1 %}
                            <a class="card-btn-top-right fas fa-ban text-light" onclick="delete_element(
                            '{{ data[0]['id'] }}', 'card_{{ data[0]['id'] }}', '{{ media_list }}')"></a>
                        {% else %}
                            {% if data[1] %}
                                <div class="card-ribbon"></div>
                            {% else %}
                                {% block card_top_left_2 scoped %}
                                {% endblock card_top_left_2 %}
                            {% endif %}
                        {% endif %}
                    </div>
                    {% block select_box scoped %}
                    {% endblock select_box %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    <div class="modal fade" id="modal_metadata" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-style">
                <div class="modal-body">
                    <div class="modal-header">
                        <h4 id="modal-title" class="modal-title"></h4>
                        <button type="button" class="close text-light" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% block modal %}
                        {% endblock modal %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: none;">
{% for category in all_data %}
    {% for data in category[0] %}
        <span id="metadata_{{ data[0]['id'] }}">{{ data[0]|tojson }}</span>
    {% endfor %}
{% endfor %}
</div>
<div class="modal-loading"></div>
{% endblock content %}


{% block script %}
<!-------------------- Isotope ---------------------->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<!------------------ Main scripts ------------------->
<script src="{{ url_for('static', filename='js/mymedialist_common.js') }}"></script>
{% block javascript scoped %}
{% endblock javascript %}

{% if target_user_id == current_user.get_id() %}
<!--------------- Jquery Autocomplete --------------->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
$.widget("custom.catcomplete", $.ui.autocomplete, {
    _create: function() {
        this._super();
        this.widget().menu("option", "items", "> :not(.ui-autocomplete-category)");
    },
    _renderMenu: function(ul, items) {
        var that = this,
        currentCategory = "";
        $.each(items, function(index, item) {
            var li;

            if (item.nb_results === 0) {
                var a = "No results found."
                ul.append("<li class='disabled bg-dark text-light'>" + a + "</li>");
            } else {
                li = that._renderItemData(ul, item);
            }
        });
    },
    _renderItem: function(ul, item) {

        var $li = $('<li class="bg-dark p-t-2 p-b-2" style="border-bottom: solid black 1px;">');

        $li.append(
            "<div class='row'>" +
                "<div class='col' style='min-width: 60px; max-width: 60px;'>" +
                    "<img src="+item.poster_path+" alt="+item.name+" style='width: 50px; height: 75px;'>" +
                "</div>" +
                "<div class='col'>" +
                    "<a class='text-light'>" +
                        " "+item.name+" " +
                        "<br>" +
                        "<span style='font-size: 10pt;'>("+item.first_air_date+")</span>" +
                    "</a>" +
                "</div>" +
           "</div>");

        return $li.appendTo(ul);
    }
});

$(function() {
    $("#autocomplete").catcomplete({
        delay: 500,
        source: function(request, response) {
                $.getJSON("{{url_for('main.autocomplete', media=media_list)}}", {
                    q: request.term,
                },
                    function(data) {
                        response(data.matching_results);
                    }
                );
        },
        minLength: 2,
        select: function(event, ui) {
            $("#autocomplete").val(ui.item.name);
            $("#element_id").val(ui.item.tmdb_id);

            $body = $("body");
            $.ajax ({
                type: "POST",
                url: "/add_element",
                contentType: "application/json",
                data: JSON.stringify({element_id: ui.item.tmdb_id, element_type: '{{ media_list }}', element_cat: $(".cat-select").val(), from_other_list: false }),
                dataType: "json",
                beforeSend: function() { $body.addClass("loading"); },
                success: function(response) {
                    window.location.replace('/{{ media_list }}/{{ current_user.username }}');
                }
            });
        }
    });
});
</script>
{% else %}
<!------------ Add media to current profile from the other lists ------------->
<script src="{{ url_for('static', filename='js/add_to_user.js') }}"></script>
{% endif %}
{% endblock script %}