{% extends "layout.html" %}


{% block css %}
<!------ CDN Datatables ------->
<link href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/global_stats.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
<h2 class="font-weight-light text-center mt-1 mb-0 p-t-50">
    GLOBAL STATISTICS
    <hr class="mt-2 pb-3 mb-0">
</h2>

<h4 class="text-center m-t-10">
    Total watched time: <b>{{ total_time["total"] }} hours</b> -
     <b>{{ (total_time["total"]/24)|int }} days</b> -
       <b>{{ (total_time["total"]/24/365)|round(2) }} years</b>
</h4>

<div class="row m-t-30">
    <div class="col">
        <div>
            <canvas id="media-time"></canvas>
        </div>
        <div style="font-size: 14pt;" class="text-center m-b-5 m-t-37"><b>Genres the most present in users' lists:</b></div>
        <div class="row d-flex flex-wrap">
            <div class="col">
                <table style="background: #216e7d;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Series</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for series in most_genres_media["series"] %}
                        <tr>
                            <td class="text-center">{{ series['quantity'] }}</td>
                            <td style="max-width: 167px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="text-center" data-toggle="tooltip" title="{{ series['genre'] }}">{{ series['genre'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table style="background: #945141;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Anime</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for anime in most_genres_media["anime"] %}
                        <tr>
                            <td class="text-center">{{ anime['quantity'] }}</td>
                            <td style="max-width: 167px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="text-center" data-toggle="tooltip" title="{{ anime['genre'] }}">{{ anime['genre'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table style="background: #8c7821;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Movies</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movies in most_genres_media["movies"] %}
                        <tr>
                            <td class="text-center">{{ movies['quantity'] }}</td>
                            <td style="max-width: 167px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="text-center" data-toggle="tooltip" title="{{ movies['genre'] }}">{{ movies['genre'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col">
        <div style="font-size: 14pt;" class="text-center m-b-5"><b>Media the most present in users' lists:</b></div>
        <div class="row d-flex flex-wrap">
            <div class="col">
                <table style="background: #216e7d;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Series</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for series in most_present_media["series"] %}
                        <tr>
                            <td class="text-center">{{ series['quantity'] }}</td>
                            <td style="max-width: 167px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="text-center" data-toggle="tooltip" title="{{ series['name'] }}">{{ series['name'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table style="background: #945141;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Anime</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for anime in most_present_media["anime"] %}
                        <tr>
                            <td class="text-center">{{ anime['quantity'] }}</td>
                            <td style="max-width: 167px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="text-center" data-toggle="tooltip" title="{{ anime['name'] }}">{{ anime['name'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table style="background: #8c7821;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Movies</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movies in most_present_media["movies"] %}
                        <tr>
                            <td class="text-center">{{ movies['quantity'] }}</td>
                            <td style="max-width: 167px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="text-center" data-toggle="tooltip" title="{{ movies['name'] }}">{{ movies['name'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="font-size: 14pt;" class="text-center m-b-5"><b>Actors the most present in users' lists:</b></div>
        <div class="row">
            <div class="col">
                <table style="background: #216e7d;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Series</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for series in most_actors_media["series"] %}
                        <tr>
                            <td class="text-center">{{ series['quantity'] }}</td>
                            <td style="max-width: 167px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="text-center" data-toggle="tooltip" title="{{ series['name'] }}">{{ series['name'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table style="background: #945141;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Anime</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for anime in most_actors_media["anime"] %}
                        <tr>
                            <td class="text-center">{{ anime['quantity'] }}</td>
                            <td style="max-width: 167px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="text-center" data-toggle="tooltip" title="{{ anime['name'] }}">{{ anime['name'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table style="background: #8c7821;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Movies</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movies in most_actors_media["movies"] %}
                        <tr>
                            <td class="text-center">{{ movies['quantity'] }}</td>
                            <td style="max-width: 167px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="text-center" data-toggle="tooltip" title="{{ movies['name'] }}">{{ movies['name'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="font-size: 14pt;" class="text-center m-b-5"><b>Anime and Series the most dropped in users' lists:</b></div>
        <div class="row">
            <div class="col">
                <table style="background: #216e7d;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Series</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for series in top_dropped_media["series"] %}
                        <tr>
                            <td class="text-center">{{ series['quantity'] }}</td>
                            <td style="max-width: 167px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="text-center" data-toggle="tooltip" title="{{ series['name'] }}">{{ series['name'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table style="background: #945141;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Anime</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for anime in top_dropped_media["anime"] %}
                        <tr>
                            <td class="text-center">{{ anime['quantity'] }}</td>
                            <td style="max-width: 167px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="text-center" data-toggle="tooltip" title="{{ anime['name'] }}">{{ anime['name'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <canvas id="total-seasons"></canvas>
    </div>
    <div class="col"></div>
</div>
{% endblock content %}


{% block script %}
<!--------- CDN Datatables ----------->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
<!------------- Tooltip -------------->
<script>
$('.tooltip').tooltip();
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>
<!--------- Watching time ------------>
<script>
var config = {
    type: 'pie',
    data: {
        datasets: [{
            data: [{{ total_time['series'] }}, {{ total_time['anime'] }}, {{ total_time['movies'] }}],
            backgroundColor: ['#216e7d', '#945141', '#8c7821'],
            borderColor: 'black',
            borderWidth: 1,
            label: 'by_media'
        }],
        labels: ['Series', 'Anime', 'Movies']
    },
    options: {
        events: false,
        animation: {
            duration: 500,
            easing: "easeOutQuart",
            onComplete: function () {
                var ctx = this.chart.ctx;
                ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);                ctx.textAlign = 'center';
                ctx.textAlign = 'center';
                ctx.textBaseline = 'bottom';

                this.data.datasets.forEach(function (dataset) {
                    for (var i = 0; i < dataset.data.length; i++) {
                        var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model,
                        total = dataset._meta[Object.keys(dataset._meta)[0]].total,
                        mid_radius = model.innerRadius + (model.outerRadius - model.innerRadius)/2,
                        start_angle = model.startAngle,
                        end_angle = model.endAngle,
                        mid_angle = start_angle + (end_angle - start_angle)/2;

                        var x = mid_radius * Math.cos(mid_angle);
                        var y = mid_radius * Math.sin(mid_angle);

                        ctx.fillStyle = '#fff';
                        if (i == 3){ // Darker text color for lighter background
                            ctx.fillStyle = '#444';
                        }
                        var percent = String(Math.round(dataset.data[i]/total*100)) + "%";
                        //Don't Display If Legend is hide or value is 0
                        if(dataset.data[i] != 0 && dataset._meta[0].data[i].hidden != true) {
                            ctx.fillText(dataset.data[i]+ " h", model.x + x, model.y + y);
                            // Display percent in another line, line break doesn't work for fillText
                            ctx.fillText(percent, model.x + x, model.y + y + 15);
                        }
                    }
                });
            }
        },
        legend: {
            position: 'bottom',
            labels: {
                fontColor: '#e2e2e2',
                fontSize: 14,
            }
        },
        title: {
            display: true,
            text: 'Watched time by media in hours:',
            position: 'top',
            fontColor: '#e2e2e2',
            fontSize: 18,
            fontStyle: 'normal',
        },
    }
};

var ctx = document.getElementById('media-time').getContext('2d');
var myPie = new Chart(ctx, config);
</script>
<!---- Total eps/seasons watched ----->
<script>
var config = {
    type: 'bar',
    data: {
        datasets: [{
            data: [{{ total_seasons_media["series"] }}, {{ total_seasons_media["anime"] }}],
            backgroundColor: ['#216e7d', '#945141'],
            borderColor: 'black',
            yAxisID: 'y-axis-1'
        },
        {
            data: [{{ total_episodes_media["series"] }}, {{ total_episodes_media["anime"] }}],
            backgroundColor: ['#216e7d', '#945141'],
            borderColor: 'black',
            yAxisID: 'y-axis-2'
        }],
        labels: ['Series', 'Anime']
    },
    options: {
        events: false,
        tooltips: {
            enabled: false
        },
        hover: {
            animationDuration: 0
        },
        animation: {
            duration: 1,
            onComplete: function () {
                var chartInstance = this.chart,
                ctx = chartInstance.ctx;
                ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);                ctx.textAlign = 'center';
                ctx.textBaseline = 'bottom';

                this.data.datasets.forEach(function (dataset, i) {
                    var meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function (bar, index) {
                        var data = dataset.data[index];
                        ctx.fillText(data, bar._model.x, bar._model.y - 5);
                    });
                });
            }
        },
        legend: {
            display: false
        },
        scales: {
            yAxes: [{
                type: 'linear',
                display: true,
                position: 'left',
                id: 'y-axis-1',
                ticks: {
                    fontColor: '#e2e2e2',
                    fontSize: 14,
                    beginAtZero: true
                },
                scaleLabel: {
                    display: true,
                    labelString: 'Seasons completed'
                }
            },
            {
                type: 'linear',
                display: true,
                position: 'right',
                id: 'y-axis-2',
                gridLines: {
                    color: 'grey',
                },
                ticks: {
                    fontColor: '#e2e2e2',
                    fontSize: 14,
                    beginAtZero: true
                },
                scaleLabel: {
                    display: true,
                    labelString: 'Episodes watched'
                }
            }],
            xAxes: [{
                ticks: {
                    fontColor: '#e2e2e2',
                    fontSize: 14,
                }
            }]
        },
        title: {
            display: true,
            text: 'Number of Seasons/Episodes by media:',
            position: 'top',
            padding: 30,
            fontColor: '#e2e2e2',
            fontSize: 18,
            fontStyle: 'normal'
        },
        responsive: true
    }
};

var ctx = document.getElementById('total-seasons').getContext('2d');
var mybar = new Chart(ctx, config);
</script>
{% endblock script %}