{% extends "layout.html" %}


{% block css %}
    <link href="{{ url_for('static', filename='css/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/hall_of_fame.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
    <h2 class="font-weight-light text-center mt-1 mb-0 p-t-50">
        HALL OF FAME
        <hr class="mt-2 mb-0">
    </h2>

    <div class="m-t-30 hof ml-auto mr-auto">
        <table id="hall_of_fame" class="table table-responsive-sm text-light">
            <thead>
            <tr>
                <th class="text-center"></th>
                <th class="text-center">Username</th>
                <th class="text-center">Series</th>
                <th class="text-center">Anime</th>
                <th class="text-center">Movies</th>
                <th class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            {% for user in all_data %}
                <tr class="{% if user['iscurrentuser'] %} current_user {% endif %}">
                    <td style="width: 100px;">
                        {% if user['isprivate'] and not user["isfollowing"] and current_user.id != 1 %}
                            <img class="profil-pic" src="/static/profile_pics/anonymous.jpg" alt=""/>
                            <div style="position: relative;">
                                <img class="frame-pic" src="static/img/icon_frames/border_9.png" alt="">
                            </div>
                            <div class="fs-12 frame-level">{{ user['knowledge_frame']['level'] }}</div>
                        {% else %}
                            <img class="profil-pic" src="/static/profile_pics/{{ user['profile_picture'] }}" alt="tata">
                            <div style="position: relative;">
                                <img class="frame-pic" src="{{ user['knowledge_frame']['frame_id'] }}.png" alt="">
                            </div>
                            <div class="fs-12 frame-level">{{ user['knowledge_frame']['level'] }}</div>
                        {% endif %}
                    </td>
                    <td>
                        {% if user['isprivate'] and not user["isfollowing"] and current_user.id != 1 %}
                            <b><a class="disabled">Anonymous</a></b>
                        {% else %}
                            <b><a href="/account/{{ user['username'] }}">{{ user['username'] }}</a></b>
                        {% endif %}
                    </td>
                    <td>
                        <a class="text-light {% if user['isprivate'] and not user['isfollowing']
                        and current_user.id != 1 %} disabled {% endif %}" href="/serieslist/{{ user['username'] }}">
                            <img class="grade_picture" src="{{ user['series_data']['grade_id'] }}.png" alt="">
                            <br>
                            {{ user['series_data']['level'] }}
                        </a>
                    </td>
                    <td>
                        <a class="text-light {% if user['isprivate'] and not user['isfollowing']
                        and current_user.id != 1 %} disabled {% endif %}" href="/animelist/{{ user['username'] }}">
                            <img class="grade_picture" src="{{ user['anime_data']['grade_id'] }}.png" alt="">
                            <br>
                            {{ user['anime_data']['level'] }}
                        </a>
                    </td>
                    <td>
                        <a class="text-light {% if user['isprivate'] and not user['isfollowing']
                        and current_user.id != 1 %} disabled {% endif %}" href="/movieslist/{{ user['username'] }}">
                            <img class="grade_picture" src="{{ user['movies_data']['grade_id'] }}.png" alt="">
                            <br>
                            {{ user['movies_data']['level'] }}
                        </a>
                    </td>
                    <td>
                        {% if user['isprivate'] and not user['isfollowing'] and current_user.id != 1 %}
                        {% else %}
                            <a class="btn btn-sm btn-badges"
                               href="{{ url_for('users.badges', user_name=user['username']) }}">Badges
                            </a>
                            <br>
                            {% if user["isfollowing"] and not user['iscurrentuser'] %}
                                <button class="btn btn-sm btn-dark btn-smaller"
                                        onclick="follow_status('{{ user['id'] }}', this)">Unfollow
                                </button>
                            {% elif not user["isfollowing"] and not user['iscurrentuser'] %}
                                <button class="btn btn-sm btn-primary"
                                        onclick="follow_status('{{ user['id'] }}', this)">Follow
                                </button>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}


{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/hall_of_fame.js') }}"></script>
{% endblock script %}

