{% extends "layout.html" %}


{% block css %}
<!------ CDN Datatables ------->
<link href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/hall_of_fame.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
<h2 class="font-weight-light text-center mt-1 mb-0 p-t-50">HALL OF FAME<hr class="mt-2 mb-0"></h2>
<div class="overflow m-t-20">
    <table id="hall_of_fame" class="table table-sm table-responsive-xl text-light">
        <thead>
            <tr>
                <th class="picture text-center"></th>
                <th class="text-center">Username</th>
                <th class="text-center">Series levels</th>
                <th class="text-center">Anime levels</th>
                <th class="text-center">Movies levels</th>
                <th class="text-center">Knowledge levels</th>
                <th class="follow text-center"></th>
            </tr>
        </thead>
        <tbody>
        {% for user in all_data %}
            <tr>
            {% if current_user.get_id() == '1' %}
                <td>
                    <img class="profile_picture" src="/static/profile_pics/{{ user['profile_picture'] }}" alt="{{ user['username'] }}">
                </td>
                <td>
                    <b><a href="/account/{{ user['username'] }}">{{ user["username"] }}</a></b>
                </td>
                <td>
                    <a class="text-light" href="/serieslist/{{ user['username'] }}">
                        <img class="grade_picture" src="static/img/levels_ranks/{{ user['series_grade_id'] }}.png">
                        <br>
                        {{ user['series_level'] }} ({{ user['series_percent'] }}%)
                    </a>
                </td>
                <td>
                </td>
                <td>
                    <a class="text-light" href="/animelist/{{ user['username'] }}">
                        <img class="grade_picture" src="static/img/levels_ranks/{{ user['anime_grade_id'] }}.png">
                        <br>
                        {{ user['anime_level'] }} ({{ user['anime_percent'] }}%)
                    </a>
                </td>
                <td>
                </td>
                <td>
                    <a class="text-light" href="/movieslist/{{ user['username'] }}">
                        <img class="grade_picture" src="static/img/levels_ranks/{{ user['movies_grade_id'] }}.png">
                        <br>
                        {{ user['movies_level'] }} ({{ user['movies_percent'] }}%)
                    </a>
                </td>
                <td>
                    <img class="k_grade_picture" src="static/img/knowledge_ranks/{{ user['knowledge_grade_id'] }}.png">
                    <br>
                    {{ user['knowledge_level'] }}
                </td>
                <td></td>

            {% elif user["iscurrentuser"] %}
                <td class="current_user">
                    <img class="profile_picture" src="/static/profile_pics/{{ user['profile_picture'] }}" alt="{{ user['username'] }}">
                </td>
                <td class="current_user">
                    <b><a href="/account/{{ user['username'] }}">{{ user["username"] }}</a></b>
                </td>
                <td class="current_user">
                    <a class="text-light" href="/serieslist/{{ user['username'] }}">
                        <img class="grade_picture" src="static/img/levels_ranks/{{ user['series_grade_id'] }}.png">
                        <br>
                        {{ user['series_level'] }} ({{ user['series_percent'] }}%)
                    </a>
                </td>
                <td class="current_user">
                    <a class="text-light" href="/animelist/{{ user['username'] }}">
                        <img class="grade_picture" src="static/img/levels_ranks/{{ user['anime_grade_id'] }}.png">
                        <br>
                        {{ user['anime_level'] }} ({{ user['anime_percent'] }}%)
                    </a>
                </td>
                <td class="current_user">
                    <a class="text-light" href="/movieslist/{{ user['username'] }}">
                        <img class="grade_picture" src="static/img/levels_ranks/{{ user['movies_grade_id'] }}.png">
                        <br>
                        {{ user['movies_level'] }} ({{ user['movies_percent'] }}%)
                    </a>
                </td >
                <td class="current_user">
                    <img class="k_grade_picture" src="static/img/knowledge_ranks/{{ user['knowledge_grade_id'] }}.png">
                    <br>
                    {{ user['knowledge_level'] }}
                </td>
                <td class="current_user"></td>

            {% elif user["isprivate"] and not user["isfollowing"] %}
                <td>
                    <img class="profile_picture" src="{{ url_for('static', filename='profile_pics/anonymous.jpg') }}" alt="Anonymous">
                </td>
                <td>
                    <b>Anonymous</b>
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['series_grade_id'] }}.png">
                    <br>
                    {{ user['series_level'] }} ({{ user['series_percent'] }}%)
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['anime_grade_id'] }}.png">
                    <br>
                    {{ user['anime_level'] }} ({{ user['anime_percent'] }}%)
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['movies_grade_id'] }}.png">
                    <br>
                    {{ user['movies_level'] }} ({{ user['movies_percent'] }}%)
                </td>
                <td>
                    <img class="k_grade_picture" src="static/img/knowledge_ranks/{{ user['knowledge_grade_id'] }}.png">
                    <br>
                    {{ user['knowledge_level'] }}
                </td>
                <td></td>

            {% else %}
                <td>
                    <img class="profile_picture" src="/static/profile_pics/{{ user['profile_picture'] }}" alt="{{ user['username'] }}">
                </td>
                <td>
                    <b><a href="/account/{{ user['username'] }}">{{ user['username'] }}</a></b>
                </td>
                <td>
                    <a class="text-light" href="/serieslist/{{ user['username'] }}">
                        <img class="grade_picture" src="static/img/levels_ranks/{{ user['series_grade_id'] }}.png">
                        <br>
                        {{ user['series_level'] }} ({{ user['series_percent'] }}%)
                    </a>
                </td>
                <td>
                    <a class="text-light" href="/animelist/{{ user['username'] }}">
                        <img class="grade_picture" src="static/img/levels_ranks/{{ user['anime_grade_id'] }}.png">
                        <br>
                        {{ user['anime_level'] }} ({{ user['anime_percent'] }}%)
                    </a>
                </td>
                <td>
                    <a class="text-light" href="/movieslist/{{ user['username'] }}">
                        <img class="grade_picture" src="static/img/levels_ranks/{{ user['movies_grade_id'] }}.png">
                        <br>
                        {{ user['movies_level'] }} ({{ user['movies_percent'] }}%)
                    </a>
                </td>
                <td>
                    <img class="k_grade_picture" src="static/img/knowledge_ranks/{{ user['knowledge_grade_id'] }}.png">
                    <br>
                    {{ user['knowledge_level'] }}
                </td>
                <td>
                    {% if user["isfollowing"] %}
                        <button id="button_{{ user['id'] }}" class="btn btn-sm btn-dark" onclick="unfollow('{{ user['id'] }}', 'button_{{ user['id'] }}')">Unfollow</button>
                    {% else %}
                        <button id="button_{{ user['id'] }}" class="btn btn-sm btn-primary" onclick="follow('{{ user['id'] }}', 'button_{{ user['id'] }}')">Follow</button>
                    {% endif %}
                </td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<h2 class="font-weight-light text-center mt-1 mb-0 p-t-50">GLOBAL STATISTICS<hr class="mt-2 pb-3 mb-0"></h2>
<div class="row m-t-30">
    <div class="col">
        <h4 class="text-center">Total Watching Time: {{ total_time["total"]|int }} hours</h4>
        <div class="chart-container">
            <canvas id="media-time"></canvas>
        </div>
    </div>
    <div class="col">
        <div style="font-size: 14pt;" class="text-center m-b-5">Media the most presents in users' lists:</div>
        <div class="row">
            <div class="col">
                <table style="background: #216e7d;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Series</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">52</td>
                            <td class="text-center">How I met</td>
                        </tr>
                        <tr>
                            <td class="text-center">25</td>
                            <td class="text-center">Malcolm</td>
                        </tr>
                        <tr>
                            <td class="text-center">12</td>
                            <td class="text-center">Breaking Bad</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table style="background: #945141;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Anime</th>
                        </tr>
                    </thead>
                    <tbody>
                <tr>
                    <td class="text-center">52</td>
                    <td class="text-center">Death note</td>
                </tr>
                <tr>
                    <td class="text-center">25</td>
                    <td class="text-center">Dragon Ball Z</td>
                </tr>
                <tr>
                    <td class="text-center">12</td>
                    <td class="text-center">Naruto</td>
                </tr>
            </tbody>
                </table>
            </div>
            <div class="col">
                <table style="background: #8c7821;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Movies</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">52</td>
                            <td class="text-center">Independance Day</td>
                        </tr>
                        <tr>
                            <td class="text-center">25</td>
                            <td class="text-center">Ratatouille</td>
                        </tr>
                        <tr>
                            <td class="text-center">12</td>
                            <td class="text-center">Avengers</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="font-size: 14pt;" class="text-center m-b-5">Actors the most presents in users' lists:</div>
        <div class="row">
            <div class="col">
                <table style="background: #216e7d;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Series</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">14</td>
                            <td class="text-center">Tom Ellis</td>
                        </tr>
                        <tr>
                            <td class="text-center">8</td>
                            <td class="text-center">Simon Baker</td>
                        </tr>
                        <tr>
                            <td class="text-center">5</td>
                            <td class="text-center">Megan Boone</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table style="background: #945141;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Anime</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">23</td>
                            <td class="text-center">Yuzuki Mahoto</td>
                        </tr>
                        <tr>
                            <td class="text-center">14</td>
                            <td class="text-center">Matoï Batho</td>
                        </tr>
                        <tr>
                            <td class="text-center">6</td>
                            <td class="text-center">Mariko Huna</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table style="background: #8c7821;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Movies</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">52</td>
                            <td class="text-center">Will Smith</td>
                        </tr>
                        <tr>
                            <td class="text-center">25</td>
                            <td class="text-center">Daniel Radcliff</td>
                        </tr>
                        <tr>
                            <td class="text-center">12</td>
                            <td class="text-center">Scarlett Johanson</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="font-size: 14pt;" class="text-center m-b-5">Anime and Series the most dropped in users' lists:</div>
        <div class="row">
            <div class="col">
                <table style="background: #216e7d;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Series</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">52</td>
                            <td class="text-center">How to get away</td>
                        </tr>
                        <tr>
                            <td class="text-center">25</td>
                            <td class="text-center">Arrow</td>
                        </tr>
                        <tr>
                            <td class="text-center">12</td>
                            <td class="text-center">Glee</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table style="background: #945141;" class="table table-sm text-light">
                    <thead>
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Anime</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">52</td>
                            <td class="text-center">Aldnoah Zero</td>
                        </tr>
                        <tr>
                            <td class="text-center">25</td>
                            <td class="text-center">Tokyo Ghoul</td>
                        </tr>
                        <tr>
                            <td class="text-center">12</td>
                            <td class="text-center">Monster</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row m-t-30">
    <div class="col">
        <canvas id="total-seasons"></canvas>
    </div>
    <div class="col">
        <canvas id="total-episodes"></canvas>
    </div>
</div>
{% endblock content %}


{% block script %}
<!--------- CDN Datatables ----------->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/hall_of_fame.js') }}"></script>

<!--------- Chart.js data ----------->
<script data="Watching time">
var config = {
    type: 'pie',
    data: {
        datasets: [{
            data: [{{ total_time['series']|int }}, {{ total_time['anime']|int }}, {{ total_time['movies']|int }}],
            backgroundColor: ['#216e7d', '#945141', '#8c7821'],
            borderColor: 'black',
            borderWidth: 1,
            label: 'by_media'
        }],
        labels: ['Series', 'Anime', 'Movies']
    },
    options: {
        legend: {
            position: 'bottom',
            labels: {
                fontColor: '#e2e2e2',
                fontSize: 14,
            }
        },
        title: {
            display: true,
            text: 'Watched time by media in hours:',
            position: 'top',
            fontColor: '#e2e2e2',
            fontSize: 18,
            fontStyle: 'normal',
        },
    }
};

var ctx = document.getElementById('media-time').getContext('2d');
var myPie = new Chart(ctx, config);
</script>
<script data="Total seasons watched">
var config = {
    type: 'bar',
    data: {
        datasets: [{
            data: [6524, 5241],
            backgroundColor: ['#216e7d', '#945141'],
            borderColor: 'black',
            borderWidth: 1
        }],
        labels: ['Series', 'Anime']
    },
    options: {
        legend: {
            display: false
        },
        scales: {
            yAxes: [{
                gridLines: {
                    color: 'grey',
                },
                ticks: {
                    fontColor: '#e2e2e2',
                    fontSize: 14,
                    beginAtZero: true
                }
            }],
            xAxes: [{
                ticks: {
                    fontColor: '#e2e2e2',
                    fontSize: 14,
                }
            }]
        },
        title: {
            display: true,
            text: 'Number of seasons watched:',
            position: 'top',
            fontColor: '#e2e2e2',
            fontSize: 18,
            fontStyle: 'normal'
        },
        responsive: true
    }
};

var ctx = document.getElementById('total-seasons').getContext('2d');
var mybar = new Chart(ctx, config);
</script>
<script data="Total episodes watched">
var config = {
    type: 'bar',
    data: {
        datasets: [{
            data: [26524, 35241],
            backgroundColor: ['#216e7d', '#945141'],
            borderColor: 'black',
            borderWidth: 1
        }],
        labels: ['Series', 'Anime']
    },
    options: {
        legend: {
            display: false
        },
        scales: {
            yAxes: [{
                gridLines: {
                    color: 'grey',
                },
                ticks: {
                    fontColor: '#e2e2e2',
                    fontSize: 14,
                    beginAtZero: true
                }
            }],
            xAxes: [{
                ticks: {
                    fontColor: '#e2e2e2',
                    fontSize: 14,
                }
            }]
        },
        title: {
            display: true,
            text: 'Number of episodes watched:',
            position: 'top',
            fontColor: '#e2e2e2',
            fontSize: 18,
            fontStyle: 'normal'
        },
        responsive: true
    }
};

var ctx = document.getElementById('total-episodes').getContext('2d');
var mybar = new Chart(ctx, config);
</script>
{% endblock script %}

