{% extends "layout.html" %}


{% block css %}
<!------ CDN Datatables ------->
<link href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/hall_of_fame.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
<div class="d-flex flex-wrap m-t-30 test">
    {% for user in all_data %}
        <ul class="text-center">
            <li>
                <img class="profile_picture" src="/static/profile_pics/{{ user['profile_picture'] }}" alt="{{ user['username'] }}">
            </li>
            <li>
                <b><a href="/account/{{ user['username'] }}">{{ user["username"] }}</a></b>
            </li>

            <li>
                <div>Series</div>
                <img class="grade_picture" src="static/img/levels_ranks/{{ user['series_grade_id'] }}.png">
                <div>{{ user['series_level'] }} ({{ user['series_percent'] }}%)</div>
            </li>

            <li>
                <div>Anime</div>
                <img class="grade_picture" src="static/img/levels_ranks/{{ user['anime_grade_id'] }}.png">
                <div>{{ user['anime_level'] }} ({{ user['anime_percent'] }}%)</div>
            </li>

            <li>
                <div>Books</div>
                <img class="grade_picture" src="static/img/levels_ranks/{{ user['book_grade_id'] }}.png">
                <div>{{ user['book_level'] }} ({{ user['book_percent'] }}%)</div>
            </li>

            <li>
                <div>Movies</div>
                <img class="grade_picture" src="static/img/levels_ranks/{{ user['series_grade_id'] }}.png">
                <div>{{ user['series_level'] }} ({{ user['series_percent'] }}%)</div>
            </li>

            <li>
                <div>K Levels</div>
                <img class="grade_picture" src="static/img/knowledge_ranks/{{ user['knowledge_grade_id'] }}.png">
                {{ user['knowledge_level'] }}
            </li>

            <li>
                {% if user["isfriend"] %}
                    <td><i class="fas fa-user-friends"></i></td>
                {% elif user["ispendingfriend"] %}
                    <td><i class="fas fa-user-friends" style="color: #2c3946;"></i></td>
                {% else %}
                    <td><a class="fas fa-user-plus" onclick="add_friend('{{ user['username'] }}')"></a></td>
                {% endif %}
            </li>
        </ul>
    {% endfor %}
</div>


<div class="hof_container m-t-40 m-b-100 mr-auto ml-auto">
    {% for user in all_data %}
        <div class="row text-center m-b-25">
            <div class="col" style="width: 80px !important;">
                <img class="profile_picture" src="/static/profile_pics/{{ user['profile_picture'] }}" alt="{{ user['username'] }}">
            </div>

            <div class="col">
                <b><a href="/account/{{ user['username'] }}">{{ user["username"] }}</a></b>
            </div>

            <div class="col">
                <div>Series</div>
                <img class="grade_picture" src="static/img/levels_ranks/{{ user['series_grade_id'] }}.png">
                <div>{{ user['series_level'] }} ({{ user['series_percent'] }}%)</div>
            </div>

            <div class="col">
                <div>Anime</div>
                <img class="grade_picture" src="static/img/levels_ranks/{{ user['anime_grade_id'] }}.png">
                <div>{{ user['anime_level'] }} ({{ user['anime_percent'] }}%)</div>
            </div>

            <div class="col">
                <div>Books</div>
                <img class="grade_picture" src="static/img/levels_ranks/{{ user['book_grade_id'] }}.png">
                <div>{{ user['book_level'] }} ({{ user['book_percent'] }}%)</div>
            </div>

            <div class="col">
                <div>Movies</div>
                <img class="grade_picture" src="static/img/levels_ranks/{{ user['series_grade_id'] }}.png">
                <div>{{ user['series_level'] }} ({{ user['series_percent'] }}%)</div>
            </div>

            <div class="col">
                <div>K Levels</div>
                <img class="grade_picture" src="static/img/knowledge_ranks/{{ user['knowledge_grade_id'] }}.png">
                {{ user['knowledge_level'] }}
            </div>

            <div class="col">
                {% if user["isfriend"] %}
                    <td><i class="fas fa-user-friends"></i></td>
                {% elif user["ispendingfriend"] %}
                    <td><i class="fas fa-user-friends" style="color: #2c3946;"></i></td>
                {% else %}
                    <td><a class="fas fa-user-plus" onclick="add_friend('{{ user['username'] }}')"></a></td>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>



    <table id="hall_of_fame" class="table table-striped table-sm table-responsive-md">
        <thead>
            <tr>
                <th class="text-center"></th>
                <th class="text-center">Username</th>
                <th class="text-center">Series levels</th>
                <th class="text-center">Series success</th>
                <th class="text-center">Anime levels</th>
                <th class="text-center">Anime success</th>
                <th class="text-center">Books levels</th>
                <th class="text-center">K levels</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
        {% for user in all_data %}
            <tr>
            {% if current_user.get_id() == '1' %}
                <td>
                    <img class="profile_picture" src="/static/profile_pics/{{ user['profile_picture'] }}" alt="{{ user['username'] }}">
                </td>
                <td>
                    <b><a href="/account/{{ user['username'] }}">{{ user["username"] }}</a></b>
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['series_grade_id'] }}.png">
                    <br>
                    {{ user['series_level'] }} ({{ user['series_percent'] }}%)
                </td>
                <td>
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['anime_grade_id'] }}.png">
                    <br>
                    {{ user['anime_level'] }} ({{ user['anime_percent'] }}%)
                </td>
                <td>
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['book_grade_id'] }}.png">
                    <br>
                    {{ user['book_level'] }} ({{ user['book_percent'] }}%)
                </td>
                <td>
                    <img class="grade_picture" src="static/img/knowledge_ranks/{{ user['knowledge_grade_id'] }}.png">
                    <br>
                    {{ user['knowledge_level'] }}
                </td>
                <td></td>

            {% elif user["iscurrentuser"] %}
                <td class="current_user">
                    <img class="profile_picture" src="/static/profile_pics/{{ user['profile_picture'] }}" alt="{{ user['username'] }}">
                </td>
                <td class="current_user">
                    <b><a href="/account/{{ user['username'] }}">{{ user["username"] }}</a></b>
                </td>
                <td class="current_user">
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['series_grade_id'] }}.png">
                    <br>
                    {{ user['series_level'] }} ({{ user['series_percent'] }}%)
                </td>
                <td class="current_user">
                </td>
                <td class="current_user">
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['anime_grade_id'] }}.png">
                    <br>
                    {{ user['anime_level'] }} ({{ user['anime_percent'] }}%)
                </td>
                <td class="current_user">
                </td>
                <td class="current_user">
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['book_grade_id'] }}.png">
                    <br>
                    {{ user['book_level'] }} ({{ user['book_percent'] }}%)
                </td >
                <td class="current_user">
                    <img class="grade_picture" src="static/img/knowledge_ranks/{{ user['knowledge_grade_id'] }}.png">
                    <br>
                    {{ user['knowledge_level'] }}
                </td>
                <td class="current_user"></td>

            {% elif user["isprivate"] and not user["isfriend"] %}
                <td>
                    <img class="profile_picture" src="{{ url_for('static', filename='profile_pics/anonymous.jpg') }}" alt="Anonymous">
                </td>
                <td>
                    <b>Anonymous</b>
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['series_grade_id'] }}.png">
                    <br>
                    {{ user['series_level'] }} ({{ user['series_percent'] }}%)
                </td>
                <td>
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['anime_grade_id'] }}.png">
                    <br>
                    {{ user['anime_level'] }} ({{ user['anime_percent'] }}%)
                </td>
                <td>
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['book_grade_id'] }}.png">
                    <br>
                    {{ user['book_level'] }} ({{ user['book_percent'] }}%)
                </td>
                <td>
                    <img class="grade_picture" src="static/img/knowledge_ranks/{{ user['knowledge_grade_id'] }}.png">
                    <br>
                    {{ user['knowledge_level'] }}
                </td>
                <td></td>

            {% else %}
                <td>
                    <img class="profile_picture" src="/static/profile_pics/{{ user['profile_picture'] }}" alt="{{ user['username'] }}">
                </td>
                <td>
                    <b><a href="/account/{{ user['username'] }}">{{ user['username'] }}</a></b>
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['series_grade_id'] }}.png">
                    <br>
                    {{ user['series_level'] }} ({{ user['series_percent'] }}%)
                </td>
                <td>
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['anime_grade_id'] }}.png">
                    <br>
                    {{ user['anime_level'] }} ({{ user['anime_percent'] }}%)
                </td>
                <td>
                </td>
                <td>
                     <img class="grade_picture" src="static/img/levels_ranks/{{ user['book_grade_id'] }}.png">
                    <br>
                    {{ user['book_level'] }} ({{ user['book_percent'] }}%)
                </td>
                <td>
                    <img class="grade_picture" src="static/img/knowledge_ranks/{{ user['knowledge_grade_id'] }}.png">
                    <br>
                    {{ user['knowledge_level'] }}
                </td>
                {% if user["isfriend"] %}
                    <td><i class="fas fa-user-friends"></i></td>
                {% elif user["ispendingfriend"] %}
                    <td><i class="fas fa-user-friends" style="color: #2c3946;"></i></td>
                {% else %}
                    <td><a class="fas fa-user-plus" onclick="add_friend('{{ user['username'] }}')"></a></td>
                {% endif %}
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}


{% block script %}
<!--------- CDN Datatables ----------->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
<script type="text/javascript">
function add_friend(username) {
    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/add_friend_hof",
        contentType: "application/json",
        data: JSON.stringify({user_name: username}),
        dataType: "json",
        beforeSend: function() { $body.addClass("loading"); },
        success: function(response) {
            window.location.replace('/hall_of_fame'); }
    });
}
</script>
<script type="text/javascript">
$(document).ready(function () {
    $('#hall_of_fame').DataTable({
        "order": [[ 6, "desc" ], [ 1, "asc" ]],
        columnDefs: [{orderable: false, targets: 0},
                     {orderable: false, targets: 8}],
    });
    $('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock script %}

