{% extends "layout.html" %}


{% block css %}
<!------ CDN Datatables ------->
<link href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/hall_of_fame.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
<div class="container p-0 mt-4">
    <table id="hall_of_fame" class="table table-striped table-sm table-responsive-lg" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th class="th-sm">Username</th>
                <th class="th-sm">Series Levels</th>
                <th class="th-sm">Anime Levels</th>
                <th class="th-sm">Books Levels</th>
                <th class="th-sm">Knowledge Levels</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in all_data %}
            <tr>
            {% if current_user.get_id() == '1' %}
                <td>
                    <img class="profile_picture" src="/static/profile_pics/{{ user['profile_picture'] }}" alt="{{ user['username'] }}">
                </td>
                <td>
                    <b><a href="/account/{{ user['username'] }}">{{ user["username"] }}</a></b>
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['series_grade_id'] }}.ico">
                    <br>
                    {{ user['series_level'] }} ({{ user['series_percent'] }}%)
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['anime_grade_id'] }}.ico">
                    <br>
                    {{ user['anime_level'] }} ({{ user['anime_percent'] }}%)
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['book_grade_id'] }}.ico">
                    <br>
                    {{ user['book_level'] }} ({{ user['book_percent'] }}%)
                </td>
                <td>
                    <img class="grade_picture" src="static/img/knowledge_ranks/{{ user['knowledge_grade_id'] }}.png">
                    <br>
                    {{ user['knowledge_level'] }}
                </td>
                <td></td>

            {% elif user["iscurrentuser"] %}
                <td class="current_user">
                    <img class="profile_picture" src="/static/profile_pics/{{ user['profile_picture'] }}" alt="{{ user['username'] }}">
                </td>
                <td class="current_user">
                    <b><a href="/account/{{ user['username'] }}">{{ user["username"] }}</a></b>
                </td>
                <td class="current_user">
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['series_grade_id'] }}.ico">
                    <br>
                    {{ user['series_level'] }} ({{ user['series_percent'] }}%)
                </td>
                <td class="current_user">
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['anime_grade_id'] }}.ico">
                    <br>
                    {{ user['anime_level'] }} ({{ user['anime_percent'] }}%)
                </td>
                <td class="current_user">
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['book_grade_id'] }}.ico">
                    <br>
                    {{ user['book_level'] }} ({{ user['book_percent'] }}%)
                </td >
                <td class="current_user">
                    <img class="grade_picture" src="static/img/knowledge_ranks/{{ user['knowledge_grade_id'] }}.png">
                    <br>
                    {{ user['knowledge_level'] }}
                </td>
                <td class="current_user"></td>

            {% elif user["isprivate"] and not user["isfriend"] %}
                <td>
                    <img class="profile_picture" src="{{ url_for('static', filename='profile_pics/anonymous.jpg') }}" alt="Anonymous">
                </td>
                <td>
                    <b>Anonymous</b>
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['series_grade_id'] }}.ico">
                    <br>
                    {{ user['series_level'] }} ({{ user['series_percent'] }}%)
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['anime_grade_id'] }}.ico">
                    <br>
                    {{ user['anime_level'] }} ({{ user['anime_percent'] }}%)
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['book_grade_id'] }}.ico">
                    <br>
                    {{ user['book_level'] }} ({{ user['book_percent'] }}%)
                </td>
                <td>
                    <img class="grade_picture" src="static/img/knowledge_ranks/{{ user['knowledge_grade_id'] }}.png">
                    <br>
                    {{ user['knowledge_level'] }}
                </td>
                <td></td>

            {% else %}
                <td>
                    <img class="profile_picture" src="/static/profile_pics/{{ user['profile_picture'] }}" alt="{{ user['username'] }}">
                </td>
                <td>
                    <b><a href="/account/{{ user['username'] }}">{{ user['username'] }}</a></b>
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['series_grade_id'] }}.ico">
                    <br>
                    {{ user['series_level'] }} ({{ user['series_percent'] }}%)
                </td>
                <td>
                    <img class="grade_picture" src="static/img/levels_ranks/{{ user['anime_grade_id'] }}.ico">
                    <br>
                    {{ user['anime_level'] }} ({{ user['anime_percent'] }}%)
                </td>
                <td>
                     <img class="grade_picture" src="static/img/levels_ranks/{{ user['book_grade_id'] }}.ico">
                    <br>
                    {{ user['book_level'] }} ({{ user['book_percent'] }}%)
                </td>
                <td>
                    <img class="grade_picture" src="static/img/knowledge_ranks/{{ user['knowledge_grade_id'] }}.png">
                    <br>
                    {{ user['knowledge_level'] }}
                </td>
                {% if user["isfriend"] %}
                    <td><i class="fas fa-user-friends"></i></td>
                {% elif user["ispendingfriend"] %}
                    <td><i class="fas fa-user-friends" style="color: #2c3946;"></i></td>
                {% else %}
                    <td><a class="fas fa-user-plus" onclick="add_friend('{{ user['username'] }}')"></a></td>
                {% endif %}
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}


{% block script %}
<!--------- CDN Datatables ----------->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
<script>
function add_friend(username) {
    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/add_friend_hof",
        contentType: "application/json",
        data: JSON.stringify({user_name: username}),
        dataType: "json",
        beforeSend: function() { $body.addClass("loading"); },
        success: function(response) {
            window.location.replace('/hall_of_fame'); }
    });
}
</script>
<script>
$(document).ready(function () {
    $('#hall_of_fame').DataTable({
        "order": [[ 5, "desc" ], [ 1, "asc" ]],
        columnDefs: [{orderable: false, targets: 0},
                     {orderable: false, targets: 6}],
    });
    $('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock script %}

