{% extends "layout.html" %}


{% block css %}
    <link href="{{ url_for('static', filename='css/account.css') }}" rel="stylesheet">
    {% block added_css %}
    {% endblock added_css %}
{% endblock css %}


{% block content %}
    <div class="header-container">
        <div class="header-profile-container" {% if user_data['knowledge_info']['frame_level'] < 36 %}
            style="left: -10px; {% endif %}">
            <img class="header-profile-img" src="{{ user_data['profile_picture'] }}" alt=""/>
            <img class="header-profile-frame" src="{{ user_data['knowledge_info']['frame_id'] }}.png" alt=""/>
            <div class="header-knowledge-level text-center">{{ user_data['knowledge_info']['level'] }}</div>
        </div>
        <div class="header-profile-data"  {% if user_data['knowledge_info']['frame_level'] < 36 %}
            style="left: 200px; {% endif %}">
            <h2 class="profile-name"><b>{{ user_data['username'] }}</b>
                {% if user_data['id'] != current_user.get_id() %}
                    {% if user_data["isfollowing"] %}
                        <button class="btn btn-sm btn-dark follow-btn" value="1" onclick="follow_status(
                        '{{ user_data['id'] }}')">Unfollow
                        </button>
                    {% else %}
                        <button class="btn btn-sm btn-primary follow-btn" value="0" onclick="follow_status(
                        '{{ user_data['id'] }}')">Follow
                        </button>
                    {% endif %}
                    <img class="loading-follow" style="display: none;" height="20" width="20"
                         src="/static/img/loading.webp" alt=""/>
                {% endif %}
            </h2>
            <div>
                <b>Joined: {{ user_data['register'] }}</b><br>
                <b>Followers: {{ user_data['followers'] }}</b>
            </div>
        </div>
        <div class="header-profile-data-mobile text-center">
            <h4 class="p-0 m-0"><b>{{ user_data['username'] }}&nbsp;</b></h4>
            <div class="header-join-follow">
                <b>Joined: {{ user_data['register'] }}</b><br>
                <b>Followers: {{ user_data['followers'] }}</b>
            </div>
        </div>
    </div>
    {% block data scoped %}
    {% endblock data %}
{% endblock content %}


{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/account.js') }}"></script>
    {% block added_js %}
    {% endblock added_js %}
{% endblock script %}
