{% extends "layout.html" %}


{% block css %}
<link href="{{ url_for('static', filename='css/grades_data.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
<h2 class="text-center p-t-50">
    KNOWLEDGE GRADES DATA
    <hr class="mt-2 m-b-25">
</h2>

<ul class="details p-t-10 p-b-10 p-r-10">
    <li>Grades from the unity assets store.</li>
    <li>24 grades. You gain a grade each 15 levels.</li>
    <li>Equation is: Grade = (lvl(Series)+lvl(Anime)+lvl(Movies))/15.</li>
    <li>Knowledge grades are based on the sum of the different levels.</li>
    <li>You earn a grade until level 345. Min = 555 days, Max = 1658 days.</li>
</ul>

<div class="table-responsive-sm m-t-30 table-style-2">
    <table class="table text-light">
        <thead style="border-bottom: solid 2px grey;">
            <tr>
                <th class="text-center">Grade</th>
                <th class="text-center">Title</th>
                <th class="text-center">Levels</th>
            </tr>
        </thead>
        <tbody>
        {% for i in range(0, data|length) %}
        <tr class="text-center align-middle mt-auto mb-auto">
            <td class="text-center">
                <img height='50' width="50" src="{{ url_for('static', filename='img/knowledge_ranks/') }}{{ data[i][0] }}.png" alt="">
            </td>
            <td style="vertical-align: middle;">
                <strong class="text-center align-middle">{{ data[i][1] }}</strong>
            </td>
            <td style="vertical-align: middle;">
                {% if i == data|length - 1 %}
                <strong class="text-center align-middle">{{ data[i][2][0] }}{{ data[i][2][1] }}</strong>
                {% else %}
                <strong class="text-center align-middle">{{ data[i][2][0] }} - {{ data[i][2][1] }}</strong>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>&nbsp;
</div>
{% endblock content %}
