<!DOCTYPE html>
<html lang="en">

<head>
    <!--- Global site tag (gtag.js)/Google Analytics ------------------------>
    <script async type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=UA-146580264-1"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-146580264-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Create your TV shows/anime/movies list, see how much time you spent and gain
    levels and badges."/>

    <!--- App Manifest ------------------------------------------------------>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <!--- iOS --------------------------------------------------------------->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon-96.png') }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <!--- CDN CSS ---------------------------------------------------------->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    <!--- Website Icon ----------------------------------------------------->
    <link rel='icon' type='image/gif' href="{{ url_for('static', filename='img/favicon.ico') }}">

    <!--- Custom CSS ------------------------------------------------------->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mylists.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/util.css') }}">
    {% block css %}
    {% endblock %}

    {% if title %}
        <title>MyLists - {{ title }}</title>
    {% else %}
        <title>MyLists</title>
    {% endif %}
</head>

<body>
<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top p-0">
        <div class="container">
            {% if current_user.is_authenticated %}
                <ul class="navbar-nav mr-auto m-l-10">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-18" data-toggle="dropdown">MyLists</a>
                        <div class="dropdown-menu medialist-dropdown">
                            <a class="dropdown-item text-light" href="{{ url_for('main.mymedialist',
                                    media_list='serieslist', user_name=current_user.username) }}">
                                <div class="row">
                                    <div class="col-3" style="margin-right: -5px;">
                                        <i class="fas fa-tv text-series"></i>
                                    </div>
                                    <div class="col-9">SeriesList</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-light" href="{{ url_for('main.mymedialist',
                                media_list='animelist', user_name=current_user.username) }}">
                                <div class="row">
                                    <div class="col-3" style="margin-right: -5px;">
                                        <i class="fas fa-torii-gate text-anime"></i>
                                    </div>
                                    <div class="col-9">AnimeList</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-light" href="{{ url_for('main.mymedialist',
                                media_list='movieslist', user_name=current_user.username) }}">
                                <div class="row">
                                    <div class="col-3" style="margin-right: -5px;">
                                        <i class="fas fa-film text-movies"></i>
                                    </div>
                                    <div class="col-9">MoviesList</div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler third-button" type="button" data-toggle="collapse" data-target="#nav-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nav-collapse">
                    <form class="form-inline my-2 my-lg-0 nav-form" action="{{ url_for('main.search_media') }}">
                        <label for="autocomplete"></label>
                        <input id="autocomplete" class="form-control tatayo" name="search"
                               placeholder="Search Media">
                    </form>
                    <ul class="navbar-nav mr-auto nav-ul-1">
                        <li class="nav-item nav-li-1">
                            <a class="nav-link" href="{{ url_for('users.hall_of_fame') }}">
                                <i class="fas fa-lg fa-trophy" style="color: goldenrod;"></i>
                                <div class="info-nav fs-14 nav-text">Hall of Fame</div>
                            </a>
                        </li>
                        <li class="nav-item nav-li-1">
                            <a class="nav-link" href="{{ url_for('general.mylists_stats') }}">
                                <i class="far fa-lg fa-chart-bar" style="color: darkorange;"></i>
                                <div class="info-nav fs-14 nav-text">MyLists Stats</div>
                            </a>
                        </li>
                        <li class="nav-item nav-li-1">
                            <a class="nav-link" href="{{ url_for('general.current_trends') }}">
                                <i class="fas fa-lg fa-fire-alt" style="color: orangered;"></i>
                                <div class="info-nav fs-14 nav-text">Trends</div>
                            </a>
                        </li>
                        <li class="nav-item nav-li-1">
                            <a class="nav-link" href="{{ url_for('main.your_next_airing') }}">
                                <i class="far fa-lg fa-calendar-check" style="color: olivedrab;"></i>
                                <div class="info-nav fs-14 nav-text">Next Airing</div>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a id="notif" class="nav-link my-drop-toggle notif-li m-r-10" data-toggle="dropdown"
                               onclick="notifications()">
                                <i class="fas fa-lg fa-bell"></i>
                                {% set count = current_user.count_notifications() %}
                                <span id="notif-badge" class="badge {% if count == 0 %} badge-light {% else %}
                                badge-danger{% endif %}">
                                    {{ count }}
                                </span>
                                <div class="fs-14 nav-text">Notifications</div>
                            </a>
                            <div id="notif-dropdown" class="dropdown-menu notification-dropdown">
                                <img id="loading-image" src="/static/img/loading.webp"/>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <img class="navbar-pic" src="/static/profile_pics/{{ current_user.image_file }}"/>
                            </a>
                            <div id="profile-dropdown" class="dropdown-menu medialist-dropdown">
                                <a class="dropdown-item text-light" href="{{ url_for('users.account',
                                user_name=current_user.username) }}">
                                    <i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;Profile
                                </a>
{#                                <a class="dropdown-item text-light" href="{{ url_for('users.achievements',#}
{#                                user_name=current_user.username) }}">#}
{#                                    <i class="fas fa-trophy"></i>&nbsp;&nbsp;&nbsp;&nbsp;Achievements#}
{#                                </a>#}
                                {% if current_user.role.value == 'admin' %}
                                    <a class="dropdown-item text-light" href="{{ url_for('admin.index') }}">
                                        <i class="fas fa-database"></i>&nbsp;&nbsp;&nbsp;&nbsp;Dashboard
                                    </a>
                                {% endif %}
                                <a class="dropdown-item text-light" href="{{ url_for('settings.settings') }}">
                                    <i class="fas fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;Settings
                                </a>
                                <a class="dropdown-item text-light" href="{{ url_for('auth.logout') }}">
                                    <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

            {% else %}
                <a class="navbar-brand m-l-10" href="{{ url_for('auth.home') }}">MyLists</a>
                {% if request.path == '/' %}
                    <a class="nav-link ml-auto">
                        <button class="btn btn-sm btn-primary my-2 my-sm-0" data-toggle="modal"
                                data-target="#modalLoginForm">Login
                        </button>
                    </a>
                    <a class="nav-link">
                        <button class="btn btn-sm btn-danger my-2 my-sm-0" data-toggle="modal"
                                data-target="#modalRegisterForm">Register
                        </button>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </nav>
</header>

<div class="container">
    <div class="content content-message">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible m-t-15" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</div>

{% block home_header %}
{% endblock %}

<main role="main" class="container">
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    {% if current_user.is_authenticated and current_user.get_last_update() %}
        <div id="newFeatures" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document" style="border: 2px lightsalmon solid;">
                <div class="modal-content" style="background-color: #0a262d;">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <b>New Features | <i>Jul 14 2020</i></b>
                        </h4>
                        <button type="button" class="close text-light" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="p-4">
                            <ul class="text-justify p-l-10" style="list-style-type: square;">
                                <li class="m-b-30">
                                    <h5><b>Added comment and score</b></h5>
                                    <p>You can add comments and a score (/10, with half point) to Series/Anime and
                                        Movies from your list or from the "List info" in the media's sheet (The media
                                        need to be in your list).
                                    </p>
                                </li>
                                <li class="m-b-30">
                                    <h5><b>Added RE-watch</b></h5>
                                    <p>You can now add a rewatch value (up to 10x times) on all the media which are in
                                        the completed (completed animation) state. IT DO NOT take into account the
                                        initial completion.
                                    </p>
                                </li>
                                <li>
                                    <h5><b>Changed medialist interface</b></h5>
                                    <p>The medialist interface for the favorite, score, comments and rewatch has
                                        changed.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</main>

<script async src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
{% if current_user.is_authenticated and current_user.get_last_update() %}
    <script type="text/javascript">
        $(window).on('load',function() {
            $("#newFeatures").modal('show');
        });
    </script>
{% endif %}
{% block script %}
{% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename='js/mylists.js') }}"></script>

<footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">
        <div class="d-flex flex-wrap" style="justify-content: center;">
            <a href="https://developers.themoviedb.org/3/getting-started/introduction" target="_blank">
                TMDb API
            </a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="https://www.palletsprojects.com/p/flask/" target="_blank">
                Flask
            </a>&nbsp;&nbsp;|&nbsp;
            © 2020 Copyright:&nbsp;
            <a href="https://MyLists.info" target="_blank">
                Mylists.info
            </a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="#!" target="_blank">
                Contact
            </a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="https://github.com/Crossoufire/MyLists" target="_blank">
                Github
            </a>
        </div>
    </div>
</footer>
</body>
</html>
