<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146580264-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-146580264-1');
    </script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Create your TV shows/anime/movies list, see how much time you spent and gain
    levels and badges." />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    <link rel='icon' type='image/gif' href="{{ url_for('static', filename='img/favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/mylists.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/util.css') }}">
    {% block css %}
    {% endblock %}

	{% if title %}
        <title>MyLists - {{ title }}</title>
    {% else %}
        <title>MyLists</title>
    {% endif %}
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top p-b-0 p-t-5">
            <div class="container">
                {% if current_user.is_authenticated %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fs-18" data-toggle="dropdown">
                                MyLists
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('main.mymedialist', media_list='serieslist',
                                user_name=current_user.username) }}">
                                    <i class="fas fa-tv"></i>&nbsp;MySeriesList
                                </a>
                                <a class="dropdown-item" href="{{ url_for('main.mymedialist', media_list='animelist',
                                user_name=current_user.username) }}">
                                    <i class="fas fa-torii-gate"></i>&nbsp;MyAnimeList
                                </a>
                                <a class="dropdown-item" href="{{ url_for('main.mymedialist', media_list='movieslist',
                                user_name=current_user.username) }}">
                                    <i class="fas fa-film"></i>&nbsp;MyMoviesList
                                </a>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="nav-collapse">
                        <form class="form-inline m-l-15">
                            <label for="autocomplete"></label>
                            <input id="autocomplete" class="form-control" type="search" placeholder="Search Media">
                        </form>
                        <ul class="navbar-nav mr-auto m-l-20">
                            <li class="nav-item">
                                <a class="nav-link text-center m-l-15 m-r-15" href="{{ url_for('users.hall_of_fame') }}">
                                    <i class="fas fa-lg fa-trophy" style="color: goldenrod;"></i>
                                    <div class="fs-14">Hall of Fame</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-center m-l-15 m-r-15" href="{{ url_for('general.global_stats') }}">
                                    <i class="far fa-lg fa-chart-bar" style="color: darkorange;"></i>
                                    <div class="fs-14">General Stats</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-center m-l-15 m-r-15" href="{{ url_for('general.current_trends') }}">
                                    <i class="fas fa-lg fa-fire-alt" style="color: orangered;"></i>
                                    <div class="fs-14">Trends</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a id="notif" class="nav-link my-dropdown-toggle text-center" data-toggle="dropdown">
                                    <i class="fas fa-lg fa-bell"></i>
                                    {% set notif_count = current_user.count_notifications() %}
                                    <span class="badge" {% if notif_count == 0 %} style="background-color: grey;"
                                    {% endif %}>
                                        {{ notif_count }}
                                    </span>
                                    <div class="fs-14">Notifications</div>
                                </a>
                                <div id="notif-dropdown" class="dropdown-menu dropdown-menu-right">
                                    <img id="loading-image" height="30" width="30"
                                             src="https://i.giphy.com/media/L05HgB2h6qICDs5Sms/giphy.webp"/>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-center" data-toggle="dropdown">
                                    <img style="border-radius: 50%;" height="40" width="40"
                                         src="/static/profile_pics/default.jpg" alt=""/>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ url_for('users.account',
                                    user_name=current_user.username) }}">
                                        <i class="fas fa-user"></i>&nbsp;Profile
                                    </a>
                                    <a class="dropdown-item" href="{{ url_for('settings.settings') }}">
                                        <i class="fas fa-cog"></i>&nbsp;Settings
                                    </a>
                                    <a class="dropdown-item" href="{{ url_for('auth.logout') }}">
                                        <i class="fas fa-sign-out-alt"></i>&nbsp;Logout
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <a class="navbar-brand mr-auto" href="{{ url_for('auth.home') }}">MyLists</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    {% if request.path == '/' %}
                        <div class="collapse navbar-collapse" id="nav-collapse">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link">
                                        <button class="btn btn-sm btn-light text-dark" data-toggle="modal"
                                                data-target="#modalLoginForm">Login</button>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">
                                        <button class="btn btn-sm btn-danger m-r-0" data-toggle="modal"
                                                data-target="#modalRegisterForm">Register</button>
                                    </a>
                            </li>
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="content content-message">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible m-t-15" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    {% block home_header %}
    {% endblock %}

    <main role="main" class="container">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <script async src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>

    {% block script %}
    {% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/mylists.js') }}" ></script>

<footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">
        <div class="d-flex flex-wrap" style="justify-content: center;">
            <a href="https://developers.themoviedb.org/3/getting-started/introduction" target="_blank">
                TMDb API
            </a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="https://www.palletsprojects.com/p/flask/" target="_blank">
                Flask
            </a>&nbsp;&nbsp;|&nbsp;
            © 2020 Copyright:&nbsp;
            <a href="https://MyLists.info" target="_blank">
            Mylists.info
            </a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="#!" target="_blank">
                Contact
            </a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="https://github.com/Crossoufire/MyLists" target="_blank">
                Github
            </a>
        </div>
    </div>
</footer>
</body>
</html>
