<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">

    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel='icon' type='image/gif'>
	<link href="{{ url_for('static', filename='css/mylists.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/util.css') }}" rel="stylesheet">


    {% block css %}
    {% endblock %}


	{% if title %}
    <title>MyLists - {{ title }}</title>
    {% else %}
    <title>MyLists</title>
    {% endif %}
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
            <div class="container">
                {% if current_user.is_authenticated %}
                <div class="navbar-brand nav-item dropdown m-r-30">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="color: #ffffffe6;" href="#">MyLists<span class="caret"></span></a>
                    <div class="dropdown-menu bg-dark p-r-0 m-r-0" style="z-index: 101; border: solid; border-color: black; border-width: 1px;">
                        <a class="nav-item dropdown-item text-light bg-dark" href="{{ url_for('myserieslist') }}"><i class="fas fa-angle-right"></i> MySeriesList</a>
                        <a class="nav-item dropdown-item text-light bg-dark" href="{{ url_for('myanimeslist') }}"><i class="fas fa-angle-right"></i> MyAnimesList</a>
                        <a class="nav-item dropdown-item text-light bg-dark" href="{{ url_for('mybookslist') }}"><i class="fas fa-angle-right"></i> MyBooksList</a>
                    </div>
                </div>
                {% else %}
                <a class="navbar-brand" href="{{ url_for('home') }}">MyLists</a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                    {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('hall_of_fame') }}">Hall of Fame</a>
                    {% endif %}
                    </div>
                    <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        {% if current_user.get_id() == '1' %}
                        <a class="nav-item nav-link" href="{{ url_for('account') }}">{{ current_user.username }}</a>
                        <a class="nav-item nav-link" href="{{ url_for('admin') }}">Administration</a>
                        <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                        {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('account') }}">{{ current_user.username }}</a>
                        <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                        {% endif %}
                    {% else %}
                        <a type="button" class="btn btn-sm btn-light text-dark" data-toggle="modal" data-target="#modalLoginForm">Login</a>
                        <a type="button" class="btn btn-sm btn-danger m-r-0" data-toggle="modal" data-target="#modalRegisterForm">Register</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </nav>


        <nav class="fixed-top" style="z-index: 100; background-color: #330000; top: 57px; !important">
            <div class="container">
                {% block fixed %}
                {% endblock fixed %}
            </div>
        </nav>


        <div class="container p-t-10">
            <div class="content">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        {% block home_header %}
        {% endblock %}
    </header>

    <main role="main" class="container">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>

    {% block script %}
    {% endblock %}

<footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">© 2019 Copyright: MyLists</div>
</footer>
</body>
</html>
