{% extends "layout.html" %}


{% block css %}
<link href="{{ url_for('static', filename='css/grades_data.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
<h2 class="text-center p-t-50">
    GRADES AND LEVELS
    <hr class="mt-2 m-b-25">
</h2>

<ul class="details p-t-10 p-b-10 p-r-10">
    <li>All grades are from the video game Halo Reach.</li>
    <li>49 grades and 147 levels. You gain a grade each 3 levels.</li>
    <li>Levels are based on time spent in series, anime, and movies.</li>
    <li>XP calculation is: XP = 20*lvl*(1+lvl) &#8596; Level = (&#8730;(400+80*XP)-20)/40</li>
    <li>1min = 1XP from series and anime episode duration, and runtime for the movies.</li>
</ul>

<div class="table-responsive-sm m-t-30 table-style">
    <table class="table text-light">
        <thead>
            <tr>
                <th class="text-center">Grade</th>
                <th class="text-center">Title</th>
                <th class="text-center">Levels</th>
                <th class="text-center">XP</th>
                <th class="text-center">Equivalent hours</th>
            </tr>
        </thead>
        <tbody>
        {% for i in range(0, data|length) %}
            <tr>
                <td class="text-center">
                    <img height='40' width="40" src="{{ url_for('static', filename='img/levels_ranks/') }}{{ data[i][0] }}.png" alt="">
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <strong>{{ data[i][1] }}</strong>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    {% if i == data|length - 1 %}
                    <strong>{{ data[i][2][0] }}{{ data[i][2][1] }}</strong>
                    {% else %}
                    <strong>{{ data[i][2][0] }} - {{ data[i][2][1] }}</strong>
                    {% endif %}
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    {% if i == data|length - 1 %}
                    <strong>{{ data[i][3][0] }}{{ data[i][3][1] }}</strong>
                    {% else %}
                    <strong>{{ data[i][3][0] }} - {{ data[i][3][1] }}</strong>
                    {% endif %}
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    {% if i == data|length - 1 %}
                    <strong>{{ data[i][4][0] }}{{ data[i][4][1] }}</strong>
                    {% else %}
                    <strong>{{ data[i][4][0] }} - {{ data[i][4][1] }}</strong>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
