{% extends 'layout.html' %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mymedialist.css') }}">
{% endblock css %}


{% block content %}
    <div class="back-image p-b-15">
        <div class="d-flex flex-wrap center-mobile">
            <div class="m-l-30 m-t-20 icons-mobile">
                <a class="fas fa-lg fa-user m-r-8 return-icon" href="/account/{{ username }}"
                   data-toggle="tooltip" title="{{ username }}" style="color: grey;"></a>
                {% if media_list == 'serieslist' %}
                    <a class="fas fa-lg fa-torii-gate m-r-8 return-icon text-anime" data-toggle="tooltip"
                       href="/animelist/{{ username }}" title="Anime list"></a>
                    <a class="fas fa-lg fa-film m-r-8 return-icon text-movies" data-toggle="tooltip"
                       href="/movieslist/{{ username }}" title="Movies list"></a>
                {% elif media_list == 'animelist' %}
                    <a class="fas fa-lg fa-tv m-r-8 return-icon-tv text-series" data-toggle="tooltip"
                       href="/serieslist/{{ username }}" title="Series list"></a>
                    <a class="fas fa-lg fa-film m-r-8 return-icon text-movies" data-toggle="tooltip"
                       href="/movieslist/{{ username }}" title="Movies list"></a>
                {% else %}
                    <a class="fas fa-lg fa-tv m-r-8 return-icon-tv text-series" data-toggle="tooltip"
                       href="/serieslist/{{ username }}" title="Series list"></a>
                    <a class="fas fa-lg fa-torii-gate m-r-8 return-icon text-anime" data-toggle="tooltip"
                       href="/animelist/{{ username }}" title="Anime list"></a>
                {% endif %}
            </div>
            {% if user_id != current_user.get_id() %}
                <div class="ml-auto m-r-30 m-t-20">
                    <div class="text-center common-media">
                        You share {{ common_elements[0] }}/{{ common_elements[1] }} media ({{ common_elements[2] }}%)
                    </div>
                    <div class="common-media-meter">
                        <span class="common-media-meter-bar" style="width: {{ common_elements[2] }}%;"></span>
                    </div>
                </div>
            {% endif %}
        </div>
        <hr class="header-bar">
        <div class="center-mobile d-flex flex-wrap m-t-20">
            <div class="ml-auto mr-auto">
                <i class="fas fa-search text-dark"></i>
                <form style="display: inline-block;" action="{{ url_for('main.mymedialist', media_list=media_list,
                user_name=username) }}">
                    <label for="searchInput"></label>
                    <input id="searchInput" class='modded-input text-light' name="search" placeholder="Search...">
                </form>
                <select class="search-select">
                    <option selected="selected">All</option>
                    {% if media_list == 'movieslist' %}
                        <option>Director</option>
                    {% endif %}
                    <option>Titles</option>
                    <option>Actors</option>
                    <option>Genres</option>
                </select>
            </div>
        </div>
        <div class="d-flex flex-wrap" style="justify-content: center;">
            {% block button scoped %}
            {% endblock button %}
        </div>
    </div>
    <div class="m-t-10">
        <div class="custom-control custom-switch m-b-10" {% if user_id == current_user.get_id() %}
             style="display: none;" {% endif %}>
            <input id="SharedMedia" type="checkbox" class="custom-control-input" onchange="HideCommon()">
            <label class="custom-control-label" for="SharedMedia"><b>Hide shared media</b></label>
        </div>
        <div class="custom-control custom-switch m-b-10">
            <input id="ShowFavorites" type="checkbox" class="custom-control-input" onchange="ShowFavorites()">
            <label class="custom-control-label" for="ShowFavorites"><b>Show favorites</b></label>
        </div>
    </div>

    <h2 class="text-center m-t-40 mb-0">{{ category|upper }} ({{ total_response }})</h2>
    <hr class="mt-2 pb-3 mb-0">
    <div class="row infinite-scroll-container">
        {% for data in media_data  %}
            <div id="card_{{ data['id'] }}" values="{% block data scoped %}{% endblock data %}"
                 cat="{{ data['category'] }}" class="card-container col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4">
        <div class="card bg-transparent">
            <div class="view overlay">
                <img class="card-img-top" src="{{ data['cover'] }}" height="300" width="200"
                     style="height: auto;" alt=""/>
                <a class="mask flex-center rgba-black-strong" href="/media_sheet/{{ data['media'] }}/{{ data['id'] }}">
                    <span class="font-mask text-center text-light">{{ data['display_name'] }}</span>
                </a>
                {% if searching %}
                    <div class="bottom-card-cat{% if media_list =='movieslist' %}-movie {% endif %}">{{ data['category'] }}</div>
                {% endif %}
                {% if user_id == current_user.get_id() %}
                    <a class="card-btn-top-left fas fa-bars text-light"
                       onclick="chargeButtons(card_{{ data['id'] }})">
                    </a>
                    <a class="card-btn-toop-right fas fa-trash text-light"
                       onclick="deleteElement(card_{{ data['id'] }}, '{{ media_list }}')">
                    </a>
                {% else %}
                    {% if data['common'] %}
                        <div class="card-ribbon"></div>
                    {% else %}
                        <a class="card-btn-top-left fas fa-plus text-light"
                         onclick="ChargeButtonsOther(card_{{ data['id'] }})">
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="bottom-card-info{% if media_list =='movieslist' %}-movie {% endif %}">
                <div class="row no-gutters" style="opacity: 0.7;">
                    <div class="col">
                        <a class="fa-heart {% if data['favorite'] %} fas favorited {% else %}
                         far {% endif %} {% if user_id != current_user.get_id() %}
                         disabled {% endif %}" data-toggle='tooltip' title="Favorite"
                           onclick="addFavorite(this,'{{ data['id'] }}','{{ media_list }}')">
                        </a>
                    </div>
                    <div class="col">
                        <a id="score_{{ data['id'] }}" class="{% if user_id != current_user.get_id() %}
                         disabled {% endif %}" data-toggle="tooltip" title="Score /10"
                        onclick="scoreDrop(this, {{ data['id'] }}, '{{ media_list }}')">
                            {{ data['score'] }}
                        </a>
                    </div>
                    <div class="col">
                        <span id="com_{{ data['id'] }}" style="display: none;">
                            {{ data['comment'] }}
                        </span>
                        {% if user_id == current_user.get_id() %}
                            <a class="fa-comment-alt text-light {% if data['comment'] %} fas commented {% else %}
                            far {% endif %}" data-toggle='tooltip' title="Comments"
                            {% if data['comment'] %} onclick="showComment(card_{{ data['id'] }},
                             '{{ data['media'] }}', '{{ data['id'] }}', true)"
                            {% else %} href="/comment/{{ data['media'] }}/{{ data['id'] }}"{% endif %}>
                            </a>
                        {% else %}
                            <a class="fa-comment-alt text-light {% if data['comment'] %} fas commented {% else %}
                            far disabled{% endif %}" data-toggle='tooltip' title="Comments"
                            {% if data['comment'] %} onclick="showComment(card_{{ data['id'] }},
                             '{{ data['media'] }}', '{{ data['id'] }}', false)"
                            {% endif %}>
                            </a>
                        {% endif %}
                    </div>
                    <div class="col" {% if category == 'Completed'
                    or category == 'Completed Animation' %} style="display: block;"{% else %}
                         style="display: none;"{% endif %}>
                        <a id="rew_{{ data['id'] }}" class="{% if user_id != current_user.get_id() %}
                         disabled {% endif %}" data-toggle="tooltip" title="How many time you
                         rewatched this media. Do not count the inital completion."
                         onclick="rewatchDrop(this, {{ data['id'] }}, '{{ media_list }}')">
                            {{ data['rewatched'] }}
                        </a>
                    </div>
                </div>
            </div>
            {% block seas_eps_drop scoped %}
            {% endblock seas_eps_drop %}
        </div>
    </div>
        {% endfor %}
    </div>

    <div class="scroller-status">
        <p class="infinite-scroll-error text-center">End of content</p>
    </div>
    <p class="pagination">
        {% if searching %}
            <a class="pagination__next" href="/{{ media_list }}/{{ username }}?search={{ search }}&page=2"></a>
        {% else %}
            <a class="pagination__next" href="/{{ media_list }}/{{ username }}?cat={{ button_cat }}&page=2"></a>
        {% endif %}
    </p>
{% endblock content %}


{% block script %}
    <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
    <script src="{{ url_for('static', filename='js/medialist_base.js') }}"></script>
    {% block javascript scoped %}
    {% endblock javascript %}
{% endblock script %}
