{% extends 'medialist_base.html' %}


{% block categories %}
    <a class="cat-btn {% if category == 'Completed' %}btn-selected{% endif %}"
       href="/{{ media_list }}/{{ username }}/Completed/genre/{{ genre }}/by/{{ sorting }}/page/1">
        <b>COMPLETED</b>
    </a>
    <a class="cat-btn {% if category == 'Completed Animation' %}btn-selected{% endif %}"
       href="/{{ media_list }}/{{ username }}/Completed Animation/genre/{{ genre }}/by/{{ sorting }}/page/1">
        <b>COMPLETED ANIMATION</b>
    </a>
    <a class="cat-btn {% if category == 'Plan to Watch' %}btn-selected{% endif %}"
       href="/{{ media_list }}/{{ username }}/Plan to Watch/genre/{{ genre }}/by/{{ sorting }}/page/1">
        <b>PLAN TO WATCH</b>
    </a>
    <a class="cat-btn {% if category == 'Favorite' %}btn-selected{% endif %}"
       href="/{{ media_list }}/{{ username }}/Favorite/genre/{{ genre }}/by/{{ sorting }}/page/1">
        <b>FAVORITES</b>
    </a>
{% endblock categories %}


{% block sorting_list %}
    <a class="dropdown-item text-light"
       href="/{{ media_list }}/{{ username }}/{{ category }}/genre/{{ genre }}/by/release_date_desc/page/1{% if category == 'search' %}?q={{ search_query }}{% endif %}">
        <div>Release dates 🠗</div>
    </a>
    <a class="dropdown-item text-light"
       href="/{{ media_list }}/{{ username }}/{{ category }}/genre/{{ genre }}/by/release_date_asc/page/1{% if category == 'search' %}?q={{ search_query }}{% endif %}">
        <div>Release dates 🠕</div>
    </a>
{% endblock sorting_list %}


{#{% block sorting_list %}#}
{#    <option {% if sort_val == 'title' %}selected="selected"{% endif %} value="title">Title</option>#}
{#    <option {% if sort_val == 'score' %}selected="selected"{% endif %} value="score">Score</option>#}
{#    <option {% if sort_val == 'rewatch' %}selected="selected"{% endif %} value="rewatch">Rewatch</option>#}
{#    <option {% if sort_val == 'comment' %}selected="selected"{% endif %} value="comment">Comment</option>#}
{#    <option {% if sort_val == 'release_date' %}selected="selected"{% endif %} value="release_date">Release date</option>#}
{#{% endblock sorting_list %}#}
{##}
{##}
{#{% block button %}#}
{#    <a class="btn btn-sm {% if category == 'Completed' %} btn-selected {% else %} btn-header {% endif %}"#}
{#    href="/{{ media_list }}/{{ username }}?category=Completed&sort={{ sort_val }}&filter={{ filter_val }}">COMPLETED</a>#}
{#    <a class="btn btn-sm {% if category == 'Completed Animation' %} btn-selected {% else %} btn-header {% endif %}"#}
{#    href="/{{ media_list }}/{{ username }}?category=Completed Animation&sort={{ sort_val }}&filter={{ filter_val }}">COMPLETED ANIMATION</a>#}
{#    <a class="btn btn-sm {% if category == 'Plan to Watch' %} btn-selected {% else %} btn-header {% endif %}"#}
{#    href="/{{ media_list }}/{{ username }}?category=Plan to Watch&sort={{ sort_val }}&filter={{ filter_val }}">PLAN TO WATCH</a>#}
{#    <a class="btn btn-sm {% if category == 'Favorite' %}btn-selected-fav {% else %} btn-header-fav{% endif %}"#}
{#    href="/{{ media_list }}/{{ username }}?category=Favorite&sort={{ sort_val }}&filter={{ filter_val }}">FAVORITES</a>#}
{#{% endblock button %}#}


{% block data %}
    {{ data['genres'] }}-{{ media_list }}-{{ data['id'] }}
{% endblock data %}


{% block javascript %}
    <script src="{{ url_for('static', filename='js/medialist_movies.js') }}"></script>
{% endblock javascript %}