{% extends 'media_sheet_base.html' %}


{% block medialist_cat_drop %}
    <select id="category-dropdown" class="text-light text-center cat-drop"
    onchange="changeCategoryGames('{{ data['id'] }}', this, '{{ media_list }}')">
        <option {% if data['status'] == 'Playing' %} selected="selected" {% endif %}>Playing</option>
        <option {% if data['status'] == 'Completed' %} selected="selected" {% endif %}>Completed</option>
        <option {% if data['status'] == 'Endless' %} selected="selected" {% endif %}>Endless</option>
        <option {% if data['status'] == 'Multiplayer' %} selected="selected" {% endif %}>Multiplayer</option>
        <option {% if data['status'] == 'On Hold' %} selected="selected" {% endif %}>On Hold</option>
        <option {% if data['status'] == 'Dropped' %} selected="selected" {% endif %}>Dropped</option>
        <option {% if data['status'] == 'Owned' %} selected="selected" {% endif %}>Owned</option>
        <option {% if data['status'] == 'Plan to Play' %} selected="selected"{% endif %}>Plan to Play</option>
    </select>
{% endblock medialist_cat_drop %}


{% block medialist_eps_seas_drop %}
{% endblock medialist_eps_seas_drop %}


{% block information %}
    <div class="col-6">
        <ul class="list-unstyled">
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-star"></i><b>&nbsp; IGDB Score</b></h5>
                <i class="fas fa-gamepad fa-3x media-ticket" value="{{ data['vote_average']|round(2) }}"></i>
                <div class="movie-vote-average">{{ data['vote_average'] }}</div>
                <div class="movie-vote-count">({{ data['vote_count']|int }} votes)</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-money-bill-wave-alt"></i><b>&nbsp; Publisher</b></h5>
                <div>{{ ', '.join(data['publisher']) }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-terminal"></i><b>&nbsp; Developer</b></h5>
                <div>{{ ', '.join(data['developer']) }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-calendar-check"></i><b>&nbsp; Release date</b></h5>
                <div>{{ data['first_release_date'] }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-clock"></i><b>&nbsp; Collection Name</b></h5>
                <div>{{ data['collection_name'] }}</div>
            </li>
            <li>
                <h5 class="mb-1 text-media"><i class="fas fa-flag"></i><b>&nbsp; Game Engine</b></h5>
                    <span class="flag-icon flag-icon-{{ data['game_engine'] }}"></span>
            </li>
        </ul>
    </div>
    <div class="col-6">
        <ul class="list-unstyled">
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-theater-masks"></i><b>&nbsp; Genres</b></h5>
                <div>{{ data['genres'] }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-user"></i><b>&nbsp; Game Modes</b></h5>
                <div>{{ data['game_modes'] }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-tag"></i><b>&nbsp; Player Perspective</b></h5>
                <div>{{ data['player_perspective'] }}</div>
            </li>
            <li>
                <h5 class="mb-1 text-media"><i class="fas fa-home"></i><b>&nbsp; IGDB link</b></h5>
                <a style="word-break: break-all;" href="{{ data['IGDB_url'] }}">{{ data['IGDB_url'] }}</a>
            </li>
        </ul>
    </div>
{% endblock information %}


{% block more_info %}
    <h4><i class="fas fa-dollar-sign"></i>&nbsp;&nbsp; <b>Storyline</b></h4><hr>
    <ul class="text-left p-0">
        <li class="m-b-10">
            <div class="row">
                <div class="col">{{ data['storyline'] }}</div>
            </div>
        </li>
    </ul>
{% endblock more_info %}
