{% extends 'media_sheet_base.html' %}


{% block medialist_info %}
    <div class="row m-l-15 m-r-15">
        <div class="col-4"><b>Status:</b></div>
        <div class="col-8">
            <label for="category-dropdown"></label>
            <select id="category-dropdown" class="text-light text-center cat-drop"
             onchange="changeCategoryTV('{{ data['id'] }}', this, '{{ data['eps_per_season'] }}', '{{ media_list }}')">
                <option {% if data['status'] == 'Watching' %} selected="selected" {% endif %}>Watching</option>
                <option {% if data['status'] == 'Completed' %} selected="selected" {% endif %}>Completed</option>
                <option {% if data['status'] == 'On Hold' %} selected="selected" {% endif %}>On Hold</option>
                <option {% if data['status'] == 'Random' %} selected="selected" {% endif %}>Random</option>
                <option {% if data['status'] == 'Dropped' %} selected="selected" {% endif %}>Dropped</option>
                <option {% if data['status'] == 'Plan to Watch' %} selected="selected"{% endif %}>Plan to Watch</option>
            </select>
            <i id="cat-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
            &nbsp;<i id="cat-check" class="fas fa-check" style="display: none;"></i>
        </div>
    </div>
    <div id="season-row" class="row m-l-15 m-r-15" {% if data['status'] == 'Plan to Watch'
     or data['status'] == 'Random' %} style="display: none;" {% endif %}>
        <div class="col-4"><b>Season:</b></div>
        <div class="col-8">
            <label for="season-dropdown"></label>
            <select id="season-dropdown" class="text-light text-center cat-drop"
            onchange="updateSeason('{{ data['id'] }}', this, '{{ data['eps_per_season'] }}', '{{ media_list }}')">
                {% for eps in range(0, data['eps_per_season']|length) %}
                    {% if eps + 1 == data['current_season'] %}
                        <option selected="selected" value="{{ eps }}">
                            &nbsp{{ eps + 1 }}&nbsp
                        </option>
                    {% else %}
                        <option value="{{ eps }}">&nbsp{{ eps + 1 }}&nbsp</option>
                    {% endif %}
                {% endfor %}
            </select>
            <i id="season-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
            &nbsp;<i id="season-check" class="fas fa-check" style="display: none;"></i>
        </div>
    </div>
    <div id="episode-row" class="row m-l-15 m-r-15" {% if data['status'] == 'Plan to Watch'
     or data['status'] == 'Random' %} style="display: none;" {% endif %}>
        <div class="col-4"><b>Episode:</b></div>
        <div class="col-8">
            <label for="episode-dropdown"></label>
            <select id="episode-dropdown" class="text-light text-center cat-drop"
            onchange="updateEpisode('{{ data['id'] }}', this, '{{ media_list }}')">
                {% if data['status'] == 'Plan to Watch' or data['status'] == 'Random' %}
                    {% for i in range(0, data['eps_per_season'][data['current_season'] - 1]) %}
                        {% if i + 1 == 1 %}
                            <option selected="selected" value="{{ i }}">
                                &nbsp;{{ "E{:02}".format(i + 1) }}&nbsp;
                            </option>
                        {% else %}
                            <option value="{{ i }}">
                                &nbsp;{{ "E{:02}".format(i + 1) }}&nbsp;
                            </option>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for i in range(data['eps_per_season'][data['current_season'] - 1]) %}
                        {% if i + 1 == data['last_episode_watched'] %}
                            <option selected="selected" value="{{ i }}">
                                &nbsp;{{ i + 1 }}&nbsp;
                            </option>
                        {% else %}
                            <option value="{{ i }}">
                                &nbsp;{{ i + 1 }}&nbsp;
                            </option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
            <i id="eps-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
            &nbsp;<i id="eps-check" class="fas fa-check" style="display: none;"></i>
        </div>
    </div>
    <div class="m-l-25 m-r-35 m-t-8 m-b-8" style="border: 1px solid grey;"></div>
    <div id="score-row" class="row m-l-15 m-r-15" data-toggle="tooltip" title="Score /10">
        <div class="col-4"><b>Score:</b></div>
        <div class="col-8">
            &nbsp;<select id="score-dropdown" class="text-light text-center cat-drop"
            onchange="updateScore('{{ data['id'] }}', this, '{{ media_list }}')">
                <option {% if data['score'] == None or data['score'] == -1 %} selected="selected"
                {% endif %}value="---">
                    &nbsp;---&nbsp;
                </option>
                {% for i in range(0, 21) %}
                    <option {% if (i-(i/2)) == data['score'] %} selected="selected" {% endif %}
                    value="{{ (i-(i/2)) }}">
                        &nbsp;{{ (i-(i/2)) }}&nbsp;
                    </option>
                {% endfor %}
            </select>
            <i id="score-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
            &nbsp;<i id="score-check" class="fas fa-check" style="display: none;"></i>
        </div>
    </div>
    <div id="rewatch-row" class="row m-l-15 m-r-15" data-toggle="tooltip" title="How many time you rewatched this media.
     Do not count the inital completion." {% if data['status'] == 'Completed' %}{% else %}style="display: none;"{% endif %}>
        <div class="col-4"><b>Rewatched:</b></div>
        <div class="col-8">
            <label for="rewatched-dropdown"></label>
            <select id="rewatched-dropdown" class="text-light text-center cat-drop"
            onchange="updateRewatched('{{ data['id'] }}', this, '{{ media_list }}')">
                {% for i in range(0, 11) %}
                    {% if i == data['rewatched'] %}
                        <option selected="selected" value="{{ i }}">&nbsp;{{ i }}&nbsp;</option>
                    {% else %}
                        <option value="{{ i }}">&nbsp;{{ i }}&nbsp;</option>
                    {% endif %}
                {% endfor %}
            </select>
            <i id="rewatched-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
            &nbsp;<i id="rewatched-check" class="fas fa-check" style="display: none;"></i>
        </div>
    </div>
{% endblock medialist_info %}


{% block information %}
    <div class="col-6">
        <ul class="list-unstyled">
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-star"></i><b>&nbsp; TMDb Score</b></h5>
                <div style="font-size: 0.9rem;">
                    <i class="fas fa-tv fa-3x media-ticket" value="{{ data['vote_average'] }}"></i>
                </div>
                <div class="tv-vote-average">{{ data['vote_average'] }}</div>
                <div class="tv-vote-count">({{ data['vote_count']|int }} votes)</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-video"></i><b>&nbsp; Created by</b></h5>
                <div>{{ data['created_by'] }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-cog"></i><b>&nbsp; Prod. Status</b></h5>
                <div>{{ data['prod_status'] }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-calendar-check"></i><b>&nbsp; Air dates</b></h5>
                <div>{{ data['first_air_date'] }} - {{ data['last_air_date'] }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-play-circle"></i><b>&nbsp; Seasons</b></h5>
                <div>{{ data['total_seasons'] }} Seasons</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-forward"></i><b>&nbsp; Episodes</b></h5>
                <div>{{ data['total_episodes'] }} Episodes</div>
            </li>
            <li>
                <h5 class="mb-1 text-media"><i class="fas fa-clock"></i><b>&nbsp; Eps. duration</b></h5>
                <div>{{ data['duration'] }} min</div>
            </li>
        </ul>
    </div>
    <div class="col-6">
        <ul class="list-unstyled">
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-theater-masks"></i><b>&nbsp; Genres</b></h5>
                <div>{{ data['genres'] }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-user"></i><b>&nbsp; Main Actors</b></h5>
                {% if data['actors'] == 'Unknown' %}
                    <div><i>No actors found</i></div>
                {% else %}
                    <div>{{ data['actors'] }}</div>
                {% endif %}
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-building"></i><b>&nbsp; Networks</b></h5>
                <div>{{ data['networks'] }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-clock"></i><b>&nbsp; Completion</b></h5>
                <div>{{ data['time_to_complete']//60 }} h {{ '%02d'|format(data['time_to_complete']%60) }} min</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-flag"></i><b>&nbsp; Origin country</b></h5>
                {% if data['origin_country'] == 'en' %}
                    <span class="flag-icon flag-icon-us"></span>&nbsp;
                {% else %}
                    <span class="flag-icon flag-icon-{{ data['origin_country']|lower }}"></span>
                {% endif %}
                &nbsp;<span>{{ data['origin_country'] }}</span>
            </li>
            <li>
                <h5 class="mb-1 text-media"><i class="fas fa-home"></i><b>&nbsp; Homepage</b></h5>
                {% if data['homepage'] != 'Unknown' %}
                    <a style="word-break: break-all;" href="{{ data['homepage'] }}">
                        {{ data['homepage'] }}
                    </a>
                {% else %}
                    <i>No homepage available</i>
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock information %}


{% block more_info %}
    <h4><i class="fas fa-play"></i>&nbsp;&nbsp; <b>Episodes per season</b></h4><hr>
    <div class="eps-per-season d-flex flex-wrap">
        {% for eps in data['eps_per_season'] %}
            <div class="m-l-7 m-r-7 m-b-15">
                <div class="box text-center">
                    <div class="p-t-15"><b>S{{ '{:02d}'.format(loop.index) }}</b></div>
                    <div><b>{{ eps }} Ep</b></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock more_info %}



{#                        <ul class="text-left p-0">#}
{#                            <li class="m-b-10">#}
{#                                <div class="row">#}
{#                                    {% if media_list != 'movieslist' %}#}
{#                                        <div class="col-5"><b>Created by:</b></div>#}
{#                                        <div class="col-7">{{ data['created_by'] }}</div>#}
{#                                    {% else %}#}
{#                                        <div class="col-5"><b>Directed by:</b></div>#}
{#                                        <div class="col-7">{{ data['director'] }}</div>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </li>#}
{#                            <li class="m-b-10">#}
{#                                <div class="row">#}
{#                                    {% if media_list != 'movieslist' %}#}
{#                                        <div class="col-5"><b>Airing dates:</b></div>#}
{#                                        <div class="col-7">{{ data['first_air_date'] }}#}
{#                                            – {{ data['last_air_date'] }}</div>#}
{#                                    {% else %}#}
{#                                        <div class="col-5"><b>Release date:</b></div>#}
{#                                        <div class="col-7">{{ data['release_date'] }}</div>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </li>#}
{#                            {% if media_list != 'movieslist' %}#}
{#                                <li class="m-b-10">#}
{#                                    <div class="row">#}
{#                                        <div class="col-5"><b>Production status:</b></div>#}
{#                                        <div class="col-7">{{ data['prod_status'] }}</div>#}
{#                                    </div>#}
{#                                </li>#}
{#                            {% endif %}#}
{#                            <li class="m-b-10">#}
{#                                <div class="row">#}
{#                                    <div class="col-5"><b>Genres:</b></div>#}
{#                                    <div class="col-7">{{ data['genres'] }}</div>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li class="m-b-10">#}
{#                                <div class="row">#}
{#                                    <div class="col-5"><b>Actors:</b></div>#}
{#                                    {% if data['actors'] == 'Unknown' %}#}
{#                                        <div class="col-7"><i>No actors found</i></div>#}
{#                                    {% else %}#}
{#                                        <div class="col-7">{{ data['actors'] }}</div>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </li>#}
{#                            <li class="m-b-10">#}
{#                                <div class="row">#}
{#                                    <div class="col-5"><b>TMDb score:</b></div>#}
{#                                    <div class="col-7">#}
{#                                        {{ data['vote_average'] }} ({{ data['vote_count']|int }} votes)#}
{#                                    </div>#}
{#                                </div>#}
{#                            </li>#}
{#                            {% if media_list != 'movieslist' %}#}
{#                                <li class="m-b-10">#}
{#                                    <div class="row">#}
{#                                        <div class="col-5"><b>N° of seasons:</b></div>#}
{#                                        <div class="col-7">{{ data['total_seasons'] }}</div>#}
{#                                    </div>#}
{#                                </li>#}
{#                                <li class="m-b-10">#}
{#                                    <div class="row">#}
{#                                        <div class="col-5"><b>N° of episodes:</b></div>#}
{#                                        <div class="col-7">{{ data['total_episodes'] }}</div>#}
{#                                    </div>#}
{#                                </li>#}
{#                            {% endif %}#}
{#                            <li class="m-b-10">#}
{#                                <div class="row">#}
{#                                    {% if media_list != 'movieslist' %}#}
{#                                        <div class="col-5"><b>Episode duration:</b></div>#}
{#                                        <div class="col-7">{{ data['duration'] }} min</div>#}
{#                                    {% else %}#}
{#                                        <div class="col-5"><b>Movie duration</b></div>#}
{#                                        <div class="col-7">{{ data['duration'] }} min</div>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </li>#}
{#                            {% if media_list != 'movieslist' %}#}
{#                                <li class="m-b-10">#}
{#                                    <div class="row">#}
{#                                        <div class="col-5"><b>Time to watch:</b></div>#}
{#                                        <div#}
{#                                        class="col-7">{{ ((data['total_episodes'] * data['duration'])/60)|round(1) }}#}
{#                                            hours#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </li>#}
{#                                <li class="m-b-10">#}
{#                                    <div class="row">#}
{#                                        <div class="col-5"><b>Origin country:</b></div>#}
{#                                        <div class="col-7">{{ data['origin_country'] }}</div>#}
{#                                    </div>#}
{#                                </li>#}
{#                            {% endif %}#}
{#                            {% if media_list == 'movieslist' %}#}
{#                                <li class="m-b-10">#}
{#                                    <div class="row">#}
{#                                        <div class="col-5"><b>Original language:</b></div>#}
{#                                        <div class="col-7">{{ data['original_language'] }}</div>#}
{#                                    </div>#}
{#                                </li>#}
{#                            {% endif %}#}
{#                            {% if media_list != 'movieslist' %}#}
{#                                <li class="m-b-10">#}
{#                                    <div class="row">#}
{#                                        <div class="col-5"><b>Networks:</b></div>#}
{#                                        {% if data['networks'] == 'Unknown' %}#}
{#                                            <div class="col-7"><i>No networks found</i></div>#}
{#                                        {% else %}#}
{#                                            <div class="col-7">{{ data['networks'] }}</div>#}
{#                                        {% endif %}#}
{#                                    </div>#}
{#                                </li>#}
{#                            {% endif %}#}
{#                            {% if media_list == 'movieslist' %}#}
{#                                <li class="m-b-10">#}
{#                                    <div class="row">#}
{#                                        <div class="col-5"><b>Tagline:</b></div>#}
{#                                        <div class="col-7">{{ data['tagline'] }}</div>#}
{#                                    </div>#}
{#                                </li>#}
{#                            {% endif %}#}
{#                            <li class="m-b-10">#}
{#                                <div class="row">#}
{#                                    <div class="col-5"><b>Homepage:</b></div>#}
{#                                    <div class="col-7" style="overflow-wrap: break-word;">#}
{#                                        {% if data['homepage'] == 'Unknown' %}#}
{#                                            <div><i>No homepage available</i></div>#}
{#                                        {% elif data['homepage'] != 'Unknown' or data['homepage'] != None %}#}
{#                                            <a href="{{ data['homepage'] }}">{{ data['homepage'] }}</a>#}
{#                                        {% endif %}#}
{#                                    </div>#}
{#                                </div>#}
{#                            </li>#}
{#                        </ul>#}