{% extends 'medialist_base.html' %}


{% block data %}
    {{ data['eps_per_season'] }}-{{ media_list }}-{{ data['id'] }}
{% endblock data %}


{% block select_box %}
    <div class="seas-eps-box" {% if data['category'].value == 'Plan to Watch' or data['category'].value == 'Random' %}
         style="display: none;"{% endif %}>
        <div style="display: inline-block;">
            <label for="S_{{ data['id'] }}"></label>
            <select id="S_{{ data['id'] }}" class="text-light text-center select-box
             {% if target_user_id != current_user.get_id() %} disabled{% endif %}"
             onchange="updateSeason('{{ data['id'] }}', this)">
                {% for i in range(data['eps_per_season']|length) %}
                    {% if i + 1 == data['current_season'] %}
                        <option class="card-opt-box" selected="selected">&nbsp;{{ "S{:02}".format(i + 1) }}&nbsp;</option>
                    {% else %}
                        <option class="card-opt-box">&nbsp;{{ "S{:02}".format(i + 1) }}&nbsp;</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div style="display: inline-block;">|</div>
        <div style="display: inline-block;">
            <label for="E_{{ data['id'] }}"></label>
            <select id="E_{{ data['id'] }}" class="text-light text-center p-0 select-box
             {% if target_user_id != current_user.get_id() %} disabled{% endif %}"
             onchange="updateEpisode('{{ data['id'] }}', this, '{{ media_list }}')">
                {% if data['category'].value == 'Plan to Watch' or data['category'].value == 'Random' %}
                    {% for i in range(0, data['eps_per_season'][data['current_season'] - 1]) %}
                        {% if i + 1 == 1 %}
                            <option class="card-opt-box" selected="selected">&nbsp;{{ "E{:02}".format(i + 1) }}&nbsp;</option>
                        {% else %}
                            <option class="card-opt-box">&nbsp;{{ "E{:02}".format(i + 1) }}&nbsp;</option>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for i in range(data['eps_per_season'][data['current_season'] - 1]) %}
                        {% if i + 1 == data['last_episode_watched'] %}
                            <option class="card-opt-box" selected="selected">&nbsp;{{ "E{:02}".format(i + 1) }}&nbsp;</option>
                        {% else %}
                            <option class="card-opt-box">&nbsp;{{ "E{:02}".format(i + 1) }}&nbsp;</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>
{% endblock select_box %}


{% block javascript %}
    <script src="{{ url_for('static', filename='js/medialist_tv.js') }}"></script>
{% endblock javascript %}