{% extends 'medialist_base.html' %}


{% block button %}
    <a class="btn btn-sm {% if category == 'Watching' %} btn-selected {% else %} btn-header {% endif %}"
       href="/{{ media_list }}/{{ username }}?cat=Watching">WATCHING</a>
    <a class="btn btn-sm {% if category == 'Completed' %} btn-selected {% else %} btn-header {% endif %}"
       href="/{{ media_list }}/{{ username }}?cat=Completed">COMPLETED</a>
    <a class="btn btn-sm {% if category == 'On Hold' %} btn-selected {% else %} btn-header {% endif %}"
       href="/{{ media_list }}/{{ username }}?cat=On Hold">ON HOLD</a>
    <a class="btn btn-sm {% if category == 'Random' %} btn-selected {% else %} btn-header {% endif %}"
       href="/{{ media_list }}/{{ username }}?cat=Random">RANDOM</a>
    <a class="btn btn-sm {% if category == 'Dropped' %} btn-selected {% else %} btn-header {% endif %}"
       href="/{{ media_list }}/{{ username }}?cat=Dropped">DROPPED</a>
    <a class="btn btn-sm {% if category == 'Plan to Watch' %} btn-selected {% else %} btn-header {% endif %}"
       href="/{{ media_list }}/{{ username }}?cat=Plan to Watch">PLAN TO WATCH</a>
{% endblock button %}


{% block data %}
    {{ data['eps_per_season'] }}-{{ media_list }}-{{ data['id'] }}
{% endblock data %}


{% block seas_eps_drop %}
    <div class="seas-eps-drop-container" {% if category == 'Plan to Watch'
    or category == 'Random' %} style="display: none;"{% endif %}>
        <select id="S_{{ data['id'] }}" class="seas-eps-drop
         {% if user_id != current_user.get_id() %} disabled{% endif %}"
                onchange="updateSeason('{{ data['id'] }}', this)">
            {% for i in range(data['eps_per_season']|length) %}
                <option class="seas-eps-drop-options" {% if i + 1 == data['current_season'] %}
                        selected="selected"{% endif %}>
                    {{ "S{:02}".format(i + 1) }}
                </option>
            {% endfor %}
        </select>

        <span style="border-right: 2px solid gray;"></span>

        <select id="E_{{ data['id'] }}" class="text-light text-center p-0 seas-eps-drop
         {% if user_id != current_user.get_id() %} disabled{% endif %}"
                onchange="updateEpisode('{{ data['id'] }}', this, '{{ media_list }}')">
            {% if category == 'Plan to Watch' or category == 'Random' %}
                {% for i in range(0, data['eps_per_season'][data['current_season'] - 1]) %}
                    <option class="seas-eps-drop-options" {% if i + 1 == 1 %} selected="selected" {% endif %}>
                        {{ "E{:02}".format(i + 1) }}
                    </option>
                {% endfor %}
            {% else %}
                {% for i in range(data['eps_per_season'][data['current_season'] - 1]) %}
                    <option class="seas-eps-drop-options"
                    {% if i + 1 == data['last_episode_watched'] %} selected="selected" {% endif %}>
                        {{ "E{:02}".format(i + 1) }}
                    </option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
{% endblock seas_eps_drop %}


{% block javascript %}
    <script src="{{ url_for('static', filename='js/medialist_tv.js') }}"></script>
{% endblock javascript %}