{% extends 'media_sheet_base.html' %}


{% block medialist_info %}
    <div class="row m-l-15 m-r-15">
        <div class="col-4"><b>Status:</b></div>
        <div class="col-8">
            <label for="category-dropdown"></label>
            <select id="category-dropdown" class="text-light text-center cat-drop"
              onchange="changeCategoryGames('{{ data['id'] }}', this)">
                <option {% if data['status'] == 'Completed' %} selected="selected" {% endif %}>Completed</option>
                <option {% if data['status'] == 'Endless' %} selected="selected" {% endif %}>Endless</option>
                <option {% if data['status'] == 'Multiplayer' %} selected="selected" {% endif %}>Multiplayer</option>
            </select>
            <i id="cat-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
            &nbsp;<i id="cat-check" class="fas fa-check" style="display: none;"></i>
        </div>
    </div>
    <div class="row m-l-15 m-r-15">
        <div class="col-4"><b>Played:</b></div>
        <div class="col-8">
            <label for="time-dropdown"></label>
            <select id="time-dropdown" class="text-light text-center cat-drop"
             onchange="updatePlaytime('{{ data['id'] }}', this)">
                <option {% if data['playtime'] == None or data['playtime'] == 0 %} selected="selected"
                {% endif %}value="0">
                    &nbsp;0&nbsp;
                </option>
                {% for i in range(0, 31) %}
                    <option {% if i == data['playtime'] %} selected="selected" {% endif %}
                    value="{{ i }}">&nbsp;{{ i }}&nbsp;</option>
                {% endfor %}
            </select>
            <i id="time-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
            &nbsp;<i id="time-check" class="fas fa-check" style="display: none;"></i>
        </div>
    </div>
    <div class="text-center">
        <div class="btn btn-smaller btn-warning text-dark" onclick="updatePlaytime({{ data['id'] }})">Update time</div>
        <i id="time-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
        &nbsp;<i id="time-check" class="fas fa-check" style="display: none;"></i>
    </div>
    <div class="m-l-25 m-r-35 m-t-8 m-b-8" style="border: 1px solid grey;"></div>
    <div id="comp-row" class="row m-l-15 m-r-15" data-toggle="tooltip" title="100% completion?">
        <div class="col-4"><b>100%</b></div>
        <div class="col-8">
            <input type="checkbox" name="comp-check" onchange="updateCompletion('{{ data['id'] }}')"
            {% if data['completion'] == True %}checked{% endif %} class="m-l-12"/>
            <i id="comp-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
            &nbsp;<i id="comp-check" class="fas fa-check" style="display: none;"></i>
        </div>
    </div>
    <div id="score-row" class="row m-l-15 m-r-15" data-toggle="tooltip" title="Score /10">
        <div class="col-4"><b>Score:</b></div>
        <div class="col-8">
            <select id="score-dropdown" class="text-light text-center cat-drop"
            onchange="updateScore('{{ data['id'] }}', this, '{{ media_list }}')">
                <option {% if data['score'] == None or data['score'] == -1 %} selected="selected"
                {% endif %}value="---">
                    &nbsp;---&nbsp;
                </option>
                {% for i in range(0, 21) %}
                    <option {% if (i-(i/2)) == data['score'] %} selected="selected" {% endif %}
                    value="{{ (i-(i/2)) }}">
                        &nbsp;{{ (i-(i/2)) }}&nbsp;
                    </option>
                {% endfor %}
            </select>
            <i id="score-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
            &nbsp;<i id="score-check" class="fas fa-check" style="display: none;"></i>
        </div>
    </div>
{% endblock medialist_info %}


{% block information %}
    <div class="col-6">
        <ul class="list-unstyled">
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-star"></i><b>&nbsp; IGDB Score</b></h5>
                <i class="fas fa-scroll fa-3x media-ticket" value="{{ data['vote_average']|int }}"></i>
                <div class="game-vote-average">{{ data['vote_average']|int }}</div>
                <div class="movie-vote-count">({{ data['vote_count']|int }} votes)</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-code"></i><b>&nbsp; Developer</b></h5>
                <div>{{ ', '.join(data['developer']) }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-money-bill-wave-alt"></i><b>&nbsp; Publisher</b></h5>
                <div>{{ ', '.join(data['publisher']) }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-calendar-check"></i><b>&nbsp; Release date</b></h5>
                <div>{{ data['release_date'] }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-layer-group"></i><b>&nbsp; Collection Name</b></h5>
                <div>{{ data['collection_name'] }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-layer-group"></i><b>&nbsp; Platforms</b></h5>
                <div>{{ data['platforms'] }}</div>
            </li>
        </ul>
    </div>
    <div class="col-6">
        <ul class="list-unstyled">
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fab fa-unity"></i><b>&nbsp; Game Engine</b></h5>
                    <div>{{ data['game_engine'] }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-theater-masks"></i><b>&nbsp; Genres</b></h5>
                <div>{{ data['genres'] }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-user"></i><b>&nbsp; Game Modes</b></h5>
                <div>{{ data['game_modes']|replace(',', ', ') }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-cube"></i><b>&nbsp; Perspective</b></h5>
                <div>{{ data['player_perspective'] }}</div>
            </li>
            <li>
                <h5 class="mb-1 text-media"><i class="fas fa-link"></i><b>&nbsp; IGDB link</b></h5>
                <a style="word-break: break-all;" href="{{ data['IGDB_url'] }}">{{ data['IGDB_url'] }}</a>
            </li>
        </ul>
    </div>
{% endblock information %}


{% block more_info %}
    <h4><i class="fas fa-hourglass"></i>&nbsp;&nbsp; <b>HLTB data</b></h4><hr>
    <ul class="text-left p-0">
        <li class="m-b-10">
            <div class="row">
                <div class="col-5"><b>Main game</b></div>
                <div class="col-7">
                    {% if not data['hltb_main'] %}
                        <i>No data.</i>
                    {% else %}
                        {{ (data['hltb_main']/60)|int }} h
                    {% endif %}
                </div>
                <div class="col-5"><b>Main + Extra</b></div>
                <div class="col-7">
                     {% if not data['hltb_main'] %}
                        <i>No data.</i>
                    {% else %}
                        {{ (data['hltb_main_extra']/60)|int }} h
                    {% endif %}
                </div>
                <div class="col-5"><b>100%</b></div>
                <div class="col-7">
                    {% if not data['hltb_main'] %}
                        <i>No data.</i>
                    {% else %}
                        {{ (data['hltb_complete']/60)|int }} h
                    {% endif %}
                </div>
            </div>
        </li>
    </ul>
{% endblock more_info %}
