{% extends "layout.html" %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media_sheet.css') }}">
    <style>
        {% if media_list == 'serieslist' %}
            hr {margin-top: 5px; border-top: 1px solid #216e7d;}
        {% elif media_list == 'animelist' %}
            hr {margin-top: 5px; border-top: 1px solid #945141;}
        {% else %}
            hr {margin-top: 5px; border-top: 1px solid #8c7821;}
        {% endif %}
    </style>
{% endblock css %}


{% block content %}
    <div class="wrapper">
        <div class="row m-t-30">
            <div class="col-lg-4 col-md-5 col-sm-12">
                <div class="media-title-mobile" style="display: none;">
                    <h3>{{ data['original_name'] }}</h3>
                    {% if data['name'] %} <h5 class="text-grey"><i>{{ data['name'] }}</i></h5> {% endif %}
                    <hr>
                </div>
                <div class="text-center">
                    <img class="media-cover" src="/static/covers/{{ data['cover'] }}" alt=""/>
                </div>
                <div class="m-b-10 m-t-10">
                    <div id="your-medialist-data" class="m-t-5 p-2" {% if not data['in_user_list'] %}
                         style="display: none;" {% endif %}>
                        <h4 id="fav-title" class="m-l-15 m-r-15">
                            <i class="fas fa-list m-t-10"></i>&nbsp&nbsp <b>List Info</b>
                            <i id="favorite" class="favorite-css {% if data['favorite'] %} fas{% else %} far {% endif %}
                            fa-star m-t-10" onclick="addFavorite('{{ data['id'] }}', '{{ media_list }}')"></i>
                        </h4>
                        <hr class="m-l-15 m-r-15 m-b-8">
                        <div class="row m-l-30 m-r-25">
                            <div class="col-4">
                                <b>Status:</b>
                            </div>
                            <div class="col-8">
                                {% if media_list != 'movieslist' %}
                                    <label for="category-dropdown"></label>
                                    <select id="category-dropdown" class="text-light text-center cat-drop"
                                    onchange="changeCategoryTV('{{ data['id'] }}', this,'{{ data['eps_per_season'] }}',
                                    '{{ media_list }}')">
                                        <option {% if data['status'] == 'Watching' %} selected="selected" {% endif %}>
                                            Watching
                                        </option>
                                        <option {% if data['status'] == 'Completed' %} selected="selected" {% endif %}>
                                            Completed
                                        </option>
                                        <option {% if data['status'] == 'On Hold' %} selected="selected" {% endif %}>
                                            On Hold
                                        </option>
                                        <option {% if data['status'] == 'Random' %} selected="selected" {% endif %}>
                                            Random
                                        </option>
                                        <option {% if data['status'] == 'Dropped' %} selected="selected" {% endif %}>
                                            Dropped
                                        </option>
                                        <option {% if data['status'] == 'Plan to Watch' %} selected="selected"
                                        {% endif %}>
                                            Plan to Watch
                                        </option>
                                    </select>
                                {% else %}
                                    <select id="category-dropdown" class="text-light text-center cat-drop"
                                        onchange="changeCategoryMovies('{{ data['id'] }}', this, '{{ data['genres'] }}')">
                                    <option {% if data['status'] == 'Completed' or data['status'] == 'Completed Animation' %}
                                        selected="selected" {% endif %}>Completed</option>
                                    <option {% if data['status'] == 'Plan to Watch' %} selected="selected" {% endif %}>Plan to Watch</option>
                                </select>
                                {% endif %}
                                <img id="cat-loading" class="loading-img" style="display: none;"
                                     src="/static/img/loading.webp" alt=""/>
                                &nbsp;<i id="cat-check" class="fas fa-check" style="display: none;"></i>
                            </div>
                        </div>
                        {% if media_list != 'movieslist' %}
                            <div id="season-row" class="row m-l-30 m-r-25" {% if data['status'] == 'Plan to Watch'
                            or data['status'] == 'Random' %} style="display: none;" {% endif %}>
                                <div class="col-4">
                                    <b>Season:</b>
                                </div>
                                <div class="col-8">
                                    <label for="season-dropdown"></label>
                                    <select id="season-dropdown" class="text-light text-center cat-drop"
                                    onchange="updateSeason('{{ data['id'] }}', this, '{{ data['eps_per_season'] }}',
                                    '{{ media_list }}')">
                                        {% for eps in range(0, data['eps_per_season']|length) %}
                                            {% if eps + 1 == data['current_season'] %}
                                                <option selected="selected" value="{{ eps }}">
                                                    &nbsp{{ eps + 1 }}&nbsp
                                                </option>
                                            {% else %}
                                                <option value="{{ eps }}">&nbsp{{ eps + 1 }}&nbsp</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <img id="season-loading" class="loading-img" style="display: none;"
                                     src="/static/img/loading.webp" alt=""/>
                                    &nbsp;<i id="season-check" class="fas fa-check" style="display: none;"></i>
                                </div>
                            </div>
                            <div id="episode-row" class="row m-l-30 m-r-25" {% if data['status'] == 'Plan to Watch'
                            or data['status'] == 'Random' %} style="display: none;" {% endif %}>
                                <div class="col-4">
                                    <b>Episode:</b>
                                </div>
                                <div class="col-8">
                                    <label for="episode-dropdown"></label>
                                    <select id="episode-dropdown" class="text-light text-center cat-drop"
                                    onchange="updateEpisode('{{ data['id'] }}', this, '{{ media_list }}')">
                                        {% if data['status'] == 'Plan to Watch' or data['status'] == 'Random' %}
                                            {% for i in range(0, data['eps_per_season'][data['current_season'] - 1]) %}
                                                {% if i + 1 == 1 %}
                                                    <option selected="selected" value="{{ i }}">
                                                        &nbsp;{{ "E{:02}".format(i + 1) }}&nbsp;
                                                    </option>
                                                {% else %}
                                                    <option value="{{ i }}">
                                                        &nbsp;{{ "E{:02}".format(i + 1) }}&nbsp;
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% for i in range(data['eps_per_season'][data['current_season'] - 1]) %}
                                                {% if i + 1 == data['last_episode_watched'] %}
                                                    <option selected="selected" value="{{ i }}">
                                                        &nbsp;{{ i + 1 }}&nbsp;
                                                    </option>
                                                {% else %}
                                                    <option value="{{ i }}">
                                                        &nbsp;{{ i + 1 }}&nbsp;
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                    <img id="eps-loading" class="loading-img" style="display: none;"
                                         src="/static/img/loading.webp" alt=""/>
                                    &nbsp;<i id="eps-check" class="fas fa-check" style="display: none;"></i>
                                </div>
                            </div>
                        {% endif %}
                        <div id="rewatch-hr" class="m-l-35 m-r-55 m-t-8 m-b-8" style="border: 1px solid grey;"></div>
                        <div id="rewatch-row" class="row m-l-30 m-r-25" data-toggle="tooltip"
                        title="How many time you rewatched this media. Do not count the inital completion."
                        {% if data['status'] == 'Completed' or data['status'] == 'Completed Animation' %}
                        {% else %} style="display: none;" {% endif %}>
                            <div class="col-4">
                                <b>Rewatched:</b>
                            </div>
                            <div class="col-8">
                                <label for="rewatched-dropdown"></label>
                                <select id="rewatched-dropdown" class="text-light text-center cat-drop"
                                onchange="updateRewatched('{{ data['id'] }}', this, '{{ media_list }}')">
                                    {% for i in range(0, 11) %}
                                        {% if i == data['rewatched'] %}
                                            <option selected="selected" value="{{ i }}">&nbsp;{{ i }}&nbsp;</option>
                                        {% else %}
                                            <option value="{{ i }}">&nbsp;{{ i }}&nbsp;</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <img id="rewatched-loading" class="loading-img" style="display: none;" alt=""
                                src="/static/img/loading.webp"/>
                                &nbsp;<i id="rewatched-check" class="fas fa-check" style="display: none;"></i>
                            </div>
                        </div>
                        <div class="text-center m-t-15">
                            <button class="btn btn-smaller btn-danger" onclick="removeFromUser('{{ data['id'] }}',
                            '{{ media_list }}')">
                                <i class="fas fa-ban"></i>&nbsp; Remove from list
                            </button>
                            <img id="loading-remove-list" class="d-none" height="20" width="20"
                             src="/static/img/loading.webp" alt=""/>
                        </div>
                    </div>
                    <div class="text-center">
                        <button id="add-to-list" class="btn btn-smaller btn-info"{% if data['in_user_list'] %}
                             style="display: none;" {% endif %} onclick="addToUser('{{ data['id'] }}',
                                '{{ media_list }}')">
                            <i class="fas fa-plus"></i>&nbsp; Add to your list
                        </button>
                        <img id="loading-add-list" class="d-none" height="20" width="20"
                             src="/static/img/loading.webp" alt=""/>
                    </div>
                    <div id="add-media" class="alert alert-success p-2" style="display: none;">
                        Media added to your list
                    </div>
                    <div id="remove-media" class="alert alert-warning p-2" style="display: none;">
                        Media removed from your list
                    </div>
                    <div id="add-fav" class="alert alert-success p-2" style="display: none;">
                        Media added to your favorite
                    </div>
                    <div id="remove-fav" class="alert alert-warning p-2" style="display: none;">
                        Media removed from your favorite
                    </div>
                </div>
                <h4 class="m-l-21 m-r-15"><i class="fas fa-user-check m-t-8"></i>&nbsp&nbsp <b>In follow's list</b></h4>
                <hr class="m-l-20 m-r-24">
                <div class="mobile-follow m-l-15 m-r-15 p-2" style="margin-top: -10px;">
                    {% for follow in data['in_follows_lists'] %}
                        <a class="m-r-10" href="/account/{{ follow[0].username }}">
                            <div class="text-center m-b-10" style="display: inline-block;">
                                <img height="55" width="55" data-toggle="tooltip" title="{{ follow[0].username }}"
                                     src="/static/profile_pics/{{ follow[0].image_file }}" alt=""/><br>
                                {% if follow[1].favorite %}
                                    <i class="fas fa-sm fa-star" style="color: darkgoldenrod;"></i>
                                {% else %}
                                    <i class="far fa-sm fa-star" style="color: rgba(255, 255, 255, 0.25);"></i>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                </div>

{#                {% if media_list == 'movieslist' and data['collection_data'][0] %}#}
{#                    <h4 class="m-l-21 m-r-15"><i class="fas fa-box-open m-t-8"></i>&nbsp;&nbsp;#}
{#                        <b>{{ data['collection_data'][0].name }}</b>#}
{#                    </h4>#}
{#                    <hr class="m-l-20 m-r-24">#}
{#                    <div class="m-b-30">#}
{#                        {% set release = data['collection_data'][0].releases_dates.split(',') %}#}
{#                        {% for name in data['collection_data'][0].movies_names.split(',') %}#}
{#                            <div class="row m-l-5 m-r-5">#}
{#                                <div class="col-9">#}
{#                                    <b>{{ name }}</b>#}
{#                                </div>#}
{#                                <div class="col-3">#}
{#                                    <b>{{ release[loop.index0].split('-')[0] }}</b>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endif %}#}

            </div>
            <div class="col-lg-8 col-md-7 col-sm-12" style="margin-top: -10px;">
                <div class="media-title-pc">
                    <h3>{{ data['original_name'] }}</h3>
                    {% if data['name'] %} <h5 class="text-grey"><i>{{ data['name'] }}</i></h5> {% endif %}
                    <hr>
                </div>
                <div class="row p-t-15">
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <h4><i class="fas fa-info-circle"></i>&nbsp&nbsp <b>Information</b></h4>
                        <hr>
                        <ul class="text-left p-0">
                            <li class="m-b-10">
                                <div class="row">
                                    {% if media_list != 'movieslist' %}
                                    <div class="col-5"><b>Created by:</b></div>
                                    <div class="col-7">{{ data['created_by'] }}</div>
                                    {% else %}
                                        <div class="col-5"><b>Directed by:</b></div>
                                        <div class="col-7">{{ data['director'] }}</div>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="m-b-10">
                                <div class="row">
                                    {% if media_list != 'movieslist' %}
                                        <div class="col-5"><b>Airing dates:</b></div>
                                        <div class="col-7">{{ data['first_air_date'] }} – {{ data['last_air_date'] }}</div>
                                    {% else %}
                                        <div class="col-5"><b>Release date:</b></div>
                                        <div class="col-7">{{ data['release_date'] }}</div>
                                    {% endif %}
                                </div>
                            </li>
                            {% if media_list != 'movieslist' %}
                                <li class="m-b-10">
                                    <div class="row">
                                        <div class="col-5"><b>Production status:</b></div>
                                        <div class="col-7">{{ data['prod_status'] }}</div>
                                    </div>
                                </li>
                            {% endif %}
                            <li class="m-b-10">
                                <div class="row">
                                    <div class="col-5"><b>Genres:</b></div>
                                    <div class="col-7">{{ data['genres'] }}</div>
                                </div>
                            </li>
                            <li class="m-b-10">
                                <div class="row">
                                    <div class="col-5"><b>Actors:</b></div>
                                    <div class="col-7">{{ data['actors'] }}</div>
                                </div>
                            </li>
                            <li class="m-b-10">
                                <div class="row">
                                    <div class="col-5"><b>TMDb score:</b></div>
                                    <div class="col-7">{{ data['vote_average'] }} ({{ data['vote_count']|int }} votes)</div>
                                </div>
                            </li>
                            {% if media_list != 'movieslist' %}
                                <li class="m-b-10">
                                    <div class="row">
                                        <div class="col-5"><b>N° of seasons:</b></div>
                                        <div class="col-7">{{ data['total_seasons'] }}</div>
                                    </div>
                                </li>
                                <li class="m-b-10">
                                    <div class="row">
                                        <div class="col-5"><b>N° of episodes:</b></div>
                                        <div class="col-7">{{ data['total_episodes'] }}</div>
                                    </div>
                                </li>
                            {% endif %}
                            <li class="m-b-10">
                                <div class="row">
                                    {% if media_list != 'movieslist' %}
                                        <div class="col-5"><b>Episode duration:</b></div>
                                        <div class="col-7">{{ data['episode_duration'] }} min</div>
                                    {% else %}
                                        <div class="col-5"><b>Movie Runtime</b></div>
                                        <div class="col-7">{{ data['runtime'] }} min</div>
                                    {% endif %}
                                </div>
                            </li>
                            {% if media_list != 'movieslist' %}
                                <li class="m-b-10">
                                    <div class="row">
                                        <div class="col-5"><b>Time to watch:</b></div>
                                        <div class="col-7">{{ ((data['total_episodes'] * data['episode_duration'])/60)|round(1) }} hours</div>
                                    </div>
                                </li>
                                <li class="m-b-10">
                                <div class="row">
                                    <div class="col-5"><b>Origin country:</b></div>
                                    <div class="col-7">{{ data['origin_country'] }}</div>
                                </div>
                            </li>
                            {% endif %}
                            {% if media_list == 'movieslist' %}
                                <li class="m-b-10">
                                    <div class="row">
                                        <div class="col-5"><b>Original language:</b></div>
                                        <div class="col-7">{{ data['original_language'] }}</div>
                                    </div>
                                </li>
                            {% endif %}
                            {% if media_list != 'movieslist' %}
                                <li class="m-b-10">
                                    <div class="row">
                                        <div class="col-5"><b>Networks:</b></div>
                                        <div class="col-7">{{ data['networks'] }}</div>
                                    </div>
                                </li>
                            {% endif %}
                            {% if media_list == 'movieslist' %}
                                <li class="m-b-10">
                                    <div class="row">
                                        <div class="col-5"><b>Tagline:</b></div>
                                        <div class="col-7">{{ data['tagline'] }}</div>
                                    </div>
                                </li>
                            {% endif %}
                            <li class="m-b-10">
                                <div class="row">
                                    <div class="col-5"><b>Homepage:</b></div>
                                    <div class="col-7" style="overflow-wrap: break-word;">
                                        {% if data['homepage'] == 'Unknown' %}
                                            <div><i>No homepage available</i></div>
                                        {% elif data['homepage'] != 'Unknown' or data['homepage'] != None %}
                                            <a href="{{ data['homepage'] }}">{{ data['homepage'] }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        {% if media_list != 'movieslist' %}
                            <h4><i class="fas fa-play"></i>&nbsp&nbsp <b>Episodes per season</b></h4>
                            <hr>
                            <div class="eps-per-season d-flex flex-wrap">
                                {% for eps in data['eps_per_season'] %}
                                    <div class="m-l-7 m-r-7 m-b-15">
                                        <div class="box text-center">
                                            <div class="p-t-15"><b>S{{ '{:02d}'.format(loop.index) }}</b></div>
                                            <div><b>{{ eps }} Ep</b></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <h4><i class="fas fa-dollar-sign"></i>&nbsp&nbsp <b>Box-Office</b></h4>
                            <hr>
                            <ul class="text-left p-0">
                                <li class="m-b-10">
                                    <div class="row">
                                        <div class="col-4"><b>Budget:</b></div>
                                        <div class="col-8">{{ "{:,.2f}".format(data['budget']).replace(',', ' ') }} $</div>
                                    </div>
                                </li>
                                <li class="m-b-10">
                                    <div class="row">
                                        <div class="col-4"><b>Revenue:</b></div>
                                        <div class="col-8">{{ "{:,.2f}".format(data['revenue']).replace(',', ' ') }} $</div>
                                    </div>
                                </li>
                            </ul>
                        {% endif %}
                        <h4><i class="fas fa-thumbs-up m-t-30"></i>&nbsp&nbsp <b>Similar genres</b></h4>
                        <hr>
                        <div>
                            {% for similar in data['same_genres'] %}
                                <a class="m-r-10" href="/media_sheet/{{ data['media_type'] }}/{{ similar[0].id }}">
                                    <img class="m-b-10" height="80" width="53" data-toggle="tooltip" title="{{ similar[0].name }}"
                                         src="/static/covers/{{ data['cover_path'] }}/{{ similar[0].image_cover }}" alt=""/>
                                </a>
                            {% endfor %}
                            {% if not data['same_genres'] %}
                                <i>No media with the same genres.</i>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <h4><i class="fas fa-book-open m-t-15"></i>&nbsp&nbsp <b>Synopsis</b></h4>
                <hr>
                <p class="m-0 p-b-30 fs-18 text-justify">{{ data['synopsis'] }}</p>
                {% if current_user.role.value == "admin" or current_user.role.value == "manager" %}
                    <hr>
                    <div class="m-b-20 text-right">
                        {% if data['lock_status'] %}
                            <div class="custom-control custom-switch">
                                <input id="lock-button" class="custom-control-input" type="checkbox" checked
                                       onchange="lock_media('{{ data['id'] }}', '{{ media_list }}')">
                                <label id="lock-button-label" class="custom-control-label" for="lock-button">
                                    Media is Locked
                                </label>
                            </div>
                        {% else %}
                            <div class="custom-control custom-switch">
                                <input id="lock-button" class="custom-control-input" type="checkbox"
                                       onchange="lock_media('{{ data['id'] }}', '{{ media_list }}')">
                                <label id="lock-button-label" class="custom-control-label" for="lock-button">
                                    Media is Unlocked
                                </label>
                            </div>
                        {% endif %}
                        {% if data['lock_status'] %}
                            <a id="edit-button" class="btn btn-sm btn-warning text-dark"
                            href="/media_sheet_form/{{ data['media_type'] }}/{{ data['id'] }}">Edit media</a>
                        {% else %}
                            <a id="edit-button" class="btn btn-sm btn-warning text-dark"
                                 href="/media_sheet_form/{{ data['media_type'] }}/{{ data['id'] }}"
                                 style="display: none;">Edit media</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}


{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/media_sheet.js') }}"></script>
{% endblock script %}

