{% extends 'media_sheet_base.html' %}


{% block hr_color %}
    hr {margin-top: 5px; border-top: 1px solid #8c7821;}
{% endblock hr_color %}


{% block cat_select %}
    <select id="category-dropdown" class="text-light text-center cat-drop" onchange="changeCategoryMovies(
    '{{ data['id'] }}', this)">
        <option {% if data['status'] == 'Completed' %}selected="selected"{% endif %}>Completed</option>
        <option {% if data['status'] == 'Plan to Watch' %}selected="selected"{% endif %}>Plan to Watch</option>
    </select>
{% endblock cat_select %}


{% block add_more %}
{% endblock add_more %}


{% block add_redo %}
    <div id="rewatch-row" class="row m-l-15 m-r-15" data-toggle="tooltip" title="How many time you rewatched this media.
     Do not count the inital completion." {% if data['status'] == 'Completed'%}{% else %}style="display: none;"{% endif %}>
        <div class="col-4"><b>Rewatched:</b></div>
        <div class="col-8">
            <label for="rewatched-dropdown"></label>
            <select id="rewatched-dropdown" class="text-light text-center cat-drop" onchange="updateRewatched(
             '{{ data['id'] }}', this, '{{ media_list }}')">
                {% for i in range(0, 11) %}
                    <option {% if i == data['rewatched'] %}selected="selected"{% endif %} value="{{ i }}">
                        &nbsp;{{ i }}&nbsp;
                    </option>
                {% endfor %}
            </select>
            <i id="rewatched-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
            &nbsp;<i id="rewatched-check" class="fas fa-check" style="display: none;"></i>
        </div>
    </div>
{% endblock add_redo %}


{% block information %}
    <div class="col-6">
        <ul class="list-unstyled">
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-star"></i><b>&nbsp; TMDb Score</b></h5>
                <i class="fas fa-ticket-alt fa-3x media-ticket" value="{{ data['vote_average'] }}"></i>
                <div class="movie-vote-average">{{ data['vote_average'] }}</div>
                <div class="movie-vote-count">({{ data['vote_count']|int }} votes)</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-video"></i><b>&nbsp; Directed by</b></h5>
                <div>{{ data['director'] }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-calendar-check"></i><b>&nbsp; Release date</b></h5>
                <div>{{ data['release_date'] }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-clock"></i><b>&nbsp; Runtime</b></h5>
                <div>{{ data['duration']//60 }} h {{ '%02d'|format(data['duration']%60) }} min</div>
            </li>
            <li>
                <h5 class="mb-1 text-media"><i class="fas fa-flag"></i><b>&nbsp; Original language</b></h5>
                {% if data['original_language'] == 'en' %}
                    <span class="flag-icon flag-icon-us"></span>&nbsp;
                {% elif data['original_language'] == 'ja' %}
                    <span class="flag-icon flag-icon-jp"></span>&nbsp;
                {% else %}
                    <span class="flag-icon flag-icon-{{ data['original_language'] }}"></span>
                {% endif %}
                &nbsp;<span>{{ data['original_language']|capitalize }}</span>
            </li>
        </ul>
    </div>
    <div class="col-6">
        <ul class="list-unstyled">
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-theater-masks"></i><b>&nbsp; Genres</b></h5>
                <div>{{ data['genres'] }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-user"></i><b>&nbsp; Actors</b></h5>
                {% if data['actors'] == 'Unknown' %}
                    <div><i>No actors found</i></div>
                {% else %}
                    <div>{{ data['actors'] }}</div>
                {% endif %}
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-tag"></i><b>&nbsp; Tagline</b></h5>
                <div>{{ data['tagline'] }}</div>
            </li>
            <li>
                <h5 class="mb-1 text-media"><i class="fas fa-home"></i><b>&nbsp; Homepage</b></h5>
                {% if data['homepage'] != 'Unknown' %}
                    <a style="word-break: break-all;" href="{{ data['homepage'] }}">{{ data['homepage'] }}</a>
                {% else %}
                    <i>No homepage available</i>
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock information %}


{% block more_info %}
    <h4><i class="fas fa-dollar-sign"></i>&nbsp;&nbsp; <b>Box-Office</b></h4><hr>
    <ul class="text-left p-0">
        <li class="m-b-10">
            <div class="row">
                <div class="col-5">
                    <i class="fas fa-coins"></i>&nbsp; Budget
                </div>
                <div class="col-7">
                    {% if data['budget'] != 0 %}
                        {{ "{:,.0f}".format(data['budget']).replace(',', ' ') }} $
                    {% else %}
                        <i>No data available</i>
                    {% endif %}
                </div>
            </div>
        </li>
        <li class="m-b-10">
            <div class="row">
                <div class="col-5">
                   <i class="fas fa-coins"></i>&nbsp; Revenue
                </div>
                <div class="col-7">
                   {% if data['revenue'] != 0 %}
                        {{ "{:,.0f}".format(data['revenue']).replace(',', ' ') }} $
                    {% else %}
                        <i>No data available</i>
                    {% endif %}
                </div>
            </div>
        </li>
    </ul>
{% endblock more_info %}
