{% extends "layout.html" %}


{% block css %}
    <link href="{{ url_for('static', filename='css/hall_of_fame.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/datatables.min.css') }}" rel="stylesheet">
    <style>
        .media-container {
            position: relative;
            height: 600px;
        }
    </style>
{% endblock css %}


{% block content %}
    <h2 class="font-weight-light text-center mt-1 mb-0 p-t-50">MORE STATS<hr class="mt-2 mb-0"></h2>

{#    <div class="media-container m-t-40">#}
{#        <canvas id="genres-time"></canvas>#}
{#        <span id="genres-time-pie"#}
{#              values-y="{% for value in stats %}{{ (value[1]/60)|round(1) }}, {% endfor %}"#}
{#            values-x="{% for key in stats %}{{ key[0] }}, {% endfor %}"></span>#}
{#    </div>#}

    <div class="more_stats ml-auto mr-auto">
        <table id="more_stats" class="table table-sm table-responsive-sm text-light m-t-30 m-b-40">
            <thead>
                <tr>
                    <th class="text-center">Genres</th>
                    <th class="text-center">Time(hours)</th>
                    <th class="text-center">Time(days)</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in stats.items() %}
                    <tr>
                        <td class="text-left" style="padding: 7px !important; border-color: grey;">{{ key }}</td>
                        <td style="padding: 7px !important; border-color: grey;">{{ (value/60)|round(1) }}</td>
                        <td style="padding: 7px !important; border-color: grey;">{{ (value/60/24)|round(1) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}


{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/hall_of_fame.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/more_stats_test.js') }}"></script>
{% endblock script %}
