{% extends "layout.html" %}


{% block css %}
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet">
<style>
#autocomplete.ui-autocomplete-loading {
    background-image: url('{{ url_for("static", filename="img/add_loader.gif") }}');
    background-position: right center;
    background-repeat: no-repeat;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.9)
}

.scrollable-menu {
    text-align-last: center;
}

.form-control:focus {
    height: 2rem;
    padding: 5px;
    background-color: #131418;
    color: #fff;
}

.modal-content {
    background: #131418;
}

.card {
    border-radius: 5px;
}

.btn {
    padding: 5px !important;
    margin: 2px !important;
}

.btn-refresh-all {
    background-color: #375a7d;
}

#add_book {
    width: 220px;
}

.btn_left{
    position: absolute;
    left: 0px;
    opacity: 0;
}

.btn_right {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #fff0;
    border-color: #fff0;
    color: white;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    opacity: 0;
}

.btn_right:hover {
    opacity: 1;
}

.btn_left:hover {
    opacity: 1;
}

.mask:hover~.btn_right {
    opacity: 1;
}

.mask:hover~.btn_left {
    opacity: 1;
}

.btn {
    color: #fff
}

.btn:hover {
    color: #fff
}

.btn:focus {
    color: #fff
    outline: none;
}

.add_anime {
    background: transparent;
    border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 12pt;
}

.add_anime:focus {
    background: transparent;
    border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #fff;
}

/* ######### pacman loading ########## */
.modal_loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(0, 0, 0, .6)
                url('{{ url_for("static", filename="img/pacman_loader.gif") }}')
                50% 50%
                no-repeat;
}

body.loading .modal_loading {
    overflow: hidden;
}

body.loading .modal_loading {
    display: block;
}
/* ################################# */

.pointer {
    cursor: pointer;
}

#anime {
    padding: 0px;
}

.arrow_div {
    height: 28px;
    width: 28px;
}

/* On screens that are 599px or more */
@media screen and (min-width: 599px) {
    .card-img-top {
        border-style: solid;
        border-width: 1px;
        border-color: black;
        border-radius: 3px;
    }

    .card {
        width: 200px;
    }

    .dropdown-item {
        background-color: #272525;
        color: #fff;
        font-weight: 300;
        font-size: 11pt;
        padding-left: 10px;
        padding-right: 10px;
    }

    .form-control {
        height: 2rem;
        padding: 5px;
        background-color: #131418;
        color: #fff;
        border-radius: 1px;
        font-size: 11pt;
        outline: none;
        box-shadow:none !important;
    }

    .dropdown-menu {
        background-color: #272525;
        min-width: 9rem;
    }
}

/* On screens that are 599px or less */
@media screen and (max-width: 599px) {
    .card-img-top {
        border-style: solid;
        border-width: 1px;
        border-color: black;
        border-radius: 3px;
    }

    .card {
        width: 135px;
        padding-right: 0px;
        margin-left: 5px !important;
        margin-right: 5px !important;
        margin-bottom: 20px;
    }

    .dropdown-item {
        background-color: #272525;
        max-width: 120px;
        padding-left: 10px;
        padding-right: 10px;
        color: #fff;
        font-weight: 300;
        font-size: 9pt;
    }

    .form-control {
        height: 2rem;
        background-color: #131418;
        color: #fff;
        border-radius: 1px;
        font-size: 9pt;
        outline: none;
        box-shadow:none !important;
        align-items: left;
        padding: 5px;
    }

    .dropdown-menu {
        background-color: #272525;
        max-width: 120px !important;
    }

    .dropdown-divider {
        max-width: 120px;
    }

    .category-title {
        font-size: 2rem;
    }
}

.episodes {
    border-style: 1px;
    border-color: black;
    border-radius: 2px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}

.seasons {
    border-style: 1px;
    border-color: black;
    border-radius: 2px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}

.appadd {
    word-wrap: break-word;
    display: inline-block;
    text-overflow: ellipsis;
}
</style>
{% endblock css %}


{% block content %}
<div class="d-flex flex-wrap">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="ml-auto m-t-20 m-b-10">
            {{ form.book(class="form-control add_book text-light", id="add_book", placeholder="Add a Book", type="text", id="autocomplete", onfocus="this.value=''") }}
            <!-- Hidden input for user ID -->
            <input type="hidden" id="book_id" name="BookID" value=""/>
        </div>
    </form>
</div>

{% for category in all_data %}

    {% if loop.index == 1 %}
    <h2 class="font-weight-light text-center pt-4 mb-0 category-title">READING
        <div class="arrow_div float-right"><a class="fas fa-sm fa-chevron-down" id="READING_arrow" onclick="hide('READING', 'READING_arrow')"></a></div>
    </h2>
    <hr class="mt-2 mb-4">
    <div class="d-flex flex-wrap" id="READING">
    {% elif loop.index == 2 %}
    <h2 class="font-weight-light text-center pt-4 mb-0 category-title">COMPLETED
        <div class="arrow_div float-right"><a class="fas fa-sm fa-chevron-down" id="COMPLETED_arrow" onclick="hide('COMPLETED', 'COMPLETED_arrow')"></a></div>
    </h2>
    <hr class="mt-2 mb-4">
    <div class="d-flex flex-wrap" id="COMPLETED">
    {% elif loop.index == 3 %}
    <h2 class="font-weight-light text-center pt-4 mb-0 category-title">ON HOLD
        <div class="arrow_div float-right"><a class="fas fa-sm fa-chevron-down" id="ON_HOLD_arrow" onclick="hide('ON_HOLD', 'ON_HOLD_arrow')"></a></div>
    </h2>
    <hr class="mt-2 mb-4">
    <div class="d-flex flex-wrap" id="ON_HOLD">
    {% elif loop.index == 4 %}
    <h2 class="font-weight-light text-center pt-4 mb-0 category-title">DROPPED
        <div class="arrow_div float-right"><a class="fas fa-sm fa-chevron-down" id="DROPPED_arrow" onclick="hide('DROPPED', 'DROPPED_arrow')"></a></div>
    </h2>
    <hr class="mt-2 mb-4">
    <div class="d-flex flex-wrap" id="DROPPED">
    {% elif loop.index == 5 %}
    <h2 class="font-weight-light text-center pt-4 mb-0 category-title">PLAN TO READ
        <div class="arrow_div float-right"><a class="fas fa-sm fa-chevron-down" id="PLAN_TO_READ_arrow" onclick="hide('PLAN_TO_READ', 'PLAN_TO_READ_arrow')"></a></div>
    </h2>
    <hr class="mt-2 mb-4">
    <div class="d-flex flex-wrap" id="PLAN_TO_READ">
    {% endif %}
    {% set outer_loop = loop %}

        <table id="book_table" class="table table-striped table-sm table-responsive-lg" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th class="th-sm text-light">Published Date</th>
                    <th class="th-sm text-light">Title</th>
                    <th class="th-sm text-light">Author</th>
                    <th class="th-sm text-light">Genres</th>
                    <th class="th-sm text-light">N° Pages</th>
                    <th class="th-sm text-light">Synopsis</th>
                    <th class="th-sm text-light">Actions</th>
                </tr>
            </thead>
            <tbody>

    {% for data in category %}
                <tr>
                    <td><img src="{{ data['cover_url'] }}" alt="{{ data['title'] }}" style="width: 30px; height: 40px;"></td>
                    <td class="th-sm text-light">{{ data['published_date'] }}</td>
                    <td class="th-sm text-light">{{ data["title"] }}</td>
                    <td class="th-sm text-light">{{ data["authors"] }}</td>
                    <td class="th-sm text-light">{{ data["categories"] }}</td>
                    <td class="th-sm text-light">{{ data["page_count"] }}</td>
                    <td class="th-sm text-light text-justify appadd">{{ data["description"] }}</td>
                    <td class="th-sm text-light "><a class="fas fa-ban" onclick="deleteBook('{{ data['id'] }}')"></a></td>
                </tr>
    {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
<script>
function changeBookCategory(book_id, new_category) {
    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/change_book_category",
        contentType: "application/json",
        data: JSON.stringify({status: new_category, book_id: book_id}),
        dataType: "json",
        beforeSend: function() { $body.addClass("loading"); },
        success: function(response) {
            window.location.replace('/mybookslist'); }
    });
}


function deleteBook(book_id) {
    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/delete_book",
        contentType: "application/json",
        data: JSON.stringify({delete: book_id}),
        dataType: "json",
        beforeSend: function() { $body.addClass("loading"); },
        success: function(response) {
            window.location.replace('/mybookslist'); }
    });
}

function hide(category, arrow) {
  var category = document.getElementById(category);
  var arrow = document.getElementById(arrow);

  if (category.className === "d-flex flex-wrap"){
        category.className = "d-none";
        arrow.className = "fas fa-sm fa-chevron-right";
  } else {
        category.className = "d-flex flex-wrap";
        arrow.className = "fas fa-sm fa-chevron-down";
  }
}
</script>
<div class="modal_loading"></div>
{% endblock content %}


{% block script %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(document).ready(function(){
    $("#autocomplete").autocomplete({
        source: function(request, response) {
            $.getJSON("{{url_for('autocomplete_book')}}",{
                q: request.term,
            }, function(data) {
                response(data.matching_results);
            });
        },
        minLength: 2,
        select: function(event, ui) {
            $body = $("body");
            $("#add_book").val(ui.item.value);
            $("#book_id").val(ui.item.id);

            $.ajax ({
                type: "POST",
                url: "/tata",
                contentType: "application/json",
                data: JSON.stringify({test: ui.item.id}),
                dataType: "json",
                beforeSend: function() { $body.addClass("loading"); },
                success: function(response) {
                    window.location.replace('/mybookslist'); }
            });

        }
    }).data("ui-autocomplete")._renderItem = function(ul, item) {
    return $("<li class='list-group'></li>")
        .data("item.autocomplete", item)
        .append(item.label)
        .appendTo(ul);
    };
});
</script>
{% endblock script %}