{% extends "layout.html" %}


{% block css %}
<!-------------- Jquery Autocomplete --------------->
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet">
<!------------ Jquery autocomplete loading --------->
<style>
#autocomplete.ui-autocomplete-loading {
    background-image: url('{{ url_for("static", filename="img/add_loader.gif") }}');
    background-position: right center;
    background-repeat: no-repeat;
}

.ui-autocomplete-category {
    font-weight: bold;
    background-color: #131418;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
}
</style>
<!--------------- Main CSS -------------------->
<style>
.add_book {
    width: 220px;
    background: transparent;
    border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 12pt;
}

.add_book:focus {
    background: transparent;
    border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #fff;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.9)
}

.arrow_div {
    height: 28px;
    width: 28px;
}


/* ############################# pacman loading ############################ */
.modal_loading {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .6)
                url('{{ url_for("static", filename="img/pacman_loader.gif") }}')
                50% 50%
                no-repeat;
}

body.loading .modal_loading {
    overflow: hidden;
}

body.loading .modal_loading {
    display: block;
}
/* ######################################################################### */



/* ################################ card CSS ############################### */
.modded {
    max-width: 175px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.scrollable-menu {
    text-align-last: center;
}

.show-read-more .more-text{
    display: none;
}

.form-control:focus {
    height: 2rem;
    padding: 5px;
    background-color: #131418;
    color: #fff;
}

.episodes {
    width: 100px;
    border-style: 1px;
    border-color: black;
    border-radius: 2px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}

.seasons {
    width: 100px;
    border-style: 1px;
    border-color: black;
    border-radius: 2px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}
/* ######################################################################### */


/* ############################ 599px or more ############################## */
/* On screens that are 599px or more */
@media screen and (min-width: 599px) {
    .card-img-top {
        border-style: solid;
        border-width: 1px;
        border-color: black;
        border-radius: 3px;
    }

    .btn_left{
        position: absolute;
        top: 10px;
        left: 10px;
        opacity: 0;
    }

    .btn_left:hover {
        opacity: 1;
    }

    .mask:hover~.btn_left {
        opacity: 0.7;
    }

    .btn_bottom {
        position: absolute;
        bottom: 10px;
        left: 10px;
        opacity: 0;
    }

    .btn_bottom:hover {
        opacity: 1;
    }

    .mask:hover~.btn_bottom {
        opacity: 0.7;
    }

    .btn_right {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0;
    }

    .btn_right:hover {
        opacity: 1;
    }

    .mask:hover~.btn_right {
        opacity: 0.7;
    }

    .card {
        width: 200px;
    }

    .font-mask {
        font-size: 20pt;
    }

    .dropdown-item {
        background-color: #272525;
        color: #fff;
        font-weight: 300;
        font-size: 11pt;
        padding-left: 10px;
        padding-right: 10px;
    }

    .form-control {
        height: 2rem;
        padding: 5px;
        background-color: #131418;
        color: #fff;
        border-radius: 1px;
        font-size: 11pt;
        outline: none;
        box-shadow:none !important;
    }

    .dropdown-menu {
        background-color: #272525;
        min-width: 9rem;
    }
}
/* ######################################################################### */


/* ############################ 599px or less ############################## */
/* On screens that are 599px or less */
@media screen and (max-width: 599px) {
    .card-img-top {
        height: 202.5px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        border-radius: 3px;
    }

    .card {
        width: 135px;
        padding-right: 0px;
        margin-left: 5px !important;
        margin-right: 5px !important;
        margin-bottom: 20px;
    }

    .btn_right {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0.8;
    }

    .btn_bottom {
        position: absolute;
        bottom: 10px;
        left: 10px;
        opacity: 0.8;
    }

    .btn_left{
        position: absolute;
        top: 10px;
        left: 10px;
        opacity: 0.8;
    }

    .font-mask {
        font-size: 12pt;
    }

    .score_size {
        font-size: 10pt;
    }

    .dropdown-item {
        background-color: #272525;
        max-width: 120px;
        padding-left: 10px;
        padding-right: 10px;
        color: #fff;
        font-weight: 300;
        font-size: 9pt;
    }

    .form-control {
        height: 2rem;
        background-color: #131418;
        color: #fff;
        border-radius: 1px;
        font-size: 9pt;
        outline: none;
        box-shadow:none !important;
        align-items: left;
        padding: 5px;
    }

    .dropdown-menu {
        background-color: #272525;
        max-width: 120px !important;
    }

    .dropdown-divider {
        max-width: 120px;
    }

    .category-title {
        font-size: 1.5rem;
    }
}
/* ######################################################################### */


/* ########################## Sidenav menu ################################# */
.sidenav {
  height: 60%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 70px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* ######################################################################### */
</style>
{% endblock css %}


{% block fixed %}
<div class="d-flex flex-wrap">
    <div class="ml-auto">
        <a id="collapse_all" class="fas fa-eye-slash text-light m-r-5" onclick="hide_all_cat()"></a>
        <a id="show_cat_all" class="d-none" onclick="show_all_cat()"></a>
        <a id="collapse_show" class="m-r-5 text-light" onclick="hide_all_cat()">Collapse all</a>

        <span class="m-l-5 m-r-5 text-light">||</span>

        <a class="fas fa-bars text-light" onclick="openNav()"></a>
        <a class="m-r-5 text-light" onclick="openNav()">Categories</a>

        <span class="m-l-5 m-r-5 text-light">||</span>

        <a class="fas fa-th text-light" href="{{ url_for('mybookslist', user_name=user_name) }}"></a>
        <a class="m-r-5 text-light" href="{{ url_for('mybookslist', user_name=user_name) }}">Grid View</a>
    </div>
</div>
{% endblock fixed %}


{% block content %}
<div class="d-flex flex-wrap">
    {% if user_id == current_user.get_id() %}
    <div class="m-t-20 m-b-10">
        <input  class="form-control text-light add_book" placeholder="Add a book" type="text" id="autocomplete" onfocus="this.value=''"/>
        <input type="hidden" id="book_id" value=""/>
    </div>
    {% endif %}
</div>


<div id="mySidenav" class="sidenav" style="height: 280px; padding-top: 30px;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="padding: 0px; margin-left: 135px;">&times;</a>
    <a href="#collapse_READING">Reading</a>
    <a href="#collapse_COMPLETED">Completed</a>
    <a href="#collapse_ON_HOLD">On Hold</a>
    <a href="#collapse_DROPPED">Dropped</a>
    <a href="#collapse_PLAN_TO_READ">Plan to Read</a>
</div>


<div class="table_mode">
    {% for category in all_data %}

        {% if loop.index == 1 %}
        <h2 class="font-weight-light text-center pt-4 mb-0 category-title">READING
            <div class="arrow_div float-right"><a class="collapse_all fas fa-sm fa-chevron-down" id="READING_arrow" onclick="hide('collapse_READING', 'READING_arrow')"></a></div>
        </h2>
        <hr class="mt-2 mb-4">
        <div class="d-flex flex-wrap" id="collapse_READING">
            <table class="table table-sm text-light">
                <thead class="text-center">
                    <th style="width: 50px;">#</th>
                    <th>Books</th>
                    <th style="width: 80px;">Score</th>
                    <th style="width: 80px;">Actions</th>
                </thead>
                <tbody id="READING">
        {% elif loop.index == 2 %}
        <h2 class="font-weight-light text-center pt-4 mb-0 category-title">COMPLETED
            <div class="arrow_div float-right"><a class="collapse_all fas fa-sm fa-chevron-down" id="COMPLETED_arrow" onclick="hide('collapse_COMPLETED', 'COMPLETED_arrow')"></a></div></h2>
        <hr class="mt-2 mb-4">
        <div class="d-flex flex-wrap" id="collapse_COMPLETED">
            <table class="table table-sm text-light">
                <thead class="text-center">
                    <th style="width: 50px;">#</th>
                    <th>Books</th>
                    <th style="width: 80px;">Score</th>
                    <th style="width: 80px;">Actions</th>
                </thead>
                <tbody id="COMPLETED">
        {% elif loop.index == 3 %}
        <h2 class="font-weight-light text-center pt-4 mb-0 category-title">ON HOLD
            <div class="arrow_div float-right"><a class="collapse_all fas fa-sm fa-chevron-down" id="ON_HOLD_arrow" onclick="hide('collapse_ON_HOLD', 'ON_HOLD_arrow')"></a></div></h2>
        <hr class="mt-2 mb-4">
        <div class="d-flex flex-wrap" id="collapse_ON_HOLD">
            <table class="table table-sm text-light">
                <thead class="text-center">
                    <th style="width: 50px;">#</th>
                    <th>Books</th>
                    <th style="width: 80px;">Score</th>
                    <th style="width: 80px;">Actions</th>
                </thead>
                <tbody id="ON_HOLD">
         {% elif loop.index == 4 %}
        <h2 class="font-weight-light text-center pt-4 mb-0 category-title">DROPPED
            <div class="arrow_div float-right"><a class="collapse_all fas fa-sm fa-chevron-down" id="DROPPED_arrow" onclick="hide('collapse_DROPPED', 'DROPPED_arrow')"></a></div></h2>
        <hr class="mt-2 mb-4">
        <div class="d-flex flex-wrap" id="collapse_DROPPED">
            <table class="table table-sm text-light">
                <thead class="text-center">
                    <th style="width: 50px;">#</th>
                    <th>Books</th>
                    <th style="width: 80px;">Score</th>
                    <th style="width: 80px;">Actions</th>
                </thead>
                <tbody id="DROPPED">
        {% elif loop.index == 5 %}
        <h2 class="font-weight-light text-center pt-4 mb-0 category-title">PLAN TO READ
            <div class="arrow_div float-right"><a class="collapse_all fas fa-sm fa-chevron-down" id="PLAN_TO_READ_arrow" onclick="hide('collapse_PLAN_TO_READ', 'PLAN_TO_READ_arrow')"></a></div></h2>
        <hr class="mt-2 mb-4">
        <div class="d-flex flex-wrap" id="collapse_PLAN_TO_READ">
            <table class="table table-sm text-light">
                <thead class="text-center">
                    <th style="width: 80px;">#</th>
                    <th>Books</th>
                    <th style="width: 80px;">Score</th>
                    <th style="width: 80px;">Actions</th>
                </thead>
                <tbody id="PLAN_TO_READ">
        {% endif %}
        {% set outer_loop = loop %}

        {% for data in category %}
            <tr id="tr_{{ data['id'] }}">
                <td class="text-center">
                    {{ data['id'] }}
                </td>
                <td class="text-left">
                    <a data-toggle="modal" data-target="#modal_{{ data['id'] }}">{{ data['title'] }}</a>
                </td>
                <td class="text-center">
                    {% if user_id == current_user.get_id() %}
                    <a class="score_size" id="new_{{ data['id'] }}" onclick="edit_score('edit_{{ data['id'] }}', 'new_{{ data['id'] }}')">{{ data['score'] }}</a>
                    {% else %}
                    <a class="disabled score_size" id="new_{{ data['id'] }}" onclick="edit_score('edit_{{ data['id'] }}', 'new_{{ data['id'] }}')">{{ data['score'] }}</a>
                    {% endif %}
                    <input id="edit_{{ data['id'] }}" class="d-none" type="text" style="max-width: 30px;
                   max-height: 20px;
                   background-color: black;
                   color: white;
                   border: solid;
                   border-color: black;" onkeydown="add_score('new_{{ data['id'] }}', 'edit_{{ data['id'] }}', '{{ data['id'] }}')">
                </td>
                <td class="text-center">
                    {% if user_id == current_user.get_id() %}
                    <a class="fas fa-bars" data-toggle="modal" data-target="#modal_cat{{ data['id'] }}"></a>
                    &nbsp &nbsp
                    <a class="fas fa-ban" onclick="deletebook('{{ data['id'] }}', 'tr_{{ data['id'] }}')"></a>
                    {% endif %}
                </td>
            </tr>

            <!----------- Categories Modal ---------------->
            <div style="max-width: 220px;" class="modal fade left" id="modal_cat{{ data['id'] }}" tabindex="-1" role="dialog" aria-labelledby="cat_mod" aria-hidden="true">
                <div style="max-width: 200px;" class="modal-dialog modal-side modal-top-left modal-sm" role="document">
                    <div style="max-width: 200px; background: #131418;" class="modal-content">
                        <div style="max-width: 200px;" class="modal-header">
                            <h5 class="modal-title">Categories</h5>
                            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="mod_{{ data['id'] }}" class="modal-body">
                            {% if outer_loop.index == 1 %}
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'Completed', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">Completed</a>
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'On Hold', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">On Hold</a>
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'Dropped', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">Dropped</a>
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'Plan to Read', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">Plan to Read</a>
                            {% elif outer_loop.index == 2 %}
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'Reading', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">Reading</a>
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'On Hold', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">On Hold</a>
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'Dropped', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">Dropped</a>
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'Plan to Read', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">Plan to Read</a>
                            {% elif outer_loop.index == 3 %}
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'Reading', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">Reading</a>
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'Completed', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">Completed</a>
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'Dropped', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">Dropped</a>
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'Plan to Read', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">Plan to Read</a>
                            {% elif outer_loop.index == 4 %}
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'Reading', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">Reading</a>
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'Completed', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">Completed</a>
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'On Hold', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">On Hold</a>
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'Random', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">Random</a>
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'Plan to Read', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">Plan to Read</a>
                            {% elif outer_loop.index == 5 %}
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'Reading', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">Reading</a>
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'Completed', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">Completed</a>
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'On Hold', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">On Hold</a>
                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changebookCategory('{{ data['id'] }}', 'Dropped', 'tr_{{ data['id'] }}', 'mod_{{ data['id'] }}')">Dropped</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!----------- Book metadata Modal ----------->
            <div class="modal fade" id="modal_{{ data['id'] }}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" style="border-style: solid; border-width: 1px; border-color: white; background: #131418;">
                        <div class="modal-body">
                            <div class="modal-header">
                                <h4 class="modal-title">{{ data['title'] }}</h4>
                                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><b>Title</b> : {{ data['title'] }}</p>
                                <p><b>Author</b> : {{ data['authors'] }}</p>
                                <p><b>Published Date</b> : {{ data['published_date'] }}</p>
                                <p><b>N° Pages</b> : {{ data['page_count'] }}</p>
                                <p><b>Genres</b> : {{ data['categories'] }}</p>
                                <p class="m-b-0"><b>Synopsis</b> : </p><p class="text-justify show-read-more">{{ data['description'] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>
<div class="modal_loading"></div>
{% endblock content %}


{% block script %}
{% if user_id == current_user.get_id() %}
<!------------ Jquery Autocomplete ------------->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">
$.widget("custom.catcomplete", $.ui.autocomplete, {
    _create: function() {
        this._super();
        this.widget().menu("option", "items", "> :not(.ui-autocomplete-category)");
    },
    _renderMenu: function(ul, items) {
        var that = this,
        currentCategory = "";
        $.each(items, function(index, item) {
            var li;

            if (item.nb_results === 0) {
                var a = "No results found"
                ul.append("<li class='disabled'>" + a + "</li>");
            } else {
                li = that._renderItemData(ul, item);
            }
        });
    },
    _renderItem: function(ul, item) {
		var $li = $('<li class="list-group">'),
			$img = $('<img>');

		$img.attr({
		  src: item.poster_path,
		  alt: item.name,
		  style: "width: 34px; height: 51px;"
		});

		$li.append('<a class="list-group-item bg-dark text-light">');
		$li.find('a').append($img).append(" "+item.name + " (" + item.first_air_date + ")");

		return $li.appendTo(ul);
	}
});
</script>

<script type="text/javascript">
$(function() {
    $("#autocomplete").catcomplete({
      delay: 500,
      source: function(request, response) {
				$.getJSON("{{url_for('autocomplete_books')}}",{
					q: request.term,
				},
					function(data) {
						response(data.matching_results);
					}
				);
		},
		minLength: 1,
        select: function(event, ui) {
            $("#autocomplete").val(ui.item.name);
            $("#book_id").val(ui.item.google_id);

            $body = $("body");
            $.ajax ({
                type: "POST",
                url: "/add_book",
                contentType: "application/json",
                data: JSON.stringify({book_id: ui.item.google_id}),
                dataType: "json",
                beforeSend: function() { $body.addClass("loading"); },
                success: function(response) {
                    window.location.replace('/bookslist/table/{{ current_user.username }}'); }
            });
        }
    });
});
</script>


<!---------------- Update/Change/Remove book ------------------->
<script type="text/javascript">
function changeBookCategory(book_id, new_category, card_id, mod_id) {
    if (new_category === 'Reading') {
        var completed = 'Completed';
        var on_hold = 'On Hold';
        var dropped = 'Dropped';
        var plan_to_read = 'Plan to Read';

        $("#"+mod_id+ " a").filter(":contains('Reading')").remove()
        $("#"+mod_id+ " a").filter(":contains('Completed')").remove()
        $("#"+mod_id+ " a").filter(":contains('On Hold')").remove()
        $("#"+mod_id+ " a").filter(":contains('Dropped')").remove()
        $("#"+mod_id+ " a").filter(":contains('Plan to Read')").remove()

        $("#"+mod_id).prepend(
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + completed + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>Completed</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + on_hold + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>On Hold</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + dropped + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>Dropped</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + plan_to_read + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>Plan to Read</a>"
        );
        $("#" + tr_id).prependTo("#READING");
        $('.modal').modal("hide");
    }

    if (new_category === 'Completed') {
        var reading = 'Reading';
        var on_hold = 'On Hold';
        var dropped = 'Dropped';
        var plan_to_read = 'Plan to Read';

        $("#"+mod_id+ " a").filter(":contains('Reading')").remove()
        $("#"+mod_id+ " a").filter(":contains('Completed')").remove()
        $("#"+mod_id+ " a").filter(":contains('On Hold')").remove()
        $("#"+mod_id+ " a").filter(":contains('Dropped')").remove()
        $("#"+mod_id+ " a").filter(":contains('Plan to Read')").remove()

        $("#"+mod_id).prepend(
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + reading + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>Reading</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + on_hold + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>On Hold</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + dropped + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>Dropped</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + plan_to_read + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>Plan to Read</a>"
        );
        $("#" + tr_id).prependTo("#COMPLETED");
        $('.modal').modal("hide");
    }

    if (new_category === 'On Hold') {
        var completed = 'Completed';
        var reading = 'Reading';
        var dropped = 'Dropped';
        var plan_to_read = 'Plan to Read';

        $("#"+mod_id+ " a").filter(":contains('Reading')").remove()
        $("#"+mod_id+ " a").filter(":contains('Completed')").remove()
        $("#"+mod_id+ " a").filter(":contains('On Hold')").remove()
        $("#"+mod_id+ " a").filter(":contains('Dropped')").remove()
        $("#"+mod_id+ " a").filter(":contains('Plan to Read')").remove()

        $("#"+mod_id).prepend(
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + reading + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>Reading</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + completed + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>Completed</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + dropped + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>Dropped</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + plan_to_read + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>Plan to Read</a>"
        );
        $("#" + tr_id).prependTo("#ON_HOLD");
        $('.modal').modal("hide");
    }


    if (new_category === 'Dropped') {
        var completed = 'Completed';
        var on_hold = 'On Hold';
        var reading = 'Reading';
        var plan_to_read = 'Plan to Read';

        $("#"+mod_id+ " a").filter(":contains('Reading')").remove()
        $("#"+mod_id+ " a").filter(":contains('Completed')").remove()
        $("#"+mod_id+ " a").filter(":contains('On Hold')").remove()
        $("#"+mod_id+ " a").filter(":contains('Dropped')").remove()
        $("#"+mod_id+ " a").filter(":contains('Plan to Read')").remove()

        $("#"+mod_id).prepend(
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + reading + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>Reading</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + completed + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>Completed</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + on_hold + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>On Hold</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + plan_to_read + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>Plan to Read</a>"
        );
        $("#" + tr_id).prependTo("#DROPPED");
        $('.modal').modal("hide");
    }

    if (new_category === 'Plan to Read') {
        var completed = 'Completed';
        var on_hold = 'On Hold';
        var random = 'Random';
        var dropped = 'Dropped';
        var reading = 'Reading';

        $("#"+mod_id+ " a").filter(":contains('Reading')").remove()
        $("#"+mod_id+ " a").filter(":contains('Completed')").remove()
        $("#"+mod_id+ " a").filter(":contains('On Hold')").remove()
        $("#"+mod_id+ " a").filter(":contains('Dropped')").remove()
        $("#"+mod_id+ " a").filter(":contains('Plan to Read')").remove()

        $("#"+mod_id).prepend(
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + reading + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>Reading</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + completed + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>Completed</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + on_hold + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>On Hold</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changebookCategory(\"" + book_id + "\", \"" + dropped + "\", \"" + tr_id + "\", \"" + mod_id + "\")'>Dropped</a>"
        );
        $("#" + tr_id).prependTo("#PLAN_TO_READ");
        $('.modal').modal("hide");
    }

    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/change_book_category",
        contentType: "application/json",
        data: JSON.stringify({status: new_category, book_id: book_id}),
        dataType: "json",
        success: function(response) {
            console.log("ok"); }
    });
}
</script>

<script type="text/javascript">
function deleteBook(book_id, card_id) {
    if (!confirm("Are you sure you want to delete this book from your list?")){
        return false;
    }

    $("#"+tr_id).remove();

    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/delete_book",
        contentType: "application/json",
        data: JSON.stringify({delete: book_id}),
        dataType: "json",
        success: function(response) {
            console.log("ok"); }
    });
}
</script>


<!------------ Score -------------->

<script type="text/javascript">
function edit_score(edit_id, new_id) {
    var edit = document.getElementById(edit_id);

    if (edit.className === "d-none"){
        edit.className = "visible";
        document.getElementById(new_id).innerHTML = "";
        $(edit).val('');
        $(edit).focus();
    } else {
        edit.className = "d-none";
    }
}
</script>

<script type="text/javascript">
function add_score(new_score, edit_id, book_id) {
    var new_sc = document.getElementById(new_score);
    var edit_score_value = document.getElementById(edit_id).value;
    var edit_score = document.getElementById(edit_id);

    if (event.which == 13 || event.keyCode == 13) {
        if (edit_score_value > 10 || edit_score_value < 0) {
            window.alert("Your number must be between 0-10");
        } else if (isNaN(edit_score_value) == true) {
            window.alert("Your must enter a number between 0-10");
        } else if ($.trim($(edit_score).val()).length == 0) {
            $(new_sc).text("-");
            edit_score.className = "d-none";
        } else {
            edit_score.className = "d-none";
            $(new_sc).text(edit_score_value);

            $body = $("body");
            $.ajax ({
                type: "POST",
                url: "/set_book_score",
                contentType: "application/json",
                data: JSON.stringify({score_value: edit_score_value, book_id: book_id }),
                dataType: "json",
                success: function(response) {
                    console.log('ok'); }
            });
            return false;
        }
        return true;
    }
}
</script>
{% endif %}

<!------------ Synopsis ---------------->
<script type="text/javascript">
$(document).ready(function(){
	var maxLength = 200;
	$(".show-read-more").each(function(){
		var myStr = $(this).text();
		if($.trim(myStr).length > maxLength){
			var newStr = myStr.substring(0, maxLength);
			var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
			$(this).empty().html(newStr);
			$(this).append('<a href="javascript:void(0);" class="read-more"> read more...</a>');
			$(this).append('<span class="more-text">' + removedStr + '</span>');
		}
	});

	$(".read-more").click(function(){
		$(this).siblings(".more-text").contents().unwrap();
		$(this).remove();
	});
});
</script>

<!---- Show/collapse all categories scripts ---->
<script type="text/javascript">
function hide_all_cat() {
    var hide = document.getElementById('collapse_all');
    var show = document.getElementById('show_cat_all');
    $('div[id^="collapse"]').attr('class', 'd-none');
    hide.className = "d-none";
    show.className = "fas fa-eye text-light m-r-5";
    $('#collapse_show').text('Expand All');
    $('#collapse_show').attr('onclick', 'show_all_cat()');
    $('.collapse_all').attr('class', 'collapse_all fas fa-sm fa-chevron-right');
}
</script>

<script type="text/javascript">
function show_all_cat() {
    var show = document.getElementById('show_cat_all');
    var hide = document.getElementById('collapse_all');
    $('div[id^="collapse"]').attr('class', 'd-flex flex-wrap');
    hide.className = "fas fa-eye-slash text-light m-r-5";
    show.className = "d-none";
    $('#collapse_show').text('Collapse All');
    $('#collapse_show').attr('onclick', 'hide_all_cat()');
    $('.collapse_all').attr('class', 'collapse_all fas fa-sm fa-chevron-down');
}
</script>

<script type="text/javascript">
function hide(category, arrow) {
    var category = document.getElementById(category);
    var arrow = document.getElementById(arrow);

    if (category.className === "d-flex flex-wrap"){
        category.className = "d-none";
        arrow.className = "collapse_all fas fa-sm fa-chevron-right";
    } else {
        category.className = "d-flex flex-wrap";
        arrow.className = "collapse_all fas fa-sm fa-chevron-down";
    }
}
</script>

<!----------- Sidenav bar show/hide ------------>
<script type="text/javascript">
function openNav() {
    document.getElementById("mySidenav").style.width = "180px";
}
</script>

<script type="text/javascript">
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>

{% endblock script %}
