{% extends 'layout.html' %}


{% block css %}
{% if current_user.get_id() == target_user_id %}
<!---------- Jquery autocomplete ---------->
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet">
{% endif %}
<link href="{{ url_for('static', filename='css/mymedialist.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
<div class="row m-b-30">
    {% if target_user_id == current_user.get_id() %}
    <div class="col m-t-30 add_an_element">
        {% if media_list == "movieslist" %}
        <input style="background: transparent;" class="form-control add_element" placeholder="Add a Movie" type="text" id="autocomplete"/>
        <select id="list_select">
            <option selected="selected">Completed</option>
            <option>Completed Animation</option>
            <option>Plan to Watch</option>
        </select>
        {% elif media_list == "animelist" %}
        <input style="background: transparent;" class="form-control add_element" placeholder="Add an Anime" type="text" id="autocomplete"/>
        <select id="list_select">
            <option selected="selected">Watching</option>
            <option>Completed</option>
            <option>On Hold</option>
            <option>Random</option>
            <option>Dropped</option>
            <option>Plan to Watch</option>
        </select>
        {% elif media_list == "serieslist" %}
        <input style="background: transparent;" class="form-control add_element" placeholder="Add a Series" type="text" id="autocomplete"/>
        <select id="list_select">
            <option selected="selected">Watching</option>
            <option>Completed</option>
            <option>On Hold</option>
            <option>Random</option>
            <option>Dropped</option>
            <option>Plan to Watch</option>
        </select>
        {% endif %}
        <input type="hidden" id="element_id" value=""/>
    </div>
    {% endif %}
    <div class="col m-t-30 search_by_name">
        <input style="background: transparent;" type="text" id="myElementFilter" class="form-control add_element" onkeyup="searchElement()" placeholder="Search by title or actor">
    </div>
</div>
<div class="d-flex flex-wrap filters-button-group" style="justify-content: center;">
    {% if media_list != 'movieslist' %}
    <button class="btn btn-sm btn-warning text-dark" data-filter="*">Show all</button>
    <button class="btn btn-sm btn-light text-dark" data-filter=".categories.WATCHING">Watching</button>
    <button class="btn btn-sm btn-light text-dark" data-filter=".categories.COMPLETED">Completed</button>
    <button class="btn btn-sm btn-light text-dark" data-filter=".categories.ON.HOLD">On Hold</button>
    <button class="btn btn-sm btn-light text-dark" data-filter=".categories.RANDOM">Random</button>
    <button class="btn btn-sm btn-light text-dark" data-filter=".categories.DROPPED">Dropped</button>
    <button class="btn btn-sm btn-light text-dark" data-filter=".categories.PLAN.TO.WATCH">Plan to Watch</button>
    {% elif media_list == 'movieslist' %}
    <button class="btn btn-sm btn-warning text-dark" data-filter="*">Show all</button>
    <button class="btn btn-sm btn-light text-dark" data-filter=".categories.COMPLETED.C">Completed</button>
    <button class="btn btn-sm btn-light text-dark" data-filter=".categories.ANIMATION">Completed Animation</button>
    <button class="btn btn-sm btn-light text-dark" data-filter=".categories.PLAN.TO.WATCH">Plan to Watch</button>
    {% endif %}
</div>
    <button id="all_scores" class="btn btn-sm btn-primary text-dark show_score_button" onclick="all_scores()">Show scores</button>

<div id="categories-iso" class="categories-iso">
    {% for category in all_data %}
    {% if category[1] == 'COMPLETED' %}
    <div class="categories {{ category[1] }} C" style="width: 100%;">
    {% else %}
    <div class="categories {{ category[1] }}" style="width: 100%;">
    {% endif %}
        <h2 class="font-weight-light text-center mt-5 mb-0 category-title p-t-10">
            {{ category[1] }}
            <hr class="mt-2 pb-3 mb-0">
        </h2>
        {% if category[1] == 'COMPLETED ANIMATION' %}
        <div class="d-flex flex-wrap ANIMATION">
        {% else %}
        <div class="d-flex flex-wrap {{ category[1] }}">
        {% endif %}
            {% set outer_loop = loop %}
            {% for data in category[0] %}
                <!------------------- Card -------------------->
                <div id="card_{{ data[0].id }}" class="card bg-transparent m-l-10 m-r-10 m-b-40 m-t-20" style="border-radius: 5px;">
                    <div class="view overlay">
                        <img class="card-img-top" width="200" height="300" src="{{ data[0].image_cover }}" alt="{{ data[0].name }}">
                        <div class="mask flex-center rgba-black-strong" data-toggle="modal" data-target="#modal_{{ data[0].id }}" style="cursor: pointer;">
                            <span class="font-mask text-center text-light">{{ data[0].name }}</span>
                            <span class="font-mask test text-center text-light" style="display: none;">{{ data[0].original_name }}</span>
                            <span class="actors_yes" style="display: none;">{{ actors["{}".format(data[0].id)] }}</span>
                        </div>
                        {% if target_user_id == current_user.get_id() %}
                            <a class="btn_left fas fa-bars text-light" data-toggle="modal" data-target="#modal_cat{{ data[0].id }}"></a>
                            <a class="btn_right fas fa-ban text-light" data-toggle="tooltip" title="Delete" onclick="delete_element('{{ data[0].id }}', 'card_{{ data[0].id }}', '{{ media_list }}')"></a>
                            {% if media_list != 'movieslist' %}
                                {% if can_update["{}".format(data[0].id)] %}
                                    <a class="btn_bottom_right fas fa-sync text-light" data-toggle="tooltip" title="Sync metadata" onclick="refresh('{{ data[0].id }}', '{{ media_list }}', '{{ current_user.username }}')"></a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <a class="btn_left fas fa-plus text-light" data-toggle="modal" data-target="#modal_other_{{ data[0].id }}"></a>
                            {% if media_list != 'movieslist' %}
                            <div style="max-width: 220px;" class="modal fade left" id="modal_other_{{ data[0].id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div style="max-width: 200px;" class="modal-dialog modal-side modal-top-left modal-sm" role="document">
                                    <div style="max-width: 200px; background: #131418;" class="modal-content">
                                        <div style="max-width: 200px;" class="modal-header">
                                            <h5 class="modal-title">Categories</h5>
                                            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="test('{{ data[0].id }}', '{{ media_list }}', 'Watching', '{{ data[0].name }}')">Watching</a>
                                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="test('{{ data[0].id }}', '{{ media_list }}', 'Completed', '{{ data[0].name }}')">Completed</a>
                                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="test('{{ data[0].id }}', '{{ media_list }}', 'On Hold', '{{ data[0].name }}')">On Hold</a>
                                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="test('{{ data[0].id }}', '{{ media_list }}', 'Random', '{{ data[0].name }}')">Random</a>
                                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="test('{{ data[0].id }}', '{{ media_list }}', 'Dropped', '{{ data[0].name }}')">Dropped</a>
                                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="test('{{ data[0].id }}', '{{ media_list }}', 'Plan to Watch', '{{ data[0].name }}')">Plan to Watch</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div style="max-width: 220px;" class="modal fade left" id="modal_other_{{ data[0].id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div style="max-width: 200px;" class="modal-dialog modal-side modal-top-left modal-sm" role="document">
                                    <div style="max-width: 200px; background: #131418;" class="modal-content">
                                        <div style="max-width: 200px;" class="modal-header">
                                            <h5 class="modal-title">Categories</h5>
                                            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="test('{{ data[0].id }}', '{{ media_list }}', 'Completed', '{{ data[0].name }}')">Completed</a>
                                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="test('{{ data[0].id }}', '{{ media_list }}', 'Animation', '{{ data[0].name }}')">Completed Animation</a>
                                            <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="test('{{ data[0].id }}', '{{ media_list }}', 'Plan to Watch', '{{ data[0].name }}')">Plan to Watch</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                        {% if category[1] != 'PLAN TO WATCH' %}
                        <a class="btn_bottom_left fas fa-caret-square-down" data-toggle="tooltip" title="Show score" onclick="show_score('footer_{{ data[0].id }}', card_{{ data[0].id }})" style="z-index: 500;"></a>
                        {% else %}
                        <a class="btn_bottom_left fas fa-caret-square-down" data-toggle="tooltip" title="Show score" onclick="show_score('footer_{{ data[0].id }}', card_{{ data[0].id }})" style="z-index: 500; display: none;"></a>
                        {% endif %}
                    </div>

                    {% if media_list != 'movieslist' %}
                        {% if category[1] != 'PLAN TO WATCH' %}
                        <div class="card-body bg-transparent p-0 m-t-5 m-b-1">
                            <div class="container p-0">
                            <div class="row p-0 m-0">
                                <div class="col p-0">
                                    {% if target_user_id == current_user.get_id() %}
                                    <select id="S_{{ data[0].id }}" class="scrollable-menu text-center form-control p-0 seasons" onchange="updateSeason('{{ data[0].id }}', this, '{{ eps['{}'.format(data[0].id)] }}', 'E_{{ data[0].id }}', '{{ media_list }}')">
                                    {% else %}
                                    <select id="S_{{ data[0].id }}" class="disabled scrollable-menu text-center form-control p-0 seasons">
                                    {% endif %}
                                        {% for i in range(eps["{}".format(data[0].id)]|length) %}
                                        {% if i+1 == data[1].current_season %}
                                        <option selected="selected">Season {{ i+1 }}</option>
                                        {% else %}
                                        <option>Season {{ i+1 }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col p-0">
                                    {% if target_user_id == current_user.get_id() %}
                                    <select id="E_{{ data[0].id }}" class="scrollable-menu text-center form-control p-0 episodes" onchange="updateEpisode('{{ data[0].id }}', this, '{{ media_list }}')">
                                    {% else %}
                                    <select id="E_{{ data[0].id }}" class="disabled scrollable-menu text-center form-control p-0 episodes">
                                    {% endif %}
                                        {% for i in range(eps["{}".format(data[0].id)][data[1].current_season-1]) %}
                                        {% if i+1 == data[1].last_episode_watched %}
                                        <option selected="selected">Episode {{ i+1 }}</option>
                                        {% else %}
                                        <option>Episode {{ i+1 }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% else %}
                        <div class="card-body bg-transparent p-0 m-t-5 m-b-1" style="display: none;">
                            <div class="container p-0">
                            <div class="row p-0 m-0">
                                <div class="col p-0">
                                    {% if target_user_id == current_user.get_id() %}
                                    <select id="S_{{ data[0].id }}" class="scrollable-menu text-center form-control p-0 seasons" onchange="updateSeason('{{ data[0].id }}', this, '{{ eps['{}'.format(data[0].id)] }}', 'E_{{ data[0].id }}', '{{ media_list }}')">
                                    {% else %}
                                    <select id="S_{{ data[0].id }}" class="disabled scrollable-menu text-center form-control p-0 seasons">
                                    {% endif %}
                                        {% for i in range(eps["{}".format(data[0].id)]|length) %}
                                        {% if i+1 == data[1].current_season %}
                                        <option selected="selected">Season {{ i+1 }}</option>
                                        {% else %}
                                        <option>Season {{ i+1 }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col p-0">
                                    {% if target_user_id == current_user.get_id() %}
                                    <select id="E_{{ data[0].id }}" class="scrollable-menu text-center form-control p-0 episodes" onchange="updateEpisode('{{ data[0].id }}', this, '{{ media_list }}')">
                                    {% else %}
                                    <select id="E_{{ data[0].id }}" class="disabled scrollable-menu text-center form-control p-0 episodes">
                                    {% endif %}
                                        {% for i in range(eps["{}".format(data[0].id)][data[1].current_season-1]) %}
                                        {% if i+1 == data[1].last_episode_watched %}
                                        <option selected="selected">Episode {{ i+1 }}</option>
                                        {% else %}
                                        <option>Episode {{ i+1 }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% endif %}
                    {% endif %}

                    <div id="footer_{{ data[0].id }}" class="d-none footer_score">
                        {% if target_user_id == current_user.get_id() %}
                        <span class="score_size"> Score: </span><a class="score_size" id="new_{{ data[0].id }}" onclick="edit_score('edit_{{ data[0].id }}', 'new_{{ data[0].id }}')">{{ data[1].score }}</a>
                        {% else %}
                        <span class="score_size"> Score: </span><a class="disabled score_size" id="new_{{ data[0].id }}" onclick="edit_score('edit_{{ data[0].id }}', 'new_{{ data[0].id }}')">{{ data[1].score }}</a>
                        {% endif %}
                        <input id="edit_{{ data[0].id }}" class="d-none" type="text" style="max-width: 30px; max-height: 20px; background-color: black; color: white; border: solid; border-color: black;" onkeydown="add_score('new_{{ data[0].id }}', 'edit_{{ data[0].id }}', '{{ data[0].id }}', '{{ media_list }}')">
                    </div>
                </div>

                {% if media_list != 'movieslist' %}
                <!----------- Categories Modal ---------------->
                <div style="max-width: 220px;" class="modal fade left" id="modal_cat{{ data[0].id }}" tabindex="-1" role="dialog" aria-labelledby="cat_mod" aria-hidden="true">
                    <div style="max-width: 200px;" class="modal-dialog modal-side modal-top-left modal-sm" role="document">
                        <div style="max-width: 200px; background: #131418;" class="modal-content">
                            <div style="max-width: 200px;" class="modal-header">
                                <h5 class="modal-title">Categories</h5>
                                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div id="mod_{{ data[0].id }}" class="modal-body">
                                {% if outer_loop.index == 1 %}
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Completed', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Completed</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'On Hold', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">On Hold</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Random', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Random</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Dropped', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Dropped</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Plan to Watch', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Plan to Watch</a>
                                {% elif outer_loop.index == 2 %}
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Watching', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Watching</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'On Hold', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">On Hold</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Random', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Random</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Dropped', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Dropped</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Plan to Watch', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Plan to Watch</a>
                                {% elif outer_loop.index == 3 %}
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Watching', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Watching</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Completed', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Completed</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Random', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Random</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Dropped', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Dropped</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Plan to Watch', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Plan to Watch</a>
                                {% elif outer_loop.index == 4 %}
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Watching', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Watching</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Completed', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Completed</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'On Hold', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">On Hold</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Dropped', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Dropped</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Plan to Watch', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Plan to Watch</a>
                                {% elif outer_loop.index == 5 %}
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Watching', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Watching</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Completed', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Completed</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'On Hold', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">On Hold</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Random', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Random</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Plan to Watch', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Plan to Watch</a>
                                {% elif outer_loop.index == 6 %}
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Watching', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Watching</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Completed', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Completed</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'On Hold', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">On Hold</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Random', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Random</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Dropped', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}', '{{ media_list }}')">Dropped</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!----------- Element metadata Modal ----------->
                <div class="modal fade" id="modal_{{ data[0].id }}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" style="border-style: solid; border-width: 1px; border-color: white; background: #131418;">
                            <div class="modal-body">
                                <div class="modal-header">
                                    <h4 class="modal-title">{{ data[0].name }}</h4>
                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% if data[0].original_name != data[0].name %}
                                    <p><b>Original Name</b>: {{ data[0].original_name }}</p>
                                    {% endif %}
                                    <p><b>Actors</b>: {{ actors["{}".format(data[0].id)] }}</p>
                                    <p><b>Genres</b>: {{ genres["{}".format(data[0].id)] }}</p>
                                    <p><b>First air date</b>: {{ first_air_date["{}".format(data[0].id)] }}</p>
                                    <p><b>Last air date</b>: {{ last_air_date["{}".format(data[0].id)] }}</p>
                                    {#<p><b>Homepage</b>: <a target="_blank" rel="noopener noreferrer" href="{{ data[0].homepage }}">{{ data[0].homepage }}</a></p>#}
                                    {#<p><b>In production</b>: {{ data[0].in_production }}</p>#}
                                    <p><b>Networks</b>: {{ networks["{}".format(data[0].id)] }}</p>
                                    <p><b>Created by</b>: {{ data[0].created_by }}</p>
                                    {% if data[0].episode_duration == 0 %}
                                    <p><b>Episode duration</b>: Unknown</p>
                                    {% else %}
                                    <p><b>Episode duration</b>: {{ data[0].episode_duration }} min</p>
                                    {% endif %}
                                    <p><b>Total seasons</b>: {{ data[0].total_seasons }}</p>
                                    <p><b>Total episodes</b>: {{ data[0].total_episodes }}</p>
                                    {% if media_list != "animelist" %}
                                    <p><b>Origin country</b>: {{ data[0].origin_country }}</p>
                                    {% endif %}
                                    <p><b>TMDb score</b>: {{ data[0].vote_average }}/10</p>
                                    <p><b>Status</b>: {{ data[0].status }}</p>
                                    <hr class="m-b-10 m-t-10">
                                    <p class="m-b-0 text-justify"><b>Synopsis</b>: {{ data[0].synopsis }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% elif media_list == 'movieslist' %}
                <!----------- Categories Modal ---------------->
                <div style="max-width: 220px;" class="modal fade left" id="modal_cat{{ data[0].id }}" tabindex="-1" role="dialog" aria-labelledby="cat_mod" aria-hidden="true">
                    <div style="max-width: 200px;" class="modal-dialog modal-side modal-top-left modal-sm" role="document">
                        <div style="max-width: 200px; background: #131418;" class="modal-content">
                            <div style="max-width: 200px;" class="modal-header">
                                <h5 class="modal-title">Categories</h5>
                                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div id="mod_{{ data[0].id }}" class="modal-body">
                                {% if outer_loop.index == 1 %}
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Completed Animation', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', '{{ media_list }}')">Completed Animation</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Plan to Watch', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', '{{ media_list }}')">Plan to Watch</a>
                                {% elif outer_loop.index == 2 %}
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Completed', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', '{{ media_list }}')">Completed</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Plan to Watch', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', '{{ media_list }}')">Plan to Watch</a>
                                {% elif outer_loop.index == 3 %}
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Completed', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', '{{ media_list }}')">Completed</a>
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Completed Animation', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', '{{ media_list }}')">Completed Animation</a>
                                {% endif %}
                                {# {% if outer_loop.index == 1 %}
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="Category('card_{{ data[0].id }}', 'plantowatch')">Plan to Watch</a>
                                {% elif outer_loop.index == 2 %}
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="Category('card_{{ data[0].id }}', 'completed')">Completed</a>
                                {% elif outer_loop.index == 3 %}
                                <a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="Category('card_{{ data[0].id }}', 'completed')">Completed</a>
                                {% endif %} #}
                            </div>
                        </div>
                    </div>
                </div>
                <!----------- Element metadata Modal ----------->
                <div class="modal fade" id="modal_{{ data[0].id }}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" style="border-style: solid; border-width: 1px; border-color: white; background: #131418;">
                            <div class="modal-body">
                                <div class="modal-header">
                                    <h4 class="modal-title">{{ data[0].name }}</h4>
                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% if data[0].original_name != data[0].name %}
                                    <p><b>Original title</b>: {{ data[0].original_name }}</p>
                                    {% endif %}
                                    <p><b>Release date</b>: {{ release_date["{}".format(data[0].id)] }}</p>
                                    <p><b>Actors</b>: {{ actors["{}".format(data[0].id)] }}</p>
                                    <p><b>Genres</b>: {{ genres["{}".format(data[0].id)] }}</p>
                                    <p><b>Budget</b>: {{ '{:,} $'.format(data[0].budget|int).replace(',', ' ') }}</p>
                                    <p><b>Revenue</b>: {{ '{:,} $'.format(data[0].revenue|int).replace(',', ' ') }}</p>
                                    {% if data[0].runtime == 0 %}
                                    <p><b>Movie runtime</b>: Unknown</p>
                                    {% else %}
                                    <p><b>Movie runtime</b>: {{ data[0].runtime }} min</p>
                                    {% endif %}
                                    <p><b>Original language</b>: {{ data[0].original_language }}</p>
                                    <p><b>TMDb score</b>: {{ data[0].vote_average }}/10</p>
                                    {% if data[0].tagline == "" %}
                                    {% else %}
                                    <p><b>Tagline</b>: {{ data[0].tagline }}</p>
                                    {% endif %}
                                    <p><b>Production companies</b>: {{ prod_companies["{}".format(data[0].id)] }}</p>
                                    <hr class="m-b-10 m-t-10">
                                    <p class="m-b-0 text-justify"><b>Synopsis</b>: {{ data[0].synopsis }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

<div class="modal_loading"></div>
{% endblock content %}


{% block script %}
{% if current_user.get_id() == target_user_id %}
<!------------ Jquery Autocomplete ------------->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
$('.add_element').val('');
$('#list_select').prop('selectedIndex', 0);

$.widget("custom.catcomplete", $.ui.autocomplete, {
    _create: function() {
        this._super();
        this.widget().menu("option", "items", "> :not(.ui-autocomplete-category)");
    },
    _renderMenu: function(ul, items) {
        var that = this,
        currentCategory = "";
        $.each(items, function(index, item) {
            var li;

            if (item.nb_results === 0) {
                var a = "No results found."
                ul.append("<li class='disabled'>" + a + "</li>");
            } else {
                li = that._renderItemData(ul, item);
            }
        });
    },
    _renderItem: function(ul, item) {
        var $li = $('<li class="list-group">'),
            $img = $('<img>');

        $img.attr({ src: item.poster_path, alt: item.name, style: "width: 40px; height: 60px;"});
        $li.append('<a class="list-group-item bg-dark text-light">');
        $li.find('a').append($img).append(" "+ item.name + " (" + item.first_air_date + ")");

        return $li.appendTo(ul);
    }
});

$(function() {
    $("#autocomplete").catcomplete({
        delay: 500,
        source: function(request, response) {
                $.getJSON("{{url_for('autocomplete', media=media_list)}}",{
                    q: request.term,
                },
                    function(data) {
                        response(data.matching_results);
                    }
                );
        },
        minLength: 2,
        select: function(event, ui) {
            $("#autocomplete").val(ui.item.name);
            $("#element_id").val(ui.item.tmdb_id);

            $body = $("body");
            $.ajax ({
                type: "POST",
                url: "/add_element",
                contentType: "application/json",
                data: JSON.stringify({element_id: ui.item.tmdb_id, element_type: '{{ media_list }}', element_cat: $("#list_select").val() }),
                dataType: "json",
                beforeSend: function() { $body.addClass("loading"); },
                success: function(response) {
                    window.location.replace('/{{ media_list }}/{{ current_user.username }}');
                }
            });
        }
    });
});
</script>
{% else %}
<script src="{{ url_for('static', filename='js/test.js') }}"></script>
{% endif %}

<!------------------ Isotope ------------------->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

<script src="{{ url_for('static', filename='js/mymedialist_common.js') }}"></script>
{% if media_list == 'movieslist' %}
<script src="{{ url_for('static', filename='js/mymedialist_movies.js') }}"></script>
{% elif media_list != 'movieslist' %}
<script src="{{ url_for('static', filename='js/mymedialist.js') }}"></script>
{% endif %}
{% endblock script %}