{% extends "layout.html" %}


{% block css %}
{% if target_user_id == current_user.get_id() %}
<!------------ Jquery Autocomplete ---------->
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet">

<style>
#autocomplete.ui-autocomplete-loading {
    background-image: url('{{ url_for("static", filename="img/add_loader.gif") }}');
    background-position: right center;
    background-repeat: no-repeat;
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #131418 !important;
    border: solid white 1px;
}
</style>
{% endif %}

<!------------- Main CSS --------------->
<style>
.content>.collapse:not(.show) {
    display: none !important;
}

.collapsing {
	position: relative;
	height: 0px;
	overflow: hidden;
	transition: height 0.25s ease;
}

.add_element {
    width: 220px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 12pt;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.9)
}

.arrow_div {
    height: 28px;
    width: 28px;
}

.card-img-top {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
}

.btn_left {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
}

.btn_left:hover {
    opacity: 1;
}

.mask:hover~.btn_left {
    opacity: 0.7;
}

.btn_bottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
    opacity: 0;
}

.btn_bottom:hover {
    opacity: 1;
}

.mask:hover~.btn_bottom {
    opacity: 0.7;
}

.btn_right {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
}

.btn_right:hover {
    opacity: 1;
}

.mask:hover~.btn_right {
    opacity: 0.7;
}

.card {
    width: 200px;
}

.font-mask {
    font-size: 20pt;
}

.dropdown-item {
    background-color: #272525;
    color: #fff;
    font-weight: 300;
    font-size: 11pt;
    padding-left: 10px;
    padding-right: 10px;
}

.form-control {
    height: 2rem;
    padding: 5px;
    background-color: #131418;
    color: #fff;
    border-radius: 1px;
    font-size: 11pt;
    outline: none;
    box-shadow: none !important;
}

.dropdown-menu {
    background-color: #272525;
    min-width: 9rem;
}


/* ############################# pacman loading ############################ */

.modal_loading {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .6) url('{{ url_for("static", filename="img/pacman_loader.gif") }}') 50% 50% no-repeat;
}

body.loading .modal_loading {
    overflow: hidden;
}

body.loading .modal_loading {
    display: block;
}


/* ######################################################################### */


/* ################################ card CSS ############################### */
.modded {
    max-width: 175px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.scrollable-menu {
    text-align-last: center;
}

.show-read-more .more-text {
    display: none;
}

.form-control:focus {
    height: 2rem;
    padding: 5px;
    background-color: #131418;
    color: #fff;
}

.episodes {
	{% if target_user_id == current_user.get_id() %}
	cursor: pointer;
	{% endif %}
    border-style: 1px;
    border-color: black;
    border-radius: 2px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}

.seasons {
	{% if target_user_id == current_user.get_id() %}
	cursor: pointer;
	{% endif %}
    border-style: 1px;
    border-color: black;
    border-radius: 2px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}
/* ######################################################################### */


/* ############################ 768px or less ############################## */


/* On screens that are 768px or less */

@media (max-width: 767.98px) {
    .d-flex {
        justify-content: center;
    }
    .card-img-top {
        height: 202.5px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        border-radius: 3px;
    }
    .card {
        width: 135px;
        padding-right: 0px;
        margin-left: 5px !important;
        margin-right: 5px !important;
        margin-bottom: 20px;
    }
    .btn_right {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0.8;
    }
    .btn_bottom {
        position: absolute;
        bottom: 10px;
        left: 10px;
        opacity: 0.8;
    }
    .btn_left {
        position: absolute;
        top: 10px;
        left: 10px;
        opacity: 0.8;
    }
    .font-mask {
        font-size: 12pt;
    }
    .score_size {
        font-size: 10pt;
    }
    .dropdown-item {
        background-color: #272525;
        max-width: 120px;
        padding-left: 10px;
        padding-right: 10px;
        color: #fff;
        font-weight: 300;
        font-size: 9pt;
    }
    .form-control {
        height: 2rem;
        background-color: #131418;
        color: #fff;
        border-radius: 1px;
        font-size: 9pt;
        outline: none;
        box-shadow: none !important;
        align-items: left;
        padding: 5px;
    }
    .dropdown-menu {
        background-color: #272525;
        max-width: 120px !important;
    }
    .dropdown-divider {
        max-width: 120px;
    }
    .category-title {
        font-size: 1.5rem;
    }
}

/* ######################################################################### */


/* ########################## Sidenav menu ################################# */

.sidenav {
    height: 60%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 70px;
}

/* ######################################################################### */
</style>
{% endblock css %}


{% block fixed %}
<div class="d-flex flex-wrap">
    <div class="ml-auto">
        <a id="collapse_container" onclick="hide_all_cat()">
            <span id="collapse_all" class="fas fa-eye-slash text-light m-r-5"></span>
            <span id="show_cat_all" class="d-none"></span>
            <span id="collapse_show" class="text-light">Collapse all</span>
        </a>

        <span class="m-l-5 m-r-5 text-light">||</span>

        <a id="score_container" onclick="show_all_score()">
            <span id="show_all" class="fas fa-eye text-light m-r-5"></span>
            <span id="hide_all" class="d-none"></span>
            <span id="show_hide" class="text-light">Show scores</span>
        </a>

        <span class="m-l-5 m-r-5 text-light">||</span>

        <a id="nav_container" onclick="openNav()">
            <span class="fas fa-bars text-light"></span>
            <span class="text-light">Categories</span>
        </a>

        <span class="m-l-5 m-r-5 text-light">||</span>

        <a id="view_container" href="{{ url_for('mymedialist', media_list=media_list, list_view='table', user_name=target_user_name) }}">
            <span class="fas fa-bars text-light"></span>
            <span class="text-light">Table view</span>
        </a>
    </div>
</div>
{% endblock fixed %}


{% block content %}
<div class="d-flex flex-wrap">
    {% if target_user_id == current_user.get_id() %}
		<div class="m-t-20 m-b-10">
		{% if media_list == "animelist" %}
			<input  class="form-control text-light add_element" placeholder="Add an Anime" type="text" id="autocomplete" onfocus="this.value=''"/>
			<input type="hidden" id="element_id" value=""/>
		{% elif media_list == "serieslist" %}
			<input  class="form-control text-light add_element" placeholder="Add a Series" type="text" id="autocomplete" onfocus="this.value=''"/>
			<input type="hidden" id="element_id" value=""/>
		{% endif %}
		</div>
		<div class="ml-auto m-t-20 m-b-10">
			<button class="btn btn-sm btn-light text-dark p-2" onclick="refreshAll()"><a class="fas fa-sync m-r-5 text-dark"></a> REFRESH ALL</button>
		</div>
    {% endif %}
</div>

<div id="mySidenav" class="sidenav" style="height: 340px; padding-top: 30px;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="padding: 0px; margin-left: 135px;">&times;</a>
    <a href="#WATCHING">Watching</a>
    <a href="#COMPLETED">Completed</a>
    <a href="#ON_HOLD">On Hold</a>
    <a href="#RANDOM">Random</a>
    <a href="#DROPPED">Dropped</a>
    <a href="#PLAN_TO_WATCH">Plan to Watch</a>
</div>

{% for category in all_data %}
	{% if loop.index == 1 %}
		<div style="cursor: pointer;" data-toggle="collapse" href="#WATCHING" onclick="turn('WATCHING', 'WATCHING_arrow')">
			<h2 class="font-weight-light text-center pt-5 mb-0 category-title">WATCHING
				<div class="arrow_div float-right">
					<a class="collapse_all fas fa-sm fa-chevron-down" id="WATCHING_arrow"></a>
				</div>
			</h2>
		</div>
		<hr class="mt-2 pb-3 mb-0">
		<div class="collapse show d-flex flex-wrap" id="WATCHING">
	{% elif loop.index == 2 %}
		<div style="cursor: pointer;" data-toggle="collapse" href="#COMPLETED" onclick="turn('COMPLETED', 'COMPLETED_arrow')">
			<h2 class="font-weight-light text-center pt-3 mb-0 category-title">COMPLETED
				<div class="arrow_div float-right">
					<a class="collapse_all fas fa-sm fa-chevron-down" id="COMPLETED_arrow"></a>
				</div>
			</h2>
		</div>
		<hr class="mt-2 pb-3 mb-0">
		<div class="collapse show d-flex flex-wrap" id="COMPLETED">
	{% elif loop.index == 3 %}
		<div style="cursor: pointer;" data-toggle="collapse" href="#ON_HOLD" onclick="turn('ON_HOLD', 'ON_HOLD_arrow')">
			<h2 class="font-weight-light text-center pt-3 mb-0 category-title">ON HOLD
				<div class="arrow_div float-right">
					<a class="collapse_all fas fa-sm fa-chevron-down" id="ON_HOLD_arrow"></a>
				</div>
			</h2>
		</div>
		<hr class="mt-2 pb-3 mb-0">
		<div class="collapse show d-flex flex-wrap" id="ON_HOLD">
	{% elif loop.index == 4 %}
		<div style="cursor: pointer;" data-toggle="collapse" href="#RANDOM" onclick="turn('RANDOM', 'RANDOM_arrow')">
			<h2 class="font-weight-light text-center pt-3 mb-0 category-title">RANDOM
				<div class="arrow_div float-right">
					<a class="collapse_all fas fa-sm fa-chevron-down" id="RANDOM_arrow"></a>
				</div>
			</h2>
		</div>
		<hr class="mt-2 pb-3 mb-0">
		<div class="collapse show d-flex flex-wrap" id="RANDOM">
	{% elif loop.index == 5 %}
		<div style="cursor: pointer;" data-toggle="collapse" href="#DROPPED" onclick="turn('DROPPED', 'DROPPED_arrow')">
			<h2 class="font-weight-light text-center pt-3 mb-0 category-title">DROPPED
				<div class="arrow_div float-right">
					<a class="collapse_all fas fa-sm fa-chevron-down" id="DROPPED_arrow"></a>
				</div>
			</h2>
		</div>
		<hr class="mt-2 pb-3 mb-0">
		<div class="collapse show d-flex flex-wrap" id="DROPPED">
	{% elif loop.index == 6 %}
		<div style="cursor: pointer;" data-toggle="collapse" href="#PLAN_TO_WATCH" onclick="turn('PLAN_TO_WATCH', 'PLAN_TO_WATCH_arrow')">
			<h2 class="font-weight-light text-center pt-3 mb-0 category-title">PLAN TO WATCH
				<div class="arrow_div float-right">
					<a class="collapse_all fas fa-sm fa-chevron-down" id="PLAN_TO_WATCH_arrow"></a>
				</div>
			</h2>
		</div>
		<hr class="mt-2 pb-3 mb-0">
		<div class="collapse show d-flex flex-wrap" id="PLAN_TO_WATCH">
	{% endif %}

	{% set outer_loop = loop %}

	{% for data in category %}
		<div id="card_{{ data[0].id }}" class="card bg-transparent m-l-10 m-r-10 m-b-40 m-t-20" style="border-radius: 5px;">
			<div class="view overlay">
				<img class="card-img-top" width="200" height="300" src="{{ data[0].image_cover }}" alt="{{ data[0].name }}">
				<div class="mask flex-center rgba-black-strong" data-toggle="modal" data-target="#modal_{{ data[0].id }}" style="cursor: pointer;">
					<span class="font-mask text-center text-light">{{ data[0].name }}</span>
				</div>
				{% if target_user_id == current_user.get_id() %}
					<a class="btn_left fas fa-bars text-light" data-toggle="modal" data-target="#modal_cat{{ data[0].id }}"></a>
					<a class="btn_right fas fa-ban text-light" onclick="delete_element('{{ data[0].id }}', 'card_{{ data[0].id }}', '{{ data[0].name }}')"></a>
				{% endif %}
				<a class="btn_bottom fas fa-caret-square-down" onclick="show_score('footer_{{ data[0].id }}', card_{{ data[0].id }})" style="z-index: 500;"></a>
			</div>

			<div class="card-body bg-transparent p-0 m-t-5 m-b-1">
				<div class="container p-0">
					<div class="row p-0 m-0">
						<div class="col p-0">
							{% if target_user_id == current_user.get_id() %}
								<select id="S_{{ data[0].id }}" class="scrollable-menu text-center form-control p-0 seasons" onchange="updateSeason('{{ data[0].id }}', this, '{{ eps['{}'.format(data[0].id)] }}', 'E_{{ data[0].id }}')">
							{% else %}
								<select id="S_{{ data[0].id }}" class="disabled scrollable-menu text-center form-control p-0 seasons">
							{% endif %}
							{% for i in range(eps["{}".format(data[0].id)]|length) %}
								{% if i+1 == data[1].current_season %}
									<option selected="selected">Season {{ i+1 }}</option>
								{% else %}
									<option>Season {{ i+1 }}</option>
								{% endif %}
							{% endfor %}
							</select>
						</div>
						<div class="col p-0">
							{% if target_user_id == current_user.get_id() %}
								<select id="E_{{ data[0].id }}" class="scrollable-menu text-center form-control p-0 episodes" onchange="updateEpisode('{{ data[0].id }}', this)">
							{% else %}
								<select id="E_{{ data[0].id }}" class="disabled scrollable-menu text-center form-control p-0 episodes">
							{% endif %}
								{% for i in range(eps["{}".format(data[0].id)][data[1].current_season-1]) %}
									{% if i+1 == data[1].last_episode_watched %}
										<option selected="selected">Episode {{ i+1 }}</option>
									{% else %}
										<option>Episode {{ i+1 }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
			</div>

			<div id="footer_{{ data[0].id }}" class="d-none footer_score">
				{% if target_user_id == current_user.get_id() %}
					<span class="score_size"> Score: </span><a class="score_size" id="new_{{ data[0].id }}" onclick="edit_score('edit_{{ data[0].id }}', 'new_{{ data[0].id }}')">{{ data[1].score }}</a>
				{% else %}
					<span class="score_size"> Score: </span><a class="disabled score_size" id="new_{{ data[0].id }}" onclick="edit_score('edit_{{ data[0].id }}', 'new_{{ data[0].id }}')">{{ data[1].score }}</a>
				{% endif %}
				<input id="edit_{{ data[0].id }}" class="d-none" type="text"
					   style="max-width: 30px;
					   max-height: 20px;
					   background-color: black;
					   color: white;
					   border: solid;
					   border-color: black;"
					   onkeydown="add_score('new_{{ data[0].id }}', 'edit_{{ data[0].id }}', '{{ data[0].id }}')">
			</div>
		</div>

		<!----------- Categories Modal ---------------->
		<div style="max-width: 220px;" class="modal fade left" id="modal_cat{{ data[0].id }}" tabindex="-1" role="dialog" aria-labelledby="cat_mod" aria-hidden="true">
			<div style="max-width: 200px;" class="modal-dialog modal-side modal-top-left modal-sm" role="document">
				<div style="max-width: 200px; background: #131418;" class="modal-content">
					<div style="max-width: 200px;" class="modal-header">
						<h5 class="modal-title">Categories</h5>
						<button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div id="mod_{{ data[0].id }}" class="modal-body">
						{% if outer_loop.index == 1 %}
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Completed', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Completed</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'On Hold', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">On Hold</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Random', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Random</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Dropped', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Dropped</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Plan to Watch', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Plan to Watch</a>
						{% elif outer_loop.index == 2 %}
						<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Watching', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Watching</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'On Hold', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">On Hold</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Random', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Random</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Dropped', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Dropped</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Plan to Watch', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Plan to Watch</a>
						{% elif outer_loop.index == 3 %}
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Watching', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Watching</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Completed', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Completed</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Random', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Random</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Dropped', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Dropped</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Plan to Watch', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Plan to Watch</a>
						{% elif outer_loop.index == 4 %}
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Watching', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Watching</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Completed', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Completed</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'On Hold', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">On Hold</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Dropped', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Dropped</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Plan to Watch', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Plan to Watch</a>
						{% elif outer_loop.index == 5 %}
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Watching', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Watching</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Completed', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Completed</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'On Hold', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">On Hold</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Random', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Random</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Plan to Watch', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Plan to Watch</a>
						{% elif outer_loop.index == 6 %}
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Watching', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Watching</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Completed', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Completed</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'On Hold', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">On Hold</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Random', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Random</a>
							<a data-dismiss="modal" class="list-group-item bg-dark modded" onclick="changeCategory('{{ data[0].id }}', 'Dropped', 'card_{{ data[0].id }}', 'mod_{{ data[0].id }}', 'S_{{ data[0].id }}', 'E_{{ data[0].id }}', '{{ eps["{}".format(data[0].id)] }}')">Dropped</a>
						{% endif %}
						{% if can_update["{}".format(data[0].id)] %}
							<a style="background-color: #4d0000;" data-dismiss="modal" class="list-group-item modded" onclick="refresh('{{ data[0].id }}')">Refresh metadata</a>
						{% else %}
							<a style="background-color: grey;" data-dismiss="modal" class="disabled list-group-item modded" >Refresh metadata</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		<!----------- Element metadata Modal ----------->
		<div class="modal fade" id="modal_{{ data[0].id }}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content" style="border-style: solid; border-width: 1px; border-color: white; background: #131418;">
					<div class="modal-body">
						<div class="modal-header">
							<h4 class="modal-title">{{ data[0].name }}</h4>
							<button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p><b>Original Name</b>: {{ data[0].original_name }}</p>
							<p><b>Genres</b>: {{ genres["{}".format(data[0].id)] }}</p>
							<p><b>First air date</b>: {{ first_air_date["{}".format(data[0].id)] }}</p>
							<p><b>Last air date</b>: {{ last_air_date["{}".format(data[0].id)] }}</p>
							<p><b>Homepage</b>: <a target="_blank" rel="noopener noreferrer" href="{{ data[0].homepage }}">{{ data[0].homepage }}</a></p>
							<p><b>In production</b>: {{ data[0].in_production }}</p>
							<p><b>Networks</b>: {{ networks["{}".format(data[0].id)] }}</p>
							<p><b>Created by</b>: {{ data[0].created_by }}</p>
							<p><b>Episode duration</b>: {{ data[0].episode_duration }} min</p>
							<p><b>Total seasons</b>: {{ data[0].total_seasons }}</p>
							<p><b>Total episodes</b>: {{ data[0].total_episodes }}</p>
							<p><b>Origin country</b>: {{ data[0].origin_country }}</p>
							<p><b>TMDb score</b>: {{ data[0].vote_average }}/10</p>
							<p><b>Status</b>: {{ data[0].status }}</p>
							<hr class="m-b-10 m-t-10">
							<p class="m-b-0"><b>Synopsis</b>: </p><p class="text-justify show-read-more">{{ data[0].synopsis }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
{% endfor %}
<div class="modal_loading"></div>
{% endblock content %}


{% block script %}
{% if target_user_id == current_user.get_id() %}
<!------------ Jquery Autocomplete ------------->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">
$.widget("custom.catcomplete", $.ui.autocomplete, {
    _create: function() {
        this._super();
        this.widget().menu("option", "items", "> :not(.ui-autocomplete-category)");
    },
    _renderMenu: function(ul, items) {
        var that = this,
        currentCategory = "";
        $.each(items, function(index, item) {
            var li;

            if (item.nb_results === 0) {
                var a = "No results found."
                ul.append("<li class='disabled'>" + a + "</li>");
            } else {
                li = that._renderItemData(ul, item);
            }
        });
    },
    _renderItem: function(ul, item) {
		var $li = $('<li class="list-group">'),
			$img = $('<img>');

		$img.attr({ src: item.poster_path, alt: item.name, style: "width: 40px; height: 60px;"});
		$li.append('<a class="list-group-item bg-dark text-light">');
		$li.find('a').append($img).append(" "+ item.name + " (" + item.first_air_date + ")");

		return $li.appendTo(ul);
	}
});
</script>

<script type="text/javascript">
$(function() {
    $("#autocomplete").catcomplete({
        delay: 500,
        source: function(request, response) {
                $.getJSON("{{url_for('autocomplete', media=media_list)}}",{
                    q: request.term,
                },
                    function(data) {
                        response(data.matching_results);
                    }
                );
	    },
		minLength: 1,
        select: function(event, ui) {
            $("#autocomplete").val(ui.item.name);
            $("#element_id").val(ui.item.tmdb_id);

            $body = $("body");
            $.ajax ({
                type: "POST",
                url: "/add_element",
                contentType: "application/json",
                data: JSON.stringify({element_id: ui.item.tmdb_id, element_type: '{{ media_list }}' }),
                dataType: "json",
                beforeSend: function() { $body.addClass("loading"); },
                success: function(response) {
                    window.location.replace('/{{ media_list }}/grid/{{ current_user.username }}');
                }
            });
        }
    });
});
</script>

<!-------------- Refresh ------------------>
<script type="text/javascript">
function refreshAll() {
    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/refresh_all_element",
        contentType: "application/json",
        data: JSON.stringify({element_type: "{{ media_list }}" }),
        beforeSend: function() { $body.addClass("loading"); },
        success: function(response) {
                window.location.replace('/{{ media_list }}/grid/{{ current_user.username }}');
        }
    });
}

function refresh(element_id) {
    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/refresh_single_element",
        contentType: "application/json",
        data: JSON.stringify({element_id: element_id, element_type: "{{ media_list }}" }),
        dataType: "json",
        beforeSend: function() { $body.addClass("loading"); },
        success: function(response) {
            window.location.replace('/{{ media_list }}/grid/{{ current_user.username }}');
        }
    });
}
</script>

<!---------------- Update/Change/Remove element ------------------->
<script type="text/javascript">
function changeCategory(element_id, new_category, card_id, mod_id, seas_drop_id, ep_drop_id, seas_data) {
    if (new_category === 'Watching') {
        var completed = 'Completed';
        var on_hold = 'On Hold';
        var random = 'Random';
        var dropped = 'Dropped';
        var plan_to_watch = 'Plan to Watch';

        $("#"+mod_id+ " a").filter(":contains('Watching')").remove()
        $("#"+mod_id+ " a").filter(":contains('Completed')").remove()
        $("#"+mod_id+ " a").filter(":contains('On Hold')").remove()
        $("#"+mod_id+ " a").filter(":contains('Random')").remove()
        $("#"+mod_id+ " a").filter(":contains('Dropped')").remove()
        $("#"+mod_id+ " a").filter(":contains('Plan to Watch')").remove()

        $("#"+mod_id).prepend(
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + completed + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Completed</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + on_hold + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>On Hold</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + random + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Random</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + dropped + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Dropped</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + plan_to_watch + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Plan to Watch</a>"
        );
        $("#" + card_id).prependTo("#WATCHING");
        $('.modal').modal("hide");
    }

    if (new_category === 'Completed') {
        var watching = 'Watching';
        var on_hold = 'On Hold';
        var random = 'Random';
        var dropped = 'Dropped';
        var plan_to_watch = 'Plan to Watch';

        $("#"+mod_id+ " a").filter(":contains('Watching')").remove()
        $("#"+mod_id+ " a").filter(":contains('Completed')").remove()
        $("#"+mod_id+ " a").filter(":contains('On Hold')").remove()
        $("#"+mod_id+ " a").filter(":contains('Random')").remove()
        $("#"+mod_id+ " a").filter(":contains('Dropped')").remove()
        $("#"+mod_id+ " a").filter(":contains('Plan to Watch')").remove()

        $("#"+mod_id).prepend(
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + watching + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Watching</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + on_hold + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>On Hold</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + random + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Random</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + dropped + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Dropped</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + plan_to_watch + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Plan to Watch</a>"
        );
        $("#" + card_id).prependTo("#COMPLETED");
        $('.modal').modal("hide");

        var season_data = JSON.parse("[" + seas_data + "]");
        var episode_drop = document.getElementById(ep_drop_id);

        var seasons_length = $('#'+seas_drop_id).children('option').length;
        var seasons_index = (seasons_length - 1);
        $('#'+seas_drop_id).prop('selectedIndex', seasons_index);

        episode_drop.length = 1;

        for (i = 2; i <= season_data[0][seasons_index]; i++) {
            let opt = document.createElement("option");
            opt.text = "Episode " + i;
            episode_drop.appendChild(opt);
        }
        $('#'+ep_drop_id).prop('selectedIndex', season_data[0][seasons_index]-1);
    }

    if (new_category === 'On Hold') {
        var completed = 'Completed';
        var watching = 'Watching';
        var random = 'Random';
        var dropped = 'Dropped';
        var plan_to_watch = 'Plan to Watch';

        $("#"+mod_id+ " a").filter(":contains('Watching')").remove()
        $("#"+mod_id+ " a").filter(":contains('Completed')").remove()
        $("#"+mod_id+ " a").filter(":contains('On Hold')").remove()
        $("#"+mod_id+ " a").filter(":contains('Random')").remove()
        $("#"+mod_id+ " a").filter(":contains('Dropped')").remove()
        $("#"+mod_id+ " a").filter(":contains('Plan to Watch')").remove()

        $("#"+mod_id).prepend(
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + watching + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Watching</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + completed + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Completed</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + random + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Random</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + dropped + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Dropped</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + plan_to_watch + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Plan to Watch</a>"
        );
        $("#" + card_id).prependTo("#ON_HOLD");
        $('.modal').modal("hide");
    }

    if (new_category === 'Random') {
        var completed = 'Completed';
        var on_hold = 'On Hold';
        var watching = 'Watching';
        var dropped = 'Dropped';
        var plan_to_watch = 'Plan to Watch';

        $("#"+mod_id+ " a").filter(":contains('Watching')").remove()
        $("#"+mod_id+ " a").filter(":contains('Completed')").remove()
        $("#"+mod_id+ " a").filter(":contains('On Hold')").remove()
        $("#"+mod_id+ " a").filter(":contains('Random')").remove()
        $("#"+mod_id+ " a").filter(":contains('Dropped')").remove()
        $("#"+mod_id+ " a").filter(":contains('Plan to Watch')").remove()

        $("#"+mod_id).prepend(
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + watching + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Watching</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + completed + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Completed</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + on_hold + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>On Hold</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + dropped + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Dropped</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + plan_to_watch + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Plan to Watch</a>"
        );
        $("#" + card_id).prependTo("#RANDOM");
        $('.modal').modal("hide");
    }

    if (new_category === 'Dropped') {
        var completed = 'Completed';
        var on_hold = 'On Hold';
        var random = 'Random';
        var watching = 'Watching';
        var plan_to_watch = 'Plan to Watch';

        $("#"+mod_id+ " a").filter(":contains('Watching')").remove()
        $("#"+mod_id+ " a").filter(":contains('Completed')").remove()
        $("#"+mod_id+ " a").filter(":contains('On Hold')").remove()
        $("#"+mod_id+ " a").filter(":contains('Random')").remove()
        $("#"+mod_id+ " a").filter(":contains('Dropped')").remove()
        $("#"+mod_id+ " a").filter(":contains('Plan to Watch')").remove()

        $("#"+mod_id).prepend(
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + watching + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Watching</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + completed + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Completed</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + on_hold + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>On Hold</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + random + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Random</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + plan_to_watch + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Plan to Watch</a>"
        );
        $("#" + card_id).prependTo("#DROPPED");
        $('.modal').modal("hide");
    }

    if (new_category === 'Plan to Watch') {
        var completed = 'Completed';
        var on_hold = 'On Hold';
        var random = 'Random';
        var dropped = 'Dropped';
        var watching = 'Watching';

        $("#"+mod_id+ " a").filter(":contains('Watching')").remove()
        $("#"+mod_id+ " a").filter(":contains('Completed')").remove()
        $("#"+mod_id+ " a").filter(":contains('On Hold')").remove()
        $("#"+mod_id+ " a").filter(":contains('Random')").remove()
        $("#"+mod_id+ " a").filter(":contains('Dropped')").remove()
        $("#"+mod_id+ " a").filter(":contains('Plan to Watch')").remove()

        $("#"+mod_id).prepend(
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + watching + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Watching</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + completed + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Completed</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + on_hold + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>On Hold</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + random + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Random</a>" +
            "<a data-dismiss='modal' class='list-group-item text-light bg-dark modded' onclick='changeCategory(\"" + element_id + "\", \"" + dropped + "\", \"" + card_id + "\", \"" + mod_id + "\", \"" + seas_drop_id + "\", \"" + ep_drop_id + "\", \"" + seas_data + "\")'>Dropped</a>"
        );
        $("#" + card_id).prependTo("#PLAN_TO_WATCH");
        $('.modal').modal("hide");
    }

    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/change_element_category",
        contentType: "application/json",
        data: JSON.stringify({status: new_category, element_id: element_id, element_type: "{{ media_list }}" }),
        dataType: "json",
        success: function(response) {
            console.log("ok"); }
    });
}
</script>

<script type="text/javascript">
function delete_element(element_id, card_id, element_name) {
    if (!confirm("Are you sure you want to delete this from your list?")){
        return false;
    }
    $("#"+card_id).remove();
    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/delete_element",
        contentType: "application/json",
        data: JSON.stringify({delete: element_id, element_type: "{{ media_list }}" }),
        dataType: "json",
        success: function(response) {
            console.log("ok"); }
    });
}
</script>

<script type="text/javascript">
function updateEpisode(element_id, episode){
    let selected_episode = episode.selectedIndex

    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/update_element_episode",
        contentType: "application/json",
        data: JSON.stringify({episode: selected_episode, element_id: element_id, element_type: "{{ media_list }}" }),
        dataType: "json",
        success: function(response) {
            console.log("ok"); }
    });
}
</script>

<script type="text/javascript">
function updateSeason(element_id, value, seas_data, ep_drop_id) {
    var selected_season = value.selectedIndex;
    var episode_drop = document.getElementById(ep_drop_id);
    var season_data = JSON.parse("[" + seas_data + "]");

    episode_drop.length = 1;

    for (i = 2; i <= season_data[0][selected_season]; i++) {
        let opt = document.createElement("option");
        opt.text = "Episode " + i;
        episode_drop.appendChild(opt);
    }

    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/update_element_season",
        contentType: "application/json",
        data: JSON.stringify({season: selected_season, element_id: element_id, element_type: "{{ media_list }}" }),
        dataType: "json",
        success: function(response) {
            console.log("ok"); }
    });
}
</script>

<!------------------ Score --------------------->
<script type="text/javascript">
function edit_score(edit_id, new_id) {
    var edit = document.getElementById(edit_id);

    if (edit.className === "d-none"){
        edit.className = "visible";
        document.getElementById(new_id).innerHTML = "";
        $(edit).val('');
        $(edit).focus();
    } else {
        edit.className = "d-none";
    }
}

function add_score(new_score, edit_id, element_id) {
    var new_sc = document.getElementById(new_score);
    var edit_score_value = document.getElementById(edit_id).value;
    var edit_score = document.getElementById(edit_id);

    if (event.which == 13 || event.keyCode == 13) {
        if (edit_score_value > 10 || edit_score_value < 0) {
            window.alert("Your number must be between 0-10");
        } else if (isNaN(edit_score_value) == true) {
            window.alert("Your must enter a number between 0-10");
        } else if ($.trim($(edit_score).val()).length == 0) {
            $(new_sc).text("-");
            edit_score.className = "d-none";
        } else {
            edit_score.className = "d-none";
            $(new_sc).text(edit_score_value);

            $body = $("body");
            $.ajax ({
                type: "POST",
                url: "/add_score_element",
                contentType: "application/json",
                data: JSON.stringify({score_val: edit_score_value, element_id: element_id, element_type: '{{ media_list }}' }),
                dataType: "json",
                success: function(response) {
                    console.log('ok'); }
            });
            return false;
        }
        return true;
    }
}
</script>
{% endif %}

<script type="text/javascript">
function show_all_score() {
    var show = document.getElementById('show_all');
    var hide = document.getElementById('hide_all');
    $('div[id^="footer_"]').attr('class', 'card-footer text-muted text-center p-0');
    hide.className = "fas fa-eye-slash text-light m-r-5";
    show.className = "d-none";
    $('#show_hide').text('Hide scores');
    $('#score_container').attr('onclick', 'hide_all_score()');
    $('.card').attr('class', 'card bg-transparent m-l-10 m-r-10 m-b-15 m-t-20');
}

function hide_all_score() {
    var hide = document.getElementById('hide_all');
    var show = document.getElementById('show_all');
    $('div[id^="footer_"]').attr('class', 'd-none footer_score');
    hide.className = "d-none";
    show.className = "fas fa-eye text-light m-r-5";
    $('#show_hide').text('Show scores');
    $('#score_container').attr('onclick', 'show_all_score()');
    $('.card').attr('class', 'card bg-transparent m-l-10 m-r-10 m-b-40 m-t-20');
}
</script>

<script type="text/javascript">
function show_score(footer_id, card_id) {
    var score = document.getElementById(footer_id);

    if (score.className === "d-none footer_score"){
        score.className = "card-footer text-muted text-center p-0";
        $(card_id).attr('class', 'card bg-transparent m-l-10 m-r-10 m-b-15 m-t-20');
    } else {
        score.className = "d-none footer_score";
        $(card_id).attr('class', 'card bg-transparent m-l-10 m-r-10 m-b-40 m-t-20');
    }
}
</script>

<!------------------ Synopsis ------------------>
<script type="text/javascript">
$(document).ready(function() {
	var maxLength = 200;
	$(".show-read-more").each(function(){
		var myStr = $(this).text();
		if($.trim(myStr).length > maxLength){
			var newStr = myStr.substring(0, maxLength);
			var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
			$(this).empty().html(newStr);
			$(this).append('<a href="javascript:void(0);" class="read-more"> read more...</a>');
			$(this).append('<span class="more-text">' + removedStr + '</span>');
		}
	});

	$(".read-more").click(function(){
		$(this).siblings(".more-text").contents().unwrap();
		$(this).remove();
	});
});
</script>

<!------- Show/collapse all categories --------->
<script type="text/javascript">
function hide_all_cat() {
    $('.collapse.d-flex').collapse('hide');
    $('#collapse_show').text('Expand all');
    $('#collapse_container').attr('onclick', 'show_all_cat()');
    $('.collapse_all').attr('class', 'collapse_all fas fa-sm fa-chevron-right');
}

function show_all_cat() {
    $('.collapse.d-flex').collapse('show');
    $('#collapse_show').text('Collapse all');
    $('#collapse_container').attr('onclick', 'hide_all_cat()');
    $('.collapse_all').attr('class', 'collapse_all fas fa-sm fa-chevron-down');
}
</script>

<script type="text/javascript">
function turn(category, arrow) {
    var arrow = document.getElementById(arrow);
    var category = document.getElementById(category);

    if (category.className === "d-flex flex-wrap collapsing") {
    } else if (arrow.className === "collapse_all fas fa-sm fa-chevron-right") {
        arrow.className = "collapse_all fas fa-sm fa-chevron-down";
    } else {
        arrow.className = "collapse_all fas fa-sm fa-chevron-right";
    }
}
</script>

<!----------- Sidenav bar show/hide ------------>
<script type="text/javascript">
function openNav() {
    document.getElementById("mySidenav").style.width = "180px";
    $('#nav_container').attr('onclick', 'closeNav()');
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    $('#nav_container').attr('onclick', 'openNav()');
}
</script>
{% endblock script %}
