{% extends "layout.html" %}


{% block css %}
<!------------ Jquery Autocomplete ---------->
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet">
<style>
#autocomplete.ui-autocomplete-loading {
    background-image: url('{{ url_for("static", filename="img/add_loader.gif") }}');
    background-position: right center;
    background-repeat: no-repeat;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.9)
}

.scrollable-menu {
    text-align-last: center;
}

.form-control:focus {
    height: 2rem;
    padding: 5px;
    background-color: #131418;
    color: #fff;
}

.modal-content {
    background: #131418;
}

.card {
    border-radius: 5px;
}

.btn {
    padding: 5px !important;
    margin: 2px !important;
}

.btn-refresh-all {
    background-color: #375a7d;
}

.btn_left{
    position: absolute;
    left: 0px;
    opacity: 0;
}

.btn_right {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #fff0;
    border-color: #fff0;
    color: white;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    opacity: 0;
}

.btn_right:hover {
    opacity: 1;
}

.btn_left:hover {
    opacity: 1;
}

.mask:hover~.btn_right {
    opacity: 1;
}

.mask:hover~.btn_left {
    opacity: 1;
}

.btn {
    color: #fff
}

.btn:hover {
    color: #fff
}

.btn:focus {
    color: #fff
    outline: none;
}

.add_series {
    width: 220px;
    background: transparent;
    border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 12pt;
}

.add_series:focus {
    background: transparent;
    border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #fff;
}

/* ######### pacman loading ########## */
.modal_loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(0, 0, 0, .6)
                url('{{ url_for("static", filename="img/pacman_loader.gif") }}')
                50% 50%
                no-repeat;
}

body.loading .modal_loading {
    overflow: hidden;
}

body.loading .modal_loading {
    display: block;
}
/* ################################# */

.pointer {
    cursor: pointer;
}

#serie {
    padding: 0px;
}

.arrow_div {
    height: 28px;
    width: 28px;
}

/* On screens that are 599px or more */
@media screen and (min-width: 599px) {
    .card-img-top {
        border-style: solid;
        border-width: 1px;
        border-color: black;
        border-radius: 3px;
    }

    .card {
        width: 200px;
    }

    .dropdown-item {
        background-color: #272525;
        color: #fff;
        font-weight: 300;
        font-size: 11pt;
        padding-left: 10px;
        padding-right: 10px;
    }

    .form-control {
        height: 2rem;
        padding: 5px;
        background-color: #131418;
        color: #fff;
        border-radius: 1px;
        font-size: 11pt;
        outline: none;
        box-shadow:none !important;
    }

    .dropdown-menu {
        background-color: #272525;
        min-width: 9rem;
    }
}

/* On screens that are 599px or less */
@media screen and (max-width: 599px) {
    .card-img-top {
        border-style: solid;
        border-width: 1px;
        border-color: black;
        border-radius: 3px;
    }

    .card {
        width: 135px;
        padding-right: 0px;
        margin-left: 5px !important;
        margin-right: 5px !important;
        margin-bottom: 20px;
    }

    .dropdown-item {
        background-color: #272525;
        max-width: 120px;
        padding-left: 10px;
        padding-right: 10px;
        color: #fff;
        font-weight: 300;
        font-size: 9pt;
    }

    .form-control {
        height: 2rem;
        background-color: #131418;
        color: #fff;
        border-radius: 1px;
        font-size: 9pt;
        outline: none;
        box-shadow:none !important;
        align-items: left;
        padding: 5px;
    }

    .dropdown-menu {
        background-color: #272525;
        max-width: 120px !important;
    }

    .dropdown-divider {
        max-width: 120px;
    }

    .category-title {
        font-size: 1.5rem;
    }
}

.episodes {
    border-style: 1px;
    border-color: black;
    border-radius: 2px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}

.seasons {
    border-style: 1px;
    border-color: black;
    border-radius: 2px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}

.ui-autocomplete-category {
    font-weight: bold;
    background-color: #131418;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
}
</style>
{% endblock css %}


{% block content %}
<div class="d-flex flex-wrap">
    <div class="m-t-20 m-b-10">
        <input  class="form-control text-light add_series" placeholder="Add a series" type="text" id="autocomplete" onfocus="this.value=''"/>
        <input type="hidden" id="series_id" name="SeriesID" value=""/>
    </div>
    <div class="ml-auto m-t-20 m-b-10">
        <button class="btn btn-refresh-all" onclick="refreshAll()">Refresh All</button>
    </div>
</div>

{% for category in all_data %}

    {% if loop.index == 1 %}
    <h2 class="font-weight-light text-center pt-4 mb-0 category-title">WATCHING
        <div class="arrow_div float-right"><a class="fas fa-sm fa-chevron-down" id="WATCHING_arrow" onclick="hide('WATCHING', 'WATCHING_arrow')"></a></div>
    </h2>
    <hr class="mt-2 mb-4">
    <div class="d-flex flex-wrap" id="WATCHING">
    {% elif loop.index == 2 %}
    <h2 class="font-weight-light text-center pt-4 mb-0 category-title">COMPLETED
        <div class="arrow_div float-right"><a class="fas fa-sm fa-chevron-down" id="COMPLETED_arrow" onclick="hide('COMPLETED', 'COMPLETED_arrow')"></a></div></h2>
    <hr class="mt-2 mb-4">
    <div class="d-flex flex-wrap" id="COMPLETED">
    {% elif loop.index == 3 %}
    <h2 class="font-weight-light text-center pt-4 mb-0 category-title">ON HOLD
        <div class="arrow_div float-right"><a class="fas fa-sm fa-chevron-down" id="ON_HOLD_arrow" onclick="hide('ON_HOLD', 'ON_HOLD_arrow')"></a></div></h2>
    <hr class="mt-2 mb-4">
    <div class="d-flex flex-wrap" id="ON_HOLD">
     {% elif loop.index == 4 %}
    <h2 class="font-weight-light text-center pt-4 mb-0 category-title">RANDOM
        <div class="arrow_div float-right"><a class="fas fa-sm fa-chevron-down" id="RANDOM_arrow" onclick="hide('RANDOM', 'RANDOM_arrow')"></a></div></h2>
     <hr class="mt-2 mb-4">
    <div class="d-flex flex-wrap" id="RANDOM">
    {% elif loop.index == 5 %}
    <h2 class="font-weight-light text-center pt-4 mb-0 category-title">DROPPED
        <div class="arrow_div float-right"><a class="fas fa-sm fa-chevron-down" id="DROPPED_arrow" onclick="hide('DROPPED', 'DROPPED_arrow')"></a></div></h2>
    <hr class="mt-2 mb-4">
    <div class="d-flex flex-wrap" id="DROPPED">
    {% elif loop.index == 6 %}
    <h2 class="font-weight-light text-center pt-4 mb-0 category-title">PLAN TO WATCH
        <div class="arrow_div float-right"><a class="fas fa-sm fa-chevron-down" id="PLAN_TO_WATCH_arrow" onclick="hide('PLAN_TO_WATCH', 'PLAN_TO_WATCH_arrow')"></a></div></h2>
    <hr class="mt-2 mb-4">
    <div class="d-flex flex-wrap" id="PLAN_TO_WATCH">
    {% endif %}
    {% set outer_loop = loop %}

    {% for data in category %}
        <div id="card_{{ data['id'] }}" class="card bg-transparent view overlay m-l-10 m-r-10 m-b-40">
            <img class="card-img-top"  src="{{ data['cover_url'] }}" alt="{{ data['name'] }}">
            <div class="mask flex-center rgba-black-strong pointer" data-toggle="modal" data-target="#modal_{{ data['id'] }}">
                <p class="text-light"><div class="text-center"><h3>{{ data['name'] }}</h3></div>
            </div>
            <button type="button" class="btn btn-basic dropdown-toggle btn_left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div id="drop_{{ data['id'] }}" class="dropdown-menu">
                {% if outer_loop.index == 1 %}
                <button class="dropdown-item t" onclick="changeSerieCategory('{{ data['id'] }}', 'Completed', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Completed</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'On Hold', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">On Hold</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Random', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Random</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Dropped', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Dropped</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Plan to Watch', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Plan to Watch</button>
                {% elif outer_loop.index == 2 %}
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Watching', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Watching</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'On Hold', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">On Hold</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Random', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Random</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Dropped', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Dropped</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Plan to Watch', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Plan to Watch</button>
                {% elif outer_loop.index == 3 %}
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Watching', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Watching</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Completed', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Completed</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Random', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Random</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Dropped', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Dropped</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Plan to Watch', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Plan to Watch</button>
                {% elif outer_loop.index == 4 %}
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Watching', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Watching</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Completed', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Completed</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'On Hold', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">On Hold</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Dropped', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Dropped</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Plan to Watch', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Plan to Watch</button>
                {% elif outer_loop.index == 5 %}
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Watching', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Watching</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Completed', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Completed</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'On Hold', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">On Hold</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Random', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Random</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Plan to Watch', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Plan to Watch</button>
                {% elif outer_loop.index == 6 %}
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Watching', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Watching</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Completed', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Completed</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'On Hold', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">On Hold</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Random', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Random</button>
                <button class="dropdown-item" onclick="changeSerieCategory('{{ data['id'] }}', 'Dropped', 'card_{{ data['id'] }}', 'drop_{{ data['id'] }}')">Dropped</button>
                {% endif %}
                <div class="dropdown-divider"></div>
                {% if data['can_update'] %}
                    <button class="dropdown-item" onclick="refresh('{{ data['id'] }}')">Refresh metadata</button>
                {% else %}
                    <span class="d-inline-block disable" tabindex="0" data-toggle="tooltip" data-placement="right" title="A user refreshed this serie less than 30 min ago">
                        <button class="dropdown-item" style="pointer-events: none;" type="button" disabled>Refresh metadata</button>
                    </span>
                {% endif %}
            </div>
            <button class="btn btn_right" onclick="deleteSerie('{{ data['id'] }}', 'card_{{ data['id'] }}')"><b>x</b></button>

            <div class="card-body bg-transparent p-0 m-t-5 m-b-1">
                <div class="container p-0">
                    <div class="row p-0 m-0">
                        <div class="col p-0">
                             <select class="scrollable-menu text-center form-control p-0 seasons" id="S_{{ data['id'] }}">
                                 {% for i in range(data["season_data"]|length) %}
                                    {% if i+1 == data["current_season"] %}
                                        <option selected="selected">Season {{ i+1 }}</option>
                                    {% else %}
                                        <option>Season {{ i+1 }}</option>
                                    {% endif %}
                                 {% endfor %}
                            </select>
                        </div>
                        <div class="col p-0">
                            <select class="scrollable-menu text-center form-control p-0 episodes" id="E_{{ data['id'] }}" onchange="updateEpisode('{{ data['id'] }}', this)">
                                {% for i in range(data["season_data"][(data['current_season'])-1]) %}
                                    {% if i+1 == data["last_episode_watched"] %}
                                        <option selected="selected">Episode {{ i+1 }}</option>
                                    {% else %}
                                        <option>Episode {{ i+1 }}</option>
                                    {% endif %}
                                 {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_{{ data['id'] }}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="border-style: solid; border-width: 1px; border-color: white;">
                    <div class="modal-body">
                        <div class="modal-header">
                            <h4 class="modal-title">{{ data['name'] }}</h4>
                            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><b>Original Name</b> : {{ data['original_name'] }}</p>
                            <p><b>First air date</b> : {{ data['first_air_date'] }}</p>
                            <p><b>Last air date</b> : {{ data['last_air_date'] }}</p>
                            <p><b>Homepage</b> : <a target="_blank" rel="noopener noreferrer" href="{{ data['homepage'] }}">{{ data['homepage'] }}</a></p>
                            <p><b>In production</b> : {{ data['in_production'] }}</p>
                            <p><b>Created by</b> : {{ data['created_by'] }}</p>
                            <p><b>Episode duration</b> : {{ data['episode_duration'] }} min</p>
                            <p><b>Total seasons</b> : {{ data['total_seasons'] }}</p>
                            <p><b>Total episodes</b> : {{ data['total_episodes'] }}</p>
                            <p><b>Origin country</b> : {{ data['origin_country'] }}</p>
                            <p><b>Status</b> : {{ data['status'] }}</p>
                            <p class="text-justify"><b>Synopsis</b> : {{ data['synopsis'] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endfor %}
<div class="modal_loading"></div>
{% endblock content %}


{% block script %}
<!--------- Jquery Autocomplete ------------->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
function refreshAll() {
    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/refresh_all_series",
        beforeSend: function() { $body.addClass("loading"); },
        success: function(response) {
            window.location.replace('/myserieslist'); }
    });
}


function refresh(series_id) {
    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/refresh_single_series",
        contentType: "application/json",
        data: JSON.stringify({series_id: series_id }),
        dataType: "json",
        beforeSend: function() { $body.addClass("loading"); },
        success: function(response) {
            window.location.replace('/myserieslist'); }
    });
}


function changeSerieCategory(series_id, new_category, card_id, drop_id) {
    if (new_category === 'Watching') {
        var completed = 'Completed';
        var on_hold = 'On Hold';
        var random = 'Random';
        var dropped = 'Dropped';
        var plan_to_watch = 'Plan to Watch';

        $("#"+drop_id+ " button").filter(":contains('Watching')").remove()
        $("#"+drop_id+ " button").filter(":contains('Completed')").remove()
        $("#"+drop_id+ " button").filter(":contains('On Hold')").remove()
        $("#"+drop_id+ " button").filter(":contains('Random')").remove()
        $("#"+drop_id+ " button").filter(":contains('Dropped')").remove()
        $("#"+drop_id+ " button").filter(":contains('Plan to Watch')").remove()

        $("#"+drop_id).prepend(
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + completed + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Completed</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + on_hold + "\", \"" + card_id + "\", \"" + drop_id + "\")'>On Hold</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + random + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Random</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + dropped + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Dropped</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + plan_to_watch + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Plan to Watch</button>"
        );
        $("#" + card_id).prependTo("#WATCHING");
    }

    if (new_category === 'Completed') {
        var watching = 'Watching';
        var on_hold = 'On Hold';
        var random = 'Random';
        var dropped = 'Dropped';
        var plan_to_watch = 'Plan to Watch';

        $("#"+drop_id+ " button").filter(":contains('Watching')").remove()
        $("#"+drop_id+ " button").filter(":contains('Completed')").remove()
        $("#"+drop_id+ " button").filter(":contains('On Hold')").remove()
        $("#"+drop_id+ " button").filter(":contains('Random')").remove()
        $("#"+drop_id+ " button").filter(":contains('Dropped')").remove()
        $("#"+drop_id+ " button").filter(":contains('Plan to Watch')").remove()

        $("#"+drop_id).prepend(
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + watching + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Watching</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + on_hold + "\", \"" + card_id + "\", \"" + drop_id + "\")'>On Hold</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + random + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Random</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + dropped + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Dropped</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + plan_to_watch + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Plan to Watch</button>"
        );
        $("#" + card_id).prependTo("#COMPLETED");
    }

    if (new_category === 'On Hold') {
        var completed = 'Completed';
        var watching = 'Watching';
        var random = 'Random';
        var dropped = 'Dropped';
        var plan_to_watch = 'Plan to Watch';

        $("#"+drop_id+ " button").filter(":contains('Watching')").remove()
        $("#"+drop_id+ " button").filter(":contains('Completed')").remove()
        $("#"+drop_id+ " button").filter(":contains('On Hold')").remove()
        $("#"+drop_id+ " button").filter(":contains('Random')").remove()
        $("#"+drop_id+ " button").filter(":contains('Dropped')").remove()
        $("#"+drop_id+ " button").filter(":contains('Plan to Watch')").remove()

        $("#"+drop_id).prepend(
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + watching + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Watching</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + completed + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Completed</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + random + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Random</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + dropped + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Dropped</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + plan_to_watch + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Plan to Watch</button>"
        );
        $("#" + card_id).prependTo("#ON_HOLD");
    }

    if (new_category === 'Random') {
        var completed = 'Completed';
        var on_hold = 'On Hold';
        var watching = 'Watching';
        var dropped = 'Dropped';
        var plan_to_watch = 'Plan to Watch';

        $("#"+drop_id+ " button").filter(":contains('Watching')").remove()
        $("#"+drop_id+ " button").filter(":contains('Completed')").remove()
        $("#"+drop_id+ " button").filter(":contains('On Hold')").remove()
        $("#"+drop_id+ " button").filter(":contains('Random')").remove()
        $("#"+drop_id+ " button").filter(":contains('Dropped')").remove()
        $("#"+drop_id+ " button").filter(":contains('Plan to Watch')").remove()

        $("#"+drop_id).prepend(
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + watching + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Watching</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + completed + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Completed</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + on_hold + "\", \"" + card_id + "\", \"" + drop_id + "\")'>On Hold</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + dropped + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Dropped</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + plan_to_watch + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Plan to Watch</button>"
        );
        $("#" + card_id).prependTo("#RANDOM");
    }

    if (new_category === 'Dropped') {
        var completed = 'Completed';
        var on_hold = 'On Hold';
        var random = 'Random';
        var watching = 'Watching';
        var plan_to_watch = 'Plan to Watch';

        $("#"+drop_id+ " button").filter(":contains('Watching')").remove()
        $("#"+drop_id+ " button").filter(":contains('Completed')").remove()
        $("#"+drop_id+ " button").filter(":contains('On Hold')").remove()
        $("#"+drop_id+ " button").filter(":contains('Random')").remove()
        $("#"+drop_id+ " button").filter(":contains('Dropped')").remove()
        $("#"+drop_id+ " button").filter(":contains('Plan to Watch')").remove()

        $("#"+drop_id).prepend(
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + watching + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Watching</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + completed + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Completed</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + on_hold + "\", \"" + card_id + "\", \"" + drop_id + "\")'>On Hold</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + random + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Random</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + plan_to_watch + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Plan to Watch</button>"
        );
        $("#" + card_id).prependTo("#DROPPED");
    }

    if (new_category === 'Plan to Watch') {
        var completed = 'Completed';
        var on_hold = 'On Hold';
        var random = 'Random';
        var dropped = 'Dropped';
        var watching = 'Watching';

        $("#"+drop_id+ " button").filter(":contains('Watching')").remove()
        $("#"+drop_id+ " button").filter(":contains('Completed')").remove()
        $("#"+drop_id+ " button").filter(":contains('On Hold')").remove()
        $("#"+drop_id+ " button").filter(":contains('Random')").remove()
        $("#"+drop_id+ " button").filter(":contains('Dropped')").remove()
        $("#"+drop_id+ " button").filter(":contains('Plan to Watch')").remove()

        $("#"+drop_id).prepend(
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + watching + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Watching</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + completed + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Completed</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + on_hold + "\", \"" + card_id + "\", \"" + drop_id + "\")'>On Hold</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + random + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Random</button>" +
            "<button class='dropdown-item' onclick='changeSerieCategory(\"" + series_id + "\", \"" + dropped + "\", \"" + card_id + "\", \"" + drop_id + "\")'>Dropped</button>"
        );
        $("#" + card_id).prependTo("#PLAN_TO_WATCH");
    }

    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/change_series_category",
        contentType: "application/json",
        data: JSON.stringify({status: new_category, series_id: series_id}),
        dataType: "json",
        success: function(response) {
            console.log("ok"); }
    });
}


function deleteSerie(series_id, card_id) {
    $("#"+ card_id).remove();

    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/delete_serie",
        contentType: "application/json",
        data: JSON.stringify({delete: series_id}),
        dataType: "json",
        success: function(response) {
            console.log("ok"); }
    });
}


function updateEpisode(series_id, episode){
    let selected_episode = episode.selectedIndex

    $body = $("body");
    $.ajax ({
        type: "POST",
        url: "/update_series_episode",
        contentType: "application/json",
        data: JSON.stringify({episode: selected_episode, series_id: series_id}),
        dataType: "json",
        beforeSend: function() { $body.addClass("loading"); },
        success: function(response) {
            $body.removeClass("loading"); }
    });
}


function hide(category, arrow) {
    var category = document.getElementById(category);
    var arrow = document.getElementById(arrow);

    if (category.className === "d-flex flex-wrap"){
        category.className = "d-none";
        arrow.className = "fas fa-sm fa-chevron-right";
    } else {
        category.className = "d-flex flex-wrap";
        arrow.className = "fas fa-sm fa-chevron-down";
    }
}


{% for i in range (6) %}
    {% for data in all_data[i] %}
        let episodes_{{ data['id'] }} = {{ data['season_data'] }};
        let S_combobox_{{ data['id'] }} = document.getElementById("S_{{ data['id'] }}");
        let E_combobox_{{ data['id'] }} = document.getElementById("E_{{ data['id'] }}");

        S_combobox_{{ data['id'] }}.onchange = function () {
            let S_selected_{{ data['id'] }} = S_combobox_{{ data['id'] }}.selectedIndex
            E_combobox_{{ data['id'] }}.length = 1;

            for (i = 2; i <= episodes_{{ data['id'] }}[S_selected_{{ data['id'] }}]; i++) {
                let opt = document.createElement("option");
                opt.text = "Episode " + i;
                E_combobox_{{ data['id'] }}.appendChild(opt);
            }

            $body = $("body");
            $.ajax ({
                type: "POST",
                url: "/update_series_season",
                contentType: "application/json",
                data: JSON.stringify({season: S_selected_{{ data['id'] }}, series_id: {{ data['id'] }} }),
                dataType: "json",
                beforeSend: function() { $body.addClass("loading"); },
                success: function(response) {
                    $body.removeClass("loading");
                    console.log(response); }
            });
        }
    {% endfor %}
{% endfor %}
</script>
<script type="text/javascript">
$(function() {
    $.widget("custom.catcomplete", $.ui.autocomplete, {
        _create: function() {
            this._super();
            this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
        },
        _renderMenu: function(ul, items) {
            var that = this,
            currentCategory = "";
            $.each(items, function(index, item) {
                var li;
                if (item.category != currentCategory) {
					ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
					currentCategory = item.category;
				}
                li = that._renderItemData(ul, item);
				that._renderItem = function(ul, item) {
			        return $("<li class='list-group'></li>")
					.data("item.autocomplete", item)
					.append(item.label)
					.appendTo(ul);
				};
			});
		}
	});

	$( "#autocomplete" ).catcomplete({
		delay: 0,
		source: function(request, response) {
				$.getJSON("{{url_for('autocomplete_series')}}",{
					q: request.term,
				},
					function(data) {
						response(data.matching_results);
					}
				);
		},
		minLength: 1,
        select: function(event, ui) {
            $body = $("body");
            $("#autocomplete").val(ui.item.value);
            $("#series_id").val(ui.item.id);

            $.ajax ({
                type: "POST",
                url: "/add_series",
                contentType: "application/json",
                data: JSON.stringify({series_id: ui.item.id}),
                dataType: "json",
                beforeSend: function() { $body.addClass("loading"); },
                success: function(response) {
                    window.location.replace('/myserieslist'); }
            });
        }
	});
});
</script>
{% endblock script %}
