{% extends "layout.html" %}


{% block content %}
    <div class="m-t-40" style="max-width: 800px; margin-left: auto; margin-right: auto;">
        <h4><b>New Features | <i>Jul 14 2020</i></b></h4><hr>
        <div class="p-4" style="margin-top: -10px;">
            <ul class="text-justify p-l-10" style="list-style-type: square;">
                <li class="m-b-30">
                    <h5><b>Added comment and score</b></h5>
                    <p>You can add comment and add a score (/10, with half point) to Series/Anime and
                        Movies from your list or from the left in the media's sheet (The media need to
                        be in your list).
                    </p>
                </li>
                <li class="m-b-30">
                    <h5><b>Added RE-watch</b></h5>
                    <p>You can now add a rewatch value (up to 10x times) on all the media which are in the
                        completed (completed animation) state. It do not take into account the initial
                        completion.
                    </p>
                </li>
                <li>
                    <h5><b>Changed medialist inteface</b></h5>
                    <p>The medialist interface for the favorite, score, comment
                        and rewatch has changed.
                    </p>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}
