{% extends "layout.html" %}


{% block css %}
    <link href="{{ url_for('static', filename='css/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/all_history.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
    <h4 class="text-center m-t-40"><i class="fas fa-gamepad m-t-15"></i>&nbsp; User's Steam Games</h4>
    <hr>
    <div><b>Total games found: {{ games_count }}</b></div>
    <div class="all_history ml-auto mr-auto" style="margin-top: -13px;">
        <form method="post" action="" name="steam_games">
            <table id="steam_games" class="table text-light m-t-20 text-center ml-auto mr-auto">
                <thead>
                <tr>
                    <th>Icons</th>
                    <th>Game name</th>
                    <th>Playtime (min)</th>
                    <th>Add</th>
                </tr>
                </thead>
                <tbody>
                {% for game in games_list %}
                    <tr id="{{ game['appid'] }}">
                        <td><img src="{{ game['icon_path'] }}" alt=""/></td>
                        <td>{{ game['name'] }}</td>
                        <td>{{ game['playtime'] }}</td>
                        <td>
                            <select name="{{ game['appid'] }}">
                                <option value="Playing, {{ game['playtime'] }}, {{ game['name'] }}">Playing</option>
                                <option value="Completed, {{ game['playtime'] }}, {{ game['name'] }}" {% if game['playtime'] > 250 %}selected="selected"{% endif %}>Completed</option>
                                <option value="On Hold, {{ game['playtime'] }}, {{ game['name'] }}">On Hold</option>
                                <option value="Endless, {{ game['playtime'] }}, {{ game['name'] }}">Endless</option>
                                <option value="Multiplayer, {{ game['playtime'] }}, {{ game['name'] }}">Multiplayer</option>
                                <option value="Dropped, {{ game['playtime'] }}, {{ game['name'] }}">Dropped</option>
                                <option value="Owned, {{ game['playtime'] }}, {{ game['name'] }}" {% if game['playtime'] == 0 %}selected="selected"{% endif %}>Owned</option>
                                <option value="Plan to Play, {{ game['playtime'] }}, {{ game['name'] }}" >Plan to Play</option>
                            </select>
                        </td>
                        <td><input type="checkbox" onchange="removeRow('{{ game['appid'] }}')" checked></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <input class="btn btn-primary text-center" type="submit"/>
        </form>
    </div>
{% endblock content %}


{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/all_history.js') }}"></script>
{% endblock script %}