{% extends 'layout.html' %}

{% block css %}
<style>
.projects {
    list-style: none;
    padding: 0px;
}

.projects > li {
    display: inline-block;
    margin: 3%;
    margin: 3%;
}

.current > a::after {
    content: "";
    display: table;
    border: 10px solid;
    border-top: none;
    border-color: #333 transparent;
    margin: auto;
}

.details {
    font-size: 16px;
    display: none;
    overflow: hidden;
    position: absolute;
    background: #444;
    box-shadow: inset 0 10px 20px 5px #333;
    color: #ddd;
    right: 20%;
    left: 20%;
    padding: 20px;
}

.details > img {
    float: right;
    margin-left: 20px;
    width: 15%;
    height: auto !important;
}

.details > .text {
    overflow: hidden;
}

@media screen and (max-width: 769px) {
    .details {
        left: 5%;
        right: 5%;
    }
}

@media screen and (max-width: 490px) {
    .details {
        left: 5%;
        right: 5%;
    }
    .details > img {
        display: none;
    }
}
</style>
{% endblock %}

{% block content %}
<ul class="projects text-center">
    {% for i in range(0, data['genres']|length) %}
    <li>
        <div class="text-center">
            <span style="font-size: 12pt;">{{ data['genres'][i]["level"] }}</span><br>
            <span style="font-size: 12pt;">{{ data['genres'][i]["element_time"] }}/{{ data['genres'][i]["threshold"] }} hours watched</span><br>
        </div>
        {% if data['genres'][i]["passed"] == "yes" %}
        <a href="#">
            <img height="100" width="200" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['genres'][i]['image_id'] }}.png" alt="">
        </a>
        {% else %}
        <a href="#">
            <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['genres'][i]['image_id'] }}.png" alt="">
        </a>
        {% endif %}
        <div class="details text-left">
            <img src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data['genres'][i]['image_id'] }}.png" alt="">
            <div class="text">
                <span style="font-size: 14pt;">{{ data['genres'][i]["title"] }}</span><br>
                <span style="font-size: 13pt;">{{ data['genres'][i]["description"] }}</span><br>
                <div class="m-2"></div>
                <span style="font-size: 13pt;">Number of anime watched: {{ data['genres'][i]["element_count"] }}</span>
                <hr class="p-0 m-0">
                <ul class="p-t-10">
                    {% for k in range(0, data['genres'][i]["element_name"]|length) %}
                    <li>
                        {{ data['genres'][i]["element_name"][k] }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block script %}
<script>
$(".projects > li > a").on("click", function(e) {
    e.preventDefault();
    var li = $(this).parent(),
    li_height = li.height(),
    details = li.find(".details"),
    details_height = details.height(),
    new_height = details_height + 40;
    li.toggleClass("current").animate( {paddingBottom: new_height}, {duration: 200, queue: false}).siblings().removeClass("current");
    $(".projects li:not(.current)").animate({paddingBottom: '0'}, {duration: 200, queue: false }).find(".details").slideUp(200);
    $(".current").find(".details").slideDown(200);
});
</script>
{% endblock %}