{% extends "layout.html" %}
{% block content %}
{% endblock content %}

<script>
$(document).ready(function() {
    $('#button_cat').attr('disabled', true);
    $('#category_name').keyup(function(){
        if($(this).val().length !=0)
            $('#button_cat').attr('disabled', false);
        else
            $('#button_cat').attr('disabled', true);
    })
});


function add_category() {
    var idnumber = Math.floor((Math.random() * 100000) + 1);
    var idnumber_tr = Math.floor((Math.random() * 100000000) + 1);
    var idnumber_cat = Math.floor((Math.random() * 100000000) + 1);
    var text = $("#category_name").val();
    var arrow = idnumber + "_arrow";
    var hidding = idnumber + "_hidding";

    $("#adding_stuff").append(
        "<div id=" + idnumber_cat + ">" +
            "<h2 class='font-weight-light text-center pt-4 mb-0 category-title'>" +
                "<div class='arrow_div float-left'><a class='fas fa-xs fa-trash' onclick='delete_category(\"" + idnumber_cat + "\")'></a></div>" +
                text +
                "<div class='arrow_div float-right'><a class='fas fa-sm fa-chevron-down' id=" + arrow + " onclick='hide(\"" + hidding + "\",\"" + arrow + "\")'></a></div>" +
            "</h2>" +
            "<hr class='mt-2 mb-4'>" +
            "<div id=" + hidding + " class='hide'>" +
                "<a class='fas fa-plus float-right' onclick='add_row(\"" + idnumber + "\")'></a>" +
                "<table class='table table-striped table-sm table-responsive-lg' cellspacing='0' width='100%'>" +
                "<thead>" +
                    "<tr>" +
                        "<th class='th-sm text-light'>Name</th>" +
                        "<th class='th-sm text-light'>Plateform</th>" +
                        "<th class='th-sm text-light'>Time Played</th>" +
                        "<th class='th-sm text-light'>Achievements</th>" +
                        "<th></th>" +
                    "</tr>" +
                "</thead>" +
                "<tbody id=" + idnumber + ">" +
                    "<tr id=" + idnumber_tr + ">" +
                        "<td contenteditable='true' class='text-light'></td>" +
                        "<td contenteditable='true' class='text-light'></td>" +
                        "<td contenteditable='true' class='text-light'></td>" +
                        "<td contenteditable='true' class='text-light'></td>" +
                        "<td class='text-light'><a class='fas fa-minus-circle' onclick='delete_tr(\"" + idnumber_tr + "\")'></a></td>" +
                   "</tr>" +
                "</tbody>" +
                "</table>" +
            "</div>" +
        "</div>"
    );
}


function add_row(id_number) {
    var idnumber_tr = Math.floor((Math.random() * 100000000) + 1);
    $("#"+id_number).append(
        "<tr id=" + idnumber_tr + ">" +
            "<td contenteditable='true' class='text-light'></td>" +
            "<td contenteditable='true' class='text-light'></td>" +
            "<td contenteditable='true' class='text-light'></td>" +
            "<td contenteditable='true' class='text-light'></td>" +
            "<td class='text-light'><a class='fas fa-minus-circle' onclick='delete_tr(\"" + idnumber_tr + "\")'></a></td>" +
       "</tr>"
    );
}


function hide(category, arrow) {
  var category = document.getElementById(category);
  var arrow = document.getElementById(arrow);

  if (category.className === "hide"){
        category.className = "d-none";
        arrow.className = "fas fa-sm fa-chevron-right";
  } else {
        category.className = "hide";
        arrow.className = "fas fa-sm fa-chevron-down";
  }
}


function delete_tr(tr_id) {
    $("#"+ tr_id).remove();
}

function delete_category(cat_id) {
    $("#"+ cat_id).remove();
}

</script>

        beforeSend: function() { $body.addClass("loading"); },
        success: function(response) {
            window.location.replace('/myserieslist'); }

$("#"+drop_id).empty();



<div class="card bg-transparent view overlay m-l-10 m-r-10 m-b-40">
            <img class="card-img-top"  src="{{ data['cover_url'] }}" alt="{{ data['title'] }}">
            <div class="mask flex-center rgba-black-strong pointer" data-toggle="modal" data-target="#modal_{{ data['id'] }}">
                <p class="text-light"><div class="text-center"><h3>{{ data['title'] }}</h3></div>
            </div>
            <button type="button" class="btn btn-basic dropdown-toggle btn_left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu">
                {% if outer_loop.index == 1 %}
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'Completed')">Completed</button>
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'On Hold')">On Hold</button>
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'Dropped')">Dropped</button>
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'Plan to Read')">Plan to Read</button>
                {% elif outer_loop.index == 2 %}
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'Reading')">Reading</button>
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'On Hold')">On Hold</button>
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'Dropped')">Dropped</button>
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'Plan to Read')">Plan to Read</button>
                {% elif outer_loop.index == 3 %}
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'Reading')">Reading</button>
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'Completed')">Completed</button>
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'Dropped')">Dropped</button>
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'Plan to Read')">Plan to Read</button>
                {% elif outer_loop.index == 4 %}
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'Reading')">Reading</button>
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'Completed')">Completed</button>
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'On Hold')">On Hold</button>
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'Plan to Read')">Plan to Read</button>
                {% elif outer_loop.index == 5 %}
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'Reading')">Reading</button>
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'Completed')">Completed</button>
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'On Hold')">On Hold</button>
                <button class="dropdown-item" onclick="changeBookCategory('{{ data['id'] }}', 'Dropped')">Dropped</button>
                {% endif %}
            </div>
            <button class="btn btn_right" onclick="deleteBook('{{ data['id'] }}')"><b>x</b></button>
        </div>

        <div class="modal fade" id="modal_{{ data['id'] }}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="border-style: solid; border-width: 1px; border-color: white;">
                    <div class="modal-body">
                        <div class="modal-header">
                            <h4 class="modal-title">{{ data['title'] }}</h4>
                            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><b>Title</b> : {{ data['title'] }}</p>
                            <p><b>Author</b> : {{ data['authors'] }}</p>
                            <p><b>Published Date</b> : {{ data['published_date'] }}</p>
                            <p><b>Page Count</b> : {{ data['page_count'] }}</p>
                            <p><b>Categories</b> : {{ data['categories'] }}</p>
                            <p class="text-justify"><b>Description</b> : {{ data['description'] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




$(document).ready(function(){
    $("#autocomplete").autocomplete({
        source: function(request, response) {
            $.getJSON("{{url_for('autocomplete_series')}}",{
                q: request.term,
            }, function(data) {
                response(data.matching_results);
            });
        },
        minLength: 2,
        select: function(event, ui) {
            $body = $("body");
            $("#autocomplete").val(ui.item.value);
            $("#series_id").val(ui.item.id);

            $.ajax ({
                type: "POST",
                url: "/add_series",
                contentType: "application/json",
                data: JSON.stringify({series_id: ui.item.id}),
                dataType: "json",
                beforeSend: function() { $body.addClass("loading"); },
                success: function(response) {
                    window.location.replace('/myserieslist'); }
            });

        }
    }).data("ui-autocomplete")._renderItem = function(ul, item) {
    return $("<li class='list-group'></li>")
        .data("item.autocomplete", item)
        .append(item.label)
        .appendTo(ul);
    };
});



$(function() {
    $.widget("custom.catcomplete", $.ui.autocomplete, {
        _create: function() {
            this._super();
            this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
        },
        _renderMenu: function(ul, items) {
            var that = this,
            currentCategory = "";
            $.each(items, function(index, item) {
                if (item.category != currentCategory) {
					ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
					currentCategory = item.category;
				}
                that._renderItemData(ul, item);
				that._renderItem = function(ul, item) {
			        return $("<li class='list-group'></li>")
					.data("item.autocomplete", item)
					.append(item.label)
					.appendTo(ul);
				};
			});
		}
	});

	$( "#autocomplete" ).catcomplete({
		delay: 300,
		source: function(request, response) {
				$.getJSON("{{url_for('autocomplete_series')}}",{
					q: request.term,
				},
					function(data) {
						response(data.matching_results);
					}
				);
		},
		minLength: 1,
        select: function(event, ui) {
            $body = $("body");
            $("#autocomplete").val(ui.item.value);
            $("#series_id").val(ui.item.id);

            $.ajax ({
                type: "POST",
                url: "/add_series",
                contentType: "application/json",
                data: JSON.stringify({series_id: ui.item.id}),
                dataType: "json",
                beforeSend: function() { $body.addClass("loading"); },
                success: function(response) {
                    window.location.replace('/myserieslist'); }
            });
        }
	});
});


_renderItem: function(ul, item) {
		var $li = $('<li>'),
			$img = $('<img>');

		$img.attr({
		  src: item.label,
		  alt: item.value
		});

		$li.attr('data-value', item.value);
		$li.append('<a href="#">');
		$li.find('a').append($img).append(item.value);

		return $li.appendTo(ul);
	}

        function show_all_score() {
    var show = document.getElementById('show_all');
    var hide = document.getElementById('hide_all');

    $('div[id^="footer_"]').hide();

    if (show.className === "fas fa-eye text-light m-r-5") {
        $('.d-none.tata').attr('class', 'card-footer text-muted text-center p-0');
        show.className = "d-none";
        hide.className = "fas fa-eye-slash text-light m-r-5";
    } else {
        $('.card-footer.text-muted.text-center.p-0').attr('class', 'd-none tata');
        show.className = "fas fa-eye text-light m-r-5";
        hide.className = "d-none";
    }
}


                if(content.length > showChar) {
            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);
            var html = c +
            '<span class="moreellipses">' + ellipsestext + '</span>' +
            '<span class="morecontent">' +
                '<span>' + h + '</span>' +
                '<a href="" class="morelink">' + moretext + '</a>' +
            '</span>';
            $(this).html(html);
        }
    });


<!-------- ZOOM slider/navbar scripts ---------->
<!--<script type="text/javascript">-->
<!--var slider = document.getElementById("card_size");-->
<!--slider.value = 200;-->

<!--slider.oninput = function() {-->
    <!--var value = this.value;-->
    <!--$('.card-img-top').css('width', value);-->
    <!--$('.card-img-top').css('height', value*1.5);-->
    <!--$('.card').css('width', value);-->
    <!--$('.card').css('height', value*1.814);-->
    <!--$('.font-mask').css('font-size', value/10 + "pt");-->
    <!--$('.seasons').css('font-size', value/17 + "pt");-->
    <!--$('.seasons').css('height', value/6.25);-->
    <!--$('.episodes').css('font-size', value/17 + "pt");-->
    <!--$('.episodes').css('height', value/6.25);-->
    <!--$('.score_size').css('font-size', value/17 + "pt");-->
    <!--$('.card-footer').css('height', value/8,0645);-->
<!--</script>-->


        <!--------------- chart JS ---------------->
<script>
var barChartData = {
    labels: ['0-1', '1-2', '2-3', '3-4', '4-5', '5-6', '6-7', '7-8', '8-9', '9-10'],
    datasets: [{
        label: 'N° Series',
        borderWidth: 2,
        data: {{ chart_data[1] }},
        backgroundColor: [
            'rgba(185, 75, 100, 0.7)',
            'rgba(185, 75, 100, 0.7)',
            'rgba(185, 75, 100, 0.7)',
            'rgba(185, 75, 100, 0.7)',
            'rgba(185, 75, 100, 0.7)',
            'rgba(185, 75, 100, 0.7)',
            'rgba(185, 75, 100, 0.7)',
            'rgba(185, 75, 100, 0.7)',
            'rgba(185, 75, 100, 0.7)',
            'rgba(185, 75, 100, 0.7)',
            'rgba(185, 75, 100, 0.7)',
            'rgba(185, 75, 100, 0.7)',
        ],
        borderColor: [
            'rgba(23, 23, 23, 0.8)',
            'rgba(23, 23, 23, 0.8)',
            'rgba(23, 23, 23, 0.8)',
            'rgba(23, 23, 23, 0.8)',
            'rgba(23, 23, 23, 0.8)',
            'rgba(23, 23, 23, 0.8)',
            'rgba(23, 23, 23, 0.8)',
            'rgba(23, 23, 23, 0.8)',
            'rgba(23, 23, 23, 0.8)',
            'rgba(23, 23, 23, 0.8)',
            'rgba(23, 23, 23, 0.8)',
            'rgba(23, 23, 23, 0.8)'
        ],
    }]
};

window.onload = function() {
    var ctx = document.getElementById('canvas').getContext('2d');
    var myBar = new Chart(ctx, {
        type: 'bar',
        data: barChartData,
        options: {
            legend: {
                labels: {
                    fontColor: "#ffffff",
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fontColor: "#ffffff",
                    },
                    gridLines: {
                        display: true,
                        drawBorder: true,
                        color: "rgba(255, 255, 255, 0.2)",
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: "#ffffff",
                    },
                    gridLines: {
                        display: true,
                        drawBorder: true,
                        color: "rgba(255, 255, 255, 0.2)",
                    }
                }],
            },
            responsive: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Series vs Score'
            }
        }
    });

};
</script>