{% extends "layout.html" %}

{% block content %}

<style>
    hr {
        border-top: 1px solid rgba(255, 255, 255, 0.9)
    }

    .scrollable-menu {
        text-align-last: center;
    }

    .form-control:focus {
        height: 2rem;
        padding: 5px;
        background-color: #131418;
        color: #fff;
    }

    .form-control:disabled {
        background-color: #131418;
    }

    .modal-content {
        background: #131418;
    }

    .card {
        border-radius: 5px;
    }

    .btn {
        padding: 5px !important;
        margin: 2px !important;
    }

    .pointer {
        cursor: pointer;
    }

    /* On screens that are 599px or more */
    @media screen and (min-width: 599px) {
        .card-img-top {
            border-style: solid;
            border-width: 1px;
            border-color: black;
            border-radius: 3px;
        }

        .card {
            width: 200px;
        }

        .form-control {
            height: 2rem;
            padding: 5px;
            background-color: #131418;
            color: #fff;
            border-radius: 1px;
            font-size: 11pt;
            outline: none;
            box-shadow:none !important;
        }
    }

    /* On screens that are 599px or less */
    @media screen and (max-width: 599px) {
        .card-img-top {
            border-style: solid;
            border-width: 1px;
            border-color: black;
            border-radius: 3px;
        }

        .card {
            width: 135px;
            padding-right: 0px;
            margin-left: 5px !important;
            margin-right: 5px !important;
            margin-bottom: 20px;
        }

        .form-control {
            height: 2rem;
            background-color: #131418;
            color: #fff;
            border-radius: 1px;
            font-size: 9pt;
            outline: none;
            box-shadow:none !important;
            align-items: left;
            padding: 5px;
        }

        .category-title {
            font-size: 2rem;
        }
    }

    .episodes {
        border-style: 1px;
        border-color: black;
        border-radius: 2px;
        -moz-appearance:none;
        -webkit-appearance:none;
        appearance:none;
    }

    .seasons {
        border-style: 1px;
        border-color: black;
        border-radius: 2px;
        -moz-appearance:none;
        -webkit-appearance:none;
        appearance:none;
    }

</style>

{% for category in all_data %}

    {% if loop.index == 1 %}
    <h1 class="font-weight-light text-center mt-4 mb-0 category-title">WATCHING<a class="fas fa-chevron-down float-right" id="WATCHING_arrow" onclick="hide('WATCHING', 'WATCHING_arrow')"></a></h1>
    <hr class="mt-2 mb-4">
    <div class="d-flex flex-wrap" id="WATCHING">
    {% elif loop.index == 2 %}
    <h1 class="font-weight-light text-center mt-4 mb-0 category-title">COMPLETED<a class="fas fa-chevron-down float-right" id="COMPLETED_arrow" onclick="hide('COMPLETED', 'COMPLETED_arrow')"></a></h1>
    <hr class="mt-2 mb-4">
    <div class="d-flex flex-wrap" id="COMPLETED">
    {% elif loop.index == 3 %}
    <h1 class="font-weight-light text-center mt-4 mb-0 category-title">ON HOLD<a class="fas fa-chevron-down float-right" id="ON_HOLD_arrow" onclick="hide('ON_HOLD', 'ON_HOLD_arrow')"></a></h1>
    <hr class="mt-2 mb-4">
    <div class="d-flex flex-wrap" id="ON_HOLD">
     {% elif loop.index == 4 %}
    <h1 class="font-weight-light text-center mt-4 mb-0 category-title">RANDOM<a class="fas fa-chevron-down float-right" id="RANDOM_arrow" onclick="hide('RANDOM', 'RANDOM_arrow')"></a></h1>
     <hr class="mt-2 mb-4">
    <div class="d-flex flex-wrap" id="RANDOM">
    {% elif loop.index == 5 %}
    <h1 class="font-weight-light text-center mt-4 mb-0 category-title">DROPPED<a class="fas fa-chevron-down float-right" id="DROPPED_arrow" onclick="hide('DROPPED', 'DROPPED_arrow')"></a></h1>
    <hr class="mt-2 mb-4">
    <div class="d-flex flex-wrap" id="DROPPED">
    {% elif loop.index == 6%}
    <h1 class="font-weight-light text-center mt-4 mb-0 category-title">PLAN TO WATCH<a class="fas fa-chevron-down float-right" id="PLAN_TO_WATCH_arrow" onclick="hide('PLAN_TO_WATCH', 'PLAN_TO_WATCH_arrow')"></a></h1>
    <hr class="mt-2 mb-4">
    <div class="d-flex flex-wrap" id="PLAN_TO_WATCH">
    {% endif %}
    {% set outer_loop = loop %}


    {% for data in category %}
        <div class="card bg-transparent view overlay m-l-10 m-r-10 m-b-40">
            <img class="card-img-top"  src="{{ data['cover_url'] }}" alt="{{ data['name'] }}">
            <div class="mask flex-center rgba-black-strong pointer" data-toggle="modal" data-target="#modal_{{ data['id'] }}">
                <p class="text-light"><div class="text-center"><h3>{{ data['name'] }}</h3></div>
            </div>

            <div class="card-body bg-transparent p-0 m-t-5 m-b-1">
                <div class="container p-0">
                    <div class="row p-0 m-0">
                        <div class="col p-0">
                             <select disabled="disabled" class="scrollable-menu text-center form-control p-0 seasons" id="S_{{ data['id'] }}">
                                 {% for i in range(data["season_data"]|length) %}
                                    {% if i+1 == data["current_season"] %}
                                        <option selected="selected">Season {{ i+1 }}</option>
                                    {% else %}
                                        <option>Season {{ i+1 }}</option>
                                    {% endif %}
                                 {% endfor %}
                            </select>
                        </div>
                        <div class="col p-0">
                            <select disabled="disabled" class="scrollable-menu text-center form-control p-0 episodes" id="E_{{ data['id'] }}" onchange="updateEpisode('{{ data['id'] }}', this)">
                                {% for i in range(data["season_data"][(data['current_season'])-1]) %}
                                    {% if i+1 == data["last_episode_watched"] %}
                                        <option selected="selected">Episode {{ i+1 }}</option>
                                    {% else %}
                                        <option>Episode {{ i+1 }}</option>
                                    {% endif %}
                                 {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_{{ data['id'] }}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="border-style: solid; border-width: 1px; border-color: white;">
                    <div class="modal-body">
                        <div class="modal-header">
                            <h4 class="modal-title">{{ data['name'] }}</h4>
                            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><b>Original Name</b> : {{ data['original_name'] }}</p>
                            <p><b>First air date</b> : {{ data['first_air_date'] }}</p>
                            <p><b>Last air date</b> : {{ data['last_air_date'] }}</p>
                            <p><b>Homepage</b> : <a target="_blank" rel="noopener noreferrer" href="{{ data['homepage'] }}">{{ data['homepage'] }}</a></p>
                            <p><b>In production</b> : {{ data['in_production'] }}</p>
                            <p><b>Created by</b> : {{ data['created_by'] }}</p>
                            <p><b>Episode duration</b> : {{ data['episode_duration'] }} min</p>
                            <p><b>Total seasons</b> : {{ data['total_seasons'] }}</p>
                            <p><b>Total episodes</b> : {{ data['total_episodes'] }}</p>
                            <p><b>Origin country</b> : {{ data['origin_country'] }}</p>
                            <p><b>Status</b> : {{ data['status'] }}</p>
                            <p class="text-justify"><b>Synopsis</b> : {{ data['synopsis'] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endfor %}

<script>
    function hide(category, arrow) {
      var category = document.getElementById(category);
      var arrow = document.getElementById(arrow);

      if (category.className === "d-flex flex-wrap"){
            category.className = "d-none";
            arrow.className = "fas fa-chevron-right float-right";
      } else {
            category.className = "d-flex flex-wrap";
            arrow.className = "fas fa-chevron-down float-right";
      }
    }
</script>

{% endblock content %}
