    <div class="tab-pane fade" id="achievements_tab">
        <div>
            {% if current_user.get_id() == target_user_id %}
                {% if media_list == "animelist" %}
                    <div style="font-size: 18pt;" class="text-center mb-3 mt-4">You have unlocked {{ data["total_unlocked"] }}/70 anime achievements.</div>
                {% elif media_list == "serieslist" %}
                    <div style="font-size: 18pt;" class="text-center mb-3 mt-4">You have unlocked {{ data["total_unlocked"] }}/54 series achievements.</div>
                {% endif %}
            {% else %}
                {% if media_list == "animelist" %}
                    <div style="font-size: 18pt;" class="text-center mb-3 mt-4">{{ target_user_name }} has unlocked {{ data["total_unlocked"] }}/70 anime achievements.</div>
                {% elif media_list == "serieslist" %}
                    <div style="font-size: 18pt;" class="text-center mb-3 mt-4">{{ target_user_name }} has unlocked {{ data["total_unlocked"] }}/54 series achievements.</div>
                {% endif %}
            {% endif %}
        </div>
        <div class="topnav" id="achievements_topnav">
            <a class="tablinks active" onclick="openAchievement(event, 'genres')">Genres ({{ data["unlocked_per_type"]["genres"] }})</a>
            <a class="tablinks" onclick="openAchievement(event, 'sources')">Sources ({{ data["unlocked_per_type"]["sources"] }})</a>
            <a class="tablinks" onclick="openAchievement(event, 'finished')">Finished ({{ data["unlocked_per_type"]["finished"] }})</a>
            <a class="tablinks" onclick="openAchievement(event, 'time')">Time ({{ data["unlocked_per_type"]["time"] }})</a>
            <a class="tablinks" onclick="openAchievement(event, 'misc')">Misc ({{ data["unlocked_per_type"]["misc"] }})</a>
            <a class="tablinks" onclick="openAchievement(event, 'score')">Score ({{ data["unlocked_per_type"]["score"] }})</a>
            <a href="javascript:void(0);" class="icon" onclick="hamburger()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div id="genres" class="tabcontent">
            <ul class="projects text-center m-t-25">
                {% for i in range(0, data['genres']|length) %}
                <li>
                    <div class="text-center">
                        <span style="font-size: 12pt;">{{ data['genres'][i]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data['genres'][i]["element_time"] }}/{{ data['genres'][i]["threshold"] }} hours watched</span><br>
                    </div>
                    {% if data['genres'][i]["passed"] == "yes" %}
                    <a href="#">
                        <img height="100" width="200" src="{{ url_for('static', filename='img') }}/{{ media_value }}/{{ data['genres'][i]['image_id'] }}.png" alt="">
                    </a>
                    {% else %}
                    <a href="#">
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img') }}/{{ media_value }}/{{ data['genres'][i]['image_id'] }}.png" alt="">
                    </a>
                    {% endif %}
                    <div class="details text-left">
                        <img src="{{ url_for('static', filename='img') }}/{{ media_value }}/{{ data['genres'][i]['image_id'] }}.png" alt="">
                        <div class="text">
                            <span style="font-size: 14pt;">{{ data['genres'][i]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data['genres'][i]["description"] }}</span><br>
                            <div class="m-2"></div>
                            <span style="font-size: 13pt;">Number of anime watched: {{ data['genres'][i]["element_count"] }}</span>
                            <hr class="p-0 m-0">
                            <ul class="p-t-10 media_list_detail">
                                {% for k in range(0, data['genres'][i]["element_name"]|length) %}
                                <li>
                                    {{ data['genres'][i]["element_name"][k] }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="sources" class="tabcontent" style="display: none;">
            <ul class="projects text-center m-t-25">
                {% for i in range(0, data['sources']|length) %}
                <li>
                    <div class="text-center">
                        <span style="font-size: 12pt;">{{ data['sources'][i]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data['sources'][i]["element_time"] }}/{{ data['sources'][i]["threshold"] }} hours watched</span><br>
                    </div>
                    {% if data['sources'][i]["passed"] == "yes" %}
                        <a href="#">
                            <img height="100" width="200" src="{{ url_for('static', filename='img') }}/{{ media_value }}/{{ data['sources'][i]['image_id'] }}.png" alt="">
                        </a>
                    {% else %}
                        <a href="#">
                            <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img') }}/{{ media_value }}/{{ data['sources'][i]['image_id'] }}.png" alt="">
                        </a>
                    {% endif %}
                    <div class="details text-left">
                        <img src="{{ url_for('static', filename='img') }}/{{ media_value }}/{{ data['sources'][i]['image_id'] }}.png" alt="">
                        <div class="text">
                            <span style="font-size: 14pt;">{{ data['sources'][i]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data['sources'][i]["description"] }}</span><br>
                            <div class="m-2"></div>
                            <span style="font-size: 13pt;">Number of anime watched: {{ data['sources'][i]["element_count"] }}</span>
                            <hr class="p-0 m-0">
                            <ul class="p-t-10">
                                {% for k in range(0, data['sources'][i]["element_name"]|length) %}
                                <li>
                                    {{ data['sources'][i]["element_name"][k] }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="finished" class="tabcontent" style="display: none;">
            <ul class="projects text-center m-t-25">
                {% for i in range(0, data['finished']|length) %}
                <li>
                    <div class="text-center">
                        <span style="font-size: 12pt;">{{ data['finished'][i]["level"] }}</span><br>
                        {% if media_list == "animelist" %}
                            <span style="font-size: 12pt;">{{ data['finished'][i]["element_count"] }}/{{ data['finished'][i]["threshold"] }} anime watched</span><br>
                        {% elif media_list == "serieslist" %}
                            <span style="font-size: 12pt;">{{ data['finished'][i]["element_count"] }}/{{ data['finished'][i]["threshold"] }} series watched</span><br>
                        {% endif %}
                    </div>
                    {% if data['finished'][i]["passed"] == "yes" %}
                    <a href="#">
                        <img height="100" width="200" src="{{ url_for('static', filename='img') }}/{{ media_value }}/{{ data['finished'][i]['image_id'] }}.png" alt="">
                    </a>
                    {% else %}
                    <a href="#">
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img') }}/{{ media_value }}/{{ data['finished'][i]['image_id'] }}.png" alt="">
                    </a>
                    {% endif %}
                    <div class="details text-left">
                        <img src="{{ url_for('static', filename='img') }}/{{ media_value }}/{{ data['finished'][i]['image_id'] }}.png" alt="">
                        <div class="text">
                            <span style="font-size: 14pt;">{{ data['finished'][i]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data['finished'][i]["description"] }}</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="time" class="tabcontent" style="display: none;">
            <ul class="projects text-center m-t-25">
                {% for i in range(0, data['time']|length) %}
                <li>
                    <div class="text-center">
                        <span style="font-size: 12pt;">{{ data['time'][i]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data['time'][i]["element_time"] }}/{{ data['time'][i]["threshold"] }} days watched</span><br>
                    </div>
                    {% if data['time'][i]["passed"] == "yes" %}
                    <a href="#">
                        <img height="100" width="200" src="{{ url_for('static', filename='img') }}/{{ media_value }}/{{ data['time'][i]['image_id'] }}.png" alt="">
                    </a>
                    {% else %}
                    <a href="#">
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img') }}/{{ media_value }}/{{ data['time'][i]['image_id'] }}.png" alt="">
                    </a>
                    {% endif %}
                    <div class="details text-left">
                        <img src="{{ url_for('static', filename='img') }}/{{ media_value }}/{{ data['time'][i]['image_id'] }}.png" alt="">
                        <div class="text">
                            <span style="font-size: 14pt;">{{ data['time'][i]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data['time'][i]["description"] }}</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="misc" class="tabcontent" style="display: none;">
            <ul class="projects text-center m-t-25">
                {% for i in range(0, data['misc']|length) %}
                <li>
                    <div class="text-center">
                        <span style="font-size: 12pt;">{{ data['misc'][i]["level"] }}</span><br>
                        {% if media_list == "animelist" %}
                            <span style="font-size: 12pt;">{{ data['misc'][i]["element_count"] }}/{{ data['misc'][i]["threshold"] }} anime watched</span><br>
                        {% elif media_list == "serieslist" %}
                            <span style="font-size: 12pt;">{{ data['misc'][i]["element_count"] }}/{{ data['misc'][i]["threshold"] }} series watched</span><br>
                        {% endif %}
                    </div>
                    {% if data['misc'][i]["passed"] == "yes" %}
                    <a href="#">
                        <img height="100" width="200" src="{{ url_for('static', filename='img') }}/{{ media_value }}/{{ data['misc'][i]['image_id'] }}.png" alt="">
                    </a>
                    {% else %}
                    <a href="#">
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img') }}/{{ media_value }}/{{ data['misc'][i]['image_id'] }}.png" alt="">
                    </a>
                    {% endif %}
                    <div class="details text-left">
                        <img src="{{ url_for('static', filename='img') }}/{{ media_value }}/{{ data['misc'][i]['image_id'] }}.png" alt="">
                        <div class="text">
                            {% if data['misc'][i]["title"] == "Chronomaster" %}
                            <div class="p-l-20 p-t-10 p-r-20 p-b-10">
                                <span style="font-size: 14pt;">{{ data['misc'][i]["title"] }}</span><br>
                                <span style="font-size: 13pt;">{{ data['misc'][i]["description"] }}</span><br>
                            </div>
                            {% else %}
                            <span style="font-size: 14pt;">{{ data['misc'][i]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data['misc'][i]["description"] }}</span><br>
                            <div class="m-2"></div>
                            <span style="font-size: 13pt;">Number of anime watched: {{ data['misc'][i]["element_count"] }}</span>
                            <hr class="p-0 m-0">
                            <ul class="p-t-10">
                                {% for k in range(0, data['misc'][i]["element_name"]|length) %}
                                <li>
                                    {{ data['misc'][i]["element_name"][k] }}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="score" class="tabcontent" style="display: none;">
            <ul class="projects text-center m-t-25">
                {% for i in range(0, data['score']|length) %}
                <li>
                    <div class="text-center">
                        <span style="font-size: 12pt;">{{ data['score'][i]['level'] }}</span><br>
                        <span style="font-size: 12pt;">Mean score: {{ data['score'][i]["mean_score"] }}</span><br>
                    </div>
                    {% if data['score'][i]["passed"] == "yes" %}
                    <a href="#">
                        <img height="100" width="200" src="{{ url_for('static', filename='img') }}/{{ media_value }}/{{ data['score'][i]['image_id'] }}.png" alt="">
                    </a>
                    {% else %}
                    <a href="#">
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img') }}/{{ media_value }}/{{ data['score'][i]['image_id'] }}.png" alt="">
                    </a>
                    {% endif %}
                    <div class="details text-left">
                        <img src="{{ url_for('static', filename='img') }}/{{ media_value }}/{{ data['score'][i]['image_id'] }}.png" alt="">
                        <div class="text">
                            <span style="font-size: 14pt;">{{ data['score'][i]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data['score'][i]["description"] }}</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="tab-pane fade" id="statistics_tab">
        <div class="row">
            <div class="col text-center m-t-40">
                <h4>Score vs Watched (N°)</h4>
                <canvas id="myChart"></canvas>
            </div>
            <div class="col text-center m-t-40">
                <h4>Score vs Time (hours)</h4>
               <canvas id="myChart2"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col text-center m-t-40">
                <h4>Score vs Episodes</h4>
                <canvas id="myChart3"></canvas>
            </div>
            <div class="col text-center m-t-40">
                <h4>Genres vs Data</h4>
                <table class="table table-sm text-light">
                    <thead>
                        <th>Genres</th>
                        <th>Count</th>
                        <th>Scores</th>
                        <th>TMDb Scores</th>
                        <th>Time (Hours)</th>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>