{% extends "layout.html" %}

{% block content %}
    <h2>Global</h2>
    <a href="{{ url_for('user.index_view') }}">User</a>
    <br>
    <a href="{{ url_for('friend.index_view') }}">Friend</a>
    <br>
    <br>
    <h2>Series</h2>
    <a href="{{ url_for('series.index_view') }}">Series</a>
    <br>
    <a href="{{ url_for('series_list.index_view') }}">Series list</a>
    <br>
    <a href="{{ url_for('series_episodes_per_season.index_view') }}">Series episodes per season</a>
    <br>
    <a href="{{ url_for('series_genre.index_view') }}">Series genre</a>
    <br>
    <a href="{{ url_for('series_network.index_view') }}">Series network</a>
    <br>
    <a href="{{ url_for('series_episode_timestamp.index_view') }}">Series episode timestamp</a>
    <br>
    <br>
    <h2>Anime</h2>
    <a href="{{ url_for('anime.index_view') }}">Anime</a>
    <br>
    <a href="{{ url_for('anime_list.index_view') }}">Anime list</a>
    <br>
    <a href="{{ url_for('anime_episodes_per_season.index_view') }}">Anime episodes per season</a>
    <br>
    <a href="{{ url_for('anime_genre.index_view') }}">Anime genre</a>
    <br>
    <a href="{{ url_for('anime_network.index_view') }}">Anime network</a>
    <br>
    <a href="{{ url_for('anime_episode_timestamp.index_view') }}">Anime episode timestamp</a>
    <br>
    <br>
    <h2>Book</h2>
    <a href="{{ url_for('book.index_view') }}">Book</a>
    <br>
    <a href="{{ url_for('book_list.index_view') }}">Book list</a>
{% endblock %}