{% extends "layout.html" %}

{% block content %}
    <a href="{{ url_for('user.index_view') }}">User</a>
    <br>
    <a href="{{ url_for('friend.index_view') }}">Friend</a>
    <br>
    <a href="{{ url_for('series.index_view') }}">Series</a>
    <br>
    <a href="{{ url_for('series_list.index_view') }}">Series list</a>
    <br>
    <a href="{{ url_for('series_episodes_per_season.index_view') }}">Series episodes per season</a>
    <br>
    <a href="{{ url_for('series_genre.index_view') }}">Series genre</a>
    <br>
    <a href="{{ url_for('series_network.index_view') }}">Series network</a>
    <br>
    <a href="{{ url_for('series_episode_timestamp.index_view') }}">Series episode timestamp</a>
    <br>
{% endblock %}