{% extends 'layout.html' %}


{% block css %}
{% if current_user.get_id() == target_user_id %}
<!---------- Jquery autocomplete ---------->
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet">
{% endif %}
<link href="{{ url_for('static', filename='css/mymedialist.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
<div class="back-image p-b-50">
    <div class="justify-mobile d-flex flex-wrap">
        {% if target_user_id == current_user.get_id() %}
        <div class="add-element m-l-25 m-t-20">
            {% if media_list == "movieslist" %}
            <input type="text" placeholder="Add a Movie" id="autocomplete"/>
            <br>
            <select class="cat-select">
                <option selected="selected">Completed</option>
                <option>Plan to Watch</option>
            </select>
            {% elif media_list == "animelist" %}
            <input type="text" placeholder="Add an Anime" id="autocomplete"/>
            <br>
            <select class="cat-select">
                <option selected="selected">Watching</option>
                <option>Completed</option>
                <option>On Hold</option>
                <option>Random</option>
                <option>Dropped</option>
                <option>Plan to Watch</option>
            </select>
            {% elif media_list == "serieslist" %}
            <input type="text" placeholder="Add a Series" id="autocomplete"/>
            <br>
            <select class="cat-select">
                <option selected="selected">Watching</option>
                <option>Completed</option>
                <option>On Hold</option>
                <option>Random</option>
                <option>Dropped</option>
                <option>Plan to Watch</option>
            </select>
            {% endif %}
        </div>
        <input type="hidden" id="element_id" value=""/>
        {% endif %}
        <div class="search-by m-r-25 m-t-20">
            <input type="text" id="myElementFilter" onkeyup="searchElement()" placeholder="Search titles/actors/genres">
        </div>
    </div>

    <div class="d-flex flex-wrap filters-button-group m-t-25">
        {% if media_list != 'movieslist' %}
        <button class="btn btn-sm btn-warning text-dark" data-filter="*">Show all</button>
        <button class="btn btn-sm btn-light text-dark" data-filter=".categories.WATCHING">Watching</button>
        <button class="btn btn-sm btn-light text-dark" data-filter=".categories.COMPLETED">Completed</button>
        <button class="btn btn-sm btn-light text-dark" data-filter=".categories.ON.HOLD">On Hold</button>
        <button class="btn btn-sm btn-light text-dark" data-filter=".categories.RANDOM">Random</button>
        <button class="btn btn-sm btn-light text-dark" data-filter=".categories.DROPPED">Dropped</button>
        <button class="btn btn-sm btn-light text-dark" data-filter=".categories.PLAN.TO.WATCH">Plan to Watch</button>
        {% else %}
        <button class="btn btn-sm btn-warning text-dark" data-filter="*">Show all</button>
        <button class="btn btn-sm btn-light text-dark" data-filter=".categories.COMPLETED.C">Completed</button>
        <button class="btn btn-sm btn-light text-dark" data-filter=".categories.ANIMATION">Completed Animation</button>
        <button class="btn btn-sm btn-light text-dark" data-filter=".categories.PLAN.TO.WATCH">Plan to Watch</button>
        {% endif %}
    </div>

    <div class="d-flex flex-wrap">
        <div class="slidecontainer">
            <input id="myRange" class="slider" type="range" min="142" value="198" max="240">
            &nbsp;
            <a class="fas fa-undo" onclick="resetRange()"></a>
        </div>
    </div>


    {% if target_user_id != current_user.get_id() %}
    <div class="width-100">
        <div class="m-t-20 text-center common-media">
            You share {{ common_elements[0] }}/{{ common_elements[1] }} media ({{ common_elements[2] }}%)
        </div>
    </div>
    {% endif %}
</div>

<div id="categories-iso" class="categories-iso">
    {% for category in all_data %}
        {% if category[1] == 'COMPLETED' %}
        <div class="categories {{ category[1] }} C">
        {% else %}
        <div class="categories {{ category[1] }}">
        {% endif %}
        <h2 class="text-center mt-1 mb-0 category-title p-t-10">
            {{ category[1] }}
            <hr class="mt-2 pb-3 mb-0"></h2>
            {% if category[1] == 'COMPLETED ANIMATION' %}
            <div class="card-wrapper d-flex flex-wrap ANIMATION">
            {% else %}
            <div class="card-wrapper d-flex flex-wrap {{ category[1] }}">
            {% endif %}
                {% for data in category[0] %}
                <!------------------- Card -------------------->
                <div id="card_{{ data[0]['id'] }}" class="card bg-transparent">
                    <div class="view overlay">
                        <img class="card-img-top" loading="lazy" src="{{ data[0]['cover'] }}" alt="{{ data[0]['name'] }}">
                        <div class="mask flex-center rgba-black-strong" data-toggle="modal"
                             data-target="#modal_metadata" onclick="show_metadata(metadata_{{ data[0]['id'] }},
                             '{{ media_list }}')">
                            <span class="font-mask text-center text-light">{{ data[0]['name'] }}</span>
                            <span class="original-title" style="display: none;" >{{ data[0]['original_name'] }}</span>
                            <span class="actors-yes" style="display: none;" >{{ data[0]['actors'] }}</span>
                            <span class="genre-yes" style="display: none;" >{{ data[0]['genres'] }}</span>
                        </div>
                        {% if target_user_id == current_user.get_id() %}
                            {% if media_list != 'movieslist' %}
                            <a class="card-btn-top-left fas fa-bars text-light"
                               onclick="charge_cat('card_{{ data[0]['id'] }}','{{ data[0]['id'] }}',
                               'S_{{ data[0]['id'] }}', 'E_{{ data[0]['id'] }}', '{{ data[0]['eps_per_season'] }}',
                               '{{ media_list }}')"></a>
                            {% else %}
                            <a class="card-btn-top-left fas fa-bars text-light"
                               onclick="changeCategory('card_{{ data[0]['id'] }}', '{{ data[0]['id'] }}',
                               '{{ data[0]['genres'] }}', '{{ media_list }}')"></a>
                            {% endif %}
                        <a class="card-btn-top-right fas fa-ban text-light"
                           onclick="delete_element('{{ data[0]['id'] }}', 'card_{{ data[0]['id'] }}',
                           '{{ media_list }}')"></a>
                        {% else %}
                            {% if data[1] == "no" %}
                                {% if media_list != 'movieslist' %}
                                <a class="card-btn-top-left fas fa-plus text-light"
                                   onclick="add_user('card_{{ data[0]['id'] }}',
                                   '{{ data[0]['id'] }}', '{{ media_list }}')"></a>
                                {% else %}
                                <a class="card-btn-top-left fas fa-plus text-light"
                                   onclick="add_user_movies('card_{{ data[0]['id'] }}', '{{ data[0]['id'] }}',
                                   '{{ media_list }}')"></a>
                                {% endif %}
                            {% else %}
                                <div class="card-ribbon"></div>
                            {% endif %}
                        {% endif %}
                    </div>

                {% if media_list != 'movieslist' %}
                    {% if category[1] != 'PLAN TO WATCH' %}
                    <div class="seas-eps-box p-l-5 p-r-5">
                        <div style="display: inline-block;">
                            {% if target_user_id == current_user.get_id() %}
                            <select id="S_{{ data[0]['id'] }}" class="text-light text-center select-box"
                                    onchange="updateSeason('{{ data[0]['id'] }}', this,
                                    '{{ data[0]['eps_per_season'] }}', 'E_{{ data[0]['id'] }}', '{{ media_list }}')">
                            {% else %}
                            <select id="S_{{ data[0]['id'] }}" class="disabled text-light text-center select-box">
                            {% endif %}
                                {% for i in range(data[0]['eps_per_season']|length) %}
                                    {% if i+1 == data[0]['current_season'] %}
                                    <option class="card-opt-box" selected="selected">&nbsp{{ "S{:02}".format(i+1) }}&nbsp</option>
                                    {% else %}
                                    <option class="card-opt-box">&nbsp{{ "S{:02}".format(i+1) }}&nbsp</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div style="display: inline-block;">|</div>
                        <div style="display: inline-block;">
                            {% if target_user_id == current_user.get_id() %}
                            <select id="E_{{ data[0]['id'] }}" class="text-light text-center p-0 select-box" onchange="updateEpisode('{{ data[0]['id'] }}', this, '{{ media_list }}')">
                            {% else %}
                            <select id="E_{{ data[0]['id'] }}" class="disabled text-light text-center p-0 select-box">
                            {% endif %}
                                {% for i in range(data[0]['eps_per_season'][data[0]['current_season']-1]) %}
                                    {% if i+1 == data[0]['last_episode_watched'] %}
                                    <option class="card-opt-box" selected="selected">&nbsp{{ "E{:02}".format(i+1) }}&nbsp</option>
                                    {% else %}
                                    <option class="card-opt-box">&nbsp{{ "E{:02}".format(i+1) }}&nbsp</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% else %}
                    <div class="seas-eps-box p-l-5 p-r-5" style="display: none;">
                        <div style="display: inline-block;">
                            {% if target_user_id == current_user.get_id() %}
                            <select id="S_{{ data[0]['id'] }}" class="text-light text-center select-box" onchange="updateSeason('{{ data[0]['id'] }}', this, '{{ data[0]['eps_per_season'] }}', 'E_{{ data[0]['id'] }}', '{{ media_list }}')">
                            {% else %}
                            <select id="S_{{ data[0]['id'] }}" class="disabled text-light text-center select-box">
                            {% endif %}
                                {% for i in range(data[0]['eps_per_season']|length) %}
                                    {% if i+1 == data[0]['current_season'] %}
                                    <option class="card-opt-box" selected="selected">&nbsp{{ "S{:02}".format(i+1) }}&nbsp</option>
                                    {% else %}
                                    <option class="card-opt-box">&nbsp{{ "S{:02}".format(i+1) }}&nbsp</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div style="display: inline-block;">|</div>
                        <div style="display: inline-block;">
                            {% if target_user_id == current_user.get_id() %}
                            <select id="E_{{ data[0]['id'] }}" class="text-light text-center p-0 select-box" onchange="updateEpisode('{{ data[0]['id'] }}', this, '{{ media_list }}')">
                            {% else %}
                            <select id="E_{{ data[0]['id'] }}" class="disabled text-light text-center p-0 select-box">
                            {% endif %}
                                {% for i in range(data[0]['eps_per_season'][data[0]['current_season']-1]) %}
                                    {% if i+1 == data[0]['last_episode_watched'] %}
                                    <option class="card-opt-box" selected="selected">&nbsp{{ "E{:02}".format(i+1) }}&nbsp</option>
                                    {% else %}
                                    <option class="card-opt-box">&nbsp{{ "E{:02}".format(i+1) }}&nbsp</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    <!----------- Element metadata Modal ----------->
    <div class="modal fade" id="modal_metadata" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="border-style: solid; border-width: 1px; border-color: white; background: #131418;">
        <div class="modal-body">
            <div class="modal-header">
                <h4 id="modal_title" class="modal-title"></h4>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if media_list != 'movieslist' %}
            <div class="modal-body">
                <p id="original_name"></p>
                <p id="actors"></p>
                <p id="genres"></p>
                <p id="first_air_date"></p>
                <p id="last_air_date"></p>
                <p id="networks"></p>
                <p id="created_by"></p>
                <p id="episode_duration"></p>
                <p id="total_seasons"></p>
                <p id="total_episodes"></p>
                <p id="episodes_per_season"></p>
                <p id="origin_country"></p>
                <p id="tmdb_score"></p>
                <p id="status"></p>
                <hr class="m-b-10 m-t-10">
                <p id="synopsis" class="m-b-0 text-justify"></p>
            </div>
            {% else %}
            <div class="modal-body">
                <p id="original_name"></p>
                <p id="release_date"></p>
                <p id="actors"></p>
                <p id="genres"></p>
                <p id="budget"></p>
                <p id="revenue"></p>
                <p id="runtime"></p>
                <p id="original_language"></p>
                <p id="tmdb_score"></p>
                <p id="tagline"></p>
                <p id="prod_companies"></p>
                <hr class="m-b-10 m-t-10">
                <p id="synopsis" class="m-b-0 text-justify"></p>
            </div>
            {% endif %}
        </div>
    </div>
    </div>
    </div>
</div>
<div class="modal-loading"></div>
{% endblock content %}


{% block script %}
<!------------------ Isotope ------------------->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<!----------- Metadata for the modal ------------>
<script type="text/javascript">
{% for category in all_data %}
    {% for data in category[0] %}
        var metadata_{{ data[0]["id"] }} = {{ data[0]|tojson }};
    {% endfor %}
{% endfor %}
</script>

<!------------------ Main scripts ------------------->
<script src="{{ url_for('static', filename='js/mymedialist_common.js') }}"></script>
{% if media_list == 'movieslist' %}
<script src="{{ url_for('static', filename='js/mymedialist_movies.js') }}"></script>
{% elif media_list != 'movieslist' %}
<script src="{{ url_for('static', filename='js/mymedialist.js') }}"></script>
{% endif %}

{% if current_user.get_id() == target_user_id %}
<!------------ Jquery Autocomplete ------------->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
$('.add_element').val('');
$('.cat-select').prop('selectedIndex', 0);
$categories.isotope('layout');

$.widget("custom.catcomplete", $.ui.autocomplete, {
    _create: function() {
        this._super();
        this.widget().menu("option", "items", "> :not(.ui-autocomplete-category)");
    },
    _renderMenu: function(ul, items) {
        var that = this,
        currentCategory = "";
        $.each(items, function(index, item) {
            var li;

            if (item.nb_results === 0) {
                var a = "No results found."
                ul.append("<li class='disabled bg-dark text-light'>" + a + "</li>");
            } else {
                li = that._renderItemData(ul, item);
            }
        });
    },
    _renderItem: function(ul, item) {

        var $li = $('<li class="bg-dark p-t-2 p-b-2" style="border-bottom: solid black 1px;">');

        $li.append(
            "<div class='row'>" +
                "<div class='col' style='min-width: 60px; max-width: 60px;'>" +
                    "<img src="+item.poster_path+" alt="+item.name+" style='width: 50px; height: 75px;'>" +
                "</div>" +
                "<div class='col'>" +
                    "<a class='text-light'>" +
                        " "+item.name+" " +
                        "<br>" +
                        "<span style='font-size: 10pt;'>("+item.first_air_date+")</span>" +
                    "</a>" +
                "</div>" +
           "</div>");

        return $li.appendTo(ul);
    }
});

$(function() {
    $("#autocomplete").catcomplete({
        delay: 500,
        source: function(request, response) {
                $.getJSON("{{url_for('autocomplete', media=media_list)}}", {
                    q: request.term,
                },
                    function(data) {
                        response(data.matching_results);
                    }
                );
        },
        minLength: 2,
        select: function(event, ui) {
            $("#autocomplete").val(ui.item.name);
            $("#element_id").val(ui.item.tmdb_id);

            $body = $("body");
            $.ajax ({
                type: "POST",
                url: "/add_element",
                contentType: "application/json",
                data: JSON.stringify({element_id: ui.item.tmdb_id, element_type: '{{ media_list }}', element_cat: $(".cat-select").val() }),
                dataType: "json",
                beforeSend: function() { $body.addClass("loading"); },
                success: function(response) {
                    window.location.replace('/{{ media_list }}/{{ current_user.username }}');
                }
            });
        }
    });
});
</script>
{% else %}
<!------------ Add media to current users from the other lists ------------->
<script src="{{ url_for('static', filename='js/add_to_user.js') }}"></script>
{% endif %}
{% endblock script %}