
.list_dropdown {
    border-style: 1px;
    border-color: black;
    border-radius: 2px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}

.border_account {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

label {
    width: 180px;
    margin-right: 20px;
}

.text-input {
    width : 280px;
    padding: 0px !important;
}

.error-msg {
    padding-left: 200px;
}

/* On screens that are 768px or less */
@media (max-width: 767.98px) {
    .border_account {
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    label {
        width: 130px;
        margin-right: 10px;
    }

    .text-input {
        width : 155px;
        padding: 0px !important;
    }

    .error-msg {
        padding-left: 140px;
    }

    .custom-btn-size {
        padding: 6px !important;
    }
}