{% extends "layout.html" %}


{% block css %}
<link href="{{ url_for('static', filename='css/achievements.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
<ul class="nav nav-tabs" id="achievements_tabs">
    <li class="nav-item">
        <a class="nav-link active" id="anime-tab" data-toggle="tab" href="#anime_tab">ANIME</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="series-tab" data-toggle="tab" href="#series_tab">SERIES</a>
    </li>
</ul>

<div class="tab-content" id="achievements_tab_content">

    <div class="tab-pane fade show active" id="anime_tab">
        <div>
            {% if current_user.get_id() == user_id %}
            <div style="font-size: 18pt;" class="text-center mb-3 mt-3">You have unlocked {{ data_anime["total_unlocked"] }}/70 anime achievements.</div>
            {% else %}
            <div style="font-size: 18pt;" class="text-center mb-3 mt-3">{{ user_name }} has unlocked {{ data_anime["total_unlocked"] }}/70 anime achievements.</div>
            {% endif %}
        </div>

        <div class="topnav" id="anime_topnav">
            <a class="tablinks anime active" onclick="openAnimeAchievement(event, 'genres_anime')">Genres ({{ data_anime["unlocked_per_type"]["genres"] }}/44)</a>
            <a class="tablinks anime" onclick="openAnimeAchievement(event, 'sources_anime')">Sources ({{ data_anime["unlocked_per_type"]["sources"] }}/4)</a>
            <a class="tablinks anime" onclick="openAnimeAchievement(event, 'finished_anime')">Finished ({{ data_anime["unlocked_per_type"]["finished"] }}/12)</a>
            <a class="tablinks anime" onclick="openAnimeAchievement(event, 'time_anime')">Time ({{ data_anime["unlocked_per_type"]["time"] }}/4)</a>
            <a class="tablinks anime" onclick="openAnimeAchievement(event, 'misc_anime')">Misc ({{ data_anime["unlocked_per_type"]["misc"] }}/3)</a>
            <a class="tablinks anime" onclick="openAnimeAchievement(event, 'score_anime')">Score ({{ data_anime["unlocked_per_type"]["score"] }}/3)</a>
            <a href="javascript:void(0);" class="icon" onclick="anime_hamburger()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <div id="genres_anime" class="tabcontent anime">
            <table class="text-center pt-3" width="100%">
                <tbody>
                {% for i in range(0, data_anime["genres"]|length) %}
                <tr>
                    {% for j in range(0, data_anime["genres"][i]|length) %}
                    <td id="pr_{{ data_anime['genres'][i][j]['image_id'] }}" class="filtered" onclick="display_details('det_{{ data_anime['genres'][i][j]['image_id'] }}', 'pr_{{ data_anime['genres'][i][j]['image_id'] }}', 'img_{{ data_anime['genres'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data_anime['genres'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data_anime['genres'][i][j]["element_time"] }}/{{ data_anime['genres'][i][j]["threshold"] }} hours watched</span><br>

                        {% if data_anime['genres'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data_anime['genres'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data_anime['genres'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data_anime['genres'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data_anime['genres'][i]|length) %}
                    <td id="det_{{ data_anime['genres'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        <div class="p-l-20 p-t-10 p-r-20">
                            <span style="font-size: 14pt;">{{ data_anime['genres'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data_anime['genres'][i][j]["description"] }}</span><br>
                            <div class="m-2"></div>
                            <span style="font-size: 13pt;">Number of anime watched: {{ data_anime['genres'][i][j]["element_count"] }}</span>
                            <hr class="p-0 m-0">
                            <ul class="p-t-10">
                                {% for k in range(0, data_anime['genres'][i][j]["element_name"]|length) %}
                                <li>
                                    {{ data_anime['genres'][i][j]["element_name"][k] }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="sources_anime" class="tabcontent anime" style="display: none;">
            <table class="text-center pt-3" width="100%">
                <tbody>
                {% for i in range(0, data_anime['sources']|length) %}
                <tr>
                    {% for j in range(0, data_anime['sources'][i]|length) %}
                    <td id="pr_{{ data_anime['sources'][i][j]['image_id'] }}" class="filtered" onclick="display_details('det_{{ data_anime['sources'][i][j]['image_id'] }}', 'pr_{{ data_anime['sources'][i][j]['image_id'] }}', 'img_{{ data_anime['sources'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data_anime['sources'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data_anime['sources'][i][j]["element_time"] }}/{{ data_anime['sources'][i][j]["threshold"] }} hours watched</span><br>

                        {% if data_anime['sources'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data_anime['sources'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data_anime['sources'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data_anime['sources'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data_anime['sources'][i]|length) %}
                    <td id="det_{{ data_anime['sources'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        <div class="p-l-20 p-t-10 p-r-20">
                            <span style="font-size: 14pt;">{{ data_anime['sources'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data_anime['sources'][i][j]["description"] }}</span><br>
                            <div class="m-2"></div>
                            <span style="font-size: 13pt;">Number of anime watched: {{ data_anime['sources'][i][j]["element_count"] }}</span>
                            <hr class="p-0 m-0">
                            <ul class="p-t-10">
                                {% for k in range(0, data_anime['sources'][i][j]["element_name"]|length) %}
                                <li>
                                    {{ data_anime['sources'][i][j]["element_name"][k] }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="finished_anime" class="tabcontent anime" style="display: none;">
            <table class="text-center pt-3" width="100%">
                <tbody>
                {% for i in range(0, data_anime['finished']|length) %}
                <tr>
                    {% for j in range(0, data_anime['finished'][i]|length) %}
                    <td id="pr_{{ data_anime['finished'][i][j]['image_id'] }}" class="filtered" onclick="display_details('det_{{ data_anime['finished'][i][j]['image_id'] }}', 'pr_{{ data_anime['finished'][i][j]['image_id'] }}', 'img_{{ data_anime['finished'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data_anime['finished'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data_anime['finished'][i][j]["element_count"] }}/{{ data_anime['finished'][i][j]["threshold"] }} anime watched</span><br>

                        {% if data_anime['finished'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data_anime['finished'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data_anime['finished'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data_anime['finished'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data_anime['finished'][i]|length) %}
                    <td id="det_{{ data_anime['finished'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        <div class="p-l-20 p-t-10 p-r-20 p-b-10">
                            <span style="font-size: 14pt;">{{ data_anime['finished'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data_anime['finished'][i][j]["description"] }}</span><br>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="time_anime" class="tabcontent anime" style="display: none;">
            <table class="text-center pt-3" width="100%">
                <tbody>
                {% for i in range(0, data_anime['time']|length) %}
                <tr>
                    {% for j in range(0, data_anime['time'][0]|length) %}
                    <td id="pr_{{ data_anime['time'][i][j]['image_id'] }}" class="filtered" onclick="display_details('det_{{ data_anime['time'][i][j]['image_id'] }}', 'pr_{{ data_anime['time'][i][j]['image_id'] }}', 'img_{{ data_anime['time'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data_anime['time'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data_anime['time'][i][j]["element_time"] }}/{{ data_anime['time'][i][j]["threshold"] }} days watched</span><br>

                        {% if data_anime['time'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data_anime['sources'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data_anime['time'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data_anime['time'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data_anime['time'][0]|length) %}
                    <td id="det_{{ data_anime['time'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        <div class="p-l-20 p-t-10 p-r-20 p-b-10">
                            <span style="font-size: 14pt;">{{ data_anime['time'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data_anime['time'][i][j]["description"] }}</span><br>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="misc_anime" class="tabcontent anime" style="display: none;">
            <table class="text-center pt-3" width="100%">
                <tbody>
                {% for i in range(0, data_anime['misc']|length) %}
                <tr>
                    {% for j in range(0, data_anime['misc'][i]|length) %}
                    <td id="pr_{{ data_anime['misc'][i][j]['image_id'] }}" class="filtered" onclick="display_details('det_{{ data_anime['misc'][i][j]['image_id'] }}', 'pr_{{ data_anime['misc'][i][j]['image_id'] }}', 'img_{{ data_anime['misc'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data_anime['misc'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data_anime['misc'][i][j]["element_count"] }}/{{ data_anime['misc'][i][j]["threshold"] }} anime watched</span><br>

                        {% if data_anime['misc'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data_anime['misc'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data_anime['misc'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data_anime['misc'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data_anime['misc'][i]|length) %}
                    <td id="det_{{ data_anime['misc'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        {% if data_anime['misc'][i][j]["title"] == "Chronomaster" %}
                        <div class="p-l-20 p-t-10 p-r-20 p-b-10">
                            <span style="font-size: 14pt;">{{ data_anime['misc'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data_anime['misc'][i][j]["description"] }}</span><br>
                        </div>
                        {% else %}
                        <div class="p-l-20 p-t-10 p-r-20">
                            <span style="font-size: 14pt;">{{ data_anime['misc'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data_anime['misc'][i][j]["description"] }}</span><br>
                            <div class="m-2"></div>
                            <span style="font-size: 13pt;">Number of anime watched: {{ data_anime['misc'][i][j]["element_count"] }}</span>
                            <hr class="p-0 m-0">
                            <ul class="p-t-10">
                                {% for k in range(0, data_anime['misc'][i][j]["element_name"]|length) %}
                                <li>
                                    {{ data_anime['misc'][i][j]["element_name"][k] }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="score_anime" class="tabcontent anime" style="display: none;">
            <table class="text-center mt-3" width="100%">
                <tbody>
                {% for i in range(0, data_anime['score']|length) %}
                <tr>
                    {% for j in range(0, data_anime['score'][i]|length) %}
                    <td id="pr_{{ data_anime['score'][i][j]['image_id'] }}" class="filtered" onclick="display_details('det_{{ data_anime['score'][i][j]['image_id'] }}', 'pr_{{ data_anime['score'][i][j]['image_id'] }}', 'img_{{ data_anime['score'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data_anime['score'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">Mean score: {{ data_anime['score'][i][j]["mean_score"] }}</span><br>

                        {% if data_anime['score'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data_anime['score'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data_anime['score'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/anime_achievements') }}/{{ data_anime['score'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data_anime['score'][i]|length) %}
                    <td id="det_{{ data_anime['score'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        <div class="p-l-20 p-t-10 p-r-20 p-b-10">
                            <span style="font-size: 14pt;">{{ data_anime['score'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data_anime['score'][i][j]["description"] }}</span><br>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="tab-pane fade" id="series_tab">
        <div>
            {% if current_user.get_id() == user_id %}
            <div style="font-size: 18pt;" class="text-center mb-3 mt-3">You have unlocked {{ data_series["total_unlocked"] }}/54 series achievements.</div>
            {% else %}
            <div style="font-size: 18pt;" class="text-center mb-3 mt-3">{{ user_name }} has unlocked {{ data_series["total_unlocked"] }}/54 series achievements.</div>
            {% endif %}
        </div>

        <div class="topnav" id="series_topnav">
            <a class="tablinks series active" onclick="openSeriesAchievement(event, 'genres_series')">Genres ({{ data_series["unlocked_per_type"]["genres"] }}/28)</a>
            <a class="tablinks series" onclick="openSeriesAchievement(event, 'sources_series')">Sources ({{ data_series["unlocked_per_type"]["sources"] }}/4)</a>
            <a class="tablinks series" onclick="openSeriesAchievement(event, 'finished_series')">Finished ({{ data_series["unlocked_per_type"]["finished"] }}/12)</a>
            <a class="tablinks series" onclick="openSeriesAchievement(event, 'time_series')">Time ({{ data_series["unlocked_per_type"]["time"] }}/4)</a>
            <a class="tablinks series" onclick="openSeriesAchievement(event, 'misc_series')">Misc ({{ data_series["unlocked_per_type"]["misc"] }}/3)</a>
            <a class="tablinks series" onclick="openSeriesAchievement(event, 'score_series')">Score ({{ data_series["unlocked_per_type"]["score"] }}/3)</a>
            <a href="javascript:void(0);" class="icon" onclick="series_hamburger()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <div id="genres_series" class="tabcontent series">
            <table class="text-center pt-3" width="100%">
                <tbody>
                {% for i in range(0, data_series["genres"]|length) %}
                <tr>
                    {% for j in range(0, data_series["genres"][i]|length) %}
                    <td id="pr_{{ data_series['genres'][i][j]['image_id'] }}" class="filtered" onclick="display_details('det_{{ data_series['genres'][i][j]['image_id'] }}', 'pr_{{ data_series['genres'][i][j]['image_id'] }}', 'img_{{ data_series['genres'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data_series['genres'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data_series['genres'][i][j]["element_time"] }}/{{ data_series['genres'][i][j]["threshold"] }} hours watched</span><br>

                        {% if data_series['genres'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data_series['genres'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/series_achievements') }}/{{ data_series['genres'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/series_achievements') }}/{{ data_series['genres'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data_series['genres'][i]|length) %}
                    <td id="det_{{ data_series['genres'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        <div class="p-l-20 p-t-10 p-r-20">
                            <span style="font-size: 14pt;">{{ data_series['genres'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data_series['genres'][i][j]["description"] }}</span><br>
                            <div class="m-2"></div>
                            <span style="font-size: 13pt;">Number of series watched: {{ data_series['genres'][i][j]["element_count"] }}</span>
                            <hr class="p-0 m-0">
                            <ul class="p-t-10">
                                {% for k in range(0, data_series['genres'][i][j]["element_name"]|length) %}
                                <li>
                                    {{ data_series['genres'][i][j]["element_name"][k] }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="sources_series" class="tabcontent series" style="display: none;">
            <table class="text-center pt-3" width="100%">
                <tbody>
                {% for i in range(0, data_series['sources']|length) %}
                <tr>
                    {% for j in range(0, data_series['sources'][i]|length) %}
                    <td id="pr_{{ data_series['sources'][i][j]['image_id'] }}" class="filtered" onclick="display_details('det_{{ data_series['sources'][i][j]['image_id'] }}', 'pr_{{ data_series['sources'][i][j]['image_id'] }}', 'img_{{ data_series['sources'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data_series['sources'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data_series['sources'][i][j]["element_time"] }}/{{ data_series['sources'][i][j]["threshold"] }} hours watched</span><br>

                        {% if data_series['sources'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data_series['sources'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/series_achievements') }}/{{ data_series['sources'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/series_achievements') }}/{{ data_series['sources'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data_series['sources'][i]|length) %}
                    <td id="det_{{ data_series['sources'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        <div class="p-l-20 p-t-10 p-r-20">
                            <span style="font-size: 14pt;">{{ data_series['sources'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data_series['sources'][i][j]["description"] }}</span><br>
                            <div class="m-2"></div>
                            <span style="font-size: 13pt;">Number of series watched: {{ data_series['sources'][i][j]["element_count"] }}</span>
                            <hr class="p-0 m-0">
                            <ul class="p-t-10">
                                {% for k in range(0, data_series['sources'][i][j]["element_name"]|length) %}
                                <li>
                                    {{ data_series['sources'][i][j]["element_name"][k] }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="finished_series" class="tabcontent series" style="display: none;">
            <table class="text-center pt-3" width="100%">
                <tbody>
                {% for i in range(0, data_series['finished']|length) %}
                <tr>
                    {% for j in range(0, data_series['finished'][i]|length) %}
                    <td id="pr_{{ data_series['finished'][i][j]['image_id'] }}" class="filtered" onclick="display_details('det_{{ data_series['finished'][i][j]['image_id'] }}', 'pr_{{ data_series['finished'][i][j]['image_id'] }}', 'img_{{ data_series['finished'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data_series['finished'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data_series['finished'][i][j]["element_count"] }}/{{ data_series['finished'][i][j]["threshold"] }} series watched</span><br>

                        {% if data_series['finished'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data_series['finished'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/series_achievements') }}/{{ data_series['finished'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/series_achievements') }}/{{ data_series['finished'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data_series['finished'][i]|length) %}
                    <td id="det_{{ data_series['finished'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        <div class="p-l-20 p-t-10 p-r-20 p-b-10">
                            <span style="font-size: 14pt;">{{ data_series['finished'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data_series['finished'][i][j]["description"] }}</span><br>
                            <div class="m-2"></div>
                            <span style="font-size: 13pt;">Number of series finished: {{ data_series['finished'][i][j]["element_count"] }}</span>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="time_series" class="tabcontent series" style="display: none;">
            <table class="text-center pt-3" width="100%">
                <tbody>
                {% for i in range(0, data_series['time']|length) %}
                <tr>
                    {% for j in range(0, data_series['time'][i]|length) %}
                    <td id="pr_{{ data_series['time'][i][j]['image_id'] }}" class="filtered" onclick="display_details('det_{{ data_series['time'][i][j]['image_id'] }}', 'pr_{{ data_series['time'][i][j]['image_id'] }}', 'img_{{ data_series['time'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data_series['time'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data_series['time'][i][j]["element_time"] }}/{{ data_series['time'][i][j]["threshold"] }} days spent</span><br>

                        {% if data_series['time'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data_series['time'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/series_achievements') }}/{{ data_series['time'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/series_achievements') }}/{{ data_series['time'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data_series['time'][i]|length) %}
                    <td id="det_{{ data_series['time'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        <div class="p-l-20 p-t-10 p-r-20 p-b-10">
                            <span style="font-size: 14pt;">{{ data_series['time'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data_series['time'][i][j]["description"] }}</span><br>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="misc_series" class="tabcontent series" style="display: none;">
            <table class="text-center pt-3" width="100%">
                <tbody>
                {% for i in range(0, data_series['misc']|length) %}
                <tr>
                    {% for j in range(0, data_series['misc'][i]|length) %}
                    <td id="pr_{{ data_series['misc'][i][j]['image_id'] }}" class="filtered" onclick="display_details('det_{{ data_series['misc'][i][j]['image_id'] }}', 'pr_{{ data_series['misc'][i][j]['image_id'] }}', 'img_{{ data_series['misc'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data_series['misc'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">{{ data_series['misc'][i][j]["element_count"] }}/{{ data_series['misc'][i][j]["threshold"] }} series watched</span><br>

                        {% if data_series['misc'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data_series['misc'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/series_achievements') }}/{{ data_series['misc'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/series_achievements') }}/{{ data_series['misc'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data_series['misc'][i]|length) %}
                    <td id="det_{{ data_series['misc'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        {% if data_series['misc'][i][j]["title"] == "Chronomaster" %}
                        <div class="p-l-20 p-t-10 p-r-20 p-b-10">
                            <span style="font-size: 14pt;">{{ data_series['misc'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data_series['misc'][i][j]["description"] }}</span><br>
                        </div>
                        {% else %}
                        <div class="p-l-20 p-t-10 p-r-20">
                            <span style="font-size: 14pt;">{{ data_series['misc'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data_series['misc'][i][j]["description"] }}</span><br>
                            <div class="m-2"></div>
                            <span style="font-size: 13pt;">Number of series watched: {{ data_series['misc'][i][j]["element_count"] }}</span>
                            <hr class="p-0 m-0">
                            <ul class="p-t-10">
                                {% for k in range(0, data_series['misc'][i][j]["element_name"]|length) %}
                                <li>
                                    {{ data_series['misc'][i][j]["element_name"][k] }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="score_series" class="tabcontent series" style="display: none;">
            <table class="text-center pt-3" width="100%">
                <tbody>
                {% for i in range(0, data_series['score']|length) %}
                <tr>
                    {% for j in range(0, data_series['score'][i]|length) %}
                    <td id="pr_{{ data_series['score'][i][j]['image_id'] }}" class="filtered" onclick="display_details('det_{{ data_series['score'][i][j]['image_id'] }}', 'pr_{{ data_series['score'][i][j]['image_id'] }}', 'img_{{ data_series['score'][i][j]['image_id'] }}')">
                        <span style="font-size: 12pt;">{{ data_series['score'][i][j]["level"] }}</span><br>
                        <span style="font-size: 12pt;">Mean score: {{ data_series['score'][i][j]["mean_score"] }}/10</span><br>

                        {% if data_series['score'][i][j]["passed"] == "yes" %}
                        <img id="img_{{ data_series['score'][i][j]['image_id'] }}" height="100" width="200" src="{{ url_for('static', filename='img/series_achievements') }}/{{ data_series['score'][i][j]['image_id'] }}.png"/>
                        {% else %}
                        <img height="100" width="200" style="filter: grayscale(100%);" src="{{ url_for('static', filename='img/series_achievements') }}/{{ data_series['score'][i][j]['image_id'] }}.png"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                 </tr>
                <tr>
                    {% for j in range(0, data_series['score'][i]|length) %}
                    <td id="det_{{ data_series['score'][i][j]['image_id'] }}" class="d-none anime_details" colspan="4">
                        <div class="p-l-20 p-t-10 p-r-20 p-b-10">
                            <span style="font-size: 14pt;">{{ data_series['score'][i][j]["title"] }}</span><br>
                            <span style="font-size: 13pt;">{{ data_series['score'][i][j]["description"] }}</span><br>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock content %}


{% block script %}
<!--------- anime navbar responsive icon --------->
<script type="text/javascript">
function anime_hamburger() {
    var icon = document.getElementById("anime_topnav");
    if (icon.className === "topnav") {
        icon.className += " responsive";
    } else {
        icon.className = "topnav";
    }
}
</script>

<!--------- series navbar responsive icon --------->
<script type="text/javascript">
function series_hamburger() {
    var icon = document.getElementById("series_topnav");
    if (icon.className === "topnav") {
        icon.className += " responsive";
    } else {
        icon.className = "topnav";
    }
}
</script>

<!---------- Anime achievements panels ------------>
<script type="text/javascript">
function openAnimeAchievement(evt, type) {
    var i, tabcontent, tablinks;

    tabcontent = document.getElementsByClassName("tabcontent anime");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    tablinks = document.getElementsByClassName("tablinks anime");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    document.getElementById(type).style.display = "block";
    evt.currentTarget.className += " active";

    var hide = evt.currentTarget.parentElement;
    if ($(hide).hasClass('topnav responsive')) {
        $(hide).attr('class', 'topnav');
    }
}
</script>

<!---------- Series achievements panels ------------>
<script type="text/javascript">
function openSeriesAchievement(evt, type) {
    var i, tabcontent, tablinks;

    tabcontent = document.getElementsByClassName("tabcontent series");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    tablinks = document.getElementsByClassName("tablinks series");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    document.getElementById(type).style.display = "block";
    evt.currentTarget.className += " active";

    var hide = evt.currentTarget.parentElement;
    if ($(hide).hasClass('topnav responsive')) {
        $(hide).attr('class', 'topnav');
    }
}
</script>

<!--------- Display element details ---------->
<script type="text/javascript">
function display_details(image_id, td_image_id) {
    if ($("#"+image_id).hasClass('d-none anime_details')) {
        if ($("#"+image_id).siblings().hasClass('text-left anime_details')) {
            $("#"+td_image_id).siblings('.filtered').attr('style', 'filter: none;')
            $("#"+td_image_id).attr('style', 'filter: drop-shadow(5px 5px 5px grey) invert(0%);')
            $("#"+image_id).siblings('.text-left').attr('class', 'd-none anime_details');
            $("#"+image_id).attr('class', 'text-left anime_details');
        } else {
            $("#"+td_image_id).attr('class', 'filtered');
            $("#"+td_image_id).attr('style', 'filter: drop-shadow(5px 5px 5px grey) invert(0%);')
            $("#"+image_id).attr('class', 'text-left anime_details');
        }
    } else {
        $("#"+td_image_id).attr('class', 'filtered');
        $("#"+td_image_id).attr('style', 'filter: none;')
        $("#"+image_id).attr('class', 'd-none anime_details');
    }
}
</script>
{% endblock script %}

