
/* ------------ Main CSS ----------- */
ul {
    list-style: none;
}

hr {
    border-top: 1px solid rgba(44, 57, 70, 1);
    margin-top: 1px;
}
/* --------------------------------- */


/* ------------ Header ------------- */
.header-container {
    position: relative;
    height: 240px;
    background-image: url('/static/img/profile_background_2.jpg');
    background-size: cover;
    border-bottom: 2px solid grey;
    background-position: center;
    background-repeat: no-repeat;
}

.header-profile-container {
    position: absolute;
    left: 15px;
    bottom: -15px;
    height: 230px;
    width: 230px;
}

.header-profile-img {
    z-index: 100;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.header-profile-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 230px;
    width: 230px;
}

.header-knowledge-level {
    z-index: 101;
    position: absolute;
    background: #262626;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 40px;
    font-weight: 400;
    border: solid 1px white;
    border-radius: 6px;
    font-size: 13px;
    height: 21px;
}

.header-profile-data {
    display: block;
    position: absolute;
    left: 260px;
    bottom: 35px;
}

.header-profile-data-mobile {
    display: none;
}

.follow-btn {
    display: inline-block;
}

.follow-btn-mobile {
    display: none !important;
}

@media (max-width: 490px) {
    .header-profile-container {
        position: absolute;
        left: 50% !important;
        top: 80px;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        height: 210px;
        width: 210px;
    }
    .header-profile-img {
        height: 91px;
        width: 91px;
        bottom: 5px;
    }
    .header-profile-frame {
        height: 210px;
        width: 210px;
}
    .header-knowledge-level {
        bottom: 20px;
    }

    .header-profile-data {
        display: none;
    }
    .header-profile-data-mobile {
        display: block;
        position: absolute;
        left: 50%;
        bottom: -30px;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .header-join-follow {
        font-size: 14px;
    }

    .follow-btn-mobile {
        display: flex !important;
    }
}
/* --------------------------------- */


/* ----------- Overview ------------ */
.vertical_line {
    width: 5px;
    border-left: 2px solid rgba(44, 57, 70, 1);
    height: 100wh;
}

.mobile-time {
    font-size: 20px;
}

.block {
    height: 30px;
    color: white;
    float: left;
    background-color: #334D5C;
}
.block-no-data {
    height: 30px;
    color: white;
    float: left;
    background-color: black;
}
.block:nth-of-type(2) {
	background-color: #45B29D;
}
.block:nth-of-type(3) {
	background-color: #EFC94C;
}
.block:nth-of-type(4) {
	background-color: #E27A3F;
}
.block:nth-of-type(5) {
	background-color: #DF5A49;
}
.block:nth-of-type(6) {
	background-color: #962D3E;
}

.block-movie {
    height: 30px;
    color: white;
    float: left;
    background-color: #45B29D;
}
.block-movie:nth-of-type(2) {
	background-color: #22748d;
}
.block-movie:nth-of-type(3) {
	background-color: #962D3E;
}

.block:hover, .block-movie:hover{
	opacity: 0.75;
}

.stat-text {
    font-size: 12pt;
}

.mini {
    min-width: 105px;
}

.update-box {
    padding: 0 8px 8px 8px;
}

.media-container {
    position: relative;
    height: 200px;
}

.giveMeEllipsis {
   overflow: hidden;
   width: 200px;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1; /* number of lines to show */
}

@media (max-width: 990px) {
    #overview-tab {
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media (max-width: 768px) {
    .media-container {
        position: relative;
        height: 200px;
    }
}
@media (max-width: 650px) {
    .account-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 490px) {
    .stat-text {
        font-size: 10pt;
    }
    .mini {
        min-width: 100px;
    }
    .account-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    .mobile-time {
        font-size: 15px;
    }
}
/* --------------------------------- */


/* ------------ Levels ------------ */
.account-bar-wrapper {
    width: 100%;
}

.account-bar {
    height: 100%;
    margin: 0 auto;
}

.account-bar-name {
    font-size: 12pt;
    margin: 0 0 0 5px;
    display: inline-block;
    vertical-align: bottom;
}

.account-bar-level {
    font-size: 12pt;
    margin: 0 0 0;
    display: inline-block;
}

#series-level {
    margin-left: 20px;
}

#movies_level {
    margin-left: 13px;
}

#anime_level {
    margin-left: 18px;
}

.account-bar-next-level {
    display: inline-block;
    font-size: 12pt;
}

.xp-bar {
    height: 10px;
    width: 65%;
    background: grey;
    margin: 0 0 0 5px;
    display: inline-block;
    vertical-align: middle;
}

#xp-bar-fill-series {
    height: 100%;
    width: 0.1%;
    background: #216e7d;
    font-size: 12px;
    line-height: 10px;
    text-align: right;
}

#xp-bar-fill-movies {
    height: 100%;
    width: 0.1%;
    background: #8c7821;
    font-size: 12px;
    line-height: 10px;
    text-align: right;
}

#xp-bar-fill-anime {
    height: 100%;
    width: 0.1%;
    background: #945141;
    font-size: 12px;
    line-height: 10px;
    text-align: right;
}

.xp-increase-fx {
    position: relative;
    display: none;
    height: 100%;
}

.xp-increase-glow1 {
    position: absolute;
    margin: 0 0 0 -2px;
    left: 0;
    top: 0;
    background: #fff;
    width: 5px;
    height: 100%;
    border-radius: 0;
    -webkit-filter: blur(2px);
}

.xp-increase-glow2 {
    position: absolute;
    margin: -5px 0 0 -2px;
    left: 0;
    top: 0;
    background: #aaf;
    width: 5px;
    height: 200%;
    border-radius: 0;
    -webkit-filter: blur(10px);
}

.xp-increase-glow3 {
    position: absolute;
    margin: 0 0 0 -5px;
    left: 0;
    top: 0;
    background: #fff;
    width: 10px;
    height: 100%;
    border-radius: 5px;
    -webkit-filter: blur(5px);
}
/* --------------------------------- */

.favorite-img {
    height: 90px;
    width: 60px;
}

.follow-img {
    height: 60px;
    width: 60px;
}