
/* ---------------- CARD CSS -------------------- */

.card-hashtag {
    position: absolute;
    bottom: -8px;
    right: 16px;
}

.card-ribbon {
    border-style: solid;
    border-width: 0 35px 35px 0;
    border-color: transparent #2d6f22;
    position: absolute;
	right: 0px;
	top: 0px;
}

.giveMeEllipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3; /* number of lines to show */
   line-height: X;        /* fallback */
   max-height: X*N;       /* fallback */
}

.giveMeEllipsis2 {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   line-height: X;        /* fallback */
   max-height: X*N;       /* fallback */
}
/* ------------------------------------------ */

.frame {
    width: 100%;
    padding: 0;
}

.slide {
    margin: 0;
    padding: 0;
}

.media {
    float: left;
    margin: 0;
    padding: 0;
    width: 440px;
}

@media (max-width: 601px) {
    .media {
        width: calc(100vw-15px);
    }
}

@media (max-width: 500px) {
    .media {
        width: 100vw;
    }
}
