

/* --- Card CSS ----------------------------------------- */
.card-hashtag {
    position: absolute;
    bottom: -8px;
    right: 16px;
}

.giveMeEllipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 5;   /* number of lines to show */
}

.giveMeEllipsis2 {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;   /* number of lines to show */
}

.frame {
    width: 100%;
    padding: 0;
}

.slide {
    margin: 0;
    padding: 0;
}

.media {
    float: left;
    margin: 0;
    padding: 0;
    width: 440px;
}

.card {
    border-radius: 0;
}

.card-img {
    border-radius: 0;
}

.img-anime {
}

@media (max-width: 601px) {
    .media {
        width: calc(100vw-15px);
    }
}
@media (max-width: 500px) {
    .media {
        width: 100vw;
    }
}
