table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

table.table-sm td, table.table-sm th {
    padding: 5px;
}

table.table th {
    font-size: 12pt;
}

div.col-sm-12 {
    margin-top: 15px;
}

table.table a {
    color: #359aff;
    font-size: 11pt;
}

.table tr {
    text-align: center;
    vertical-align: middle;
}

.table td {
    text-align: center;
    vertical-align: middle;
}

.seasons-eps-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    width: 700px;
}

.media-container {
    position: relative;
    height: 449px;
}

@media (max-width: 767.97px) {
    .chart-container {
        height: 25vh;
        width: 98vw;
    }
    .media-container {
        position: relative;
        height: 300px;
    }
}
