
table {
    margin: 0 auto;
}

thead {
    border-botton: solid 2px grey;
}

tr {
    border-bottom: solid 1px grey;
}

td {
    text-align: center;
}

.details {
    border: black solid 1px;
    border-radius: 3px;
    background-color: #2f4b67;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
}

.table-style {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.table-style-2 {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}