table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

.btn-badges {
    background-color: #4d0000;
    color: white !important;
}

.table {
    width: 800px;
}

table.table th {
    font-size: 12pt;
}

table.table a {
    color: #359aff;
    font-size: 11pt;
}

.table tr {
    text-align: center;
    vertical-align: middle;
}

.table td {
    text-align: center;
    vertical-align: middle;
    padding: 30px 20px 30px 20px !important;
}

.current_user {
    background-color: #2c3946;
}

.profil-pic {
    width: 70px;
    height: 70px;
    border-radius: 45%;
}

.frame-pic {
    position: absolute;
    top: -96px;
    left: -12px;
    width: 120px;
    height: 120px;
}

.frame-level {
    width: 40px;
    position: relative;
    left: 28px;
    top:5px;
    z-index: 100;
    background: #262626;
    border: 1px solid white;
    border-radius: 20%;
    font-weight: 400;
}

.grade_picture {
    width: 40px;
    height: 40px;
}

.btn-smaller {
    padding-left: 7px !important;
    padding-right: 7px !important;
}

@media (max-width: 573px) {
    .frame-pic {
        top: -96px;
        left: -25px;
    }

    .frame-level {
        left: 14px;
    }
}