
/* --- Table CSS ---------------------------------------- */
option {
    background-color: #131418;
}

table.table th {
    font-size: 12pt;
}

table.table a {
    color: #359aff;
    font-size: 11pt;
}

.table tr {
    text-align: center;
    vertical-align: middle;
}

.table td {
    text-align: center;
    vertical-align: middle;
    padding: 40px 0 40px 0 !important;
}

.current_user {
    background-color: #2c3946;
}

.profile-picture {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 8px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.frame-picture {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 170px;
    height: 170px;
}

.frame-level {
    position: absolute;
    z-index: 6;
    left: 50%;
    top: 50px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 35px;
    background: #262626;
    border: 1px solid white;
    font-weight: 400;
    font-size: 9pt;
    border-radius: 6px;
    height: 20px;
}

.grade_picture {
    width: 40px;
    height: 40px;
}

.btn-smaller {
    padding-left: 7px !important;
    padding-right: 7px !important;
}

@media (min-width: 901px) {
    .hof {
        width: 900px;
    }
    .more_stats {
        width: 500px;
    }
}

