
ul {
    list-style-type: none;
}

.test {
    position: absolute;
    z-index: 9999;
}

.eps-per-season {
    overflow-y : auto;
    max-height: 250px;
}

.vertical_line {
    width: 5px;
    border-left: 2px solid darkgray;
    /*noinspection CssInvalidPropertyValue*/
    height: 100wh;
}

.favorite-css {
    cursor: pointer;
    color: darkgoldenrod;
    float: right;
}

.btn-smaller {
    padding: 8px !important;
}

.cat-drop {
    background: #131418;
    border: transparent;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 110px;
}

.wrapper {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 53px;
    height: 75px;
}

@media (max-width: 1100px) {
    .wrapper {
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 767px) {
    .media-title-mobile {
        display: block !important;
    }
    .media-title-pc {
        display: none !important;
    }
    .mobile-follow {
        margin-bottom: 20px;
    }
}
@media (max-width: 490px) {
    .wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    .media-cover {
        width: 200px;
        height: 300px;
    }
}
