
/* --- Main CSS ----------------------------------------- */
.vertical_line {
    width: 5px;
    border-left: 2px solid rgba(44, 57, 70, 1);
    height: 100wh;
}


/* --- Series ------------------------------------------- */
.series-container {
    position: relative;
    height: 400px;
    margin-top: -15px;
}

.series-genres-container {
    position: relative;
    height: 600px;
    margin-top: -15px;
}


/* --- Anime -------------------------------------------- */
.anime-container {
    position: relative;
    height: 400px;
    margin-top: -15px;
}

.anime-genres-container {
    position: relative;
    height: 1200px;
    margin-top: -15px;
}


/* --- Movies ------------------------------------------- */
.movies-container {
    position: relative;
    height: 400px;
    margin-top: -15px;
}

.movies-genres-container {
    position: relative;
    height: 800px;
    margin-top: -15px;
}


