
/* ----------------- General CSS ---------------------- */
.bg-dark {
    background-color: #2c3946 !important;
}

.container {
    max-width: 1350px;
}

body {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 61px);
    background: #131418;
    margin: 61px 0 0;
    color: #e2e2e2;
}

main {
  flex: 1 0 auto;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.9);
}

.dropdown-mylist {
    z-index: 500;
    min-width: 100%;
    padding: 0;
    border-radius: 0;
    background: #2a2b2d;
}

.drop-item {
    display: block;
}

.btn.btn-sm {
    padding-left: 15px;
    padding-right: 15px;
}

.form-control {
    background: transparent;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #fff;
}

.form-control:focus {
    background: transparent;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: 0 0 0 0;
    color: #fff;
}

@media (max-width: 490px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 450px) {
    .modded-form {
        width: 100px;
    }
}
@media (max-width: 320px) {
    .modded-form {
        width: 90px;
    }
}
/* ---------------------------------------------------------- */


/* ------------------ Navigation bar CSS -------------------- */
.dropdown_mylist > .nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #fec400;
    transition: 0.4s;
}

.dropdown_mylist .nav-item:hover::after {
    width: 100%;
}

#autocomplete.ui-autocomplete-loading {
    background-image: url('/static/img/loading.webp');
    background-position: right 7% bottom 50%;
    background-repeat: no-repeat;
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #131418 !important;
    border: solid white 1px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.notif-badge {
    border-radius: 50%;
    padding: 0 6px 0 6px;
    background: darkred;
    color: white;
}

.notif-dropdown .dropdown-toggle:after {
    display: none;
}

.notif-dropdown-items {
    z-index: 9999;
    min-width: 100%;
    padding: 10px;
    border-radius: 0;
    background: #2a2b2d;
}

.notif-item-container {
    position: relative;
    border-bottom: solid 1px black;
}

.nav-pic {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    /*border: 2px darkgrey solid;*/
    padding-top: 5px;
}

.my-dropdown-toggle::after {
    content: none;
}