

/* --- General ------------------------------------------ */

body {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 61px);
    background: #131418;
    margin: 61px 0 0;
    color: #e2e2e2;
}

main {
    flex: 1 0 auto;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.9);
}

.bg-dark {
    background-color: #2c3946 !important;
}

.container {
    max-width: 1350px;
}

.btn.btn-sm {
    padding-left: 15px;
    padding-right: 15px;
}

.form-control {
    background-color: #2a2b2d;
    border-color: darkgray;
}

.form-control:focus {
    background-color: #2a2b2d;
    border-color: darkgray;
    color: antiquewhite;
}

.form-control {
    background: transparent;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #fff;
}

.form-control:focus {
    background: transparent;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: 0 0 0 0;
    color: #fff;
}

@media (max-width: 991px) {
    body {
    min-height: calc(100vh - 43px);
    margin: 43px 0 0;
}
}
@media (max-width: 490px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}


/* --- Website Scrollbar -------------------------------- */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* --- Navbar modifications ----------------------------- */
.medialist-dropdown {
    padding: 0;
    border-radius: 0;
    background: #2a2b2d;
    min-width: 8rem;
}

.notification-dropdown {
    padding: 0;
    border-radius: 0;
    border: 1px solid grey;
    background: #171819;
    width: 300px;
    overflow-y : auto;
    max-height: 255px;
}

.ellipsis-notif {
    overflow: hidden;
    width: 300px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.notification-dropdown .dropdown-item:hover {
    background-color: black;
}

.medialist-dropdown .dropdown-item:hover {
    background-color: black;
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #131418 !important;
    border: solid white 1px;
}

.my-drop-toggle::after {
    content: none;
}

.navbar-pic {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

#loading-image {
    height: 30px;
    width: 30px;
}

.nav-form {
    margin-left: 15px;
}
.nav-ul-1 {
    margin-left: 5px;
    text-align: center;
}
.nav-li-1 {
    margin-left: 5px;
    margin-right: 5px;
}
.nav-text {
    display: block;
}
.notif-li {
    text-align: center;
}
.autocomplete-ul {
    padding-top: 11px;
}

@media (max-width: 991px) {
    .tatayo {
        min-width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-form {
        margin-left: auto;
        margin-right: auto;
    }
    .nav-ul-1 {
        text-align: left;
    }
    .nav-li-1 {
        margin-left: 0;
        margin-right: 0;
    }
    .nav-text {
        display: inline-block;
    }
    .notif-li {
        text-align: left;
    }
    .autocomplete-ul {
        padding-top: 0;
        z-index: 2000;
        max-width: 80vw;
    }
}
