
.header-image {
    position: relative;
    height: 180px;
    background-image: url('https://www.bates.edu/wordpress/files/2016/07/gradient4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#autocomplete.ui-autocomplete-loading {
    background-image: url('/static/img/add_loader.gif');
    background-position: right center;
    background-repeat: no-repeat;
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #131418 !important;
    border: solid white 1px;
}

.modal_loading {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .6) url('/static/img/pacman_loader.gif') 50% 50% no-repeat;
}

body.loading .modal_loading {
    display: block;
    overflow: hidden;
}

.add_element {
    display: inline-block;
    width: 220px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 12pt;
}

.dropdown-menu {
	background-color: #272525;
	min-width: 9rem;
}

.dropdown-item {
	background-color: #272525;
	color: #fff;
	font-weight: 300;
	font-size: 11pt;
	padding-left: 10px;
	padding-right: 10px;
}

.form-control {
	height: 2rem;
	padding: 5px;
	background-color: #131418;
	color: #fff;
	border-radius: 1px;
	font-size: 11pt;
	outline: none;
	box-shadow: none !important;
}

.form-control:focus {
    height: 2rem;
    padding: 5px;
    background-color: #131418;
    color: #fff;
}

.modded {
    max-width: 175px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.scrollable-menu {
    text-align-last: center;
}

.episodes {
	cursor: pointer;
    border-style: 1px;
    border-color: black;
    border-radius: 2px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}

.seasons {
	cursor: pointer;
    border-style: 1px;
    border-color: black;
    border-radius: 2px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}

@media (max-width: 767.98px) {
    .dropdown-item {
        background-color: #272525;
        max-width: 120px;
        padding-left: 10px;
        padding-right: 10px;
        color: #fff;
        font-weight: 300;
        font-size: 9pt;
    }
    .form-control {
        height: 2rem;
        background-color: #131418;
        color: #fff;
        border-radius: 1px;
        font-size: 9pt;
        outline: none;
        box-shadow: none !important;
        align-items: left;
        padding: 5px;
    }
    .dropdown-menu {
        background-color: #272525;
        max-width: 120px !important;
    }
    .dropdown-divider {
        max-width: 120px;
    }
    .category-title {
        font-size: 1.5rem;
    }
}

.card-img-top {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
}

.btn_left {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
}

.btn_left:hover {
    opacity: 1;
}

.mask:hover~.btn_left {
    opacity: 0.7;
}

.btn_bottom_left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    opacity: 0;
}

.btn_bottom_left:hover {
    opacity: 1;
}

.mask:hover~.btn_bottom_left {
    opacity: 0.7;
}

.btn_bottom_right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0;
}

.btn_bottom_right:hover {
    opacity: 1;
}

.mask:hover~.btn_bottom_right {
    opacity: 0.7;
}

.btn_right {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
}

.btn_right:hover {
    opacity: 1;
}

.mask:hover~.btn_right {
    opacity: 0.7;
}

.card {
    width: 200px;
}

.font-mask {
    font-size: 20pt;
}

@media (max-width: 767.98px) {
    #collapse_show {
        display: none;
    }

    #show_hide {
        display: none;
    }

    #nav_cat {
        display: none;
    }

    #view_mode {
        display: none;
    }
    .d-flex {
        justify-content: center;
    }
    .card-img-top {
        height: 202.5px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        border-radius: 3px;
    }
    .card {
        width: 135px;
        padding-right: 0px;
        margin-left: 5px !important;
        margin-right: 5px !important;
        margin-bottom: 20px;
    }
    .btn_right {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0.8;
    }
    .btn_left {
        position: absolute;
        top: 10px;
        left: 10px;
        opacity: 0.8;
    }
    .btn_bottom_left {
        position: absolute;
        bottom: 10px;
        left: 10px;
        opacity: 0.8;
    }
    .btn_bottom_right {
        position: absolute;
        bottom: 10px;
        right: 10px;
        opacity: 0.8;
    }
    .font-mask {
        font-size: 12pt;
    }
    .score_size {
        font-size: 10pt;
    }
}