
/* -------------- HEADER CSS --------------- */

.back-image {
    background-image: url('/static/img/profile_background.jpg');
    background-size: cover;
    height: 250px;
}

.header-bar {
    border-color: darkgrey;
}

.modded-input {
    background: rgba(0, 0, 0, 0.8);
    border: none;
    padding: 5px;
    width: 350px;
}

.modded-input::placeholder {
    color: darkgray;
    opacity: 1;
}

.filters-button-group {
    justify-content: center;
}

.btn-header {
    background-color: rgba(0, 0, 0, 0.7);
}

.btn-header:hover {
    color: white;
}

.btn-selected {
    background-color: grey;
}

.btn-selected:hover {
    color: white;
}

.common-media {
    background: rgba(0, 0, 0, 0.7);
    min-width: 300px;
    padding: 5px 5px 5px 5px;
    color: darkgrey;
    font-weight: 400;
}

.common-media-meter {
	height: 8px;
	background: rgba(50, 50, 50, 0.8);
}

.common-media-meter-bar {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    background-color: forestgreen;
}

.search-select {
    background: rgba(0, 0, 0, 0.7);
    color: darkgray;
}

.return-icon {
    background: rgba(0, 0, 0, 0.8);
    padding: 13px 13px 13px 13px;
}

.return-icon-tv {
    background: rgba(0, 0, 0, 0.8);
    padding: 13px 10px 13px 10px;
}

option {
    background: rgba(0, 0, 0, 0.8);
}

@media (max-width: 592px) {
    .center-mobile {
        justify-content: center;
    }
    .icons-mobile {
        margin-left: 0;
    }
}
@media (max-width: 469px) {
    .back-image {
        height: 280px;
    }
}
@media (max-width: 403px) {
    .modded-input {
        width: 180px;
    }
    .back-image {
        height: 320px;
    }
}
/* ---------------------------------------------- */


/* ---------------- CARD CSS -------------------- */
.card {
    border-radius: 0 !important;
    margin-bottom: 20px;
}

.card-img-top {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 0 !important;
}

.card-btn-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
}

.card-btn-top-left:hover {
    opacity: 1;
}

.mask:hover~.card-btn-top-left {
    opacity: 0.7;
}

.card-btn-top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
}

.card-btn-top-right:hover {
    opacity: 1;
}

.mask:hover~.card-btn-top-right {
    opacity: 0.7;
}

.card-btn-bottom-left {
    position: absolute;
    bottom: 15px;
    left: 6%;
    opacity: 0;
}

.card-btn-bottom-left:hover {
    opacity: 1;
}

.mask:hover~.card-btn-bottom-left {
    opacity: 0.7;
}

.card-ribbon {
    border-style: solid;
    border-width: 0 35px 35px 0;
    border-color: transparent #2d6f22;
    position: absolute;
	right: 1px;
	top: 1px;
}

.mask.rgba-black-strong {
    cursor: pointer;
}

.font-mask {
    font-size: 17pt;
}

.fas {
    text-shadow: 0 0 4px #000;
}

.seas-eps-box {
    position: absolute;
    bottom: 10px;
    right: 6%;
    background: #1a1a1a;
    border-radius: 2px;
}

.card-favorite {
    position: absolute;
    bottom: 15px;
    left: 6%;
    border-radius: 2px;
}

.select-box {
	cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
}

.card-opt-box {
    background: #131418;
}

.card-cat-buttons {
    position: absolute;
    padding: 0;
    -webkit-transform: translate(-50%, -50%);
    margin-right: -50%;
    top: 50%;
    left: 50%;
    opacity: 1;
    z-index: 100;
}

.card-btn-top-right-2 {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.8;
    z-index: 100;
}

@media (max-width: 1025px) {
    .card {
        margin-bottom: 0;
    }
    .card-btn-top-right {
        opacity: 0.8;
    }
    .card-btn-top-left {
        opacity: 0.8;
    }
    .font-mask {
        font-size: 13pt;
    }
}
@media (max-width: 991px) {
    .card-btn-mobile {
        font-size: 9px;
        padding: 2px !important;
    }
}
/* ------------------------------------------ */


/* --- CATEGORIES --------------------------- */
.categories {
    width: 100%;
}

/* ------------------------------------------ */
