
.table td {
    vertical-align: middle;
}

.table_number {
    width: 50px;
}

.table_season {
    width: 100px;
}

.table_episode {
    width: 100px;
}

.table_score {
    width: 80px;
}

.table_actions {
    width: 110px;
}

.table_country {
	width: 130px;
}