
/* ---------------- CARD CSS -------------------- */
.giveMeEllipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3; /* number of lines to show */
   line-height: X;       /* fallback */
   max-height: X*N;       /* fallback */
}

.giveMeEllipsis-3 {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 5; /* number of lines to show */
   line-height: X;       /* fallback */
   max-height: X*N;       /* fallback */
}

.giveMeEllipsis2 {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   line-height: X;        /* fallback */
   max-height: X*N;       /* fallback */
}

.btn-perso {
    padding: 6px 15px 6px 15px;
    background: #2a2b2d;
}

.btn-perso-mobile {
    padding: 5px 10px 5px 10px;
    background: #2a2b2d;
}
/* ------------------------------------------ */
